Repository Orfium/orfium-ictinus: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

Notes added by 'git notes add'
  e4/f5d245c06713074ccf4ad451e11c0e8103e1ba
Due: none

fix: date picker style
  src/components/DatePicker/DatePickInput/DatePickInput.style.ts
  src/components/DatePicker/DatePickInput/DatePickInput.tsx
  src/components/DatePicker/__snapshots__/DatePicker.stories.storyshot
Due: prettier --write, eslint

feat: update Button Types and tokens
  src/components/Button/Button.tokens.ts
  src/components/Button/Button.types.ts
  src/components/IconButton/IconButton.tsx
Due: prettier --write, eslint

feat: DropdownButton implementation
  src/components/ButtonBase/ButtonBase.style.ts
  src/components/DropdownButton/DropdownButton.style.ts
  src/components/DropdownButton/DropdownButton.tsx
  src/components/DropdownButton/index.ts
Due: prettier --write, eslint

feat: DropdownButton stories
  src/components/DropdownButton/DropdownButton.stories.mdx
Due: none

feat: update snapshots
  src/components/Button/__snapshots__/Button.stories.storyshot
  src/components/DatePicker/OverlayComponent/__snapshots__/OverlayComponent.test.tsx.snap
  src/components/DatePicker/OverlayComponent/components/MonthWrapper/__snapshots__/MonthWrapper.test.tsx.snap
  src/components/DatePicker/__snapshots__/DatePicker.stories.storyshot
  src/components/Drawer/__snapshots__/Drawer.stories.storyshot
  src/components/DropdownButton/__snapshots__/DropdownButton.stories.storyshot
  src/components/Menu/__snapshots__/Menu.stories.storyshot
  src/components/Modal/__snapshots__/Modal.stories.storyshot
  src/components/Notification/__snapshots__/Notification.stories.storyshot
  src/components/Overlay/__snapshots__/Overlay.stories.storyshot
  src/components/ThemeProvider/__snapshots__/ThemeProvider.stories.storyshot
  src/components/Tooltip/__snapshots__/Tooltip.stories.storyshot
  src/components/TopAppBar/__snapshots__/TopAppBar.stories.storyshot
  src/components/TopAppBar/__snapshots__/TopAppBar.test.tsx.snap
  src/components/storyUtils/PaletteShowcase/__snapshots__/PaletteShowcase.test.tsx.snap
Due: none

fix: light grey update
  src/components/Avatar/__snapshots__/Avatar.stories.storyshot
  src/components/Breadcrumb/__snapshots__/Breadcrumb.stories.storyshot
  src/components/Button/__snapshots__/Button.stories.storyshot
  src/components/Card/__snapshots__/Card.stories.storyshot
  src/components/Chart/__snapshots__/Chart.stories.storyshot
  src/components/CheckBox/__snapshots__/CheckBox.stories.storyshot
  src/components/Chip/__snapshots__/Chip.stories.storyshot
  src/components/DatePicker/Day/__snapshots__/Day.test.tsx.snap
  src/components/DatePicker/Month/__snapshots__/Month.test.tsx.snap
  src/components/DatePicker/OverlayComponent/__snapshots__/OverlayComponent.test.tsx.snap
  src/components/DatePicker/OverlayComponent/components/MonthWrapper/__snapshots__/MonthWrapper.test.tsx.snap
  src/components/DatePicker/__snapshots__/DatePicker.stories.storyshot
  src/components/List/__snapshots__/List.stories.storyshot
  src/components/Loader/__snapshots__/Loader.stories.storyshot
  src/components/Menu/__snapshots__/Menu.stories.storyshot
  src/components/Notification/__snapshots__/Notification.stories.storyshot
  src/components/Overlay/__snapshots__/Overlay.stories.storyshot
  src/components/Radio/__snapshots__/Radio.stories.storyshot
  src/components/Radio/__snapshots__/Radio.test.tsx.snap
  src/components/RadioGroup/__snapshots__/RadioGroup.stories.storyshot
  src/components/SearchField/__snapshots__/SearchField.stories.storyshot
  src/components/Select/__snapshots__/Select.stories.storyshot
  src/components/Switch/__snapshots__/Switch.stories.storyshot
  src/components/Table/__snapshots__/Table.stories.storyshot
  src/components/TextArea/__snapshots__/TextArea.stories.storyshot
  src/components/TextField/__snapshots__/TextField.stories.storyshot
  src/components/TopAppBar/__snapshots__/TopAppBar.stories.storyshot
  src/components/TopAppBar/__snapshots__/TopAppBar.test.tsx.snap
  src/components/TruncatedContent/__snapshots__/TruncatedContent.stories.storyshot
  src/components/storyUtils/PaletteShowcase/__snapshots__/PaletteShowcase.test.tsx.snap
  src/theme/palette.config.ts
Due: prettier --write, eslint

feat: add test ids
  src/components/DropdownButton/DropdownButton.tsx
Due: prettier --write, eslint

fix: console warnings
  src/components/DropdownButton/DropdownButton.style.ts
Due: prettier --write, eslint

feat: tests
  src/components/DropdownButton/DropdownButton.test.tsx
  src/components/DropdownButton/__snapshots__/DropdownButton.stories.storyshot
Due: prettier --write, eslint

fix: remove unused imports
  src/components/DropdownButton/DropdownButton.test.tsx
Due: prettier --write, eslint

refactor: button loader component styles
  src/components/Button/ButtonLoader/ButtonLoader.style.ts
  src/components/Button/ButtonLoader/ButtonLoader.tsx
  src/components/ButtonBase/ButtonBase.tsx
Due: prettier --write, eslint

feat: update snapshots
  src/components/Button/__snapshots__/Button.stories.storyshot
Due: none

feat: introduce MultiselectTextField
  src/components/Select/components/MultiselectTextField/MultiselectTextField.style.ts
  src/components/Select/components/MultiselectTextField/MultiselectTextField.tsx
  src/components/Select/components/MultiselectTextField/index.ts
  src/components/Select/hooks/useMultiselectUtils.ts
  src/components/TextField/TextField.tsx
  src/utils/size-utils.ts
Due: prettier --write, eslint

feat: MultiselectTextField usage
  src/components/Select/Select.tsx
Due: prettier --write, eslint

feat: Multiselectshowcase
  src/components/storyUtils/SelectShowcase/MultiSelectShowcase.style.ts
  src/components/storyUtils/SelectShowcase/MultiSelectShowcase.tsx
  src/components/storyUtils/SelectShowcase/index.ts
Due: prettier --write, eslint

feat: update storybook
  src/components/Select/Select.stories.mdx
  src/components/Select/__snapshots__/Select.stories.storyshot
Due: none

fix: storybook ui bug
  src/components/storyUtils/EdgeCasesSelectShowcase/EdgeCasesSelectShowcase.tsx
Due: prettier --write, eslint

feat: update snapshot
  src/components/storyUtils/PaletteShowcase/__snapshots__/PaletteShowcase.test.tsx.snap
Due: none

feat: add missing eslint rule
  .eslintrc.json
Due: prettier --write

fix: revert false snaps update
  src/components/storyUtils/PaletteShowcase/__snapshots__/PaletteShowcase.test.tsx.snap
Due: none

feat: add simple tests
  src/components/Chip/Chip.tsx
  src/components/Chip/__snapshots__/Chip.stories.storyshot
  src/components/Select/Select.test.tsx
  src/components/Select/__snapshots__/Select.stories.storyshot
Due: prettier --write, eslint

chore: add script-src CSP
  .github/workflows/pr.yml
Due: none

fix: resolve code smells
  src/components/Select/components/MultiselectTextField/MultiselectTextField.tsx
Due: prettier --write, eslint

feat: more code smells
  src/components/Select/Select.tsx
  src/components/Select/components/MultiselectTextField/MultiselectTextField.tsx
Due: prettier --write, eslint

chore: update CSP review from frame self
  .github/workflows/pr.yml
Due: none

chore: add aws iam role
  environments/review.env
Due: none

make DatePicker a controlled components (in order to reset it's value)
  src/components/DatePicker/DatePickInput/DatePickInput.tsx
  src/components/DatePicker/DatePicker.stories.mdx
  src/components/DatePicker/DatePicker.tsx
  src/components/storyUtils/DatePickerShowcase/DatePickerShowcase.tsx
  src/components/storyUtils/DatePickerShowcase/index.ts
Due: prettier --write, eslint

feat: pr comments and dqa
  src/components/Select/Select.tsx
  src/components/Select/__snapshots__/Select.stories.storyshot
  src/components/Select/components/MultiselectTextField/MultiselectTextField.style.ts
  src/components/Select/components/MultiselectTextField/MultiselectTextField.tsx
  src/components/storyUtils/SelectShowcase/MultiSelectShowcase.tsx
Due: prettier --write, eslint

fix story
  src/components/DatePicker/DatePicker.stories.mdx
Due: none

feat: pr comments
  src/components/DropdownButton/DropdownButton.style.ts
  src/components/DropdownButton/__snapshots__/DropdownButton.stories.storyshot
Due: prettier --write, eslint

feat: add comments
  src/components/Select/Select.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  59/a13f97f6f17b0e717bced60713749ec43a1167
Due: none

feat: make actions optionals
  src/components/Notification/Banner/Banner.tsx
  src/components/Notification/InlineNotification/InlineNotification.tsx
  src/components/Notification/Notification.tsx
  src/components/Notification/NotificationVisual/NotificationVisual.tsx
  src/components/Notification/Snackbar/Snackbar.tsx
  src/components/Notification/subcomponents/CompactNotification/CompactNotification.tsx
Due: prettier --write, eslint

feat: make toast min-height optional
  src/components/Toast/Toast.style.ts
  src/components/Toast/Toast.tsx
Due: prettier --write, eslint

style: notification style changes
  src/components/Notification/Notification.style.ts
  src/components/Notification/NotificationVisual/NotificationVisual.style.tsx
  src/components/Notification/Snackbar/Snackbar.style.ts
Due: prettier --write, eslint

feat: update stories
  src/components/Notification/Notification.stories.mdx
Due: none

fix: correct types
  src/components/Notification/Notification.tsx
Due: prettier --write, eslint

feat: reduce code duplication
  src/components/Notification/NotificationVisual/NotificationVisual.tsx
  src/components/Notification/Snackbar/Snackbar.tsx
  src/components/Notification/subcomponents/NotificationActionsArea/NotificationActionsArea.tsx
  src/components/Notification/subcomponents/NotificationActionsArea/index.ts
Due: prettier --write, eslint

chore: test updates
  src/components/DatePicker/DatePicker.stories.mdx
  src/components/DatePicker/DatePicker.tsx
  src/components/DatePicker/__snapshots__/DatePicker.stories.storyshot
  src/components/storyUtils/DatePickerShowcase/DatePickerShowcase.tsx
Due: prettier --write, eslint

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,scss,md}
  eslint: any of: *.{ts,tsx,js,jsx}
