Repository Orfium/orfium-ictinus: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,json,scss,md}": [
    "prettier --write",
    "git add"
  ],
  "*.{ts,tsx,js,jsx}": [
    "eslint"
  ]
}

feat(matchingasset): header behaviour changed
  src/components/AssetMatching/components/ActionsToolbox/ActionsToolbox.tsx
  src/components/AssetMatching/components/ActionsToolbox/SecondaryActions.tsx
  src/components/AssetMatching/components/SectionHeader/SectionHeader.style.ts
  src/components/AssetMatching/components/SectionHeader/SectionHeader.test.tsx
Due: prettier --write, eslint

feat(notifications): change button styling to notifications
  src/components/Notification/NotificationVisual/NotificationVisual.tsx
  src/components/Notification/Snackbar/Snackbar.tsx
Due: prettier --write, eslint

feat(matchingasset): ActionToolboxWrapper component added
  src/components/AssetMatching/components/ActionsToolbox/ActionsToolbox.tsx
  src/components/AssetMatching/components/ActionsToolbox/ActionsToolboxWrapper.tsx
  src/components/AssetMatching/components/SectionHeader/SectionHeader.test.tsx
Due: prettier --write, eslint

feat(packages): remove unused context from storybook test, fix babel error
  .babelrc.json
  .storybook/main.ts
  package.json
  src/storybook.test.ts
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint

feat(packages): add react-jsx as jsx prop in tsconfig
  tsconfig.json
Due: prettier --write

feat(packages): upgrade husky and lintstaged
  .husky/pre-commit
  package.json
  yarn.lock
Due: prettier --write

Notes added by 'git notes add'
  ab/e3967bfd7446528440f6ca022d47cac70dd0b9
Due: none

feat(table): test ids
  src/components/Table/Table.stories.mdx
  src/components/Table/Table.tsx
  src/components/Table/__snapshots__/Table.stories.storyshot
  src/components/Table/components/RenderRowOrNestedRow/RenderRowOrNestedRow.tsx
  src/components/Table/components/RenderRowOrNestedRow/components/ContentCell/ContentCell.tsx
  src/components/Table/components/RenderRowOrNestedRow/components/ExpandedButtonCell/ExpandedButtonCell.tsx
  src/components/Table/components/TableCell/TableCell.tsx
  src/components/Table/components/TableRowWrapper/TableRowWrapper.tsx
Due: prettier --write, eslint

docs: update readme about peer dependencies
  README.md
Due: prettier --write

fix: change babel polyfill to module
  .storybook/main.ts
Due: prettier --write, eslint

feat: add filter component
  src/components/Breadcrumb/BreadcrumbCollapsed/BreadcrumbCollapsed.tsx
  src/components/Filter/Filter.stories.mdx
  src/components/Filter/Filter.style.ts
  src/components/Filter/Filter.test.tsx
  src/components/Filter/Filter.tsx
  src/components/Filter/__snapshots__/Filter.stories.storyshot
  src/components/Filter/index.ts
  src/components/Filter/types.ts
  src/components/Filter/utils.ts
  src/components/Menu/Menu.style.ts
  src/components/Menu/Menu.tsx
  src/components/storyUtils/FilterShowcase/FilterShowcase.tsx
  src/components/storyUtils/FilterShowcase/index.ts
  src/components/utils/DropdownOptions/index.tsx
Due: prettier --write, eslint

feat(palette): remove branded1 from components and component stories
  src/components/AssetMatching/components/SectionHeader/SectionHeader.style.ts
  src/components/Button/Button.stories.mdx
  src/components/DatePicker/Day/Day.tsx
  src/components/DatePicker/OverlayComponent/OverlayComponent.tsx
  src/components/Drawer/Navigation/MenuItem/MenuItem.tsx
  src/components/Drawer/Navigation/Navigation.style.ts
  src/components/Icon/Icon.stories.mdx
  src/components/Icon/__snapshots__/Icon.stories.storyshot
  src/components/Notification/NotificationVisual/NotificationVisual.tsx
  src/components/Notification/Snackbar/Snackbar.tsx
  src/components/Radio/Radio.style.ts
  src/components/Toast/Toast.tsx
  src/components/storyUtils/DrawerShowcase/DrawerShowcase.tsx
  src/test/utils.tsx
Due: prettier --write, eslint

feat(palette): remove branded1 from theme and docs
  docs/guides/GETTING_STARTED.stories.mdx
  docs/system/THEME.stories.mdx
  docs/system/UTILS.stories.mdx
  src/theme/palette.config.ts
  src/theme/palette.ts
Due: prettier --write, eslint

feat(tests): update tests for branded removal
  README.md
  src/components/DatePicker/__snapshots__/DatePicker.stories.storyshot
  src/components/Drawer/__snapshots__/Drawer.stories.storyshot
  src/components/Icon/__snapshots__/Icon.stories.storyshot
  src/components/Radio/__snapshots__/Radio.stories.storyshot
  src/components/RadioGroup/__snapshots__/RadioGroup.stories.storyshot
  src/components/Toast/__snapshots__/Toast.stories.storyshot
Due: prettier --write

feat(palette): remove branded2 from components, component stories and docs
  README.md
  docs/guides/GETTING_STARTED.stories.mdx
  docs/system/THEME.stories.mdx
  src/components/Button/Button.stories.mdx
  src/components/Icon/Icon.stories.mdx
  src/components/Icon/__snapshots__/Icon.stories.storyshot
  src/components/Toast/Toast.stories.mdx
Due: prettier --write

feat(palette): remove branded2 from theme
  src/theme/palette.config.ts
  src/theme/palette.ts
Due: prettier --write, eslint

add a playgroud story
  src/components/Filter/Filter.stories.mdx
  src/components/Filter/Filter.tsx
  src/components/Filter/__snapshots__/Filter.stories.storyshot
  src/components/Filter/types.ts
  src/components/storyUtils/FilterShowcase/FilterShowcase.tsx
Due: prettier --write, eslint

fix tests
  src/components/Filter/Filter.test.tsx
Due: prettier --write, eslint

feat: resolve pr comments
  src/components/Table/__snapshots__/Table.stories.storyshot
  src/components/Table/components/TableCell/TableCell.tsx
Due: prettier --write, eslint

feat(eslint): import order error
  .eslintrc.json
  package.json
Due: prettier --write

feat(eslint): yarn.lock
  yarn.lock
Due: none

fix(notification): add background color [DS-141]
  src/components/Notification/Notification.style.ts
Due: prettier --write, eslint

Notes added by 'git notes add'
  72/bf688c14041f044e34e5c67a7127c64bc8e34e
Due: none

Notes added by 'git notes add'
  19/a756744b593feb0ce5d6c25a0694678a895bb9
Due: none

feat(datepicker): add disabled dates
  src/components/DatePicker/DatePicker.stories.mdx
  src/components/DatePicker/DatePicker.tsx
  src/components/DatePicker/Month/Month.utils.ts
Due: prettier --write, eslint

chore(tests): update
  src/components/DatePicker/__snapshots__/DatePicker.stories.storyshot
Due: none

feat(datepicker): update knobs
  src/components/DatePicker/DatePicker.stories.mdx
Due: none

feat(datepicker): update tests for disabledDates new prop
  src/components/DatePicker/Month/Month.test.tsx
Due: prettier --write, eslint

feat(positionInScreen): fix item out of window
  src/components/utils/PositionInScreen/PositionInScreen.tsx
Due: prettier --write, eslint

chore(prettier): run prettier to month utils
  src/components/DatePicker/Month/Month.utils.ts
Due: prettier --write, eslint

Notes added by 'git notes add'
  a2/247a1848657a0cdd028e2d3981b93ef9a06519
Due: none

feat(tippyjs): adds new lib for handling common tooltip cases
  package.json
  yarn.lock
Due: prettier --write

feat(external-link-v2): adds new external link icon
  src/components/Icon/assets/external-link-v2.svg
  src/components/Icon/assets/iconSelector.ts
  src/components/Icon/types.ts
Due: prettier --write, eslint

feat(external-link): adds external link feature next to asset heading
  src/components/AssetMatching/components/Asset/Asset.style.ts
  src/components/AssetMatching/components/Asset/Asset.tsx
  src/components/AssetMatching/components/Asset/AssetHeading.tsx
Due: prettier --write, eslint

chore(showcase): updates mock data for the showcase
  src/components/storyUtils/AssetMatchingShowcase/AssetMatchingShowcase.tsx
  src/components/storyUtils/AssetMatchingShowcase/mocks.tsx
Due: prettier --write, eslint

test(icon): updates snapshot
  src/components/Icon/__snapshots__/Icon.stories.storyshot
Due: none

refactor(external-link): refactors external link and introduces new component
  src/components/AssetMatching/components/Asset/AssetExternalLink.tsx
  src/components/AssetMatching/components/Asset/AssetHeading.tsx
Due: prettier --write, eslint

refactor(external-link): converts externallink prop to optional
  src/components/AssetMatching/components/Asset/AssetHeading.tsx
Due: prettier --write, eslint
