Repository Orfium/orfium-ictinus: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,json,scss,md}": [
    "prettier --write",
    "git add"
  ],
  "*.{ts,tsx,js,jsx}": [
    "eslint"
  ]
}

Notes added by 'git notes add'
  05/1fa7be91d9b252ab0b0dd09ca50afd60a38b59
Due: none

doc(typography): fix typography documentation
  src/components/Breadcrumb/Breadcrumb.stories.mdx
  src/components/Card/Card.stories.mdx
  src/components/Chart/Chart.stories.mdx
  src/components/CheckBox/CheckBox.stories.mdx
  src/components/DatePicker/DatePicker.stories.mdx
  src/components/Drawer/Drawer.stories.mdx
  src/components/ExpandCollapse/ExpandCollapse.stories.mdx
  src/components/Filter/Filter.stories.mdx
  src/components/Icon/Icon.stories.mdx
  src/components/IconButton/IconButton.stories.mdx
  src/components/List/List.stories.mdx
  src/components/Loader/Loader.stories.mdx
  src/components/Menu/Menu.stories.mdx
  src/components/Overlay/Overlay.stories.mdx
  src/components/Pagination/Pagination.stories.mdx
  src/components/Radio/Radio.stories.mdx
  src/components/RadioGroup/RadioGroup.stories.mdx
  src/components/SearchField/SearchField.stories.mdx
  src/components/Select/Select.stories.mdx
  src/components/Slider/Slider.stories.mdx
  src/components/Switch/Switch.stories.mdx
  src/components/Table/Table.stories.mdx
  src/components/TextArea/TextArea.stories.mdx
  src/components/TextField/TextField.stories.mdx
  src/components/ThemeProvider/ThemeProvider.stories.mdx
  src/components/Toast/Toast.stories.mdx
  src/components/Tooltip/Tooltip.stories.mdx
  src/components/TopAppBar/TopAppBar.stories.mdx
  src/components/TruncatedContent/TruncatedContent.stories.mdx
  src/components/Typography/Typography.stories.mdx
  src/components/Typography/Typography.tsx
Due: prettier --write, eslint

fix: select resize observer loop limit exceeded
  src/components/utils/PositionInScreen/hooks.ts
Due: prettier --write, eslint

feat: adding more props on typography and create new docs for systemic colors and textColor
  .storybook/preview.tsx
  docs/system/UTILS.stories.mdx
  docs/tokens/COLORS.stories.mdx
  docs/tokens/RADIUS.stories.mdx
  docs/tokens/TYPOGRAPHY.stories.mdx
  src/components/Typography/Typography.stories.mdx
  src/components/Typography/Typography.style.ts
  src/components/Typography/Typography.tsx
  src/components/storyUtils/Stack/Stack.tsx
  src/storybook/RadiusShowcase/RadiusShowcase.tsx
  src/storybook/Tip/Tip.tsx
  src/storybook/TokenColorsShowcase/TokenColorsShowcase.style.ts
  src/storybook/TokenColorsShowcase/TokenColorsShowcase.tsx
  src/storybook/TokenColorsShowcase/index.ts
  src/storybook/Typography/Typography.tsx
  src/storybook/TypographyShowcase/TypographyShowcase.tsx
  src/storybook/UsageGuidelines/UsageGuidelines.style.ts
  src/storybook/UsageGuidelines/UsageGuidelines.tsx
  src/theme/tokens/semantic/backgroundColor.ts
Due: prettier --write, eslint

feat: update token files
  src/theme/tokens/components/variables/button.ts
  src/theme/tokens/components/variables/iconButton.ts
  src/theme/tokens/components/variables/textButton.ts
  src/theme/tokens/semantic/variables/palette.ts
Due: prettier --write, eslint

feat: update button tokens
  src/components/Button/Button.tokens.ts
Due: prettier --write, eslint

feat: update all button tokens usages
  src/components/Button/Button.tsx
  src/components/Button/ButtonLoader/ButtonLoader.style.ts
  src/components/ButtonBase/ButtonBase.style.ts
  src/components/DropdownButton/DropdownButton.style.ts
  src/components/DropdownButton/DropdownButton.tsx
  src/components/IconButton/IconButton.tsx
  src/theme/states/states.tokens.ts
Due: prettier --write, eslint

feat: update stories
  src/components/Button/Button.stories.mdx
Due: none

feat: update snapshots
  src/components/Button/__snapshots__/Button.stories.storyshot
  src/components/DatePicker/OverlayComponent/__snapshots__/OverlayComponent.test.tsx.snap
  src/components/DatePicker/OverlayComponent/components/MonthWrapper/__snapshots__/MonthWrapper.test.tsx.snap
  src/components/DatePicker/__snapshots__/DatePicker.stories.storyshot
  src/components/Drawer/__snapshots__/Drawer.stories.storyshot
  src/components/DropdownButton/__snapshots__/DropdownButton.stories.storyshot
  src/components/IconButton/__snapshots__/IconButton.stories.storyshot
  src/components/Menu/__snapshots__/Menu.stories.storyshot
  src/components/Modal/__snapshots__/Modal.stories.storyshot
  src/components/Notification/__snapshots__/Notification.stories.storyshot
  src/components/Overlay/__snapshots__/Overlay.stories.storyshot
  src/components/Pagination/__snapshots__/Pagination.stories.storyshot
  src/components/Table/__snapshots__/Table.stories.storyshot
  src/components/ThemeProvider/__snapshots__/ThemeProvider.stories.storyshot
  src/components/Tooltip/__snapshots__/Tooltip.stories.storyshot
  src/components/TopAppBar/__snapshots__/TopAppBar.stories.storyshot
  src/components/TopAppBar/__snapshots__/TopAppBar.test.tsx.snap
  src/components/storyUtils/PaletteShowcase/__snapshots__/PaletteShowcase.test.tsx.snap
Due: none

feat: pr comments
  src/components/utils/PositionInScreen/hooks.ts
  src/components/utils/PositionInScreen/utils.ts
Due: prettier --write, eslint

Notes added by 'git notes add'
  41/18d61a593014b9a6e4a3e014a19a1a94bf69e5
Due: none

docs: update colors and typography and introduce background colors documentation
  docs/tokens/BACKGROUND_COLORS.stories.mdx
  docs/tokens/COLORS.stories.mdx
  docs/tokens/TYPOGRAPHY.stories.mdx
  src/components/Typography/Typography.stories.mdx
  src/storybook/TokenBackgroundColorsShowcase/TokenBackgroundColorsShowcase.style.ts
  src/storybook/TokenBackgroundColorsShowcase/TokenBackgroundColorsShowcase.tsx
  src/storybook/TokenBackgroundColorsShowcase/index.ts
Due: prettier --write, eslint

chore: fix 2 small typing issues
  src/components/ButtonBase/ButtonBase.tsx
  src/storybook/TypographyShowcase/TypographyShowcase.tsx
Due: prettier --write, eslint

fix(Typography): rename role to variant
  .storybook/preview.tsx
  src/components/ButtonBase/ButtonBase.tsx
  src/components/Typography/Typography.stories.mdx
  src/components/Typography/Typography.style.ts
  src/components/Typography/Typography.tsx
  src/storybook/Tip/Tip.tsx
  src/storybook/TokenBackgroundColorsShowcase/TokenBackgroundColorsShowcase.tsx
  src/storybook/TokenColorsShowcase/TokenColorsShowcase.tsx
  src/storybook/Typography/Typography.tsx
  src/storybook/TypographyShowcase/TypographyShowcase.tsx
Due: prettier --write, eslint

feat: create MultiSelectBase component
  src/components/MultiSelectBase/MultiSelectBase.style.ts
  src/components/MultiSelectBase/MultiSelectBase.tsx
  src/components/MultiSelectBase/hooks.tsx
  src/components/MultiSelectBase/index.ts
  src/components/Select/Select.tsx
  src/components/TextInputBase/TextInputBase.style.ts
  src/components/TextInputBase/TextInputBase.tsx
Due: prettier --write, eslint

chore : remove fit-content width for specific browsers on tip
  src/storybook/Tip/Tip.tsx
Due: prettier --write, eslint

chore: adding new deployment method
  .github/workflows/ci.yml
  .github/workflows/main.yml
  .github/workflows/pr.yml
  environments/common.env
  environments/next.env
  environments/prod.env
Due: none

chore: add csp on commons
  environments/common.env
  environments/next.env
  environments/prod.env
  environments/review.env
Due: none

chore: rename teardown.yml
  .github/workflows/teardown.yml
Due: none

feat: remove MultiSelectTextField
  src/components/Select/components/MultiselectTextField/MultiselectTextField.style.ts
  src/components/Select/components/MultiselectTextField/MultiselectTextField.tsx
  src/components/Select/components/MultiselectTextField/index.ts
Due: prettier --write, eslint

fix: code smells
  src/components/MultiSelectBase/MultiSelectBase.style.ts
Due: prettier --write, eslint

chore: rename package.json build for storybook in order to comply with CI/CD
  package.json
Due: prettier --write

chore: adding review CFN_ROLE and CERT
  environments/review.env
Due: none

chore: restrict release on PR
  .github/workflows/main.yml
Due: none

feat: pr comments
  docs/guides/GLOBAL_STATES.stories.mdx
  src/components/Button/Button.stories.mdx
  src/utils/stories.ts
Due: prettier --write, eslint

chore: adding coverage usage
  .github/workflows/main.yml
  README.md
Due: prettier --write

chore: fix main.yml format
  .github/workflows/main.yml
Due: none

chore: fix main.yml test part
  .github/workflows/main.yml
Due: none

chore: temp remove badges
  .github/workflows/main.yml
  README.md
Due: prettier --write

chore(workflows): add correct permissions for deploy step
  .github/workflows/main.yml
Due: none

Notes added by 'git notes add'
  1a/11552d7625066677dcc5cedf6b59ffe1dfb119
Due: none

chore: merge master
  .github/CODEOWNERS
  .github/workflows/ci.yml
  .github/workflows/main.yml
  .github/workflows/pr.yml
  .github/workflows/teardown.yml
  .gitignore
  environments/common.env
  environments/next.env
  environments/prod.env
  environments/review.env
  package.json
  src/components/CheckBox/CheckBox.stories.mdx
  src/components/DatePicker/__snapshots__/DatePicker.stories.storyshot
  src/components/DatePicker/utils.ts
  src/components/Label/Label.style.ts
  src/components/SearchField/__snapshots__/SearchField.stories.storyshot
  src/components/Select/Select.stories.mdx
  src/components/Select/Select.test.tsx
  src/components/Select/Select.tsx
  src/components/Select/__snapshots__/Select.stories.storyshot
  src/components/Select/components/SelectMenu/SelectMenu.tsx
  src/components/Select/constants.ts
  src/components/Select/hooks/useMultiselectUtils.ts
  src/components/TextField/__snapshots__/TextField.stories.storyshot
  src/components/TextInputBase/config.ts
  src/components/storyUtils/EdgeCasesSelectShowcase/EdgeCasesSelectShowcase.tsx
  src/components/storyUtils/PaletteShowcase/__snapshots__/PaletteShowcase.test.tsx.snap
  src/components/utils/PositionInScreen/hooks.ts
  src/components/utils/PositionInScreen/utils.ts
  src/hooks/__snapshots__/useSearchQueryParams.stories.storyshot
  src/hooks/__tests__/useSearchQueryParams.test.ts
  src/hooks/index.ts
  src/hooks/storyUtils/DemoUseSearchQueryParams.tsx
  src/hooks/useSearchQueryParams.stories.mdx
  src/hooks/useSearchQueryParams.ts
  yarn.lock
Due: prettier --write, eslint

chore(select-story): remove duplication of story in select
  src/components/Select/Select.stories.mdx
Due: none

chore(package.json): fix build with master branch suggestion
  package.json
Due: prettier --write

chore: fix test on main workflow
  .github/workflows/main.yml
Due: none

chore(test): update snapshots for select
  src/components/Select/__snapshots__/Select.stories.storyshot
Due: none

feat: restructure existing components
  src/components/Filter/components/SingleFilter/SingleFilter.style.ts
  src/components/Filter/components/SingleFilter/SingleFilter.tsx
  src/components/Filter/components/SingleFilter/components/SearchInput/SearchInput.style.ts
  src/components/Filter/components/SingleFilter/components/SearchInput/SearchInput.tsx
  src/components/Filter/components/SingleFilter/components/SearchInput/index.ts
  src/components/Filter/components/SingleFilter/index.ts
Due: prettier --write, eslint

feat: make MultiSelectBase responsive
  src/components/MultiSelectBase/MultiSelectBase.style.ts
  src/components/MultiSelectBase/MultiSelectBase.tsx
Due: prettier --write, eslint
