Repository Orfium/orfium-ictinus: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

fix: typo
  src/components/Tabs/components/TabList/TabList.mdx
Due: none

feat: slot provider
  src/__storyshots__/Updated Components/Breadcrumb-BasicBreadcrumbs.snap
  src/__storyshots__/Updated Components/Breadcrumb-GoBackTo.snap
  src/__storyshots__/Updated Components/Breadcrumb-Playground.snap
  src/__storyshots__/Updated Components/Breadcrumb-ThirdPartyRoutingLibrary.snap
  src/__storyshots__/Updated Components/Link-LinkStyles.snap
  src/__storyshots__/Updated Components/Link-LinkWithIcon.snap
  src/__storyshots__/Updated Components/Link-Placement.snap
  src/__storyshots__/Updated Components/Link-Playground.snap
  src/__storyshots__/Updated Components/Link-Sizes.snap
  src/__storyshots__/Updated Components/Link-ThirdPartyRoutingLibrary.snap
  src/__storyshots__/Updated Components/Menu-MenuTriggers.snap
  src/__storyshots__/Updated Components/Notifications/Inline Alert-Error.snap
  src/__storyshots__/Updated Components/Notifications/Inline Alert-Informational.snap
  src/__storyshots__/Updated Components/Notifications/Inline Alert-Neutral.snap
  src/__storyshots__/Updated Components/Notifications/Inline Alert-Playground.snap
  src/__storyshots__/Updated Components/Notifications/Inline Alert-Success.snap
  src/__storyshots__/Updated Components/Notifications/Inline Alert-Warning.snap
  src/components/ButtonBase/ButtonBase.tsx
  src/components/InlineAlert/InlineAlert.stories.tsx
  src/components/InlineAlert/InlineAlert.tsx
  src/components/Link/Link.tsx
  src/components/utils/Slots.tsx
  src/components/utils/tests/Slots.test.tsx
Due: prettier --write, eslint

feat: broadcast
  src/__storyshots__/Updated Components/Notifications/Broadcast-Error.snap
  src/__storyshots__/Updated Components/Notifications/Broadcast-Informational.snap
  src/__storyshots__/Updated Components/Notifications/Broadcast-Neutral.snap
  src/__storyshots__/Updated Components/Notifications/Broadcast-Playground.snap
  src/__storyshots__/Updated Components/Notifications/Broadcast-Success.snap
  src/__storyshots__/Updated Components/Notifications/Broadcast-Warning.snap
  src/__storyshots__/Updated Components/Notifications/Broadcast-WithButtons.snap
  src/__storyshots__/Updated Components/Notifications/Broadcast-WithTrigger.snap
  src/__storyshots__/Updated Components/Notifications/Broadcast-WithoutAction.snap
  src/__storyshots__/Updated Components/Notifications/Broadcast-WithoutDismiss.snap
  src/components/Broadcast/Broadcast.mdx
  src/components/Broadcast/Broadcast.stories.tsx
  src/components/Broadcast/Broadcast.style.ts
  src/components/Broadcast/Broadcast.tsx
  src/components/Broadcast/Broadcast.types.ts
  src/components/Broadcast/index.ts
  src/index.ts
Due: prettier --write, eslint

feat: add broadcast tests
  src/components/Broadcast/tests/Broadcast.test.tsx
Due: prettier --write, eslint

feat: add tabPanel component
  src/components/Tabs/Tabs.mdx
  src/components/Tabs/Tabs.stories.tsx
  src/components/Tabs/Tabs.style.ts
  src/components/Tabs/Tabs.tsx
  src/components/Tabs/components/TabPanel/TabPanel.mdx
  src/components/Tabs/components/TabPanel/TabPanel.stories.tsx
  src/components/Tabs/components/TabPanel/TabPanel.tsx
  src/components/Tabs/components/TabPanel/index.ts
  src/components/Tabs/components/TabsContainer/TabsContainer.style.ts
  src/components/Tabs/components/TabsContainer/TabsContainer.tsx
  src/components/Tabs/components/index.ts
  src/components/Tabs/constants.ts
  src/components/Tabs/constants.tsx
  src/components/Tabs/types.ts
Due: prettier --write, eslint

feat: snaps
  src/__storyshots__/Updated Components/Tabs/Tabs-SimpleTabs.snap
  src/__storyshots__/Updated Components/Tabs/Tabs-TabsOrientation.snap
  src/__storyshots__/Updated Components/Tabs/Tabs-TabsWithContent.snap
  src/__storyshots__/Updated Components/Tabs/Tabs-TabsWithCounter.snap
Due: none

feat(tabs): change tabId to id
  src/components/Tabs/Tabs.stories.tsx
  src/components/Tabs/Tabs.tsx
  src/components/Tabs/components/Tab/Tab.mdx
  src/components/Tabs/components/Tab/Tab.tsx
  src/components/Tabs/components/TabList/TabList.mdx
  src/components/Tabs/components/TabPanel/TabPanel.mdx
  src/components/Tabs/components/TabPanel/TabPanel.tsx
  src/components/Tabs/types.ts
Due: prettier --write, eslint

feat(tabstepper): implementation
  src/components/TabStepper/TabStepper.tsx
  src/components/TabStepper/components/TabStep/TabStep.style.ts
  src/components/TabStepper/components/TabStep/TabStep.tsx
  src/components/TabStepper/components/TabStep/index.ts
  src/components/TabStepper/components/TabStepList/TabStepList.style.ts
  src/components/TabStepper/components/TabStepList/TabStepList.tsx
  src/components/TabStepper/components/TabStepList/index.ts
  src/components/TabStepper/components/index.ts
  src/components/TabStepper/index.ts
  src/components/TabStepper/types.ts
  src/components/Tabs/components/TabsContainer/TabsContainer.style.ts
  src/index.ts
Due: prettier --write, eslint

feat: types
  src/components/TabStepper/types.ts
  src/components/Tabs/types.ts
Due: prettier --write, eslint

feat(tabstepper): styles
  src/components/TabStepper/components/TabStep/TabStep.style.ts
  src/components/TabStepper/components/TabStep/TabStep.tsx
Due: prettier --write, eslint

feat(tabstepper): documentation
  src/components/TabStepper/TabStepper.mdx
  src/components/TabStepper/TabStepper.stories.tsx
  src/components/TabStepper/components/TabStep/TabStep.mdx
  src/components/TabStepper/components/TabStep/TabStep.stories.tsx
  src/components/TabStepper/components/TabStepList/TabStepList.mdx
  src/components/TabStepper/components/TabStepList/TabStepList.stories.tsx
  src/components/TabStepper/constants.tsx
  src/components/TabStepper/utils/TabStepperStoryComponents.tsx
  src/components/Tabs/components/TabsContainer/TabsContainer.mdx
Due: prettier --write, eslint

feat: snaps
  src/__storyshots__/Updated Components/Tabs/TabStepper-Playground.snap
  src/__storyshots__/Updated Components/Tabs/TabStepper-SimpleTabStepper.snap
  src/__storyshots__/Updated Components/Tabs/TabStepper-TabStepperOrientation.snap
  src/__storyshots__/Updated Components/Tabs/TabStepper-TabStepperStatuses.snap
  src/__storyshots__/Updated Components/Tabs/TabStepper-TabStepperTypes.snap
  src/__storyshots__/Updated Components/Tabs/TabStepper-TabStepperWithContent.snap
  src/__storyshots__/Updated Components/Tabs/Tabs-Playground.snap
  src/__storyshots__/Updated Components/Tabs/Tabs-SimpleTabs.snap
  src/__storyshots__/Updated Components/Tabs/Tabs-TabsOrientation.snap
  src/__storyshots__/Updated Components/Tabs/Tabs-TabsWithContent.snap
  src/__storyshots__/Updated Components/Tabs/Tabs-TabsWithCounter.snap
Due: none

chore: update docs
  sonar-project.properties
  src/__storyshots__/Updated Components/Notifications/Broadcast-Error.snap
  src/__storyshots__/Updated Components/Notifications/Broadcast-Informational.snap
  src/__storyshots__/Updated Components/Notifications/Broadcast-Neutral.snap
  src/__storyshots__/Updated Components/Notifications/Broadcast-Playground.snap
  src/__storyshots__/Updated Components/Notifications/Broadcast-Success.snap
  src/__storyshots__/Updated Components/Notifications/Broadcast-Warning.snap
  src/__storyshots__/Updated Components/Notifications/Broadcast-WithButtons.snap
  src/__storyshots__/Updated Components/Notifications/Broadcast-WithTrigger.snap
  src/__storyshots__/Updated Components/Notifications/Broadcast-WithoutAction.snap
  src/__storyshots__/Updated Components/Notifications/Broadcast-WithoutDismiss.snap
  src/components/Broadcast/Broadcast.stories.tsx
  src/components/Broadcast/Broadcast.style.ts
  src/components/Broadcast/Broadcast.types.ts
  src/components/Notification/Banner/Banner.tsx
  src/components/Notification/Notification.mdx
Due: prettier --write, eslint

chore: test coverage
  .eslintignore
  sonar-project.properties
  vite.config.ts
Due: prettier --write, eslint

chore: test coverage
  vite.config.ts
Due: prettier --write, eslint

Notes added by 'git notes add'
  cf/5654259703e416b25d077acdc47db291587c36
Due: none

chore: update border to var
  sonar-project.properties
  src/__storyshots__/Updated Components/Notifications/Broadcast-Error.snap
  src/__storyshots__/Updated Components/Notifications/Broadcast-Informational.snap
  src/__storyshots__/Updated Components/Notifications/Broadcast-Neutral.snap
  src/__storyshots__/Updated Components/Notifications/Broadcast-Playground.snap
  src/__storyshots__/Updated Components/Notifications/Broadcast-Success.snap
  src/__storyshots__/Updated Components/Notifications/Broadcast-Warning.snap
  src/__storyshots__/Updated Components/Notifications/Broadcast-WithButtons.snap
  src/__storyshots__/Updated Components/Notifications/Broadcast-WithoutAction.snap
  src/__storyshots__/Updated Components/Notifications/Broadcast-WithoutDismiss.snap
  src/__storyshots__/Updated Components/Notifications/Inline Alert-Error.snap
  src/__storyshots__/Updated Components/Notifications/Inline Alert-Informational.snap
  src/__storyshots__/Updated Components/Notifications/Inline Alert-Neutral.snap
  src/__storyshots__/Updated Components/Notifications/Inline Alert-Playground.snap
  src/__storyshots__/Updated Components/Notifications/Inline Alert-Success.snap
  src/__storyshots__/Updated Components/Notifications/Inline Alert-Warning.snap
  src/__storyshots__/Updated Components/Notifications/Inline Alert-WithButtons.snap
  src/__storyshots__/Updated Components/Notifications/Inline Alert-WithoutAction.snap
  src/__storyshots__/Updated Components/Notifications/Inline Alert-WithoutDismiss.snap
  src/components/Broadcast/Broadcast.style.ts
  src/components/InlineAlert/InlineAlert.style.ts
Due: prettier --write, eslint

Notes added by 'git notes add'
  2b/06a01e402f9ac130ec6a6e26566b3520c67ad2
Due: none

feat: tokens changes
  src/__storyshots__/Updated Components/Tabs/Tabs-Playground.snap
  src/__storyshots__/Updated Components/Tabs/Tabs-SimpleTabs.snap
  src/__storyshots__/Updated Components/Tabs/Tabs-TabsOrientation.snap
  src/__storyshots__/Updated Components/Tabs/Tabs-TabsWithContent.snap
  src/__storyshots__/Updated Components/Tabs/Tabs-TabsWithCounter.snap
  src/components/Tabs/components/TabList/TabList.style.ts
Due: prettier --write, eslint

feat: update tokens
  src/__storyshots__/Updated Components/Tabs/TabStepper-Playground.snap
  src/__storyshots__/Updated Components/Tabs/TabStepper-TabStepperOrientation.snap
  src/__storyshots__/Updated Components/Tabs/TabStepper-TabStepperStatuses.snap
  src/__storyshots__/Updated Components/Tabs/TabStepper-TabStepperTypes.snap
  src/__storyshots__/Updated Components/Tabs/TabStepper-TabStepperWithContent.snap
  src/components/TabStepper/components/TabStep/TabStep.style.ts
  src/components/TabStepper/components/TabStep/TabStep.tsx
  src/components/TabStepper/components/TabStepList/TabStepList.style.ts
Due: prettier --write, eslint

feat: pr comments
  src/components/TabStepper/components/TabStep/TabStep.tsx
Due: prettier --write, eslint

feat: change paddings
  src/__storyshots__/Updated Components/Tabs/Tabs-Playground.snap
  src/__storyshots__/Updated Components/Tabs/Tabs-SimpleTabs.snap
  src/__storyshots__/Updated Components/Tabs/Tabs-TabsOrientation.snap
  src/__storyshots__/Updated Components/Tabs/Tabs-TabsWithContent.snap
  src/__storyshots__/Updated Components/Tabs/Tabs-TabsWithCounter.snap
  src/components/Tabs/components/Tab/Tab.style.ts
  src/components/Tabs/components/TabList/TabList.style.ts
Due: prettier --write, eslint

feat: change focus paddings
  src/__storyshots__/Updated Components/Tabs/TabStepper-Playground.snap
  src/__storyshots__/Updated Components/Tabs/TabStepper-TabStepperOrientation.snap
  src/__storyshots__/Updated Components/Tabs/TabStepper-TabStepperStatuses.snap
  src/__storyshots__/Updated Components/Tabs/TabStepper-TabStepperTypes.snap
  src/__storyshots__/Updated Components/Tabs/TabStepper-TabStepperWithContent.snap
  src/components/TabStepper/components/TabStepList/TabStepList.style.ts
Due: prettier --write, eslint

Notes added by 'git notes add'
  64/dac7ce57aeaf84994b4a5cb361ce9f4ad9b34a
Due: none

Notes added by 'git notes add'
  67/86c4d6603403ab889d78d5a8f9800f2a70a103
Due: none

fix: add dropdownbutton to exports
  src/index.ts
Due: prettier --write, eslint

Notes added by 'git notes add'
  a2/09a31a5f6001946fe6861b7215c0cb1fe5aa00
Due: none

fix: make react 17 minimum
  package.json
Due: prettier --write

Notes added by 'git notes add'
  54/a5d29567dc8027afb9165ef7b4dbb75933278b
Due: none

fix: date range
  src/components/DatePicker/DatePicker.test.tsx
  src/components/DatePicker/DatePicker.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  67/6463246716d7de09150b12169dff46d73bef42
Due: none

feat: add gap prop to Box component and update spacing handling
  .gitignore
  src/components/Box/Box.tsx
  src/components/Box/Box.types.ts
  src/components/Box/Box.utilities.ts
Due: prettier --write, eslint

feat: implement CustomSearch component with filter options and update Search styles
  src/__storyshots__/Updated Components/Search-CustomSearch.snap
  src/__storyshots__/Updated Components/Search-FilteredSearch.snap
  src/components/Search/Search.stories.tsx
  src/components/Search/Search.style.ts
  src/components/Search/Search.tsx
  src/components/Search/Search.types.ts
Due: prettier --write, eslint

refactor: update lodash imports to named imports for consistency
  src/components/Chart/LineChart/utils.ts
  src/components/Filter/Filter.tsx
  src/components/Filter/hooks/useMultiFilterUtils.ts
  src/components/List/NormalList/NormalList.tsx
  src/components/MultiTextFieldBase/MultiTextFieldBase.tsx
  src/components/ThemeProvider/ThemeProvider.tsx
  src/components/storyUtils/BreadcrumbShowcase/BreadcrumbShowcase.tsx
  src/components/storyUtils/ColorUtility/ColorUtility.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  8a/91759f7d24e7db3e65578009926673aab633ff
Due: none

feat(icon): RM-2521 add trending up and trending down icons
  src/components/Icon/__snapshots__/Icon.stories.storyshot
  src/components/Icon/assets/iconSelector.ts
  src/components/Icon/assets/trendingDown.svg
  src/components/Icon/assets/trendingUp.svg
  src/components/Icon/types.ts
Due: prettier --write, eslint

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,scss,md}
  eslint: any of: *.{ts,tsx,js,jsx}
