Repository Orfium/orfium-ictinus: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

[feature/snapshot-testing]: fixes decorators and parameter for the storybook 6
  .storybook/preview.js
Due: prettier --write, eslint

[feature/snapshot-testing]: adds new snapshots
  src/components/Breadcrumb/__snapshots__/Breadcrumb.stories.storyshot
  src/components/CheckBox/__snapshots__/CheckBox.stories.storyshot
  src/components/Icon/__snapshots__/Icon.stories.storyshot
  src/components/IconButton/__snapshots__/IconButton.stories.storyshot
  src/components/Menu/__snapshots__/Menu.stories.storyshot
  src/components/Pagination/__snapshots__/Pagination.stories.storyshot
  src/components/Select/__snapshots__/Select.stories.storyshot
  src/components/Table/__snapshots__/Table.stories.storyshot
Due: none

[feature/snapshot-testing]: removes npm script
  package.json
Due: prettier --write

fix style to use spacing, split component for inputs
  src/components/DatePicker/DatePickInput/DatePickInput.tsx
  src/components/DatePicker/DatePicker.style.ts
  src/components/DatePicker/DatePicker.tsx
Due: prettier --write, eslint

add day picker props as constant and small fix on imports
  src/components/DatePicker/DatePickInput/DatePickInput.tsx
  src/components/DatePicker/DatePicker.tsx
Due: prettier --write, eslint

remove svgs titles
  src/components/Icon/assets/fat-arrow-left.svg
  src/components/Icon/assets/fat-arrow-right.svg
  src/components/Icon/assets/minus.svg
Due: none

fix deps
  src/components/DatePicker/DatePicker.tsx
Due: prettier --write, eslint

add buttons for cancel and ok
  src/components/Button/Button.stories.mdx
  src/components/DatePicker/DatePicker.tsx
  src/components/DatePicker/OverlayComponent/OverlayComponent.tsx
Due: prettier --write, eslint

small explanation on omitted properties
  src/components/DatePicker/OverlayComponent/OverlayComponent.tsx
Due: prettier --write, eslint

Changes to palette. New base colors. Special grays.
  src/theme/palette.ts
  src/theme/utils.ts
Due: prettier --write, eslint

[feature/snapshot-testing]: ignores storyshots and tests on build
  .babelrc.json
Due: prettier --write

[feature/snapshot-testing]: adds jest styled components support and resolves issue with dynamic generated attribute values
  globals.d.ts
  package.json
  src/storybook.test.ts
  src/utils/storyshots.ts
  yarn.lock
Due: prettier --write, eslint

[feature/snapshot-testing]: updates snapshots
  src/components/CheckBox/__snapshots__/CheckBox.stories.storyshot
  src/components/Select/__snapshots__/Select.stories.storyshot
  src/components/Table/__snapshots__/Table.stories.storyshot
Due: none

Resolve last comments
  src/components/ExpandCollapse/ExpandCollapse.stories.mdx
  src/components/ExpandCollapse/ExpandCollapse.tsx
  src/globals.d.ts
Due: prettier --write, eslint

open datepicker always on from date
  src/components/DatePicker/DatePicker.tsx
Due: prettier --write, eslint

Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: none

Remove heavy postinstall script
  package.json
Due: prettier --write

Reorganise dependencies
  package.json
Due: prettier --write

Rebuild lock file
  yarn.lock
Due: none

Strict versioning of TS
  package.json
  yarn.lock
Due: prettier --write

Replace old colors in css with new
  src/components/Breadcrumb/Breadcrumb.style.ts
  src/components/Breadcrumb/BreadcrumbCollapsed/BreadcrumbCollapsed.style.ts
  src/components/Breadcrumb/BreadcrumbItem/BreadcrumbItem.style.ts
  src/components/Breadcrumb/Separator/Separator.style.ts
  src/components/Button/Button.style.ts
  src/components/CheckBox/CheckBox.style.ts
  src/components/IconButton/IconButton.style.ts
  src/components/Label/Label.style.ts
  src/components/Menu/Menu.style.ts
  src/components/Select/Select.tsx
  src/components/Table/Table.tsx
  src/components/Table/components/RenderRowOrNestedRow/RenderRowOrNestedRow.tsx
  src/components/Table/components/TableCell/TableCell.tsx
  src/components/Table/components/TableRow/TableRow.tsx
  src/components/TextField/TextField.style.ts
  src/theme/palette.ts
  src/utils/themeFunctions.ts
Due: prettier --write, eslint

Resolve TS issues
  src/components/Button/Button.style.ts
  src/components/IconButton/IconButton.style.ts
  src/components/Menu/Menu.style.ts
Due: prettier --write, eslint

Changed props in project where needed
  src/components/Breadcrumb/BreadcrumbCollapsed/BreadcrumbCollapsed.tsx
  src/components/Breadcrumb/Separator/Separator.tsx
  src/components/IconButton/IconButton.tsx
  src/theme/palette.ts
  src/utils/themeFunctions.ts
Due: prettier --write, eslint

Add npm ignore file
  .npmignore
Due: none

Add prepublish script
  package.json
Due: prettier --write

Change prepublish to prepare
  package.json
Due: prettier --write

0.5.4
  package.json
Due: prettier --write

Change import path to reflect the released package
  README.md
  src/components/DatePicker/DatePicker.stories.mdx
Due: prettier --write

Remove eslint-plugin-react
  .eslintrc.json
  package.json
  yarn.lock
Due: prettier --write

Add eslint-plugin-emotion
  package.json
  yarn.lock
Due: prettier --write

Update .eslintrc.json
  .eslintrc.json
Due: prettier --write

Upgrade typescript-eslint packages to latest
  package.json
  yarn.lock
Due: prettier --write

Use one globals.d.ts file
  globals.d.ts
  src/globals.d.ts
  tsconfig.json
Due: prettier --write, eslint

Some ts warning fixes
  src/components/Button/Button.style.ts
  src/components/IconButton/IconButton.style.ts
  src/components/Menu/Menu.style.ts
  src/hooks/useThemeSwitch.tsx
Due: prettier --write, eslint

Fix more TS warnings
  .eslintrc.json
  src/components/DatePicker/OverlayComponent/OverlayComponent.tsx
  src/components/Table/Table.tsx
  src/components/Table/TableRowContext.ts
  src/components/Table/components/RenderRowOrNestedRow/RenderRowOrNestedRow.tsx
  src/components/utils/ClickAwayListener/ClickAwayListener.tsx
  src/globals.d.ts
Due: prettier --write, eslint

Reorganize types
  src/components/Button/Button.tsx
  src/components/ExpandCollapse/ExpandCollapse.tsx
  src/components/IconButton/IconButton.tsx
  src/components/Radio/Radio.tsx
  src/components/ThemeProvider/ThemeProvider.tsx
  src/globals.d.ts
  src/utils/helpers.ts
  src/utils/types.ts
Due: prettier --write, eslint

0.5.5
  package.json
Due: prettier --write

Reorganise globals.d.ts and tsconfig.json
  globals.d.ts
  tsconfig.json
Due: prettier --write, eslint

0.5.6
  package.json
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,scss,md}
  eslint: any of: *.{ts,tsx,js,jsx}
