Repository Orfium/orfium-ictinus: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

chore: remove debug
  src/storybook.test.tsx
Due: prettier --write, eslint

feat: change on imports with type
  src/components/TopAppBar/TopAppBar.style.ts
  src/components/TopAppBar/TopAppBar.tsx
  src/components/TopAppBar/TopAppBar.types.ts
  src/components/TopAppBar/__snapshots__/TopAppBar.test.tsx.snap
  src/components/TopAppBar/components/Logo/Logo.style.ts
  src/components/TopAppBar/components/Logo/Logo.wrapper.tsx
  src/components/TopAppBar/components/Search/Search.style.ts
  src/components/TopAppBar/components/Search/Search.tsx
  src/components/TopAppBar/components/SidebarMenuIcon/SidebarMenuIcon.style.ts
  src/components/TopAppBar/components/SidebarMenuIcon/SidebarMenuIcon.tsx
  src/components/TopAppBar/components/UserMenu/UserMenu.style.ts
  src/components/TopAppBar/components/UserMenu/UserMenu.tsx
  src/components/utils/DropdownOptions/index.tsx
  src/components/utils/PositionInScreen/PositionInScreen.style.tsx
  src/components/utils/PositionInScreen/PositionInScreen.tsx
  src/components/utils/PositionInScreen/utils.ts
  src/components/utils/handleSearch.ts
Due: prettier --write, eslint

feat: change on imports with type
  src/components/storyUtils/BarChartShowCase/BarChartShowCase.tsx
  src/components/storyUtils/BreadcrumbShowcase/BreadcrumbShowcase.tsx
  src/components/storyUtils/ButtonShowcases/ButtonShowcase.tsx
  src/components/storyUtils/CardShowcase/CardShowcase.style.tsx
  src/components/storyUtils/CardShowcase/CardShowcase.tsx
  src/components/storyUtils/ChipShowcase/ChipShowcase.tsx
  src/components/storyUtils/ColorUtility/ColorBox.tsx
  src/components/storyUtils/ColorUtility/ColorUtility.tsx
  src/components/storyUtils/ColorUtility/RangeInput.tsx
  src/components/storyUtils/ColorUtility/useColors.ts
  src/components/storyUtils/DrawerShowcase/MenuItems.ts
  src/components/storyUtils/EdgeCasesSelectShowcase/EdgeCasesSelectShowcase.style.ts
  src/components/storyUtils/EdgeCasesSelectShowcase/EdgeCasesSelectShowcase.tsx
  src/components/storyUtils/FilterShowcase/AsyncFilterShowcase.tsx
  src/components/storyUtils/FilterShowcase/FilterShowcase.tsx
  src/components/storyUtils/FilterShowcase/MultiFilterShowcase.tsx
  src/components/storyUtils/MenuShowcase/MenuShowcase.tsx
  src/components/storyUtils/ModalShowcase/ModalShowcase.tsx
  src/components/storyUtils/NotificationShowcase/NotificationShowcase.tsx
  src/components/storyUtils/OverlayShowcase/OverlayShowcase.tsx
  src/components/storyUtils/PaletteShowcase/PaletteShowcase.style.tsx
  src/components/storyUtils/PaletteShowcase/PaletteShowcase.tsx
  src/components/storyUtils/PaletteShowcase/__snapshots__/PaletteShowcase.test.tsx.snap
  src/components/storyUtils/PresentComponent/PresentComponent.tsx
  src/components/storyUtils/RadioButtonsShowcase/RadioButtonsShowcase.tsx
  src/components/storyUtils/SelectShowcase/MultiSelectShowcase.style.ts
  src/components/storyUtils/SelectShowcase/MultiSelectShowcase.tsx
  src/components/storyUtils/SelectShowcase/SelectShowcase.tsx
  src/components/storyUtils/TableFilterShowcase/TableFilterShowcase.tsx
  src/components/storyUtils/TextFieldShowcases/MultiTextFieldShowcase.tsx
  src/components/storyUtils/TextFieldShowcases/TextFieldShowCase.tsx
  src/components/storyUtils/TooltipShowcase/TooltipShowcase.tsx
  src/components/storyUtils/TooltipShowcase/components/TooltipContent/TooltipContent.style.ts
  src/components/storyUtils/TooltipShowcase/components/TooltipContent/TooltipContent.tsx
  src/components/storyUtils/TopAppBarShowcase.tsx
Due: prettier --write, eslint

feat: storyshots mechanism
  src/storybook.test.ts
  src/storybook.test.tsx
Due: prettier --write, eslint

feat: mdx to csf
  src/components/Tag/Tag.mdx
  src/components/Tag/Tag.stories.mdx
  src/components/Tag/Tag.stories.tsx
  src/components/TextArea/TextArea.mdx
  src/components/TextArea/TextArea.stories.tsx
  src/components/TextField/TextField.mdx
  src/components/TextField/TextField.stories.mdx
  src/components/TextField/TextField.stories.tsx
  src/components/ThemeProvider/ThemeProvider.mdx
  src/components/ThemeProvider/ThemeProvider.stories.tsx
  src/components/Toast/Toast.mdx
  src/components/Toast/Toast.stories.tsx
  src/components/Tooltip/Tooltip.mdx
  src/components/Tooltip/Tooltip.stories.mdx
  src/components/Tooltip/Tooltip.stories.tsx
  src/components/TopAppBar/TopAppBar.mdx
  src/components/TopAppBar/TopAppBar.stories.mdx
  src/components/TopAppBar/TopAppBar.stories.tsx
  src/components/TruncatedContent/TruncatedContent.mdx
  src/components/TruncatedContent/TruncatedContent.stories.mdx
  src/components/TruncatedContent/TruncatedContent.stories.tsx
  src/components/Typography/Typography.mdx
  src/components/Typography/Typography.stories.tsx
  src/hooks/useSearchQueryParams.mdx
  src/hooks/useSearchQueryParams.stories.mdx
  src/hooks/useSearchQueryParams.stories.tsx
Due: prettier --write, eslint

feat: change storybook style components
  src/storybook/Link/Link.style.ts
  src/storybook/Link/Link.tsx
  src/storybook/Link/index.ts
  src/storybook/Overview/Overview.style.ts
  src/storybook/Preview/Preview.style.ts
  src/storybook/Preview/Preview.tsx
  src/storybook/SectionHeader/SectionHeader.style.ts
  src/storybook/SectionHeader/SectionHeader.tsx
  src/storybook/Showcases/BoxShadowShowcase/BoxShadowShowcase.tsx
  src/storybook/Showcases/OverviewShowcase/OverviewShowcase.style.ts
  src/storybook/Showcases/OverviewShowcase/OverviewShowcase.tsx
  src/storybook/Showcases/RadiusShowcase/RadiusShowcase.tsx
  src/storybook/Showcases/SizingShowcase/SizingShowcase.tsx
  src/storybook/Showcases/TagShowcase/TagShowcase.tsx
  src/storybook/Showcases/TextColorShowcase/TextColorShowcase.style.ts
  src/storybook/Showcases/TextColorShowcase/TextColorShowcase.tsx
  src/storybook/Showcases/TokenBackgroundColorsShowcase/TokenBackgroundColorsShowcase.style.ts
  src/storybook/Showcases/TokenBackgroundColorsShowcase/TokenBackgroundColorsShowcase.tsx
  src/storybook/Showcases/TokenColorsShowcase/TokenColorsShowcase.style.ts
  src/storybook/Showcases/TokenColorsShowcase/TokenColorsShowcase.tsx
  src/storybook/Showcases/TypographyTokensShowcase/TypographyTokensShowcase.style.ts
  src/storybook/Showcases/TypographyTokensShowcase/TypographyTokensShowcase.tsx
  src/storybook/SubsectionHeader/SubsectionHeader.style.ts
  src/storybook/SubsectionHeader/SubsectionHeader.tsx
  src/storybook/Tip/Tip.style.ts
  src/storybook/Tip/Tip.tsx
  src/storybook/Typography/Typography.style.ts
  src/storybook/Typography/Typography.tsx
  src/storybook/UsageGuidelines/UsageGuidelines.style.ts
  src/storybook/UsageGuidelines/UsageGuidelines.tsx
  src/storybook/styles/OverviewCard.style.ts
Due: prettier --write, eslint

feat: change on imports with type
  src/theme/emotion.d.ts
  src/theme/globals/colors.ts
  src/theme/index.ts
  src/theme/palette.config.ts
  src/theme/palette.ts
  src/theme/states/focus.ts
  src/theme/states/hover.ts
  src/theme/states/pressed.ts
  src/theme/states/statesConfig.ts
  src/theme/states/utils.ts
  src/theme/tokens/semantic/colors.ts
  src/theme/tokens/semantic/disabledState.ts
  src/theme/tokens/semantic/icon.ts
  src/theme/tokens/semantic/palette.ts
  src/theme/tokens/semantic/state.ts
  src/theme/tokens/semantic/typography.ts
  src/theme/tokens/utils/components.ts
  src/theme/tokens/utils/parsers.ts
  src/theme/tokens/utils/semantic.ts
  src/theme/types.ts
  src/theme/utils.ts
  src/utils/common.ts
  src/utils/date.ts
  src/utils/helpers.ts
  src/utils/stories.ts
  src/utils/themeFunctions.ts
Due: prettier --write, eslint

chore: return FCC to ListItem, ListSection
  src/components/List/ListItem.tsx
  src/components/List/ListSection.tsx
Due: prettier --write, eslint

chore(Card): use FCC
  src/components/Card/Card.tsx
Due: prettier --write, eslint

chore: return FCC to Modal
  src/components/Modal/Modal.tsx
Due: prettier --write, eslint

feat: change on imports with type
  src/components/Switch/Switch.mdx
  src/components/Switch/Switch.stories.tsx
  src/components/Switch/Switch.tsx
  src/components/Tag/Tag.style.ts
  src/components/Tag/Tag.tokens.ts
  src/components/Tag/Tag.tsx
  src/components/Tag/Tag.types.ts
  src/components/Tag/hooks/useGetTagUtils.tsx
  src/components/TextArea/TextArea.style.ts
  src/components/TextArea/TextArea.tsx
  src/components/TextField/TextField.style.ts
  src/components/TextField/TextField.tsx
  src/components/TextField/components/commons.tsx
  src/components/TextInputBase/TextInputBase.style.ts
  src/components/TextInputBase/TextInputBase.tokens.ts
  src/components/TextInputBase/TextInputBase.tsx
  src/components/ThemeProvider/Test.tsx
  src/components/ThemeProvider/ThemeProvider.style.ts
  src/components/ThemeProvider/ThemeProvider.tsx
  src/components/Toast/Toast.style.ts
  src/components/Toast/Toast.tsx
  src/components/Tooltip/Tooltip.style.ts
  src/components/Tooltip/Tooltip.tokens.ts
  src/components/Tooltip/Tooltip.tsx
  src/components/Typography/Typography.config.styles.ts
  src/components/Typography/Typography.style.ts
  src/components/Typography/Typography.tsx
  src/components/Typography/utils.ts
Due: prettier --write, eslint

feat: remove unused mocks and scripts, new patches and change on main.ynml
  .github/workflows/main.yml
  Procfile
  __mocks__/fileMock.tsx
  __mocks__/styleMock.js
  patches/@storybook+addon-knobs+7.0.2.patch
  scripts/copy-assets.js
Due: prettier --write, eslint

chore: return FCC to themeprovider and toast
  src/components/ThemeProvider/ThemeProvider.tsx
  src/components/Toast/Toast.tsx
Due: prettier --write, eslint

feat: change on imports with type and csf to mdx for table
  src/components/Table/Table.mdx
  src/components/Table/Table.stories.mdx
  src/components/Table/Table.stories.tsx
  src/components/Table/Table.style.ts
  src/components/Table/Table.tsx
  src/components/Table/TableRowContext.ts
  src/components/Table/components/ExtendedColumnItem/ExtendedColumnItem.style.tsx
  src/components/Table/components/ExtendedColumnItem/ExtendedColumnItem.tsx
  src/components/Table/components/RenderRowOrNestedRow/RenderRowOrNestedRow.style.ts
  src/components/Table/components/RenderRowOrNestedRow/RenderRowOrNestedRow.tsx
  src/components/Table/components/RenderRowOrNestedRow/components/ContentCell/ContentCell.style.ts
  src/components/Table/components/RenderRowOrNestedRow/components/ContentCell/ContentCell.tsx
  src/components/Table/components/RenderRowOrNestedRow/components/ExpandedButtonCell/ExpandedButtonCell.tsx
  src/components/Table/components/TableCell/TableCell.style.tsx
  src/components/Table/components/TableCell/utils.tsx
  src/components/Table/components/TableRowWrapper/TableRowWrapper.tsx
  src/components/Table/types.ts
  src/components/Table/utils/utils.ts
Due: prettier --write, eslint

chore: numberfield documentation title normalize
  src/components/NumberField/NumberField.mdx
Due: none

chore: IconButton stories naming from latest
  src/components/IconButton/IconButton.mdx
  src/components/IconButton/IconButton.stories.tsx
Due: prettier --write, eslint

feat: change on imports with type
  src/components/Card/Card.tsx
Due: prettier --write, eslint

docs(ThemeProvider): update title for story Setting up a button example
  src/components/ThemeProvider/ThemeProvider.mdx
Due: none

fix(MultiselectTextField): deleted as unused
  src/components/Select/components/MultiselectTextField/MultiselectTextField.style.ts
  src/components/Select/components/MultiselectTextField/MultiselectTextField.tsx
  src/components/Select/components/MultiselectTextField/index.ts
Due: prettier --write, eslint

chore: update snapshots
  src/__storyshots__/Updated Components/Buttons/IconButton-IconButtonTypesAndSizes.snap
  src/__storyshots__/Updated Components/Buttons/IconButton-Playground.snap
Due: none

chore: update Checbox stories to latest
  src/components/CheckBox/CheckBox.stories.tsx
Due: prettier --write, eslint

chore(ExpandCollapse): fix type and make it work again
  src/components/ExpandCollapse/ExpandCollapse.stories.tsx
  src/components/ExpandCollapse/ExpandCollapse.types.ts
Due: prettier --write, eslint

chore(Filter): no default value for story
  src/components/Filter/Filter.stories.tsx
Due: prettier --write, eslint

chore(NumberField): better label for story
  src/components/NumberField/NumberField.stories.tsx
Due: prettier --write, eslint

chore(StoryShots): updatestoryshots for fields
  src/__storyshots__/Original Components/Controls/CheckBox-CheckBoxStory.snap
  src/__storyshots__/Original Components/Filter-Playground.snap
  src/__storyshots__/Updated Components/Fields/NumberField-NumberFieldWithMinAndMaxValues.snap
Due: none

fix: build storybook and prepublishonly script
  .github/workflows/main.yml
  package.json
Due: prettier --write

fix: remove review env NODE_ENV
  environments/review.env
Due: none

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,scss,md}
  eslint: any of: *.{ts,tsx,js,jsx}
