Repository Orfium/orfium-ictinus: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

chore: fix sonar
  packages/ictinus/src/skeleton/Skeleton.tsx
Due: prettier --write, eslint

chore: bump chromatic
  .github/workflows/chromatic.yml
Due: none

feat: update storybook and resolve race conditions
  apps/playground/package.json
  apps/playground/tsconfig.app.json
  apps/playground/vite.config.ts
  apps/storybook/.storybook/main.ts
  apps/storybook/package.json
  apps/storybook/src/__storyshots__/Updated Components/Search-DisabledSearch.snap
  apps/storybook/src/__storyshots__/Updated Components/Search-FilteredSearch.snap
  apps/storybook/src/__storyshots__/Updated Components/Search-Playground.snap
  apps/storybook/src/__storyshots__/Updated Components/Search-SimpleSearch.snap
  apps/storybook/src/__storyshots__/Vanilla/DataTable-Default.snap
  apps/storybook/src/__storyshots__/Vanilla/DataTable-Loading.snap
  apps/storybook/src/__storyshots__/Vanilla/DataTable-Simple.snap
  apps/storybook/src/storybook.test.tsx
  package.json
  packages/ictinus/package.json
  packages/ictinus/src/components/Controls/Radio/__snapshots__/Radio.test.tsx.snap
  pnpm-lock.yaml
Due: prettier --write, eslint

chore: revert multiple react versions
  apps/playground/vite.config.ts
  apps/storybook/package.json
  apps/storybook/src/__storyshots__/Updated Components/Search-DisabledSearch.snap
  apps/storybook/src/__storyshots__/Updated Components/Search-FilteredSearch.snap
  apps/storybook/src/__storyshots__/Updated Components/Search-Playground.snap
  apps/storybook/src/__storyshots__/Updated Components/Search-SimpleSearch.snap
  apps/storybook/src/__storyshots__/Vanilla/DataTable-Default.snap
  apps/storybook/src/__storyshots__/Vanilla/DataTable-Loading.snap
  apps/storybook/src/__storyshots__/Vanilla/DataTable-Simple.snap
  packages/ictinus/src/components/Controls/Radio/__snapshots__/Radio.test.tsx.snap
  pnpm-lock.yaml
Due: prettier --write, eslint

fix: data table right pin
  .changeset/odd-sheep-listen.md
  apps/storybook/src/__storyshots__/Vanilla/DataTable-Default.snap
  apps/storybook/src/__storyshots__/Vanilla/DataTable-Loading.snap
  apps/storybook/src/__storyshots__/Vanilla/DataTable-Simple.snap
  apps/storybook/src/data-table/columns.tsx
  packages/ictinus/src/data-table/DataTableBody.tsx
  packages/ictinus/src/data-table/DataTableRow.tsx
Due: prettier --write, eslint

fix: data table right pin (#962)
  .changeset/odd-sheep-listen.md
  apps/storybook/src/__storyshots__/Vanilla/DataTable-Default.snap
  apps/storybook/src/__storyshots__/Vanilla/DataTable-Loading.snap
  apps/storybook/src/__storyshots__/Vanilla/DataTable-Simple.snap
  apps/storybook/src/data-table/columns.tsx
  packages/ictinus/src/data-table/DataTableBody.tsx
  packages/ictinus/src/data-table/DataTableRow.tsx
Due: prettier --write, eslint

fix: global styles
  .changeset/curvy-readers-teach.md
  apps/playground/src/App.tsx
  apps/storybook/package.json
  apps/storybook/src/__storyshots__/Vanilla/Box-Default.snap
  apps/storybook/src/__storyshots__/Vanilla/DataTable-Default.snap
  apps/storybook/src/__storyshots__/Vanilla/DataTable-Loading.snap
  apps/storybook/src/__storyshots__/Vanilla/DataTable-Simple.snap
  apps/storybook/src/__storyshots__/Vanilla/Icon-Color.snap
  apps/storybook/src/__storyshots__/Vanilla/Icon-Iconography.snap
  apps/storybook/src/__storyshots__/Vanilla/Table-Default.snap
  apps/storybook/src/__storyshots__/Vanilla/Table-Simple.snap
  apps/storybook/src/__storyshots__/Vanilla/Text-Default.snap
  apps/storybook/src/__storyshots__/Vanilla/ThemeProvider-Default.snap
  apps/storybook/src/__storyshots__/Vanilla/Tooltip-Controlled.snap
  packages/ictinus/package.json
  packages/ictinus/src/components/Card/Card.tsx
  packages/ictinus/src/components/List/components/ListItemText/ListItemText.style.ts
  packages/ictinus/src/components/Modal/Modal.tsx
  packages/ictinus/src/components/ProgressIndicator/components/ProgressCircle/ProgressCircle.tsx
  packages/ictinus/src/components/Table/components/TD/TD.tsx
  packages/ictinus/src/components/TopAppBar/TopAppBar.tsx
  packages/ictinus/src/sprinkles/createSprinklesMerge.ts
  packages/ictinus/src/sprinkles/global.css.ts
  packages/ictinus/src/sprinkles/properties.css.ts
  packages/ictinus/src/sprinkles/sprinklesMerge.ts
  packages/ictinus/src/theme/emotion.d.ts
  packages/ictinus/src/vanilla/ThemeProvider/ThemeProvider.tsx
  packages/tokens/src/tokens/fontFamily.ts
  packages/tokens/src/tokens/fontWeight.ts
Due: prettier --write, eslint

fix: global styles (#966)
  .changeset/curvy-readers-teach.md
  apps/playground/src/App.tsx
  apps/storybook/package.json
  apps/storybook/src/__storyshots__/Vanilla/Box-Default.snap
  apps/storybook/src/__storyshots__/Vanilla/DataTable-Default.snap
  apps/storybook/src/__storyshots__/Vanilla/DataTable-Loading.snap
  apps/storybook/src/__storyshots__/Vanilla/DataTable-Simple.snap
  apps/storybook/src/__storyshots__/Vanilla/Icon-Color.snap
  apps/storybook/src/__storyshots__/Vanilla/Icon-Iconography.snap
  apps/storybook/src/__storyshots__/Vanilla/Table-Default.snap
  apps/storybook/src/__storyshots__/Vanilla/Table-Simple.snap
  apps/storybook/src/__storyshots__/Vanilla/Text-Default.snap
  apps/storybook/src/__storyshots__/Vanilla/ThemeProvider-Default.snap
  apps/storybook/src/__storyshots__/Vanilla/Tooltip-Controlled.snap
  packages/ictinus/package.json
  packages/ictinus/src/components/Card/Card.tsx
  packages/ictinus/src/components/List/components/ListItemText/ListItemText.style.ts
  packages/ictinus/src/components/Modal/Modal.tsx
  packages/ictinus/src/components/ProgressIndicator/components/ProgressCircle/ProgressCircle.tsx
  packages/ictinus/src/components/Table/components/TD/TD.tsx
  packages/ictinus/src/components/TopAppBar/TopAppBar.tsx
  packages/ictinus/src/sprinkles/createSprinklesMerge.ts
  packages/ictinus/src/sprinkles/global.css.ts
  packages/ictinus/src/sprinkles/properties.css.ts
  packages/ictinus/src/sprinkles/sprinklesMerge.ts
  packages/ictinus/src/theme/emotion.d.ts
  packages/ictinus/src/vanilla/ThemeProvider/ThemeProvider.tsx
  packages/tokens/src/tokens/fontFamily.ts
  packages/tokens/src/tokens/fontWeight.ts
Due: prettier --write, eslint

chore: add stats json
  apps/storybook/package.json
Due: prettier --write

chore: add stats json (#968)
  apps/storybook/package.json
Due: prettier --write

chore: update properties
  apps/storybook/.storybook/preview-head.html
  apps/storybook/src/__storyshots__/Vanilla/Box-Default.snap
  apps/storybook/src/__storyshots__/Vanilla/DataTable-Default.snap
  apps/storybook/src/__storyshots__/Vanilla/DataTable-Loading.snap
  apps/storybook/src/__storyshots__/Vanilla/DataTable-Simple.snap
  apps/storybook/src/__storyshots__/Vanilla/Icon-Color.snap
  apps/storybook/src/__storyshots__/Vanilla/Icon-Iconography.snap
  apps/storybook/src/__storyshots__/Vanilla/Table-Default.snap
  apps/storybook/src/__storyshots__/Vanilla/Table-Simple.snap
  apps/storybook/src/__storyshots__/Vanilla/Text-Default.snap
  apps/storybook/src/__storyshots__/Vanilla/ThemeProvider-Default.snap
  apps/storybook/src/__storyshots__/Vanilla/Tooltip-Auto.snap
  apps/storybook/src/__storyshots__/Vanilla/Tooltip-Controlled.snap
  packages/ictinus/src/sprinkles/properties.css.ts
  packages/ictinus/src/vanilla/Text/Text.tsx
Due: prettier --write, eslint

feat: vanilla button
  packages/ictinus/src/button/Button.css.ts
  packages/ictinus/src/button/Button.tsx
  packages/ictinus/src/button/index.ts
  packages/ictinus/src/vanilla/index.ts
Due: prettier --write, eslint

feat: add danger variant
  packages/ictinus/src/button/Button.css.ts
Due: prettier --write, eslint

feat(vanilla-button): button implementation (#970)
  packages/ictinus/src/button/Button.css.ts
  packages/ictinus/src/button/Button.tsx
  packages/ictinus/src/button/index.ts
  packages/ictinus/src/vanilla/index.ts
Due: prettier --write, eslint

feat: add stories
  apps/storybook/src/__storyshots__/Vanilla/Button-Default.snap
  apps/storybook/src/button/Button.stories.tsx
Due: prettier --write, eslint

chore: update snaps
  apps/storybook/src/__storyshots__/Vanilla/Button-Default.snap
  apps/storybook/src/__storyshots__/Vanilla/DataTable-Default.snap
  apps/storybook/src/__storyshots__/Vanilla/DataTable-Loading.snap
  apps/storybook/src/__storyshots__/Vanilla/DataTable-Simple.snap
Due: none

chore: update stories
  apps/playground/src/App.tsx
  apps/storybook/src/__storyshots__/Vanilla/Button-Disabled.snap
  apps/storybook/src/__storyshots__/Vanilla/Button-IconButton.snap
  apps/storybook/src/__storyshots__/Vanilla/Button-Pending.snap
  apps/storybook/src/__storyshots__/Vanilla/Button-Sizes.snap
  apps/storybook/src/__storyshots__/Vanilla/Button-Variants.snap
  apps/storybook/src/__storyshots__/Vanilla/Button-WithIcon.snap
  apps/storybook/src/__storyshots__/Vanilla/Button-WithTooltip.snap
  apps/storybook/src/__storyshots__/Vanilla/DataTable-Default.snap
  apps/storybook/src/__storyshots__/Vanilla/DataTable-Loading.snap
  apps/storybook/src/__storyshots__/Vanilla/DataTable-Simple.snap
  apps/storybook/src/button/Button.stories.tsx
Due: prettier --write, eslint

feat(vanilla-button): stories (#972)
  apps/playground/src/App.tsx
  apps/storybook/src/__storyshots__/Vanilla/Button-Default.snap
  apps/storybook/src/__storyshots__/Vanilla/Button-Disabled.snap
  apps/storybook/src/__storyshots__/Vanilla/Button-IconButton.snap
  apps/storybook/src/__storyshots__/Vanilla/Button-Pending.snap
  apps/storybook/src/__storyshots__/Vanilla/Button-Sizes.snap
  apps/storybook/src/__storyshots__/Vanilla/Button-Variants.snap
  apps/storybook/src/__storyshots__/Vanilla/Button-WithIcon.snap
  apps/storybook/src/__storyshots__/Vanilla/Button-WithTooltip.snap
  apps/storybook/src/__storyshots__/Vanilla/DataTable-Default.snap
  apps/storybook/src/__storyshots__/Vanilla/DataTable-Loading.snap
  apps/storybook/src/__storyshots__/Vanilla/DataTable-Simple.snap
  apps/storybook/src/button/Button.stories.tsx
Due: prettier --write, eslint

chore: add changeset
  .changeset/tender-clouds-argue.md
Due: prettier --write

feat: update data table with vanilla button
  apps/storybook/src/__storyshots__/Vanilla/DataTable-Default.snap
  apps/storybook/src/__storyshots__/Vanilla/DataTable-Loading.snap
  apps/storybook/src/__storyshots__/Vanilla/DataTable-Simple.snap
  apps/storybook/src/data-table/columns.tsx
  packages/ictinus/src/data-table/DataTableEditColumns.tsx
  packages/ictinus/src/data-table/DataTableHeaderCell.tsx
  packages/ictinus/src/sprinkles/properties.css.ts
Due: prettier --write, eslint

chore: add tests
  apps/storybook/src/__storyshots__/Vanilla/Button-Disabled.snap
  apps/storybook/src/__storyshots__/Vanilla/Button-IconButton.snap
  apps/storybook/src/__storyshots__/Vanilla/Button-Pending.snap
  apps/storybook/src/__storyshots__/Vanilla/Button-Sizes.snap
  apps/storybook/src/__storyshots__/Vanilla/Button-Variants.snap
  apps/storybook/src/__storyshots__/Vanilla/Button-WithIcon.snap
  apps/storybook/src/__storyshots__/Vanilla/Button-WithTooltip.snap
  apps/storybook/src/__storyshots__/Vanilla/DataTable-Default.snap
  apps/storybook/src/__storyshots__/Vanilla/DataTable-Loading.snap
  apps/storybook/src/__storyshots__/Vanilla/DataTable-Simple.snap
  packages/ictinus/src/button/Button.css.ts
  packages/ictinus/src/button/Button.test.tsx
  packages/ictinus/src/button/Button.tsx
  packages/ictinus/src/data-table/DataTableHeaderCell.tsx
Due: prettier --write, eslint

fix: icon shrink
  apps/storybook/src/__storyshots__/Vanilla/DataTable-Default.snap
  packages/ictinus/src/data-table/DataTableHeaderCell.tsx
Due: prettier --write, eslint

feat: update data table with vanilla button (#973)
  apps/storybook/src/__storyshots__/Vanilla/Button-Disabled.snap
  apps/storybook/src/__storyshots__/Vanilla/Button-IconButton.snap
  apps/storybook/src/__storyshots__/Vanilla/Button-Pending.snap
  apps/storybook/src/__storyshots__/Vanilla/Button-Sizes.snap
  apps/storybook/src/__storyshots__/Vanilla/Button-Variants.snap
  apps/storybook/src/__storyshots__/Vanilla/Button-WithIcon.snap
  apps/storybook/src/__storyshots__/Vanilla/Button-WithTooltip.snap
  apps/storybook/src/__storyshots__/Vanilla/DataTable-Default.snap
  apps/storybook/src/__storyshots__/Vanilla/DataTable-Loading.snap
  apps/storybook/src/__storyshots__/Vanilla/DataTable-Simple.snap
  apps/storybook/src/data-table/columns.tsx
  packages/ictinus/src/button/Button.css.ts
  packages/ictinus/src/button/Button.test.tsx
  packages/ictinus/src/button/Button.tsx
  packages/ictinus/src/data-table/DataTableEditColumns.tsx
  packages/ictinus/src/data-table/DataTableHeaderCell.tsx
  packages/ictinus/src/sprinkles/properties.css.ts
Due: prettier --write, eslint

chore: update codeowners
  .github/CODEOWNERS
Due: none

chore: update codeowners (#975)
  .github/CODEOWNERS
Due: none

fix: correct positioning styles inside switch
  apps/storybook/src/__storyshots__/Updated Components/Controls/Switch-DisabledSwitch.snap
  apps/storybook/src/__storyshots__/Updated Components/Controls/Switch-Playground.snap
  apps/storybook/src/__storyshots__/Updated Components/Controls/Switch-SimpleSwitch.snap
  apps/storybook/src/__storyshots__/Updated Components/Controls/Switch-SwitchLabelPlacement.snap
  apps/storybook/src/__storyshots__/Updated Components/Controls/Switch-SwitchLabelSizes.snap
  apps/storybook/src/__storyshots__/Updated Components/Controls/Switch-SwitchWithHelptext.snap
  apps/storybook/src/__storyshots__/Updated Components/List/ListItem-DisabledListItem.snap
  apps/storybook/src/__storyshots__/Updated Components/List/ListItem-ListItemCompilations.snap
  apps/storybook/src/__storyshots__/Vanilla/Tooltip-Auto.snap
  apps/storybook/src/vanilla/Menu/Menu.stories.tsx
  packages/ictinus/src/components/Controls/Switch/Switch.style.ts
  packages/ictinus/src/components/Controls/Switch/Switch.tsx
  packages/ictinus/src/components/Controls/Switch/__snapshots__/Switch.test.tsx.snap
  packages/ictinus/src/data-table/DataTableEditColumns.tsx
  packages/ictinus/src/vanilla/Menu/Menu.css.ts
Due: prettier --write, eslint

fix: popover jump
  apps/storybook/src/vanilla/Menu/Menu.stories.tsx
  packages/ictinus/src/vanilla/Popover/Popover.tsx
Due: prettier --write, eslint

chore: remove flex
  packages/ictinus/src/vanilla/Menu/Menu.css.ts
Due: prettier --write, eslint

chore: changeset
  .changeset/few-birds-do.md
Due: prettier --write

fix: visual only switch (#976)
  .changeset/few-birds-do.md
  apps/storybook/src/__storyshots__/Updated Components/Controls/Switch-DisabledSwitch.snap
  apps/storybook/src/__storyshots__/Updated Components/Controls/Switch-Playground.snap
  apps/storybook/src/__storyshots__/Updated Components/Controls/Switch-SimpleSwitch.snap
  apps/storybook/src/__storyshots__/Updated Components/Controls/Switch-SwitchLabelPlacement.snap
  apps/storybook/src/__storyshots__/Updated Components/Controls/Switch-SwitchLabelSizes.snap
  apps/storybook/src/__storyshots__/Updated Components/Controls/Switch-SwitchWithHelptext.snap
  apps/storybook/src/__storyshots__/Updated Components/List/ListItem-DisabledListItem.snap
  apps/storybook/src/__storyshots__/Updated Components/List/ListItem-ListItemCompilations.snap
  apps/storybook/src/__storyshots__/Vanilla/Tooltip-Auto.snap
  apps/storybook/src/vanilla/Menu/Menu.stories.tsx
  packages/ictinus/src/components/Controls/Switch/Switch.style.ts
  packages/ictinus/src/components/Controls/Switch/Switch.tsx
  packages/ictinus/src/components/Controls/Switch/__snapshots__/Switch.test.tsx.snap
  packages/ictinus/src/data-table/DataTableEditColumns.tsx
  packages/ictinus/src/vanilla/Menu/Menu.css.ts
  packages/ictinus/src/vanilla/Popover/Popover.tsx
Due: prettier --write, eslint

feat: add ictinus mcp
  .cursor/mcp.json
  .cursor/rules/ictinus.mdc
  .gitignore
  packages/mcp-server/docs/Text.txt
  packages/mcp-server/docs/routes.txt
  packages/mcp-server/package.json
  packages/mcp-server/src/server.ts
  packages/mcp-server/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write, eslint

chore: update rules
  .cursor/rules/ictinus.mdc
Due: none

fix: teardown review env
  .github/workflows/teardown.yml
Due: none

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,scss,md}
  eslint: any of: *.{ts,tsx,js,jsx}
