Repository Orfium/orfium-ictinus: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,json,scss,md}": [
    "prettier --write",
    "git add"
  ],
  "*.{ts,tsx,js,jsx}": [
    "eslint"
  ]
}

chore: test deploy
  .github/workflows/main.yml
  src/components/Search/Search.stories.tsx
  src/css/theme.test.ts
Due: prettier --write, eslint

chore: restore
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: prettier --write, eslint

feat: semantic tokens
  src/components/Box/Box.stories.tsx
  src/css/global.css.ts
  src/css/sprinkles.css.ts
  src/css/tokens.ts
  src/css/vars.css.ts
  src/tokens/borderWidth.ts
  src/tokens/color.ts
  src/tokens/fontFamily.ts
  src/tokens/fontSize.ts
  src/tokens/fontWeight.ts
  src/tokens/letterSpacing.ts
  src/tokens/lineHeight.ts
Due: prettier --write, eslint

feat: semantic tokens theme
  .github/workflows/main.yml
  package.json
  src/__storyshots__/Original Components/Slider-RangeSliderDontTest.snap
  src/__storyshots__/Original Components/Slider-RangeSliderWithIncrementsDontTest.snap
  src/__storyshots__/Original Components/Slider-SelectorSliderDontTest.snap
  src/__storyshots__/Original Components/Slider-SelectorSliderWithIncrementsDontTest.snap
  src/__storyshots__/Vanilla/Box-Default.snap
  src/components/Box/Box.stories.tsx
  src/components/ButtonBase/ButtonBase.css.ts
  src/components/ButtonBase/ButtonBase.tsx
  src/css/atoms.ts
  src/css/global.css.ts
  src/css/layerStyle.css.ts
  src/css/sprinkles.css.ts
  src/css/theme.test.ts
  src/css/tokens.ts
  src/css/vars.css.ts
  src/vanilla/Box/Box.stories.tsx
  src/vanilla/Box/Box.tsx
  src/vanilla/Box/index.ts
  src/vanilla/index.ts
  vite.config.ts
Due: prettier --write, eslint

chore: cleanup
  .eslintrc.json
  package.json
  pnpm-lock.yaml
  src/__storyshots__/Vanilla/Box-Default.snap
  src/__storyshots__/Vanilla/ThemeProvider-Default.snap
  src/css/global.css.ts
  src/css/index.ts
  src/css/sprinkles.css.ts
  src/vanilla/Box/Box.stories.tsx
  src/vanilla/Box/Box.tsx
  src/vanilla/Button/Button.css.ts
  src/vanilla/Button/Button.stories.tsx
  src/vanilla/Button/Button.tsx
  src/vanilla/Button/index.ts
  src/vanilla/Text/Text.css.ts
  src/vanilla/Text/Text.stories.tsx
  src/vanilla/Text/Text.tsx
  src/vanilla/Text/index.ts
  src/vanilla/ThemeProvider/ThemeProvider.stories.tsx
  src/vanilla/ThemeProvider/ThemeProvider.tsx
  src/vanilla/ThemeProvider/index.ts
Due: prettier --write, eslint

chore: restore
  src/components/ButtonBase/ButtonBase.tsx
  src/components/Search/Search.stories.tsx
Due: prettier --write, eslint

feat: vanilla extract tokens wip
  package.json
  pnpm-lock.yaml
  src/components/Box/Box.stories.tsx
  src/components/ButtonBase/ButtonBase.css.ts
  src/components/ButtonBase/ButtonBase.tsx
  src/components/ThemeProvider/ThemeProvider.style.ts
  src/css/global.css.ts
  src/css/index.ts
  src/css/layers.css.ts
  src/css/sprinkles.css.ts
  src/css/theme.test.ts
  src/css/vars.css.ts
  src/tokens/borderRadius.ts
  src/tokens/color.ts
  src/tokens/sizing.ts
  src/tokens/spacing.ts
Due: prettier --write, eslint

Notes added by 'git notes add'
  d4/1f2088b6c356295d607f52ca60b1526ad81bbc
Due: none

fix: remove unused chromatic addon
  .storybook/main.ts
Due: prettier --write, eslint

fix: adjust horizontal padding in Box story
  src/components/Box/Box.stories.tsx
Due: prettier --write, eslint

chore: update dependencies of vitest and vite
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: downgrade vitest to version 2.1.5 in package.json
  package.json
Due: prettier --write

fix: update class syntax in Navigation story snapshots
  .huskyrc
  pnpm-lock.yaml
  src/__storyshots__/Original Components/Navigation-NavigationStory.snap
  src/__storyshots__/Original Components/Navigation-NavigationWithCustomComponent.snap
  src/components/Controls/CheckBox/CheckBox.test.tsx
  src/components/Controls/Radio/Radio.test.tsx
  src/components/Controls/Switch/Switch.style.ts
  src/components/Controls/Switch/Switch.test.tsx
Due: prettier --write, eslint

chore: update Node.js version requirement and adjust GitHub workflows
  .github/workflows/deploy-frontend.yml
  .github/workflows/main.yml
  package.json
Due: prettier --write

chore: integrate @storybook/addon-vitest and update testing imports
  .storybook/main.ts
  .storybook/preview.tsx
  .storybook/vitest.setup.ts
  package.json
  pnpm-lock.yaml
  src/components/DatePicker/play-utils.ts
  src/components/DatePicker/utils.ts
  src/components/Drawer/Drawer.stories.tsx
  src/components/Filter/Filter.stories.tsx
  src/components/Menu/Menu.stories.tsx
  src/components/Modal/Modal.stories.tsx
  src/components/Select/Select.stories.tsx
  src/components/Toast/Toast.stories.tsx
  src/components/Tooltip/utils.ts
  vitest.shims.d.ts
Due: prettier --write, eslint

chore: update DatePicker tests to use userEvent for keyboard interactions
  src/components/DatePicker/DatePicker.test.tsx
Due: prettier --write, eslint

chore: remove a11y configuration from Storybook preview
  .storybook/preview.tsx
Due: prettier --write, eslint

feat: separate css vars output
  .eslintignore
  .eslintrc.json
  .releaserc
  package.json
  pnpm-lock.yaml
  postcss.config.mjs
  tsconfig.node.json
  vite.config.d.ts
  vite.vars.config.ts
Due: prettier --write, eslint

feat: separate css vars output (#882)
  .eslintignore
  .eslintrc.json
  .releaserc
  package.json
  pnpm-lock.yaml
  postcss.config.mjs
  tsconfig.node.json
  vite.config.d.ts
  vite.vars.config.ts
Due: prettier --write, eslint

feat: changesets
  .changeset/README.md
  .changeset/config.json
  .changeset/sharp-doors-count.md
  .github/workflows/main.yml
  .github/workflows/release.yml
  package.json
  pnpm-lock.yaml
Due: prettier --write

Notes added by 'git notes add'
  b3/55be641dec86416a4cd4f3bc00e1f37f505770
Due: none

chore: cleanup
  .github/workflows/main.yml
  .releaserc
  __mocks__/@tippyjs/react.tsx
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint

feat: changesets (#883)
  .changeset/README.md
  .changeset/config.json
  .changeset/sharp-doors-count.md
  .github/workflows/main.yml
  .github/workflows/release.yml
  .releaserc
  __mocks__/@tippyjs/react.tsx
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint

chore: add permissions
  .changeset/polite-baths-look.md
  .github/workflows/release.yml
Due: prettier --write

chore: add permissions (#884)
  .changeset/polite-baths-look.md
  .github/workflows/release.yml
Due: prettier --write

chore: add remark-gfm plugin for Markdown support in Storybook
  .storybook/main.ts
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint
