Repository Orfium/orfium-ictinus: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,json,scss,md}": [
    "prettier --write",
    "git add"
  ],
  "*.{ts,tsx,js,jsx}": [
    "eslint"
  ]
}

deploy images on the same path
  package.json
Due: prettier --write

introduce .npmignore file
  .npmignore
Due: none

add install npm hook for building the module when install
  package.json
Due: prettier --write

fix install hook with yarn
  package.json
Due: prettier --write

move all dependecies from dev
  package.json
Due: prettier --write

Add babel module resolver package
  package.json
  yarn.lock
Due: prettier --write

Setup babel module resolver plugin
  .babelrc.json
Due: prettier --write

remove install hook
  package.json
Due: prettier --write

revert install hook
  package.json
Due: prettier --write

Try to fix installation issues
  package.json
Due: prettier --write

Ditto
  .babelrc.json
Due: prettier --write

eeeeeeeeeeeeeeee
  package.json
Due: prettier --write

aaaaaaaaaaaaaaaaaaa
  package.json
  yarn.lock
Due: prettier --write

adding types to package.json as resolver
  package.json
Due: prettier --write

remove prepare npm hook
  package.json
Due: prettier --write

remove linting from build
  package.json
Due: prettier --write

fix table stories
  .cache/325c8f456729b912b0d2134054eb7448-dfeeb2271cc2857eb0a45a5003c8bbee
  src/components/Table/Table.stories.mdx
  src/components/Table/Table.tsx
Due: prettier --write, eslint

fix nested header and top right and left ssections
  .cache/325c8f456729b912b0d2134054eb7448-dfeeb2271cc2857eb0a45a5003c8bbee
  src/components/Table/Table.stories.mdx
  src/components/Table/Table.tsx
Due: prettier --write, eslint

more table stories with more info
  src/components/Table/Table.stories.mdx
Due: none

[Checkbox] Initial working commit
  src/components/CheckBox/CheckBox.stories.mdx
  src/components/CheckBox/CheckBox.style.ts
  src/components/CheckBox/CheckBox.tsx
  src/components/CheckBox/index.ts
  src/components/Icon/assets/check.svg
  src/components/Icon/assets/iconSelector.ts
  src/components/Icon/assets/minus.svg
  src/components/Icon/types.ts
  src/theme/palette.ts
  src/utils/themeFunctions.ts
Due: prettier --write, eslint

[Checkbox] Hover state
  src/components/CheckBox/CheckBox.style.ts
  src/components/CheckBox/CheckBox.tsx
Due: prettier --write, eslint

Initial commit, create Radio files
  src/components/Radio/Radio.stories.mdx
  src/components/Radio/Radio.style.ts
  src/components/Radio/Radio.tsx
  src/components/Radio/index.ts
Due: prettier --write, eslint

small fix for mitch
  src/components/Radio/Radio.stories.mdx
  src/components/Radio/Radio.tsx
Due: prettier --write, eslint

Add esModuleInterop: true to tsconfig.json
  src/components/Radio/Radio.tsx
  tsconfig.json
Due: prettier --write, eslint

Add rimraf for cross OS development
  package.json
  yarn.lock
Due: prettier --write

Some progress with Radio element
  src/components/Radio/Radio.stories.mdx
  src/components/Radio/Radio.style.ts
  src/components/Radio/Radio.tsx
Due: prettier --write, eslint

add props small description
  src/components/Table/Table.tsx
Due: prettier --write, eslint

unify table type under the same type
  src/components/Table/Table.tsx
Due: prettier --write, eslint

fix onCheck function to return the selected items
  src/components/Table/Table.stories.mdx
  src/components/Table/Table.tsx
Due: prettier --write, eslint

add on check on check all checkbox
  src/components/Table/Table.tsx
Due: prettier --write, eslint

Add focus and disabled behaviours
  src/components/Radio/Radio.style.ts
  src/components/Radio/Radio.tsx
Due: prettier --write, eslint

[Checkbox] Resolve PR comments
  src/components/CheckBox/CheckBox.style.ts
  src/components/CheckBox/CheckBox.tsx
Due: prettier --write, eslint

[Checkbox] Add white to palette
  src/theme/palette.ts
  src/utils/themeFunctions.ts
Due: prettier --write, eslint

Fix focus behaviour
  src/components/Radio/Radio.tsx
Due: prettier --write, eslint

introduce context to fix rendering issues and splitting logic on row for table
  .storybook/preview.js
  package.json
  src/components/Table/Table.stories.mdx
  src/components/Table/Table.tsx
  src/components/Table/TableRowContext.ts
  src/components/Table/components/RenderRowOrNestedRow/RenderRowOrNestedRow.tsx
  src/components/Table/components/RenderRowOrNestedRow/index.ts
Due: prettier --write, eslint

remove why you render
  .storybook/preview.js
Due: prettier --write, eslint

remove why you render from components
  src/components/Table/components/RenderRowOrNestedRow/RenderRowOrNestedRow.tsx
Due: prettier --write, eslint

fix tchange
  src/components/Table/Table.tsx
Due: prettier --write, eslint

remove unused comments after context creation
  src/components/Table/Table.tsx
Due: prettier --write, eslint

remove console.log
  src/components/Table/components/RenderRowOrNestedRow/RenderRowOrNestedRow.tsx
Due: prettier --write, eslint
