Repository Orfium/orfium-ictinus: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

feat: display NumberField story
  src/components/NumberField/NumberField.mdx
Due: none

feat: add size prop to NumberField
  src/components/NumberField/NumberField.stories.tsx
  src/components/NumberField/NumberField.tsx
Due: prettier --write, eslint

feat: add compact size to NumberField stepper mode
  src/__storyshots__/Updated Components/Fields/NumberField-DisabledNumberField.snap
  src/__storyshots__/Updated Components/Fields/NumberField-NumberFieldStatuses.snap
  src/__storyshots__/Updated Components/Fields/NumberField-NumberFieldWithFormatOptions.snap
  src/__storyshots__/Updated Components/Fields/NumberField-NumberFieldWithMinAndMaxValues.snap
  src/__storyshots__/Updated Components/Fields/NumberField-NumberFieldWithPlaceholder.snap
  src/__storyshots__/Updated Components/Fields/NumberField-NumberFieldWithStepper.snap
  src/components/NumberField/NumberField.stories.tsx
  src/components/NumberField/NumberField.tsx
  src/components/NumberField/components/Stepper/Stepper.style.ts
  src/components/NumberField/components/Stepper/Stepper.tsx
Due: prettier --write, eslint

feat: add check and check:formatting scripts
  package.json
Due: prettier --write

feat: minor css fix
  src/__storyshots__/Updated Components/Fields/NumberField-NumberFieldWithStepper.snap
  src/components/NumberField/components/Stepper/Stepper.tsx
Due: prettier --write, eslint

docs: minor addition
  src/components/NumberField/NumberField.mdx
Due: none

feat: refactor control label components
  src/components/Controls/ControlLabel/ControlHelpText.tsx
  src/components/Controls/ControlLabel/ControlLabel.style.ts
  src/components/Controls/ControlLabel/ControlLabel.tsx
  src/components/Controls/ControlLabel/ControlLabelText.tsx
  src/components/Controls/ControlLabel/index.ts
Due: prettier --write, eslint

feat: checkbox
  src/components/Controls/CheckBox/CheckBox.style.ts
  src/components/Controls/CheckBox/CheckBox.tsx
Due: prettier --write, eslint

feat: radio
  src/components/Controls/Radio/Radio.style.ts
  src/components/Controls/Radio/Radio.tsx
Due: prettier --write, eslint

feat: switch
  src/components/Controls/Switch/Switch.style.ts
  src/components/Controls/Switch/Switch.tsx
Due: prettier --write, eslint

feat: snaps
  src/__storyshots__/Original Components/TableV4-FinancialTable.snap
  src/__storyshots__/Original Components/TableV4-FixedHeaderTable.snap
  src/__storyshots__/Original Components/TableV4-TableWithExpandableRows.snap
  src/__storyshots__/Original Components/TableV4-TableWithExpandableRowsAndSortDir.snap
  src/__storyshots__/Original Components/TableV4-TableWithExpandableRowsExpandedOnPageLoad.snap
  src/__storyshots__/Updated Components/Controls/CheckBox-CheckBoxLabelHelptext.snap
  src/__storyshots__/Updated Components/Controls/CheckBox-CheckBoxLabelPlacement.snap
  src/__storyshots__/Updated Components/Controls/CheckBox-CheckBoxLabelSizes.snap
  src/__storyshots__/Updated Components/Controls/CheckBox-DisabledCheckBox.snap
  src/__storyshots__/Updated Components/Controls/CheckBox-IndeterminateCheckBox.snap
  src/__storyshots__/Updated Components/Controls/CheckBox-Playground.snap
  src/__storyshots__/Updated Components/Controls/CheckBox-SimpleCheckBox.snap
  src/__storyshots__/Updated Components/Controls/Radio-DisabledRadio.snap
  src/__storyshots__/Updated Components/Controls/Radio-Playground.snap
  src/__storyshots__/Updated Components/Controls/Radio-RadioGroupStory.snap
  src/__storyshots__/Updated Components/Controls/Radio-RadioLabelPlacement.snap
  src/__storyshots__/Updated Components/Controls/Radio-RadioLabelSizes.snap
  src/__storyshots__/Updated Components/Controls/Radio-RadioWithHelptext.snap
  src/__storyshots__/Updated Components/Controls/Switch-DisabledSwitch.snap
  src/__storyshots__/Updated Components/Controls/Switch-Playground.snap
  src/__storyshots__/Updated Components/Controls/Switch-SimpleSwitch.snap
  src/__storyshots__/Updated Components/Controls/Switch-SwitchLabelPlacement.snap
  src/__storyshots__/Updated Components/Controls/Switch-SwitchLabelSizes.snap
  src/__storyshots__/Updated Components/Controls/Switch-SwitchWithHelptext.snap
  src/__storyshots__/Updated Components/List/ListItem-DisabledListItem.snap
  src/__storyshots__/Updated Components/List/ListItem-ListItemCompilations.snap
  src/__storyshots__/Updated Components/Table/Table/Rows and Cells-RowSelection.snap
  src/components/Controls/CheckBox/__snapshots__/CheckBox.test.tsx.snap
  src/components/Controls/Radio/__snapshots__/Radio.test.tsx.snap
  src/components/Controls/Switch/__snapshots__/Switch.test.tsx.snap
Due: none

feat: refactor styles
  src/components/Controls/CheckBox/CheckBox.style.ts
  src/components/Controls/CheckBox/CheckBox.tsx
  src/components/Controls/Radio/Radio.style.ts
  src/components/Controls/Radio/Radio.tsx
  src/components/Controls/Switch/Switch.style.ts
  src/components/Controls/Switch/Switch.tsx
Due: prettier --write, eslint

chore: remove debug statement from selectDropdownOption function
  src/test/utils.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  26/d4365a289ab91fdf532c670d7b42e84632a08c
Due: none

fix: portal for position in screen
  src/components/DatePicker/DatePicker.tsx
  src/components/DatePicker/__snapshots__/DatePicker.stories.storyshot
  src/components/Filter/Filter.tsx
  src/components/List/__snapshots__/List.stories.storyshot
  src/components/Menu/Menu.tsx
  src/components/Select/Select.tsx
  src/components/TopAppBar/__snapshots__/TopAppBar.stories.storyshot
  src/components/TopAppBar/__snapshots__/TopAppBar.test.tsx.snap
  src/components/utils/PositionInScreen/PositionInScreen.tsx
  src/components/utils/PositionInScreen/hooks.ts
  src/test/utils.tsx
Due: prettier --write, eslint

fix: test and types errors
  .eslintrc.json
  package.json
  src/components/ButtonBase/ButtonBase.style.ts
  src/components/ButtonBase/config.ts
  src/components/Chart/BarChart/BarChart.tsx
  src/components/Chart/BarChart/utils.ts
  src/components/DatePicker/__snapshots__/DatePicker.stories.storyshot
  src/components/Filter/Filter.test.tsx
  src/components/List/__snapshots__/List.stories.storyshot
  src/components/Menu/__snapshots__/Menu.stories.storyshot
  src/components/Notification/NotificationsContainer/NotificationsContainer.style.tsx
  src/components/Overlay/Overlay.test.tsx
  src/components/Select/Select.test.tsx
  src/components/TopAppBar/__snapshots__/TopAppBar.stories.storyshot
  src/components/TopAppBar/__snapshots__/TopAppBar.test.tsx.snap
  src/components/storyUtils/TooltipShowcase/TooltipShowcase.tsx
  src/hooks/useTypeColorToColorMatch.tsx
  src/storybook.test.tsx
  src/theme/palette.ts
  src/theme/utils.ts
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint

feat: overlay stack
  src/components/Overlay/Overlay.style.ts
  src/components/Overlay/Overlay.tsx
  src/components/Select/Select.tsx
  src/components/storyUtils/OverlayShowcase/OverlayShowcase.tsx
  src/components/utils/PositionInScreen/PositionInScreen.tsx
  src/hooks/useOverlayStack.ts
Due: prettier --write, eslint

feat: portal position with edge cases
  src/components/DatePicker/DatePicker.style.ts
  src/components/Filter/Filter.style.ts
  src/components/utils/PositionInScreen/PositionInScreen.style.tsx
  src/components/utils/PositionInScreen/PositionInScreen.tsx
  src/components/utils/PositionInScreen/hooks.ts
Due: prettier --write, eslint

Notes added by 'git notes add'
  28/82296a53eb8d0aeb0d067af1b760ecb94e131e
Due: none

feat: remove close / clear button from preset filters
  src/components/Filter/Filter.stories.tsx
  src/components/Filter/components/FilterButton/FilterButton.tsx
Due: prettier --write, eslint

feat: fix types
  src/components/Filter/Filter.types.ts
  src/components/Select/types.ts
Due: prettier --write, eslint

fix: styles on NumberField (compact size and with stepper)
  src/__storyshots__/Updated Components/Fields/NumberField-NumberFieldWithStepper.snap
  src/__storyshots__/Updated Components/Fields/NumberField-NumberFields.snap
  src/components/Label/Label.style.ts
  src/components/NumberField/NumberField.stories.tsx
  src/components/NumberField/NumberField.style.ts
  src/components/NumberField/NumberField.tsx
Due: prettier --write, eslint

docs: add numberfield stories
  src/__storyshots__/Updated Components/Fields/NumberField-NumberFields.snap
  src/components/NumberField/NumberField.mdx
  src/components/NumberField/NumberField.stories.tsx
Due: prettier --write, eslint

feat: add min width to compact NumberField
  src/__storyshots__/Updated Components/Fields/NumberField-DisabledNumberField.snap
  src/__storyshots__/Updated Components/Fields/NumberField-NumberFieldSizes.snap
  src/__storyshots__/Updated Components/Fields/NumberField-NumberFieldStatuses.snap
  src/__storyshots__/Updated Components/Fields/NumberField-NumberFieldWithFormatOptions.snap
  src/__storyshots__/Updated Components/Fields/NumberField-NumberFieldWithMinAndMaxValues.snap
  src/__storyshots__/Updated Components/Fields/NumberField-NumberFieldWithPlaceholder.snap
  src/__storyshots__/Updated Components/Fields/NumberField-NumberFieldWithStepper.snap
  src/__storyshots__/Updated Components/Fields/NumberField-NumberFields.snap
  src/components/NumberField/NumberField.stories.tsx
  src/components/NumberField/NumberField.tsx
Due: prettier --write, eslint

fix: snapshots
  src/__storyshots__/Updated Components/Controls/Switch-Playground.snap
  src/__storyshots__/Updated Components/Controls/Switch-SimpleSwitch.snap
  src/__storyshots__/Updated Components/Controls/Switch-SwitchLabelPlacement.snap
  src/__storyshots__/Updated Components/Controls/Switch-SwitchLabelSizes.snap
  src/__storyshots__/Updated Components/Controls/Switch-SwitchWithHelptext.snap
  src/__storyshots__/Updated Components/List/ListItem-DisabledListItem.snap
  src/__storyshots__/Updated Components/List/ListItem-ListItemCompilations.snap
  src/components/Controls/Switch/__snapshots__/Switch.test.tsx.snap
Due: none

Notes added by 'git notes add'
  15/89cd7615df457a59a983c4b9d298a005696eed
Due: none

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,scss,md}
  eslint: any of: *.{ts,tsx,js,jsx}
