Repository Orfium/orfium-ictinus: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,json,scss,md}": [
    "prettier --write",
    "git add"
  ],
  "*.{ts,tsx,js,jsx}": [
    "eslint"
  ]
}

fix: deployment of v4
  .github/workflows/main.yml
Due: none

feat: move and rename pages
  docs/Foundations/COLORS_V4.mdx
  docs/Foundations/DesignTokens/Global/BORDER_RADIUS.mdx
  docs/Foundations/DesignTokens/Global/BOX_SHADOW.mdx
  docs/Foundations/DesignTokens/Global/COLORS.mdx
  docs/Foundations/DesignTokens/Global/SIZING.mdx
  docs/Foundations/DesignTokens/Global/SPACING.mdx
  docs/Foundations/DesignTokens/Semantic/COLORS.mdx
  docs/Foundations/DesignTokens/Semantic/TEXT_COLOR.mdx
  docs/Foundations/DesignTokens/Semantic/TYPOGRAPHY.mdx
  docs/Foundations/DesignTokens/TOKENS_ABOUT.mdx
  docs/Foundations/Layout/BREAKPOINTS.mdx
  docs/Foundations/Layout/LAYOUT_ABOUT.mdx
  docs/GettingStarted/DEVELOPMENT.mdx
  docs/GettingStarted/INSTALLATION.mdx
  docs/GettingStarted/WELCOME.mdx
  docs/guides/GLOBAL_STATES.mdx
  docs/system/THEME.mdx
  docs/system/UTILS.mdx
Due: none

feat: rewrite obsolete pages
  docs/Foundations/THEME.mdx
  docs/Utilities/THEME_UTILITIES.mdx
Due: none

feat: refactor hooks and util pages
  src/components/TruncatedContent/TruncatedContent.stories.tsx
  src/hooks/useSearchQueryParams.mdx
  src/hooks/useSearchQueryParams.stories.tsx
Due: prettier --write, eslint

feat: change storybook cofiguration
  .storybook/main.ts
  .storybook/preview.tsx
Due: prettier --write, eslint

feat: snapshots
  src/__storyshots__/Utilities/Truncated Text with Tooltip-RegularTableWithCellTooltips.snap
  src/__storyshots__/Utilities/Truncated Text with Tooltip-RegularTextWithTruncationAndTooltip.snap
Due: none

feat: style and change header
  public/assets/header.png
  src/storybook/SectionHeader/SectionHeader.style.ts
Due: prettier --write, eslint

fix: typo
  docs/Foundations/THEME.mdx
Due: none

feat: add accessibility page placeholder
  .storybook/preview.tsx
  docs/Foundations/ACCESSIBILITY.mdx
Due: prettier --write, eslint

feat: add links to sectionHeader component
  src/storybook/SectionHeader/SectionHeader.style.ts
  src/storybook/SectionHeader/SectionHeader.tsx
Due: prettier --write, eslint

feat: migration docs
  docs/GettingStarted/Migration/COMPONENT_CHANGES.mdx
  docs/GettingStarted/Migration/MIGRATION_ABOUT.mdx
  docs/GettingStarted/Migration/THEME_UTILITIES_CHANGES.mdx
Due: none

feat: docs config update
  .storybook/preview.tsx
Due: prettier --write, eslint

feat: global styles
  .storybook/preview-head.html
Due: none

feat: add more documentation
  docs/GettingStarted/Migration/COMPONENT_CHANGES.mdx
  docs/GettingStarted/Migration/MIGRATION_ABOUT.mdx
  docs/GettingStarted/Migration/THEME_UTILITIES_CHANGES.mdx
Due: none

feat: global styles
  .storybook/preview-head.html
  docs/Utilities/THEME_UTILITIES.mdx
  src/storybook/Tip/Tip.style.ts
Due: prettier --write, eslint

feat: change docs
  docs/GettingStarted/Migration/COMPONENT_CHANGES.mdx
  docs/GettingStarted/Migration/MIGRATION_ABOUT.mdx
Due: none

feat: changes styles
  .storybook/preview-head.html
Due: none

fix: link styles
  src/components/Link/Link.style.ts
Due: prettier --write, eslint

feat: snaps
  src/__storyshots__/Updated Components/Breadcrumb-BasicBreadcrumbs.snap
  src/__storyshots__/Updated Components/Breadcrumb-GoBackTo.snap
  src/__storyshots__/Updated Components/Breadcrumb-Playground.snap
  src/__storyshots__/Updated Components/Breadcrumb-ThirdPartyRoutingLibrary.snap
  src/__storyshots__/Updated Components/Link-LinkStyles.snap
  src/__storyshots__/Updated Components/Link-LinkWithIcon.snap
  src/__storyshots__/Updated Components/Link-Placement.snap
  src/__storyshots__/Updated Components/Link-Playground.snap
  src/__storyshots__/Updated Components/Link-Sizes.snap
  src/__storyshots__/Updated Components/Link-ThirdPartyRoutingLibrary.snap
  src/__storyshots__/Updated Components/Menu-MenuTriggers.snap
  src/__storyshots__/Updated Components/Tooltip-InteractiveTooltip.snap
  src/__storyshots__/Updated Components/Tooltip-Playground.snap
Due: none

fix: multi select create option
  src/components/Select/Select.tsx
Due: prettier --write, eslint

feat: move icons from basic actions to generic
  src/components/Icon/Icon.types.ts
  src/components/Icon/assets/generic/file.svg
  src/components/Icon/assets/generic/issue.svg
  src/components/Icon/assets/generic/legal.svg
  src/components/Icon/assets/generic/policy.svg
  src/components/Icon/assets/generic/report.svg
  src/components/Icon/assets/iconSelector.ts
  src/components/Icon/constants.ts
Due: prettier --write, eslint

feat: tag icon
  src/components/Icon/Icon.types.ts
  src/components/Icon/assets/generic/tag.svg
  src/components/Icon/assets/iconSelector.ts
  src/components/Icon/constants.ts
Due: prettier --write, eslint

feat: snaps
  src/__storyshots__/Updated Components/Icon-Collection.snap
Due: none

feat: Card component
  src/__storyshots__/Original Components/Card-CardWithElevation.snap
  src/__storyshots__/Updated Components/Buttons/Default (Text)-LoadingButton.snap
  src/components/Card/Card.mdx
  src/components/Card/Card.stories.tsx
  src/components/Card/Card.style.ts
  src/components/Card/Card.tsx
  src/components/Modal/Modal.tsx
  src/components/storyUtils/ButtonShowcases/LoadingButtonShowcase.tsx
  src/components/storyUtils/CardShowcase/CardShowcase.tsx
  src/storybook/Showcases/TokenBackgroundColorsShowcase/TokenBackgroundColorsShowcase.style.ts
  src/storybook/Showcases/TokenBackgroundColorsShowcase/TokenBackgroundColorsShowcase.tsx
  src/storybook/Showcases/TokenBackgroundColorsShowcase/index.ts
  src/storybook/Showcases/TokenColorsShowcase/TokenColorsShowcase.tsx
Due: prettier --write, eslint

feat: Notification and Toast components
  src/__storyshots__/Original Components/Notification-InlineNotificationStory.snap
  src/components/Notification/Notification.stories.tsx
  src/components/Notification/Notification.style.ts
  src/components/Notification/Snackbar/Snackbar.style.ts
  src/components/Notification/Snackbar/Snackbar.tsx
  src/components/Notification/subcomponents/CompactNotification/CompactNotification.style.ts
  src/components/Notification/subcomponents/CompactNotification/CompactNotification.tsx
  src/components/Notification/subcomponents/NotificationActionsArea/NotificationActionsArea.tsx
  src/components/Toast/Toast.style.ts
  src/components/Toast/Toast.tsx
Due: prettier --write, eslint

feat: Pagination component
  src/__storyshots__/Original Components/Pagination-PaginationStory.snap
  src/__storyshots__/Original Components/Pagination-PaginationWithoutAllButtons.snap
  src/components/Pagination/Pagination.tsx
Due: prettier --write, eslint

feat: Slider component
  src/__storyshots__/Original Components/Slider-RangeSliderDontTest.snap
  src/__storyshots__/Original Components/Slider-RangeSliderWithIncrementsDontTest.snap
  src/__storyshots__/Original Components/Slider-SelectorSliderDontTest.snap
  src/__storyshots__/Original Components/Slider-SelectorSliderWithIncrementsDontTest.snap
  src/components/Slider/Slider.tsx
  src/components/Slider/components/SliderMark/SliderMark.style.tsx
  src/components/Slider/components/SliderMark/SliderMark.tsx
  src/components/Slider/components/SliderThumb/SliderThumb.style.tsx
  src/components/Slider/components/SliderTrack/SliderTrack.tsx
Due: prettier --write, eslint

feat: prepare for major release
  README.md
  src/__storyshots__/Updated Components/Tooltip-InteractiveTooltip.snap
  src/__storyshots__/Updated Components/Tooltip-Playground.snap
  src/components/Menu/MenuItemDivider.tsx
  src/components/storyUtils/TooltipShowcase/components/TooltipContent/TooltipContent.style.ts
  src/storybook/Preview/Preview.tsx
  src/storybook/Showcases/TokenBackgroundColorsShowcase/TokenBackgroundColorsShowcase.style.ts
  src/storybook/Showcases/TokenBackgroundColorsShowcase/TokenBackgroundColorsShowcase.tsx
  src/storybook/Showcases/TokenBackgroundColorsShowcase/index.ts
  src/storybook/Typography/Typography.style.ts
  src/storybook/styles/OverviewCard.style.ts
Due: prettier --write, eslint

Notes added by 'git notes add'
  e7/c2aedbe4f4921428b4a72f84658ce63d46f358
Due: none

chore: upgrade typedoc so it can work with latest typescript
  package.json
  yarn.lock
Due: prettier --write

feat: Card component
  src/__storyshots__/Original Components/Card-CardWithElevation.snap
  src/__storyshots__/Updated Components/Buttons/Default (Text)-LoadingButton.snap
  src/components/Card/Card.style.ts
Due: prettier --write, eslint

feat: Notification component
  src/__storyshots__/Original Components/Notification-InlineNotificationStory.snap
  src/components/Notification/Notification.stories.tsx
  src/components/Notification/Notification.style.ts
  src/components/Notification/Snackbar/Snackbar.style.ts
  src/components/Notification/Snackbar/Snackbar.tsx
  src/components/Notification/subcomponents/CompactNotification/CompactNotification.style.ts
  src/components/Notification/subcomponents/CompactNotification/CompactNotification.tsx
  src/components/Notification/subcomponents/NotificationActionsArea/NotificationActionsArea.tsx
  src/components/Toast/Toast.style.ts
  src/components/Toast/Toast.tsx
Due: prettier --write, eslint

feat: Modal component (and some Card changes)
  src/__storyshots__/Original Components/Card-CardWithElevation.snap
  src/__storyshots__/Updated Components/Buttons/Default (Text)-LoadingButton.snap
  src/components/Card/Card.style.ts
  src/components/Modal/Modal.style.ts
  src/components/Modal/Modal.tsx
  src/components/Modal/ModalContent/ModalContent.style.ts
  src/components/Modal/ModalContent/ModalContent.tsx
Due: prettier --write, eslint

feat: TopNavBar component
  src/__storyshots__/Original Components/TopNavBar-Playground.snap
  src/__storyshots__/Original Components/TopNavBar-WithAdditionalTools.snap
  src/__storyshots__/Original Components/TopNavBar-WithDarkThemeEnabled.snap
  src/__storyshots__/Original Components/TopNavBar-WithLogoPlaceholder.snap
  src/components/TopAppBar/TopAppBar.stories.tsx
  src/components/TopAppBar/TopAppBar.style.ts
  src/components/TopAppBar/__snapshots__/TopAppBar.test.tsx.snap
  src/components/TopAppBar/components/Search/Search.style.ts
  src/components/TopAppBar/components/Search/Search.tsx
Due: prettier --write, eslint

feat: Chart components
  src/__storyshots__/Original Components/Chart-DonutChart.snap
  src/__storyshots__/Original Components/Chart-LineChartStory.snap
  src/components/Chart/BarChart/BarChart.tsx
  src/components/Chart/BarChart/components/CustomTooltip/CustomTooltip.style.ts
  src/components/Chart/BarChart/components/CustomTooltipContent/CustomTooltipContent.style.ts
  src/components/Chart/DonutChart/components/CustomLabel/CustomLabel.style.ts
  src/components/Chart/LineChart/LineChart.tsx
  src/components/Chart/LineChart/components/CustomTooltip/CustomTooltip.style.ts
Due: prettier --write, eslint

feat: Navigation component
  src/__storyshots__/Original Components/Navigation-NavigationStory.snap
  src/__storyshots__/Original Components/Navigation-NavigationWithCustomComponent.snap
  src/components/Navigation/Directory/Directory.style.ts
  src/components/Navigation/Directory/MenuItem/MenuItem.tsx
  src/components/Navigation/Navigation.style.ts
Due: prettier --write, eslint
