Repository Orfium/orfium-ictinus: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

feat(navigation): remove elevation add border
  src/components/Drawer/Drawer.style.ts
Due: prettier --write, eslint

feat(navigation): only one item expanded
  src/components/Drawer/Navigation/Navigation.tsx
Due: prettier --write, eslint

feat(navigation): on hover expand
  src/components/Drawer/Drawer.tsx
Due: prettier --write, eslint

feat(navigation): fix animation and submenu items spacing
  src/components/Drawer/Drawer.style.ts
  src/components/Drawer/Drawer.tsx
  src/components/Drawer/Navigation/Navigation.style.ts
  src/components/Drawer/__snapshots__/Drawer.stories.storyshot
Due: prettier --write, eslint

chore(tests): update
  src/components/Drawer/Drawer.test.tsx
Due: prettier --write, eslint

feat(sidenav): fix animation glitch
  src/components/Drawer/Navigation/Navigation.style.ts
Due: prettier --write, eslint

chore(tests): update storyshots
  src/components/Drawer/__snapshots__/Drawer.stories.storyshot
Due: none

refactor(loader): change styling from styled-components to emotion
  src/components/Loader/Loader.style.tsx
  src/components/Loader/Loader.tsx
  src/components/Loader/__snapshots__/Loader.stories.storyshot
Due: prettier --write, eslint

fix(loader): change styling from styled-components to emotion
  src/components/DatePicker/OverlayComponent/__snapshots__/OverlayComponent.test.tsx.snap
  src/components/DatePicker/OverlayComponent/components/MonthWrapper/__snapshots__/MonthWrapper.test.tsx.snap
  src/components/DatePicker/__snapshots__/DatePicker.stories.storyshot
  src/components/Loader/Loader.style.tsx
  src/components/Loader/Loader.tsx
  src/components/Loader/__snapshots__/Loader.stories.storyshot
Due: prettier --write, eslint

Notes added by 'git notes add'
  850ccad85ba6bce4bfda70be77f2ccf1e0b0eb50
Due: none

feat(topnav): remove breakpoints from top nav user menu
  src/components/TopAppBar/components/UserMenu/UserMenu.tsx
Due: prettier --write, eslint

chore(tests): update snaps
  src/components/DatePicker/OverlayComponent/__snapshots__/OverlayComponent.test.tsx.snap
  src/components/DatePicker/OverlayComponent/components/MonthWrapper/__snapshots__/MonthWrapper.test.tsx.snap
  src/components/DatePicker/__snapshots__/DatePicker.stories.storyshot
  src/components/Drawer/Drawer.test.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  22103e0e46a69cf1ba831fb88bb0e5c4e31e9ee4
Due: none

feat(topnav): spacing fix
  src/components/DatePicker/OverlayComponent/__snapshots__/OverlayComponent.test.tsx.snap
  src/components/DatePicker/OverlayComponent/components/MonthWrapper/__snapshots__/MonthWrapper.test.tsx.snap
  src/components/DatePicker/__snapshots__/DatePicker.stories.storyshot
  src/components/TopAppBar/TopAppBar.style.ts
  src/components/TopAppBar/__snapshots__/TopAppBar.stories.storyshot
Due: prettier --write, eslint

feat(sidenav): menu sizes , logo spacing, search filled
  src/components/Menu/Menu.tsx
  src/components/TopAppBar/TopAppBar.tsx
  src/components/TopAppBar/components/Logo/Logo.style.ts
  src/components/TopAppBar/components/UserMenu/UserMenu.tsx
Due: prettier --write, eslint

feat(topnav): snapshots
  src/components/TopAppBar/__snapshots__/TopAppBar.stories.storyshot
Due: none

feat(radio): add color to radio, set default, add playground to stories
  src/components/Radio/Radio.stories.mdx
  src/components/Radio/Radio.style.ts
  src/components/Radio/Radio.tsx
  src/components/Radio/__snapshots__/Radio.stories.storyshot
  src/components/Radio/__snapshots__/Radio.test.tsx.snap
  src/components/RadioGroup/__snapshots__/RadioGroup.stories.storyshot
Due: prettier --write, eslint

feat(radio): tests
  src/components/Radio/Radio.test.tsx
Due: prettier --write, eslint

chore(tests): update
  src/components/DatePicker/OverlayComponent/__snapshots__/OverlayComponent.test.tsx.snap
  src/components/DatePicker/OverlayComponent/components/MonthWrapper/__snapshots__/MonthWrapper.test.tsx.snap
  src/components/DatePicker/__snapshots__/DatePicker.stories.storyshot
Due: none

fix(barchart): increase x-axis margin
  src/components/Chart/BarChart/BarChart.tsx
  src/components/Chart/__snapshots__/Chart.stories.storyshot
Due: prettier --write, eslint

fix(donutchart): increase value-unit distanse
  src/components/Chart/DonutChart/components/CustomLabel/CustomLabel.tsx
Due: prettier --write, eslint

fix(radio): remove color option
  src/components/Radio/Radio.stories.mdx
  src/components/Radio/Radio.style.ts
  src/components/Radio/Radio.test.tsx
  src/components/Radio/Radio.tsx
Due: prettier --write, eslint

fix(tests): update
  src/components/DatePicker/OverlayComponent/__snapshots__/OverlayComponent.test.tsx.snap
  src/components/DatePicker/OverlayComponent/components/MonthWrapper/__snapshots__/MonthWrapper.test.tsx.snap
  src/components/DatePicker/__snapshots__/DatePicker.stories.storyshot
  src/components/Radio/__snapshots__/Radio.stories.storyshot
  src/components/Radio/__snapshots__/Radio.test.tsx.snap
  src/components/RadioGroup/__snapshots__/RadioGroup.stories.storyshot
Due: none

fix(radio): resolve comments
  src/components/Radio/Radio.style.ts
  src/components/Radio/Radio.test.tsx
Due: prettier --write, eslint

feat(icon-button): icon button circular
  src/components/Button/Button.style.ts
  src/components/IconButton/IconButton.style.ts
  src/components/IconButton/IconButton.tsx
Due: prettier --write, eslint

fix(tests): update
  src/components/DatePicker/OverlayComponent/__snapshots__/OverlayComponent.test.tsx.snap
  src/components/DatePicker/OverlayComponent/components/MonthWrapper/__snapshots__/MonthWrapper.test.tsx.snap
  src/components/DatePicker/__snapshots__/DatePicker.stories.storyshot
  src/components/IconButton/IconButton.tsx
  src/components/IconButton/__snapshots__/IconButton.stories.storyshot
  src/components/Modal/Modal.test.tsx
  src/components/Pagination/__snapshots__/Pagination.stories.storyshot
Due: prettier --write, eslint

fix(radio): unselected state
  src/components/Radio/Radio.style.ts
  src/components/Radio/__snapshots__/Radio.stories.storyshot
Due: prettier --write, eslint

Notes added by 'git notes add'
  4a51cfe2dfb6b0a83fa75e15a28d9f0f0b7158b4
Due: none

fix(select): update menu dropdown size based on design rules
  src/components/Select/Select.stories.mdx
  src/components/Select/Select.tsx
  src/components/Select/components/SelectMenu/SelectMenu.style.tsx
Due: prettier --write, eslint

chore(select): update tests
  src/components/DatePicker/OverlayComponent/__snapshots__/OverlayComponent.test.tsx.snap
  src/components/DatePicker/OverlayComponent/components/MonthWrapper/__snapshots__/MonthWrapper.test.tsx.snap
  src/components/DatePicker/__snapshots__/DatePicker.stories.storyshot
  src/components/Select/__snapshots__/Select.stories.storyshot
Due: none

chore(select): revert stories
  src/components/Select/Select.stories.mdx
Due: none

chore: remove packagelock after husky fix
  package-lock.json
  src/components/DatePicker/OverlayComponent/__snapshots__/OverlayComponent.test.tsx.snap
  src/components/DatePicker/OverlayComponent/components/MonthWrapper/__snapshots__/MonthWrapper.test.tsx.snap
  src/components/DatePicker/__snapshots__/DatePicker.stories.storyshot
Due: prettier --write

chore: revert husky version
  package.json
Due: prettier --write

chore(select): add import for rem
  src/components/Select/Select.tsx
  src/components/Select/__snapshots__/Select.stories.storyshot
  yarn.lock
Due: prettier --write, eslint

Notes added by 'git notes add'
  7de008e40b29807a171fc0ebfc60629cd3dbddcd
Due: none

feat(select): add stories for this edge case scenario
  src/components/Select/Select.stories.mdx
  src/components/Select/Select.tsx
  src/components/Select/__snapshots__/Select.stories.storyshot
  src/components/storyUtils/EdgeCasesSelectShowcase/EdgeCasesSelectShowcase.tsx
  src/components/storyUtils/EdgeCasesSelectShowcase/index.ts
Due: prettier --write, eslint

fix(datepicker): add mock date for tests
  src/components/DatePicker/utils.ts
Due: prettier --write, eslint

fix(datepicker): updated tests
  src/components/DatePicker/Day/Day.test.tsx
  src/components/DatePicker/Month/Month.test.tsx
  src/components/DatePicker/OverlayComponent/OverlayComponent.test.tsx
  src/components/DatePicker/OverlayComponent/components/MonthWrapper/MonthWrapper.test.tsx
Due: prettier --write, eslint

fix(datepicker): updated usages of dayjs in components
  src/components/DatePicker/DatePicker.tsx
  src/components/DatePicker/Day/Day.tsx
  src/components/DatePicker/Month/Month.tsx
  src/components/DatePicker/OverlayComponent/OverlayComponent.tsx
Due: prettier --write, eslint

fix(datepicker): updated usages of dayjs in components
  src/components/DatePicker/Month/Month.utils.ts
Due: prettier --write, eslint

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,scss,md}
  eslint: any of: *.{ts,tsx,js,jsx}
