Repository Orfium/orfium-ictinus: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

test: fixes failed tests
  src/components/AssetMatching/__snapshots__/AssetMatching.stories.storyshot
  src/components/AssetMatching/components/Asset/AssetExternalLink.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  cc/c301dc9b6b63da4e180aea3a5bddf06ecba922
Due: none

test: update snapshots
  src/components/Button/__snapshots__/Button.stories.storyshot
  src/components/ThemeProvider/__snapshots__/ThemeProvider.stories.storyshot
Due: none

feat(color-utility): adds basic functionality to color utility
  .storybook/main.js
  docs/system/COLOR-UTILITY.stories.mdx
  src/components/storyUtils/ColorUtility/ColorUtility.style.ts
  src/components/storyUtils/ColorUtility/ColorUtility.tsx
  src/components/storyUtils/ColorUtility/index.ts
  src/components/storyUtils/ColorUtility/useColors.ts
  src/components/storyUtils/ColorUtility/utils.ts
Due: prettier --write, eslint

refactor(color-utility): creates files for components
  src/components/storyUtils/ColorUtility/ColorBox.tsx
  src/components/storyUtils/ColorUtility/ColorUtility.tsx
  src/components/storyUtils/ColorUtility/RangeInput.tsx
Due: prettier --write, eslint

refactor(color-utility): adds color util to colors page
  docs/system/COLOR-UTILITY.stories.mdx
  src/components/storyUtils/ColorUtility/ColorUtility.tsx
  src/components/storyUtils/ColorUtility/useColors.ts
  src/components/storyUtils/PaletteShowcase/PaletteShowcase.style.tsx
  src/components/storyUtils/PaletteShowcase/PaletteShowcase.tsx
Due: prettier --write, eslint

refactor(color-utility): adds selected color style
  src/components/storyUtils/PaletteShowcase/PaletteShowcase.style.tsx
  src/components/storyUtils/PaletteShowcase/PaletteShowcase.tsx
Due: prettier --write, eslint

fix(color-utility): adds selected color in placeholder
  src/components/storyUtils/ColorUtility/ColorUtility.tsx
Due: prettier --write, eslint

fix: improve import/order eslint config
  .eslintrc.json
  src/components/AssetMatching/components/ActionsToolbox/ActionsToolbox.style.ts
  src/components/AssetMatching/components/ActionsToolbox/SecondaryActions.tsx
  src/components/AssetMatching/components/Asset/AssetExternalLink.tsx
  src/components/AssetMatching/components/Asset/AssetHeading.tsx
  src/components/AssetMatching/components/Categories/Categories.test.tsx
  src/components/AssetMatching/components/CheckBoxContainer/CheckBoxContainer.tsx
  src/components/AssetMatching/components/SectionHeader/SectionHeader.test.tsx
  src/components/AssetMatching/components/utils.tsx
  src/components/Breadcrumb/BreadcrumbItem/BreadcrumbItem.tsx
  src/components/CheckBox/CheckBox.tsx
  src/components/CheckBox/tests/Checkbox.test.tsx
  src/components/Chip/Chip.test.tsx
  src/components/DatePicker/OverlayComponent/components/MonthWrapper/MonthWrapper.tsx
  src/components/Drawer/Drawer.test.tsx
  src/components/Drawer/Navigation/MenuItem/MenuItem.tsx
  src/components/Drawer/types.ts
  src/components/Filter/Filter.test.tsx
  src/components/IconButton/IconButton.tsx
  src/components/Modal/Modal.test.tsx
  src/components/Notification/Notification.test.tsx
  src/components/Notification/Snackbar/Snackbar.tsx
  src/components/Notification/subcomponents/CompactNotification/CompactNotification.tsx
  src/components/Select/Select.test.tsx
  src/components/Select/Select.tsx
  src/components/TextArea/TextArea.style.ts
  src/components/TextField/TextField.tsx
  src/components/TextInputBase/TextInputBase.tsx
  src/components/Toast/Toast.test.tsx
  src/components/storyUtils/BreadcrumbShowcase/BreadcrumbShowcase.tsx
  src/components/storyUtils/EdgeCasesSelectShowcase/EdgeCasesSelectShowcase.tsx
  src/components/storyUtils/FilterShowcase/FilterShowcase.tsx
  src/components/storyUtils/MenuShowcase/MenuShowcase.tsx
  src/components/storyUtils/RadioButtonsShowcase/RadioButtonsShowcase.tsx
Due: prettier --write, eslint

refactor: changes after review
  src/components/Loader/Loader.stories.mdx
  src/components/Loader/components/Spinner/Spinner.tsx
Due: prettier --write, eslint

feat(workflows): add github packages relesae on GH workflows
  .github/workflows/github-packages.yml
Due: none

fix(table): table row padding
  src/components/Table/components/RenderRowOrNestedRow/RenderRowOrNestedRow.style.ts
Due: prettier --write, eslint

feat(workflow): remove npm from workflow for testing
  .github/workflows/ci.yml
  .releaserc
Due: none

feat(table): expandable button width to 5%
  src/components/Table/components/RenderRowOrNestedRow/components/ExpandedButtonCell/ExpandedButtonCell.tsx
Due: prettier --write, eslint

feat(workflow): dummy commit for release
  .github/workflows/ci.yml
Due: none

feat(workflow): remove heroku release for testing
  .github/workflows/ci.yml
Due: none

test(table): update snapshots
  src/components/Table/__snapshots__/Table.stories.storyshot
Due: none

feat(workflow): add fake repo on package json repo url
  package.json
Due: prettier --write

fix(table): headers padding and snaps
  src/components/Table/Table.style.ts
  src/components/Table/__snapshots__/Table.stories.storyshot
Due: prettier --write, eslint

feat(workflow): add ci release for github packages
  .github/workflows/ci.yml
  .releaserc
  package.json
  yarn.lock
Due: prettier --write

Notes added by 'git notes add'
  62/feda33dab32636478f23e4566d9fb029d3a91b
Due: none

fix: fix table data test id generation [DS-209]
  src/components/Table/Table.tsx
  src/components/Table/__snapshots__/Table.stories.storyshot
  src/components/Table/components/ExtendedColumnItem/ExtendedColumnItem.tsx
  src/components/Table/components/TableCell/TableCell.tsx
Due: prettier --write, eslint

feat: add chat bubble icon
  src/components/Icon/__snapshots__/Icon.stories.storyshot
  src/components/Icon/assets/chat-bubble.svg
  src/components/Icon/assets/iconSelector.ts
  src/components/Icon/types.ts
Due: prettier --write, eslint

fix: fixes spinners dimensions after design qa and fixes loader types presentation
  src/components/Loader/Loader.stories.mdx
  src/components/Loader/components/Spinner/Spinner.style.tsx
Due: prettier --write, eslint

test: adds snapshot
  src/components/Loader/__snapshots__/Loader.stories.storyshot
Due: none

Notes added by 'git notes add'
  68/22f4f86b5f86d0554d097aa4ee84e3c8a5d92a
Due: none

feat(icon): resolve pr comments
  src/components/Icon/assets/chat-bubble.svg
Due: none

Notes added by 'git notes add'
  5b/a276b082cda6a5088f5aff85787164efcce514
Due: none

fix: updates spinner dimensions after design qa
  src/components/Button/Button.style.ts
  src/components/Loader/components/Spinner/Spinner.style.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  07/f09aea3d79969196e22e57e07c58a9619bb6e6
Due: none

Notes added by 'git notes add'
  f0/d2b13f1d1d4d7deaa1c04a559d7fd58f604eaa
Due: none

feat: add custom component to drawer
  src/components/Drawer/Drawer.stories.mdx
  src/components/Drawer/Drawer.tsx
  src/components/Drawer/__snapshots__/Drawer.stories.storyshot
  src/components/storyUtils/DrawerShowcase/DrawerShowcase.tsx
Due: prettier --write, eslint

fix: add key to content and fix localized content issue [DS-213]
  src/components/Loader/__snapshots__/Loader.stories.storyshot
  src/components/Table/Table.stories.mdx
  src/components/Table/Table.test.tsx
  src/components/Table/Table.tsx
  src/components/Table/__snapshots__/Table.stories.storyshot
  src/components/Table/components/ExtendedColumnItem/ExtendedColumnItem.tsx
  src/components/Table/types.ts
Due: prettier --write, eslint

fix: change type of renderHeader prop
  src/components/Drawer/Drawer.tsx
  src/components/Loader/__snapshots__/Loader.stories.storyshot
  src/components/storyUtils/DrawerShowcase/DrawerShowcase.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  6f/4111f90575807968e1a37e807b9f7b6fd10f8e
Due: none

fix: change type of render prop to Drawer
  src/components/Drawer/Drawer.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  0d/a886e69a25d7d5d647d30537dd16db0f4fb958
Due: none

fix: fix pr comments
  src/components/Table/Table.stories.mdx
  src/components/Table/Table.test.tsx
  src/components/Table/Table.tsx
  src/components/Table/__snapshots__/Table.stories.storyshot
  src/components/Table/components/ExtendedColumnItem/ExtendedColumnItem.tsx
  src/components/Table/types.ts
Due: prettier --write, eslint

Notes added by 'git notes add'
  11/29764d928e7b51c364dd9accdd824e28cf39a0
Due: none

feat: fixed forwardRef comments
  src/components/List/List.tsx
  src/components/List/ListItem/ListItem.tsx
  src/components/List/NormalList/NormalList.tsx
  src/components/List/VirtualizedList/VirtualizedList.tsx
  src/components/List/__snapshots__/List.stories.storyshot
  src/components/Select/components/SelectMenu/SelectMenu.tsx
Due: prettier --write, eslint

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,scss,md}
  eslint: any of: *.{ts,tsx,js,jsx}
