Repository Orfium/orfium-ictinus: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,json,scss,md}": [
    "prettier --write",
    "git add"
  ],
  "*.{ts,tsx,js,jsx}": [
    "eslint"
  ]
}

docs(Welcome): welcome spaces
  docs/WELCOME.stories.mdx
Due: none

docs: storybook showcases directory and fix on styling
  docs/tokens/ACCENTS.stories.mdx
  docs/tokens/BACKDROP_COLORS.stories.mdx
  docs/tokens/BACKGROUND_COLORS.stories.mdx
  docs/tokens/BORDER_COLORS.stories.mdx
  docs/tokens/COLORS.stories.mdx
  docs/tokens/RADIUS.stories.mdx
  docs/tokens/SPACING.stories.mdx
  docs/tokens/TYPOGRAPHY.stories.mdx
  src/storybook/Showcases/OverviewShowcase/OverviewShowcase.style.ts
  src/storybook/Showcases/OverviewShowcase/OverviewShowcase.tsx
  src/storybook/Showcases/OverviewShowcase/index.ts
  src/storybook/Showcases/RadiusShowcase/RadiusShowcase.style.ts
  src/storybook/Showcases/RadiusShowcase/RadiusShowcase.tsx
  src/storybook/Showcases/RadiusShowcase/index.ts
  src/storybook/Showcases/SpacingSizingShowcase/SpacingSizingShowcase.style.ts
  src/storybook/Showcases/SpacingSizingShowcase/SpacingSizingShowcase.tsx
  src/storybook/Showcases/SpacingSizingShowcase/index.ts
  src/storybook/Showcases/TextColorShowcase/TextColorShowcase.style.ts
  src/storybook/Showcases/TextColorShowcase/TextColorShowcase.tsx
  src/storybook/Showcases/TextColorShowcase/index.ts
  src/storybook/Showcases/TokenBackgroundColorsShowcase/TokenBackgroundColorsShowcase.style.ts
  src/storybook/Showcases/TokenBackgroundColorsShowcase/TokenBackgroundColorsShowcase.tsx
  src/storybook/Showcases/TokenBackgroundColorsShowcase/index.ts
  src/storybook/Showcases/TokenColorsShowcase/TokenColorsShowcase.style.ts
  src/storybook/Showcases/TokenColorsShowcase/TokenColorsShowcase.tsx
  src/storybook/Showcases/TokenColorsShowcase/index.ts
  src/storybook/Showcases/TypographyTokensShowcase/TypographyTokensShowcase.style.ts
  src/storybook/Showcases/TypographyTokensShowcase/TypographyTokensShowcase.tsx
  src/storybook/Showcases/TypographyTokensShowcase/index.ts
Due: prettier --write, eslint

fix(Typography): fix typography config tokens
  src/components/Button/__snapshots__/Button.stories.storyshot
  src/components/DatePicker/OverlayComponent/__snapshots__/OverlayComponent.test.tsx.snap
  src/components/DatePicker/OverlayComponent/components/MonthWrapper/__snapshots__/MonthWrapper.test.tsx.snap
  src/components/DatePicker/__snapshots__/DatePicker.stories.storyshot
  src/components/Drawer/__snapshots__/Drawer.stories.storyshot
  src/components/DropdownButton/__snapshots__/DropdownButton.stories.storyshot
  src/components/IconButton/__snapshots__/IconButton.stories.storyshot
  src/components/Menu/__snapshots__/Menu.stories.storyshot
  src/components/Modal/__snapshots__/Modal.stories.storyshot
  src/components/Notification/__snapshots__/Notification.stories.storyshot
  src/components/Overlay/__snapshots__/Overlay.stories.storyshot
  src/components/Pagination/__snapshots__/Pagination.stories.storyshot
  src/components/Table/__snapshots__/Table.stories.storyshot
  src/components/ThemeProvider/__snapshots__/ThemeProvider.stories.storyshot
  src/components/Tooltip/__snapshots__/Tooltip.stories.storyshot
  src/components/TopAppBar/__snapshots__/TopAppBar.stories.storyshot
  src/components/TopAppBar/__snapshots__/TopAppBar.test.tsx.snap
  src/components/Typography/Typography.config.styles.ts
  src/components/Typography/__snapshots__/Typography.stories.storyshot
  src/components/storyUtils/PaletteShowcase/__snapshots__/PaletteShowcase.test.tsx.snap
Due: prettier --write, eslint

docs(Typography): shape up Typography section
  src/storybook/Showcases/TextColorShowcase/TextColorShowcase.style.ts
  src/storybook/Showcases/TextColorShowcase/TextColorShowcase.tsx
  src/storybook/Showcases/TypographyTokensShowcase/TypographyTokensShowcase.style.ts
Due: prettier --write, eslint

Notes added by 'git notes add'
  ab/f1162618bc63dbc29a38b904448570a3caf106
Due: none

docs: adding all globals tier docs
  .storybook/main.ts
  .storybook/preview.tsx
  docs/tokens/ACCENTS.stories.mdx
  docs/tokens/BACKDROP_COLORS.stories.mdx
  docs/tokens/BACKGROUND_COLORS.stories.mdx
  docs/tokens/BORDER_COLORS.stories.mdx
  docs/tokens/COLORS.stories.mdx
  docs/tokens/TYPOGRAPHY.stories.mdx
  docs/tokens/globals/BOX_SHADOW.stories.mdx
  docs/tokens/globals/RADIUS.stories.mdx
  docs/tokens/globals/SIZING.stories.mdx
  docs/tokens/globals/SPACING.stories.mdx
  src/storybook/Showcases/BoxShadowShowcase/BoxShadowShowcase.tsx
  src/storybook/Showcases/BoxShadowShowcase/index.ts
  src/storybook/Showcases/RadiusShowcase/RadiusShowcase.style.ts
  src/storybook/Showcases/SizingShowcase/SizingShowcase.tsx
  src/storybook/Showcases/SizingShowcase/index.ts
  src/storybook/Showcases/SpacingSizingShowcase/SpacingSizingShowcase.style.ts
  src/storybook/Showcases/SpacingSizingShowcase/SpacingSizingShowcase.tsx
  src/storybook/styles/OverviewCard.style.ts
  src/theme/globals/constants/sizing.ts
  src/theme/globals/constants/spacing.ts
Due: prettier --write, eslint

docs: small fixes to have same styles across docs, fixing tokens about section
  .storybook/preview.tsx
  docs/tokens/TOKENS.stories.mdx
  src/storybook/Showcases/TokenColorsShowcase/TokenColorsShowcase.style.ts
  src/storybook/Showcases/TokenColorsShowcase/TokenColorsShowcase.tsx
Due: prettier --write, eslint

chore: minor fixes for PR
  docs/system/UTILS.stories.mdx
  src/components/Avatar/Avatar.stories.mdx
  src/components/Avatar/AvatarStack.stories.mdx
  src/components/ExpandCollapse/ExpandCollapse.stories.mdx
  src/components/RadioGroup/RadioGroup.stories.mdx
  src/storybook/Showcases/SpacingSizingShowcase/SpacingSizingShowcase.tsx
Due: prettier --write, eslint

docs: add SectionHeader to button sub docs and typography for consistency
  docs/system/COLOR-UTILITY.stories.mdx
  src/components/DropdownButton/DropdownButton.stories.mdx
  src/components/IconButton/IconButton.stories.mdx
  src/components/Typography/Typography.stories.mdx
Due: none

Notes added by 'git notes add'
  a3/e0a3dac69ab989848ec8ad485b71fb271de481
Due: none

Notes added by 'git notes add'
  8d/71fb895d494ef848f8be71968dd8be78a63c6e
Due: none

feat(Box): add two functions to split props from css specific
  src/components/Avatar/__snapshots__/Avatar.stories.storyshot
  src/components/Avatar/__snapshots__/AvatarStack.stories.storyshot
  src/components/Box/Box.tsx
  src/components/Box/Box.utilities.ts
  src/components/Box/__snapshots__/Box.stories.storyshot
  src/components/Breadcrumb/__snapshots__/Breadcrumb.stories.storyshot
  src/components/Card/__snapshots__/Card.stories.storyshot
  src/components/Chart/__snapshots__/Chart.stories.storyshot
  src/components/CheckBox/__snapshots__/CheckBox.stories.storyshot
  src/components/Chip/__snapshots__/Chip.stories.storyshot
  src/components/DatePicker/__snapshots__/DatePicker.stories.storyshot
  src/components/Drawer/__snapshots__/Drawer.stories.storyshot
  src/components/DropdownButton/__snapshots__/DropdownButton.stories.storyshot
  src/components/ExpandCollapse/__snapshots__/ExpandCollapse.stories.storyshot
  src/components/Filter/__snapshots__/Filter.stories.storyshot
  src/components/Icon/__snapshots__/Icon.stories.storyshot
  src/components/IconButton/__snapshots__/IconButton.stories.storyshot
  src/components/List/__snapshots__/List.stories.storyshot
  src/components/Loader/__snapshots__/Loader.stories.storyshot
  src/components/Menu/__snapshots__/Menu.stories.storyshot
  src/components/Modal/__snapshots__/Modal.stories.storyshot
  src/components/Notification/__snapshots__/Notification.stories.storyshot
  src/components/Overlay/__snapshots__/Overlay.stories.storyshot
  src/components/Pagination/__snapshots__/Pagination.stories.storyshot
  src/components/Radio/__snapshots__/Radio.stories.storyshot
  src/components/RadioGroup/__snapshots__/RadioGroup.stories.storyshot
  src/components/SearchField/__snapshots__/SearchField.stories.storyshot
  src/components/Select/__snapshots__/Select.stories.storyshot
  src/components/Switch/__snapshots__/Switch.stories.storyshot
  src/components/Table/__snapshots__/Table.stories.storyshot
  src/components/TextArea/__snapshots__/TextArea.stories.storyshot
  src/components/TextField/__snapshots__/TextField.stories.storyshot
  src/components/ThemeProvider/__snapshots__/ThemeProvider.stories.storyshot
  src/components/Toast/__snapshots__/Toast.stories.storyshot
  src/components/Tooltip/__snapshots__/Tooltip.stories.storyshot
  src/components/TopAppBar/__snapshots__/TopAppBar.stories.storyshot
  src/components/TruncatedContent/__snapshots__/TruncatedContent.stories.storyshot
  src/components/Typography/__snapshots__/Typography.stories.storyshot
  src/hooks/__snapshots__/useSearchQueryParams.stories.storyshot
Due: prettier --write, eslint

chore(Box): fix preview and add more coverage with tests on box utilities
  .storybook/preview.tsx
  src/components/Avatar/__snapshots__/Avatar.stories.storyshot
  src/components/Avatar/__snapshots__/AvatarStack.stories.storyshot
  src/components/Box/Box.test.ts
  src/components/Box/__snapshots__/Box.stories.storyshot
  src/components/Box/index.ts
  src/components/Breadcrumb/__snapshots__/Breadcrumb.stories.storyshot
  src/components/Card/__snapshots__/Card.stories.storyshot
  src/components/Chart/__snapshots__/Chart.stories.storyshot
  src/components/CheckBox/__snapshots__/CheckBox.stories.storyshot
  src/components/Chip/__snapshots__/Chip.stories.storyshot
  src/components/DatePicker/__snapshots__/DatePicker.stories.storyshot
  src/components/Drawer/__snapshots__/Drawer.stories.storyshot
  src/components/DropdownButton/__snapshots__/DropdownButton.stories.storyshot
  src/components/ExpandCollapse/__snapshots__/ExpandCollapse.stories.storyshot
  src/components/Filter/__snapshots__/Filter.stories.storyshot
  src/components/Icon/__snapshots__/Icon.stories.storyshot
  src/components/IconButton/__snapshots__/IconButton.stories.storyshot
  src/components/List/__snapshots__/List.stories.storyshot
  src/components/Loader/__snapshots__/Loader.stories.storyshot
  src/components/Menu/__snapshots__/Menu.stories.storyshot
  src/components/Modal/__snapshots__/Modal.stories.storyshot
  src/components/Notification/__snapshots__/Notification.stories.storyshot
  src/components/Overlay/__snapshots__/Overlay.stories.storyshot
  src/components/Pagination/__snapshots__/Pagination.stories.storyshot
  src/components/Radio/__snapshots__/Radio.stories.storyshot
  src/components/RadioGroup/__snapshots__/RadioGroup.stories.storyshot
  src/components/SearchField/__snapshots__/SearchField.stories.storyshot
  src/components/Select/__snapshots__/Select.stories.storyshot
  src/components/Switch/__snapshots__/Switch.stories.storyshot
  src/components/Table/__snapshots__/Table.stories.storyshot
  src/components/TextArea/__snapshots__/TextArea.stories.storyshot
  src/components/TextField/__snapshots__/TextField.stories.storyshot
  src/components/ThemeProvider/__snapshots__/ThemeProvider.stories.storyshot
  src/components/Toast/__snapshots__/Toast.stories.storyshot
  src/components/Tooltip/__snapshots__/Tooltip.stories.storyshot
  src/components/TopAppBar/__snapshots__/TopAppBar.stories.storyshot
  src/components/TruncatedContent/__snapshots__/TruncatedContent.stories.storyshot
  src/components/Typography/__snapshots__/Typography.stories.storyshot
  src/hooks/__snapshots__/useSearchQueryParams.stories.storyshot
Due: prettier --write, eslint

feat: clear date and range value on backspace
  src/components/DatePicker/DatePicker.tsx
  src/components/storyUtils/DatePickerShowcase/DatePickerShowcase.tsx
Due: prettier --write, eslint

feat: minor fixes
  src/components/DatePicker/DatePicker.tsx
  src/components/storyUtils/DatePickerShowcase/DatePickerShowcase.tsx
Due: prettier --write, eslint

fix: change uncontrolled to fully controlled datepicker
  src/components/DatePicker/DatePicker.stories.mdx
  src/components/DatePicker/DatePicker.tsx
  src/components/DatePicker/OverlayComponent/OverlayComponent.tsx
  src/components/DatePicker/OverlayComponent/__snapshots__/OverlayComponent.test.tsx.snap
  src/components/DatePicker/__snapshots__/DatePicker.stories.storyshot
  src/components/DatePicker/utils.ts
  src/components/storyUtils/DatePickerShowcase/DatePickerShowcase.tsx
  src/utils/common.ts
Due: prettier --write, eslint

feat(datepicker): fix tests for cases of change date and clear
  src/components/DatePicker/DatePicker.test.tsx
  src/components/DatePicker/DatePicker.tsx
  src/components/DatePicker/OverlayComponent/OverlayComponent.tsx
  src/components/DatePicker/OverlayComponent/__snapshots__/OverlayComponent.test.tsx.snap
  src/components/DatePicker/__snapshots__/DatePicker.stories.storyshot
  src/components/DatePicker/index.ts
  src/components/storyUtils/DatePickerShowcase/DatePickerShowcase.tsx
Due: prettier --write, eslint

chore: update tests for esc and range picker clear
  src/components/DatePicker/DatePicker.test.tsx
Due: prettier --write, eslint

fix: add missing icons
  src/components/Icon/__snapshots__/Icon.stories.storyshot
  src/components/Icon/assets/copy.svg
  src/components/Icon/assets/iconSelector.ts
  src/components/Icon/assets/play.svg
  src/components/Icon/types.ts
Due: prettier --write, eslint

chore: adding knob for isClearable
  src/components/DatePicker/DatePicker.stories.mdx
Due: none

fix: minor ui fixes for compatibility with figma
  src/components/DatePicker/DatePickInput/DatePickInput.tsx
  src/components/DatePicker/__snapshots__/DatePicker.stories.storyshot
  src/components/TextField/TextField.stories.mdx
  src/components/TextField/__snapshots__/TextField.stories.storyshot
Due: prettier --write, eslint

Notes added by 'git notes add'
  bd/60d77b97e2e9ab94ed2591ac19425211d3b790
Due: none

Notes added by 'git notes add'
  63/ea80a95e62a975563775b40f345e8ec1966226
Due: none

Notes added by 'git notes add'
  2f/92383f4bba103fc8a682e31c54ff6c5856823a
Due: none

Notes added by 'git notes add'
  3a/fec6e9162c5d8b0708f2e5ecd64b9d74995742
Due: none

feat: TextInputBase new tokens
  src/components/TextInputBase/TextInputBase.tokens.ts
  src/theme/tokens/components/variables/field.ts
  src/theme/tokens/semantic/variables/borderColor.ts
Due: prettier --write, eslint

feat: TextInputBase props and styles update
  src/components/Icon/assets/warning.svg
  src/components/TextInputBase/TextInputBase.style.ts
  src/components/TextInputBase/TextInputBase.tsx
  src/components/TextInputBase/config.ts
  src/utils/size-utils.ts
  src/utils/tests/size-utils.test.ts
Due: prettier --write, eslint

feat: update all components based on new props
  src/components/DatePicker/DatePickInput/DatePickInput.tsx
  src/components/Filter/components/SearchInput/SearchInput.tsx
  src/components/SearchField/SearchField.tsx
  src/components/SearchField/SearchFieldShowcase.tsx
  src/components/Select/Select.style.ts
  src/components/Select/Select.test.tsx
  src/components/Select/Select.tsx
  src/components/Select/components/MultiselectTextField/MultiselectTextField.style.ts
  src/components/Select/components/MultiselectTextField/MultiselectTextField.tsx
  src/components/Select/components/SelectMenu/SelectMenu.style.tsx
  src/components/Select/components/SelectMenu/SelectMenu.tsx
  src/components/Slider/Slider.tsx
  src/components/TextArea/TextArea.tsx
  src/components/TextField/TextField.tsx
  src/components/TopAppBar/components/Search/Search.style.ts
  src/components/storyUtils/ColorUtility/ColorUtility.tsx
  src/components/storyUtils/EdgeCasesSelectShowcase/EdgeCasesSelectShowcase.tsx
  src/components/storyUtils/SelectShowcase/MultiSelectShowcase.tsx
  src/components/storyUtils/SelectShowcase/SelectShowcase.tsx
Due: prettier --write, eslint

feat: update Label style
  src/components/Label/Label.style.ts
Due: prettier --write, eslint

feat: update storybook
  src/components/DatePicker/DatePicker.stories.mdx
  src/components/SearchField/SearchField.stories.mdx
  src/components/Select/Select.stories.mdx
  src/components/TextArea/TextArea.stories.mdx
  src/components/TextField/TextField.stories.mdx
Due: none

feat: update snapshots
  src/components/SearchField/__snapshots__/SearchField.stories.storyshot
  src/components/Select/__snapshots__/Select.stories.storyshot
  src/components/TextArea/__snapshots__/TextArea.stories.storyshot
  src/components/TextField/__snapshots__/TextField.stories.storyshot
  src/components/TopAppBar/__snapshots__/TopAppBar.stories.storyshot
  src/components/storyUtils/PaletteShowcase/__snapshots__/PaletteShowcase.test.tsx.snap
Due: none

feat: pr comments
  src/components/TextInputBase/TextInputBase.tsx
Due: prettier --write, eslint

fix: dependencies
  package.json
  yarn.lock
Due: prettier --write

Notes added by 'git notes add'
  ff/f608098c2127b1a6982fc8acb32413c0559f2b
Due: none

fix: prop types
  src/components/TextInputBase/TextInputBase.tsx
Due: prettier --write, eslint

feat: memoize components
  src/components/SearchField/SearchField.tsx
  src/components/Select/Select.tsx
  src/components/Select/components/MultiselectTextField/MultiselectTextField.tsx
  src/components/TextArea/TextArea.tsx
  src/components/TextField/TextField.tsx
Due: prettier --write, eslint

chore: fix bottom position showcase
  src/components/Filter/__snapshots__/Filter.stories.storyshot
  src/components/storyUtils/FilterShowcase/MultiFilterShowcase.tsx
Due: prettier --write, eslint

chore: update documentation
  src/components/TextField/__snapshots__/TextField.stories.storyshot
  src/components/storyUtils/PaletteShowcase/__snapshots__/PaletteShowcase.test.tsx.snap
  src/components/storyUtils/TextFieldShowcase/TextFieldShowcase.tsx
Due: prettier --write, eslint
