Repository Orfium/orfium-ictinus: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,json,scss,md}": [
    "prettier --write",
    "git add"
  ],
  "*.{ts,tsx,js,jsx}": [
    "eslint"
  ]
}

feat(icon): update Icon component snapshots with new styles and sizes
  src/components/Icon/__snapshots__/Icon.stories.storyshot
Due: none

feat(icon): RM-2521 add trending up and trending down icons
  src/components/Icon/__snapshots__/Icon.stories.storyshot
  src/components/Icon/assets/iconSelector.ts
  src/components/Icon/assets/trendingDown.svg
  src/components/Icon/assets/trendingUp.svg
  src/components/Icon/types.ts
Due: prettier --write, eslint

Notes added by 'git notes add'
  13/9573fb6b359020bd6e32755ab08c761939ba3d
Due: none

feat: implement CustomSearch component with filter options and update Search styles
  src/__storyshots__/Updated Components/Search-CustomSearch.snap
  src/__storyshots__/Updated Components/Search-FilteredSearch.snap
  src/components/Search/Search.stories.tsx
  src/components/Search/Search.style.ts
  src/components/Search/Search.tsx
  src/components/Search/Search.types.ts
Due: prettier --write, eslint

feat: add gap prop to Box component and update spacing handling
  .gitignore
  src/components/Box/Box.tsx
  src/components/Box/Box.types.ts
  src/components/Box/Box.utilities.ts
Due: prettier --write, eslint

Notes added by 'git notes add'
  34/1048d5b3dd76e1f4d9d32a554180aab418b1dc
Due: none

fix: portal for position in screen
  src/components/DatePicker/DatePicker.tsx
  src/components/DatePicker/__snapshots__/DatePicker.stories.storyshot
  src/components/Filter/Filter.tsx
  src/components/List/__snapshots__/List.stories.storyshot
  src/components/Menu/Menu.tsx
  src/components/Select/Select.tsx
  src/components/TopAppBar/__snapshots__/TopAppBar.stories.storyshot
  src/components/TopAppBar/__snapshots__/TopAppBar.test.tsx.snap
  src/components/utils/PositionInScreen/PositionInScreen.tsx
  src/components/utils/PositionInScreen/hooks.ts
  src/test/utils.tsx
Due: prettier --write, eslint

feat: portal position with edge cases
  src/components/DatePicker/DatePicker.style.ts
  src/components/Filter/Filter.style.ts
  src/components/utils/PositionInScreen/PositionInScreen.style.tsx
  src/components/utils/PositionInScreen/PositionInScreen.tsx
  src/components/utils/PositionInScreen/hooks.ts
Due: prettier --write, eslint

feat: overlay stack
  src/components/Overlay/Overlay.style.ts
  src/components/Overlay/Overlay.tsx
  src/components/Select/Select.tsx
  src/components/storyUtils/OverlayShowcase/OverlayShowcase.tsx
  src/components/utils/PositionInScreen/PositionInScreen.tsx
  src/hooks/useOverlayStack.ts
Due: prettier --write, eslint

fix: test and types errors
  .eslintrc.json
  package.json
  src/components/ButtonBase/ButtonBase.style.ts
  src/components/ButtonBase/config.ts
  src/components/Chart/BarChart/BarChart.tsx
  src/components/Chart/BarChart/utils.ts
  src/components/DatePicker/__snapshots__/DatePicker.stories.storyshot
  src/components/Filter/Filter.test.tsx
  src/components/List/__snapshots__/List.stories.storyshot
  src/components/Menu/__snapshots__/Menu.stories.storyshot
  src/components/Notification/NotificationsContainer/NotificationsContainer.style.tsx
  src/components/Overlay/Overlay.test.tsx
  src/components/Select/Select.test.tsx
  src/components/TopAppBar/__snapshots__/TopAppBar.stories.storyshot
  src/components/TopAppBar/__snapshots__/TopAppBar.test.tsx.snap
  src/components/storyUtils/TooltipShowcase/TooltipShowcase.tsx
  src/hooks/useTypeColorToColorMatch.tsx
  src/storybook.test.tsx
  src/theme/palette.ts
  src/theme/utils.ts
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint

feat: change background color of modal and drawer
  src/components/Drawer/Drawer.style.ts
  src/components/Modal/Modal.style.ts
Due: prettier --write, eslint

Notes added by 'git notes add'
  57/970eadf99121aba70aae7c04880e4d341aef47
Due: none

chore: update actions
  .github/workflows/main.yml
  .github/workflows/sonar.yml
Due: none

fix: update node version
  environments/common.env
Due: none

feat(CDP-412): drawer size type change
  src/components/Drawer/Drawer.stories.tsx
  src/components/Drawer/Drawer.style.ts
  src/components/Drawer/Drawer.test.tsx
  src/components/Drawer/Drawer.tsx
  src/components/Drawer/Drawer.types.ts
  src/components/storyUtils/BarChartShowCase/BarChartShowCase.tsx
Due: prettier --write, eslint

feat(CDP-413): add max width and max height props to modal
  src/components/Modal/Modal.style.ts
  src/components/Modal/Modal.tsx
Due: prettier --write, eslint

feat: snaps
  src/__storyshots__/Original Components/Chart-BarChart.snap
Due: none

chore: bump react-stately
  package.json
  yarn.lock
Due: prettier --write

feat: docs
  src/__storyshots__/Updated Components/Drawer/Drawer-Sizes.snap
  src/components/Drawer/Drawer.mdx
  src/components/Drawer/Drawer.stories.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  29/e066268903dba5fb148b9a1d52bb304dd1cbf3
Due: none

Notes added by 'git notes add'
  ad/f1559b34bcd7e3a25df440476d284720a8ecbe
Due: none

feat: add sx to all tabs and tabstepper components
  src/components/TabStepper/TabStepper.mdx
  src/components/TabStepper/TabStepper.tsx
  src/components/TabStepper/components/TabStep/TabStep.style.ts
  src/components/TabStepper/components/TabStep/TabStep.tsx
  src/components/TabStepper/types.ts
  src/components/TabStepper/utils/TabStepperStoryComponents.tsx
  src/components/Tabs/Tabs.mdx
  src/components/Tabs/Tabs.tsx
  src/components/Tabs/components/Tab/Tab.style.ts
  src/components/Tabs/components/Tab/Tab.tsx
  src/components/Tabs/components/TabPanel/TabPanel.tsx
  src/components/Tabs/components/TabsContainer/TabsContainer.style.ts
  src/components/Tabs/components/TabsContainer/TabsContainer.tsx
  src/components/Tabs/types.ts
  src/components/Tabs/utils/TabsStoryComponents.tsx
Due: prettier --write, eslint

feat: snaps
  src/__storyshots__/Updated Components/Tabs/TabStepper-Playground.snap
  src/__storyshots__/Updated Components/Tabs/TabStepper-TabStepperOrientation.snap
  src/__storyshots__/Updated Components/Tabs/TabStepper-TabStepperStatuses.snap
  src/__storyshots__/Updated Components/Tabs/TabStepper-TabStepperWithContent.snap
  src/__storyshots__/Updated Components/Tabs/Tabs-Playground.snap
  src/__storyshots__/Updated Components/Tabs/Tabs-TabsOrientation.snap
  src/__storyshots__/Updated Components/Tabs/Tabs-TabsWithContent.snap
  src/__storyshots__/Updated Components/Tabs/Tabs-TabsWithCounter.snap
Due: none

fix: docs
  src/components/TabStepper/TabStepper.mdx
Due: none

Notes added by 'git notes add'
  54/0f10417d708b04e6a20c675106c4659bea8f24
Due: none

feat: use pnpm
  .eslintrc.json
  .github/workflows/chromatic.yml
  .github/workflows/main.yml
  .github/workflows/sonar.yml
  .husky/pre-commit
  .npmrc
  .prettierrc.json
  .prettierrc.mjs
  package.json
  pnpm-lock.yaml
  src/__storyshots__/Original Components/Slider-RangeSliderDontTest.snap
  src/__storyshots__/Original Components/Slider-RangeSliderWithIncrementsDontTest.snap
  src/__storyshots__/Original Components/Slider-SelectorSliderDontTest.snap
  src/__storyshots__/Original Components/Slider-SelectorSliderWithIncrementsDontTest.snap
  src/components/List/List.tsx
  src/components/List/ListItem.tsx
  src/components/List/ListSection.tsx
  src/components/TextField/TextField.tsx
  src/hooks/useKeyboardEvents.ts
  yarn.lock
Due: prettier --write, eslint

fix: workflows
  .github/workflows/chromatic.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/main.yml
  .github/workflows/sonar.yml
  package.json
Due: prettier --write

chore: add packageManager
  package.json
Due: prettier --write

fix: remove postinstall-postinstall
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: migrate deploy frontend action
  .github/workflows/deploy-frontend.yml
  .github/workflows/main.yml
Due: none

feat: use pnpm (#850)
  .eslintrc.json
  .github/workflows/chromatic.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/deploy-frontend.yml
  .github/workflows/main.yml
  .github/workflows/sonar.yml
  .husky/pre-commit
  .npmrc
  .prettierrc.json
  .prettierrc.mjs
  package.json
  pnpm-lock.yaml
  src/__storyshots__/Original Components/Slider-RangeSliderDontTest.snap
  src/__storyshots__/Original Components/Slider-RangeSliderWithIncrementsDontTest.snap
  src/__storyshots__/Original Components/Slider-SelectorSliderDontTest.snap
  src/__storyshots__/Original Components/Slider-SelectorSliderWithIncrementsDontTest.snap
  src/components/List/List.tsx
  src/components/List/ListItem.tsx
  src/components/List/ListSection.tsx
  src/components/TextField/TextField.tsx
  src/hooks/useKeyboardEvents.ts
  yarn.lock
Due: prettier --write, eslint

Notes added by 'git notes add'
  c4/c694cd8ce2a1d66070370ab2d51dda49f57c2e
Due: none

fix: npm publish
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: remove codeql workflow file
  .github/workflows/codeql-analysis.yml
Due: none

fix: npm publish (#851)
  .github/workflows/codeql-analysis.yml
  package.json
  pnpm-lock.yaml
Due: prettier --write

Notes added by 'git notes add'
  6a/e45390f9b04f155b6a219ea2c58e75226d5868
Due: none

feat: remove close / clear button from preset filters
  src/components/Filter/Filter.stories.tsx
  src/components/Filter/components/FilterButton/FilterButton.tsx
Due: prettier --write, eslint

feat: fix types
  src/components/Filter/Filter.types.ts
  src/components/Select/types.ts
Due: prettier --write, eslint
