Repository Orfium/orfium-ictinus: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

Notes added by 'git notes add'
  3af88c89a61e383a713b5d6c4d8037d19a5140ff
Due: none

feat(barchart): BarChart and LineChart folders deleted
  src/components/BarChart/BarChart.stories.mdx
  src/components/BarChart/BarChart.tsx
  src/components/BarChart/PreviewBarChart.tsx
  src/components/BarChart/__snapshots__/BarChart.stories.storyshot
  src/components/BarChart/components/CustomTooltip/CustomTooltip.style.ts
  src/components/BarChart/components/CustomTooltip/CustomTooltip.tsx
  src/components/BarChart/components/CustomTooltip/index.ts
  src/components/BarChart/index.ts
  src/components/Chart/BarChart/BarChart.tsx
  src/components/Chart/Chart.stories.mdx
  src/components/LineChart/LineChart.stories.mdx
  src/components/LineChart/LineChart.test.ts
  src/components/LineChart/LineChart.tsx
  src/components/LineChart/__snapshots__/LineChart.stories.storyshot
  src/components/LineChart/components/CustomTooltip/CustomTooltip.style.ts
  src/components/LineChart/components/CustomTooltip/CustomTooltip.tsx
  src/components/LineChart/components/CustomTooltip/index.ts
  src/components/LineChart/components/GradientLine/GradientLine.tsx
  src/components/LineChart/components/GradientLine/index.ts
  src/components/LineChart/index.ts
  src/components/LineChart/mockedData.ts
  src/components/LineChart/story.utils.ts
  src/components/LineChart/utils.ts
  src/index.tsx
Due: prettier --write, eslint

feat(barchart): barchart finished, utils file added, calculate max-domain-value and tick-count
  src/components/Chart/BarChart/BarChart.tsx
  src/components/Chart/BarChart/PreviewBarChart.tsx
  src/components/Chart/BarChart/components/CustomTooltip/CustomTooltip.tsx
  src/components/Chart/BarChart/utils.ts
  src/components/Chart/Chart.stories.mdx
  src/components/Chart/__snapshots__/Chart.stories.storyshot
Due: prettier --write, eslint

Notes added by 'git notes add'
  ae776c0c691751e7a4c42053d154b53e41186f5d
Due: none

fix(barchart): custom formatter function added
  src/components/Chart/BarChart/BarChart.tsx
  src/components/Chart/BarChart/utils.ts
  src/components/Chart/__snapshots__/Chart.stories.storyshot
Due: prettier --write, eslint

Notes added by 'git notes add'
  f24159d73bc2b96bd434d9fc0f72e097ff924976
Due: none

chore(snapshots): updates snapshots
  src/components/Modal/__snapshots__/Modal.stories.storyshot
  src/components/Notification/__snapshots__/Notification.stories.storyshot
Due: none

fix(pagination): adds prop for arrow color
  src/components/IconButton/IconButton.tsx
  src/components/Pagination/Pagination.stories.mdx
  src/components/Pagination/Pagination.tsx
Due: prettier --write, eslint

fix(pagination): changes iconColor fixed to darkGray
  src/components/Pagination/Pagination.tsx
Due: prettier --write, eslint

fix(pagination): updates pagination stories
  src/components/Pagination/Pagination.stories.mdx
Due: none

feat(drawer): adds new state prop to menu item
  src/components/Drawer/Navigation/MenuItem/MenuItem.tsx
  src/components/Drawer/types.ts
  src/components/storyUtils/DrawerShowcase/DrawerShowcase.tsx
  src/components/storyUtils/DrawerShowcase/MenuItems.ts
Due: prettier --write, eslint

chore(tests): updates snapshots
  src/components/Pagination/__snapshots__/Pagination.stories.storyshot
Due: none

chore: upgrade js-yaml security issue
  yarn.lock
Due: none

feat(textfield): update all states with new designs
  .storybook/preview.js
  src/components/Label/Label.style.ts
  src/components/Select/Select.tsx
  src/components/TextField/TextField.stories.mdx
  src/components/TextField/TextField.style.ts
  src/components/TextField/TextField.tsx
  src/components/ThemeProvider/ThemeProvider.tsx
  src/components/storyUtils/TextFieldShowcase/TextFieldShowcase.tsx
  src/theme/typography.ts
  src/utils/size-utils.ts
Due: prettier --write, eslint

feat(textfield): simplify props, add more styles for hover and focus on outline and elevated
  .storybook/preview.js
  src/components/TextField/TextField.stories.mdx
  src/components/TextField/TextField.style.ts
  src/components/TextField/TextField.tsx
  src/components/ThemeProvider/ThemeProvider.tsx
  src/components/storyUtils/TextFieldShowcase/TextFieldShowcase.tsx
Due: prettier --write, eslint

feat(textfield): add disable status
  src/components/TextField/TextField.stories.mdx
  src/components/TextField/TextField.style.ts
  src/components/storyUtils/TextFieldShowcase/TextFieldShowcase.tsx
Due: prettier --write, eslint

chore(icon): adds new icon for processed logs
  src/components/Icon/__snapshots__/Icon.stories.storyshot
  src/components/Icon/assets/iconSelector.ts
  src/components/Icon/assets/processed-logs.svg
  src/components/Icon/types.ts
Due: prettier --write, eslint

chore(icon): change sizes to fit default icon size
  src/components/Icon/assets/play-count.svg
  src/components/Icon/assets/processed-logs.svg
Due: none

feat(textfield): allow dark for topbar integration
  src/components/Select/__snapshots__/Select.stories.storyshot
  src/components/TextField/TextField.style.ts
  src/components/TextField/TextField.tsx
  src/components/TextField/__snapshots__/TextField.stories.storyshot
  src/components/TextField/__tests__/TextField.test.ts
  src/components/TopAppBar/TopAppBar.tsx
  src/utils/size-utils.ts
Due: prettier --write, eslint

feat(textfield): update dark hover
  src/components/TextField/TextField.style.ts
  src/components/TextField/__snapshots__/TextField.stories.storyshot
Due: prettier --write, eslint

chore: remove testing background
  src/components/ThemeProvider/ThemeProvider.tsx
Due: prettier --write, eslint

feat(textfield): fix stories,hover,disabled for inputs, fix issues with border and error on outlined
  src/components/TextField/TextField.stories.mdx
  src/components/TextField/TextField.style.ts
  src/components/TextField/TextField.tsx
  src/components/TextField/__snapshots__/TextField.stories.storyshot
Due: prettier --write, eslint

feat(textfield): add forward ref for external use
  src/components/TextField/TextField.tsx
  src/components/TextField/__snapshots__/TextField.stories.storyshot
Due: prettier --write, eslint

feat(textfield): remove comments from style
  src/components/Label/Label.style.ts
  src/components/Select/__snapshots__/Select.stories.storyshot
  src/components/TextField/__snapshots__/TextField.stories.storyshot
Due: prettier --write, eslint

chore: add automatic release from next branch
  .releaserc
Due: none

chore: add next release
  README.md
Due: prettier --write

chore: add next to ci.yml
  .github/workflows/ci.yml
Due: none

Notes added by 'git notes add'
  81fe1f1abdf93ed0d58e0f20ba179abba9b30b34
Due: none

perf(pr): add next to pr and release new version
  .github/workflows/pr.yml
Due: none

Notes added by 'git notes add'
  d64934cf6ba80d3bf45741aa3a84e70eab021576
Due: none

feat: update readme with next version tip
  README.md
Due: prettier --write

Notes added by 'git notes add'
  98271ce64bb6403b5ecb08c0118c532a95268c13
Due: none

feat(donutchart): donutchart finished
  src/components/Chart/Chart.stories.mdx
  src/components/Chart/DonutChart/DonutChart.tsx
  src/components/Chart/DonutChart/PreviewDonutChart.tsx
  src/components/Chart/DonutChart/components/CustomLabel/CustomLabel.tsx
  src/components/Chart/DonutChart/components/CustomLabel/index.ts
  src/components/Chart/DonutChart/index.ts
  src/components/Chart/__snapshots__/Chart.stories.storyshot
  src/index.tsx
Due: prettier --write, eslint

feat(textfield): add lock style
  src/components/TextField/TextField.stories.mdx
  src/components/TextField/TextField.style.ts
  src/components/TextField/TextField.tsx
  src/components/TextField/__snapshots__/TextField.stories.storyshot
Due: prettier --write, eslint

feat(textfield): add hint message and statuses to apply different hints etc
  src/components/TextField/TextField.stories.mdx
  src/components/TextField/TextField.style.ts
  src/components/TextField/TextField.tsx
  src/components/TextField/__snapshots__/TextField.stories.storyshot
  src/components/storyUtils/TextFieldShowcase/TextFieldShowcase.tsx
Due: prettier --write, eslint

feat(textfield): same disable for all and fix icon spacing after qa
  src/components/Label/Label.style.ts
  src/components/Select/__snapshots__/Select.stories.storyshot
  src/components/TextField/TextField.stories.mdx
  src/components/TextField/TextField.style.ts
  src/components/TextField/TextField.tsx
  src/components/TextField/__snapshots__/TextField.stories.storyshot
  src/components/TextField/__tests__/TextField.test.ts
  src/utils/size-utils.ts
Due: prettier --write, eslint

feat(select): simplify select, add textfield as input and make a better story
  package.json
  src/components/Select/Select.stories.mdx
  src/components/Select/Select.tsx
  src/components/TextField/TextField.style.ts
  src/components/TextField/__snapshots__/TextField.stories.storyshot
  src/components/ThemeProvider/ThemeProvider.tsx
  yarn.lock
Due: prettier --write, eslint

chore(textfield): remove textfield showcase, minor fix on zindex and hint gray
  src/components/TextField/TextField.stories.mdx
  src/components/TextField/TextField.style.ts
  src/components/TextField/__snapshots__/TextField.stories.storyshot
  src/components/storyUtils/TextFieldShowcase/TextFieldShowcase.tsx
  src/components/storyUtils/TextFieldShowcase/index.ts
Due: prettier --write, eslint

feat(select): add functionality for the select WIP
  src/components/Select/Select.style.ts
  src/components/Select/Select.tsx
Due: prettier --write, eslint

feat(textfield): change icon lightgray to 600
  src/components/TextField/TextField.tsx
Due: prettier --write, eslint

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,scss,md}
  eslint: any of: *.{ts,tsx,js,jsx}
