Repository Orfium/orfium-ictinus: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,json,scss,md}": [
    "prettier --write",
    "git add"
  ],
  "*.{ts,tsx,js,jsx}": [
    "eslint"
  ]
}

feat: icon css
  src/components/Icon/Icon.style.ts
Due: prettier --write, eslint

feat: more snaps
  src/__storyshots__/Updated Components/Fields/NumberField-NumberFieldStatuses.snap
  src/__storyshots__/Updated Components/Fields/NumberField-NumberFields.snap
Due: none

Notes added by 'git notes add'
  05/4c70295fe79543eb27fced14f8b96b0e53c9d8
Due: none

feat: add onClear prop on "filtered" DatePicker
  src/__storyshots__/Updated Components/Fields/DatePicker-DatePickerWithFilter.snap
  src/__storyshots__/Updated Components/Filter-FilterWithDatePicker.snap
  src/components/DatePicker/DatePickInput/DatePickInput.tsx
  src/components/DatePicker/DatePicker.stories.tsx
  src/components/DatePicker/DatePicker.tsx
  src/components/DatePicker/DatePicker.types.ts
Due: prettier --write, eslint

feat: cr fixes on DatePicker
  src/components/DatePicker/DatePicker.stories.tsx
  src/components/DatePicker/DatePicker.tsx
Due: prettier --write, eslint

feat: add onClear prop on "filtered" DatePicker (#854)
  src/__storyshots__/Updated Components/Fields/DatePicker-DatePickerWithFilter.snap
  src/__storyshots__/Updated Components/Filter-FilterWithDatePicker.snap
  src/components/DatePicker/DatePickInput/DatePickInput.tsx
  src/components/DatePicker/DatePicker.stories.tsx
  src/components/DatePicker/DatePicker.tsx
  src/components/DatePicker/DatePicker.types.ts
Due: prettier --write, eslint

Notes added by 'git notes add'
  2a/6a3bb232cd8820cb4e2d9410c3841510107843
Due: none

Notes added by 'git notes add'
  d9/036d79ebf1161a31aaf59144b39ef0dd4b8ca0
Due: none

feat: modal overlays
  src/__storyshots__/Original Components/Modal-WithOverlays.snap
  src/__storyshots__/Updated Components/Drawer/Drawer-WithOverlays.snap
  src/components/DatePicker/DatePicker.tsx
  src/components/Drawer/Drawer.stories.tsx
  src/components/Drawer/Drawer.tsx
  src/components/Filter/Filter.tsx
  src/components/Modal/Modal.stories.tsx
  src/components/Modal/Modal.tsx
  src/components/Select/Select.tsx
  src/components/utils/Overlay/Overlay.tsx
  src/components/utils/Overlay/index.ts
  src/components/utils/PositionInScreen/PositionInScreen.style.ts
  src/components/utils/PositionInScreen/PositionInScreen.tsx
  src/components/utils/PositionInScreen/index.tsx
  src/components/utils/PositionInScreen/utils.ts
  src/hooks/useOverlayStack.ts
Due: prettier --write, eslint

fix: search filter styles
  src/__storyshots__/Updated Components/Search-CustomSearch.snap
  src/__storyshots__/Updated Components/Search-FilteredSearch.snap
  src/__storyshots__/Updated Components/Search-Playground.snap
  src/components/Search/Search.style.ts
Due: prettier --write, eslint

fix: filter hasWrapperWidth
  src/components/Filter/Filter.stories.tsx
  src/components/Filter/Filter.tsx
  src/components/Filter/Filter.types.ts
  src/components/Filter/components/FilterMenu/components/FilterSearchField/FilterSearchField.tsx
  src/components/ThemeProvider/ThemeProvider.style.ts
Due: prettier --write, eslint

chore: check mdx
  src/components/Notification/Notification.mdx
  tsconfig.json
Due: prettier --write

feat: toast aria
  src/__storyshots__/Updated Components/Notifications/Toast-Controlled.snap
  src/__storyshots__/Updated Components/Notifications/Toast-Default.snap
  src/components/Notification/Notification.stories.tsx
  src/components/Notification/Notification.test.tsx
  src/components/ThemeProvider/ThemeProvider.style.ts
  src/components/Toast/Toast.mdx
  src/components/Toast/Toast.stories.tsx
  src/components/Toast/Toast.style.ts
  src/components/Toast/Toast.tsx
  src/components/Toast/Toast.types.ts
  src/components/Toast/index.ts
  src/components/Toast/index.tsx
  src/components/ToastV4/ToastV4.style.ts
  src/components/ToastV4/ToastV4.test.tsx
  src/components/ToastV4/ToastV4.tsx
  src/components/ToastV4/index.tsx
  src/index.ts
Due: prettier --write, eslint

chore: add interactions
  src/components/Drawer/Drawer.stories.tsx
  src/components/Filter/Filter.stories.tsx
  src/components/Modal/Modal.stories.tsx
  src/components/Select/Select.stories.tsx
Due: prettier --write, eslint

chore: add stories
  .eslintignore
  src/__storyshots__/Updated Components/Notifications/Toast-Error.snap
  src/__storyshots__/Updated Components/Notifications/Toast-Informational.snap
  src/__storyshots__/Updated Components/Notifications/Toast-Neutral.snap
  src/__storyshots__/Updated Components/Notifications/Toast-Playground.snap
  src/__storyshots__/Updated Components/Notifications/Toast-ShouldCloseOnAction.snap
  src/__storyshots__/Updated Components/Notifications/Toast-Success.snap
  src/__storyshots__/Updated Components/Notifications/Toast-Warning.snap
  src/__storyshots__/Updated Components/Notifications/Toast-WithButtons.snap
  src/__storyshots__/Updated Components/Notifications/Toast-WithCustomIcon.snap
  src/components/Toast/Toast.mdx
  src/components/Toast/Toast.stories.tsx
  src/components/Toast/Toast.style.ts
  src/components/Toast/Toast.tsx
  src/components/Toast/Toast.types.ts
  src/components/Toast/index.ts
  src/index.ts
Due: prettier --write, eslint

feat: toast tests
  src/components/Toast/Toast.test.tsx
  src/components/Toast/Toast.tsx
Due: prettier --write, eslint

chore: align docs
  src/components/Toast/Toast.mdx
  src/components/Toast/Toast.stories.tsx
  src/components/Toast/Toast.style.ts
Due: prettier --write, eslint

fix: add hasIcon
  src/components/Toast/Toast.stories.tsx
  src/components/Toast/Toast.tsx
  src/components/Toast/Toast.types.ts
Due: prettier --write, eslint

feat: toast v5 (#856)
  .eslintignore
  src/__storyshots__/Updated Components/Notifications/Toast-Controlled.snap
  src/__storyshots__/Updated Components/Notifications/Toast-Default.snap
  src/__storyshots__/Updated Components/Notifications/Toast-Error.snap
  src/__storyshots__/Updated Components/Notifications/Toast-Informational.snap
  src/__storyshots__/Updated Components/Notifications/Toast-Neutral.snap
  src/__storyshots__/Updated Components/Notifications/Toast-Playground.snap
  src/__storyshots__/Updated Components/Notifications/Toast-ShouldCloseOnAction.snap
  src/__storyshots__/Updated Components/Notifications/Toast-Success.snap
  src/__storyshots__/Updated Components/Notifications/Toast-Warning.snap
  src/__storyshots__/Updated Components/Notifications/Toast-WithButtons.snap
  src/__storyshots__/Updated Components/Notifications/Toast-WithCustomIcon.snap
  src/components/Notification/Notification.mdx
  src/components/Notification/Notification.stories.tsx
  src/components/Notification/Notification.test.tsx
  src/components/ThemeProvider/ThemeProvider.style.ts
  src/components/Toast/Toast.mdx
  src/components/Toast/Toast.stories.tsx
  src/components/Toast/Toast.style.ts
  src/components/Toast/Toast.test.tsx
  src/components/Toast/Toast.tsx
  src/components/Toast/Toast.types.ts
  src/components/Toast/index.ts
  src/components/Toast/index.tsx
  src/components/ToastV4/ToastV4.style.ts
  src/components/ToastV4/ToastV4.test.tsx
  src/components/ToastV4/ToastV4.tsx
  src/components/ToastV4/index.tsx
  src/index.ts
  tsconfig.json
Due: prettier --write, eslint

Notes added by 'git notes add'
  ff/5a4efb46b2b61f2b031e1c74ef790fe2bdc151
Due: none

feat: add aria labels for accessibility
  src/__storyshots__/Original Components/Slider-RangeSliderDontTest.snap
  src/__storyshots__/Original Components/Slider-RangeSliderWithIncrementsDontTest.snap
  src/__storyshots__/Original Components/Slider-SelectorSliderDontTest.snap
  src/__storyshots__/Original Components/Slider-SelectorSliderWithIncrementsDontTest.snap
  src/__storyshots__/Updated Components/Fields/DatePicker-DatePickerWithFilter.snap
  src/__storyshots__/Updated Components/Fields/Select-MultiSelect.snap
  src/__storyshots__/Updated Components/Fields/TextField-MultiTextField.snap
  src/__storyshots__/Updated Components/Filter-CustomFilter.snap
  src/__storyshots__/Updated Components/Filter-FilterWithDatePicker.snap
  src/components/Filter/Filter.stories.tsx
  src/components/Filter/components/FilterButton/FilterButton.tsx
  src/components/Filter/components/FilterMenu/components/Options/Options.tsx
  src/components/MultiTextFieldBase/MultiTextFieldBase.tsx
  src/components/MultiTextFieldBase/hooks.tsx
  src/components/Slider/Slider.tsx
Due: prettier --write, eslint

fix: cr fixes
  src/__storyshots__/Updated Components/Fields/DatePicker-DatePickerWithFilter.snap
  src/__storyshots__/Updated Components/Fields/Select-MultiSelect.snap
  src/__storyshots__/Updated Components/Fields/TextField-MultiTextField.snap
  src/__storyshots__/Updated Components/Filter-CustomFilter.snap
  src/__storyshots__/Updated Components/Filter-FilterWithDatePicker.snap
  src/components/Filter/components/FilterButton/FilterButton.tsx
  src/components/Filter/components/FilterMenu/components/Options/Options.tsx
  src/components/MultiTextFieldBase/MultiTextFieldBase.tsx
  src/components/MultiTextFieldBase/hooks.tsx
Due: prettier --write, eslint

feat: add aria labels for accessibility (#858)
  src/__storyshots__/Original Components/Slider-RangeSliderDontTest.snap
  src/__storyshots__/Original Components/Slider-RangeSliderWithIncrementsDontTest.snap
  src/__storyshots__/Original Components/Slider-SelectorSliderDontTest.snap
  src/__storyshots__/Original Components/Slider-SelectorSliderWithIncrementsDontTest.snap
  src/__storyshots__/Updated Components/Fields/DatePicker-DatePickerWithFilter.snap
  src/__storyshots__/Updated Components/Fields/Select-MultiSelect.snap
  src/__storyshots__/Updated Components/Fields/TextField-MultiTextField.snap
  src/__storyshots__/Updated Components/Filter-CustomFilter.snap
  src/__storyshots__/Updated Components/Filter-FilterWithDatePicker.snap
  src/components/Filter/Filter.stories.tsx
  src/components/Filter/components/FilterButton/FilterButton.tsx
  src/components/Filter/components/FilterMenu/components/Options/Options.tsx
  src/components/MultiTextFieldBase/MultiTextFieldBase.tsx
  src/components/MultiTextFieldBase/hooks.tsx
  src/components/Slider/Slider.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  93/beadddd4dd6c63c01c0d00dbbfb47c57429894
Due: none

feat: table enhancements
  src/components/Table/Table.tsx
  src/components/Table/components/TTitle/TTitle.tsx
  src/components/Table/docs/Showcase/Showcase.stories.tsx
  src/components/Table/types.ts
Due: prettier --write, eslint

fix: failing test
  src/components/Table/Table.tsx
Due: prettier --write, eslint

feat(tabs): display 0 as counter prop on TabItem component
  src/__storyshots__/Updated Components/Tabs/Tabs-TabsWithCounter.snap
  src/components/Tabs/Tabs.tsx
  src/components/Tabs/constants.tsx
Due: prettier --write, eslint

feat(tabs): add empty state on example
  src/components/Tabs/constants.tsx
Due: prettier --write, eslint

feat(tabs): display 0 as counter prop on TabItem component (#860)
  src/__storyshots__/Updated Components/Tabs/Tabs-TabsWithCounter.snap
  src/components/Tabs/Tabs.tsx
  src/components/Tabs/constants.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  04/703a3811b576259a2edaf0d24d603bdc5a3ab8
Due: none

feat: table enhancements (#859)
  src/components/Table/Table.tsx
  src/components/Table/components/TTitle/TTitle.tsx
  src/components/Table/docs/Showcase/Showcase.stories.tsx
  src/components/Table/types.ts
Due: prettier --write, eslint

Notes added by 'git notes add'
  22/0511234fcf9d9685a790bf6bb49444bc8c5f04
Due: none
