Repository Orfium/orfium-ictinus: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

Create blue-deers-judge.md
  .changeset/blue-deers-judge.md
Due: prettier --write

chore: update react-stately to version 3.41.0 and adjust dependencies
  packages/ictinus/package.json
  pnpm-lock.yaml
Due: prettier --write

Version Packages
  .changeset/heavy-signs-tie.md
Due: prettier --write

chore: update README files and add package documentation
  .changeset/tricky-trees-beam.md
  README.md
  packages/ictinus/README.md
Due: prettier --write

Create fair-roses-trade.md
  .changeset/fair-roses-trade.md
Due: prettier --write

Update fair-roses-trade.md
  .changeset/fair-roses-trade.md
Due: prettier --write

chore: downgrade React and React-DOM to version 18.3.1 in tokens-example application
  apps/tokens-example/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: update snapshot files for Navigation and Tooltip components
  apps/storybook/src/__storyshots__/Original Components/Navigation-NavigationStory.snap
  apps/storybook/src/__storyshots__/Original Components/Navigation-NavigationWithCustomComponent.snap
  apps/storybook/src/__storyshots__/Updated Components/Tooltip-TooltipPlacement.snap
  apps/storybook/src/__storyshots__/Vanilla/Box-Default.snap
  apps/storybook/src/__storyshots__/Vanilla/ThemeProvider-Default.snap
Due: none

chore: update chromatic dependency and refactor Storybook preview
  apps/storybook/.storybook/preview.tsx
  package.json
  packages/ictinus/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint

chore: add @orfium/tokens dependency to Storybook and update pnpm-lock.yaml
  apps/storybook/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update Storybook configuration and dependencies
  .github/workflows/chromatic.yml
  apps/storybook/package.json
  apps/storybook/vite.config.ts
  pnpm-lock.yaml
Due: prettier --write, eslint

chore: add build step for Storybook in Chromatic workflow
  .github/workflows/chromatic.yml
Due: none

chore: remove jackspeak dependency and update peer dependencies
  .github/workflows/chromatic.yml
  apps/storybook/package.json
  apps/storybook/src/__storyshots__/Updated Components/Tooltip-TooltipPlacement.snap
  apps/storybook/src/__storyshots__/Vanilla/Box-Default.snap
  apps/storybook/src/__storyshots__/Vanilla/ThemeProvider-Default.snap
  package.json
  packages/ictinus/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: simplify build command for Storybook in Chromatic workflow
  .github/workflows/chromatic.yml
Due: none

chore: streamline Vite configuration for Storybook
  apps/storybook/vite.config.ts
Due: prettier --write, eslint

chore: update Chromatic workflow to include storybookBaseDir
  .github/workflows/chromatic.yml
Due: none

chore: update snapshot files for Tooltip and Box components
  apps/storybook/src/__storyshots__/Updated Components/Tooltip-TooltipPlacement.snap
  apps/storybook/src/__storyshots__/Vanilla/Box-Default.snap
  apps/storybook/src/__storyshots__/Vanilla/ThemeProvider-Default.snap
Due: none

chore: update Storybook preview configuration
  apps/storybook/.storybook/preview.tsx
Due: prettier --write, eslint

chore: update Storybook build configuration in Chromatic workflow
  .github/workflows/chromatic.yml
  apps/storybook/package.json
Due: prettier --write

chore: add @orfium/tokens dependency to Storybook
  apps/storybook/package.json
Due: prettier --write

chore: add @orfium/tokens to pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

chore: update S3 sync path for Storybook deployment
  .github/workflows/deploy-frontend.yml
Due: none

chore: update environment variable access in DatePicker utils
  apps/storybook/src/stories/DatePicker/utils.ts
Due: prettier --write, eslint

feat: tag code variant
  .changeset/cool-chairs-wink.md
  apps/storybook/src/__storyshots__/Updated Components/Tag-CodeTag.snap
  apps/storybook/src/__storyshots__/Updated Components/Tag-TagSizes.snap
  apps/storybook/src/stories/Tag/Tag.mdx
  apps/storybook/src/stories/Tag/Tag.stories.tsx
  apps/storybook/src/storybook/Showcases/TagShowcase/TagShowcase.tsx
  packages/ictinus/src/components/Tag/Tag.style.ts
  packages/ictinus/src/components/Tag/Tag.tsx
  packages/ictinus/src/components/Tag/Tag.types.ts
  packages/ictinus/src/components/Tag/__snapshots__/Tag.stories.storyshot
Due: prettier --write, eslint

chore: remove variant prop from container styles
  packages/ictinus/src/components/Tag/Tag.style.ts
Due: prettier --write, eslint

feat: tag code variant (#899)
  .changeset/cool-chairs-wink.md
  apps/storybook/src/__storyshots__/Updated Components/Tag-CodeTag.snap
  apps/storybook/src/__storyshots__/Updated Components/Tag-TagSizes.snap
  apps/storybook/src/stories/Tag/Tag.mdx
  apps/storybook/src/stories/Tag/Tag.stories.tsx
  apps/storybook/src/storybook/Showcases/TagShowcase/TagShowcase.tsx
  packages/ictinus/src/components/Tag/Tag.style.ts
  packages/ictinus/src/components/Tag/Tag.tsx
  packages/ictinus/src/components/Tag/Tag.types.ts
  packages/ictinus/src/components/Tag/__snapshots__/Tag.stories.storyshot
Due: prettier --write, eslint

chore: update ictinus package version and enhance theme functions
  package.json
  packages/ictinus/package.json
  packages/ictinus/src/components/Avatar/Avatar.style.ts
  packages/ictinus/src/components/Avatar/AvatarStack/AvatarStack.style.ts
  packages/ictinus/src/components/Breadcrumb/Breadcrumb.style.ts
  packages/ictinus/src/components/DatePicker/OverlayComponent/OverlayComponent.style.ts
  packages/ictinus/src/components/Drawer/Drawer.style.ts
  packages/ictinus/src/components/Filter/components/FilterButton/FilterButton.style.ts
  packages/ictinus/src/components/Filter/components/FilterMenu/components/Options/Options.style.ts
  packages/ictinus/src/components/Navigation/Directory/Directory.style.ts
  packages/ictinus/src/components/Navigation/Navigation.style.ts
  packages/ictinus/src/components/Select/Select.style.ts
  packages/ictinus/src/components/Slider/Slider.style.tsx
  packages/ictinus/src/components/Slider/components/SliderThumb/SliderThumb.style.tsx
  packages/ictinus/src/components/TabStepper/components/TabStep/TabStep.style.ts
  packages/ictinus/src/components/Table/components/TH/TH.style.ts
  packages/ictinus/src/components/Table/hooks/useTable.tsx
  packages/ictinus/src/components/TableV4/components/ExtendedColumnItem/ExtendedColumnItem.style.tsx
  packages/ictinus/src/components/Tabs/components/Tab/Tab.style.ts
  packages/ictinus/src/components/Tag/Tag.style.ts
  packages/ictinus/src/components/Tag/Tag.tsx
  packages/ictinus/src/components/ToastV4/ToastV4.style.ts
  packages/ictinus/src/components/TopAppBar/TopAppBar.style.ts
  packages/ictinus/src/components/TopAppBar/components/Logo/Logo.style.ts
  packages/ictinus/src/components/TopAppBar/components/Search/Search.style.ts
  packages/ictinus/src/index.ts
  packages/ictinus/src/theme/functions.ts
  packages/ictinus/src/vanilla/ThemeProvider/ThemeProvider.tsx
  packages/tokens/package.json
  packages/tokens/src/index.ts
Due: prettier --write, eslint

chore: update ESLint configuration and adjust type definitions in ictinus package
  apps/storybook/eslint.config.js
  packages/ictinus/package.json
Due: prettier --write, eslint

chore: downgrade/revert package versions for ictinus and tokens
  packages/ictinus/package.json
  packages/tokens/package.json
Due: prettier --write

Create pink-mangos-chew.md
  .changeset/pink-mangos-chew.md
Due: prettier --write

chore: update tsconfig
  apps/storybook/.storybook/main.ts
  apps/storybook/tsconfig.app.json
Due: prettier --write, eslint

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,scss,md}
  eslint: any of: *.{ts,tsx,js,jsx}
