Repository Orfium/orfium-ictinus: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

[feature/breadcrumb]: fixes broken advanced breadcrumb
  src/components/Breadcrumb/Breadcrumb.tsx
Due: prettier --write, eslint

[feature/breadcrumb]: moves MenuPositionAllowed to style.ts
  src/components/Menu/Menu.style.ts
  src/components/Menu/Menu.tsx
Due: prettier --write, eslint

[feature/breadcrumb]: exports breadcrumb to main index
  src/index.tsx
Due: prettier --write, eslint

[issue-37]: adds property for a custom html tag and a type of allowed html tags and an option for aria role
  src/components/utils/ClickAwayListener/ClickAwayListener.tsx
Due: prettier --write, eslint

[issue-37]: changes the html tag of breadcrumb collapsed componet
  src/components/Breadcrumb/BreadcrumbCollapsed/BreadcrumbCollapsed.tsx
Due: prettier --write, eslint

Add CI file
  .github/workflows/ci.yml
Due: none

Fix heroku path
  .github/workflows/ci.yml
Due: none

Add app.json file for heroku
  app.json
Due: prettier --write

Force deployment
  src/components/ThemeProvider/ThemeProvider.tsx
Due: prettier --write, eslint

small fix on useMemo to update calculations when data is new
  src/components/Table/Table.tsx
Due: prettier --write, eslint

wrap inline header content to span
  src/components/Table/components/RenderRowOrNestedRow/RenderRowOrNestedRow.tsx
Due: prettier --write, eslint

pass data-column with the name of the table header
  src/components/Table/components/RenderRowOrNestedRow/RenderRowOrNestedRow.tsx
Due: prettier --write, eslint

fix the disabled status of select and buttons
  src/components/Button/Button.style.ts
  src/components/Select/Select.stories.mdx
  src/components/Select/Select.tsx
Due: prettier --write, eslint

Move jest to peer dependencies
  package.json
  yarn.lock
Due: prettier --write

new calendar icon + fix on icon gallery
  src/components/Icon/Icon.stories.mdx
  src/components/Icon/assets/calendar-empty.svg
  src/components/Icon/assets/iconSelector.ts
Due: prettier --write, eslint

introduce new spacing
  src/components/Button/Button.style.ts
  src/components/IconButton/IconButton.style.ts
  src/components/Menu/Menu.style.ts
  src/components/Table/components/RenderRowOrNestedRow/RenderRowOrNestedRow.tsx
  src/theme/spacing.ts
Due: prettier --write, eslint

introduce react-day-picker + dayjs
  package.json
  yarn.lock
Due: prettier --write

make textField wrapper style neutral in order to be used inside the library to wrap other fields with the same logic, fix floated labels with icons and create icon wrappers for styling
  src/components/TextField/TextField.style.ts
  src/components/TextField/TextField.tsx
Due: prettier --write, eslint

first draft of date range picker
  src/components/DatePicker/DatePicker.stories.mdx
  src/components/DatePicker/DatePicker.style.ts
  src/components/DatePicker/DatePicker.tsx
  src/components/DatePicker/index.ts
  src/index.tsx
Due: prettier --write, eslint

add new fat arrow icons and type guard the iconSelector
  src/components/Icon/assets/fat-arrow-left.svg
  src/components/Icon/assets/fat-arrow-right.svg
  src/components/Icon/assets/iconSelector.ts
  src/components/Icon/types.ts
Due: prettier --write, eslint

add isRangePicker boolean to handle both range and day picker
  src/components/DatePicker/DatePicker.style.ts
  src/components/DatePicker/DatePicker.tsx
Due: prettier --write, eslint

fix typings and split component
  src/components/DatePicker/DatePicker.style.ts
  src/components/DatePicker/DatePicker.tsx
  src/components/DatePicker/OverlayComponent/OverlayComponent.tsx
Due: prettier --write, eslint

fix props on overlay component based on react day picker
  src/components/DatePicker/OverlayComponent/OverlayComponent.tsx
Due: prettier --write, eslint

small fix on paddings in button due to new spacings
  src/components/Button/Button.style.ts
Due: prettier --write, eslint

fix svgs to import on style.ts, fix arrow navigations and add some documentation
  .storybook/main.js
  src/components/DatePicker/DatePicker.stories.mdx
  src/components/DatePicker/DatePicker.style.ts
  src/components/DatePicker/DatePicker.tsx
  src/components/DatePicker/OverlayComponent/OverlayComponent.tsx
  src/components/Icon/assets/fat-arrow-left.svg
  src/components/Icon/assets/fat-arrow-right.svg
Due: prettier --write, eslint

add keyword icon
  src/components/Icon/Icon.stories.mdx
  src/components/Icon/assets/iconSelector.ts
  src/components/Icon/assets/keyword.svg
  src/components/Icon/types.ts
Due: prettier --write, eslint

Add action for npm publishing
  .github/workflows/npm-publish.ym
Due: none

Release 0.5.0
  .github/workflows/npm-publish.yml
  package.json
Due: prettier --write

Update package.json
  package.json
Due: prettier --write

Release 0.5.1
  package.json
Due: prettier --write

Release 0.5.2
  package.json
Due: prettier --write

Create README.md
  README.md
Due: prettier --write

Release 0.5.3
  package.json
Due: prettier --write

fix types everywhere to finilize datepicker
  src/components/DatePicker/DatePicker.stories.mdx
  src/components/DatePicker/DatePicker.tsx
  src/components/DatePicker/OverlayComponent/OverlayComponent.tsx
  src/components/TextField/TextField.tsx
Due: prettier --write, eslint

[feature/snapshot-testing]: updates storybook to 6 and adds storyshots
  .storybook/main.js
  .storybook/preview.js
  jest.config.js
  package.json
  src/storybook.test.ts
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint

[feature/snapshot-testing]: adds storyshots for components
  src/components/Button/__snapshots__/Button.stories.storyshot
  src/components/CheckBox/__snapshots__/CheckBox.stories.storyshot
  src/components/Radio/__snapshots__/Radio.stories.storyshot
  src/components/RadioGroup/__snapshots__/RadioGroup.stories.storyshot
  src/components/Select/__snapshots__/Select.stories.storyshot
  src/components/Table/__snapshots__/Table.stories.storyshot
  src/components/TextField/__snapshots__/TextField.stories.storyshot
  src/components/ThemeProvider/__snapshots__/ThemeProvider.stories.storyshot
Due: none

Initial commit. No verify.
  src/components/ThemeProvider/ThemeProvider.tsx
  src/theme/index.ts
  src/theme/palette.ts
  src/theme/utils.ts
Due: prettier --write, eslint

[feature/snapshot-testing]: fixes webpack configuration for svg rules
  .storybook/main.js
Due: prettier --write, eslint

Fix eslint warnings
  .eslintrc.json
Due: prettier --write

[feature/snapshot-testing]: introduces fix for mocking svg files when testing stories
  __mocks__/fileMock.ts
  globals.d.ts
  jest.config.js
  package.json
  src/components/Icon/assets/iconSelector.ts
  yarn.lock
Due: prettier --write, eslint

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,scss,md}
  eslint: any of: *.{ts,tsx,js,jsx}
