Repository Orfium/orfium-ictinus: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

fix(datepicker): updated stories and storyshots
  src/components/DatePicker/DatePicker.stories.mdx
  src/components/DatePicker/__snapshots__/DatePicker.stories.storyshot
Due: none

fix(datepicker): updated snapshots
  src/components/DatePicker/Day/__snapshots__/Day.test.tsx.snap
  src/components/DatePicker/Month/__snapshots__/Month.test.tsx.snap
  src/components/DatePicker/OverlayComponent/__snapshots__/OverlayComponent.test.tsx.snap
  src/components/DatePicker/OverlayComponent/components/MonthWrapper/__snapshots__/MonthWrapper.test.tsx.snap
Due: none

fix(white-space): disables text wrap on white space
  src/components/Drawer/Navigation/MenuItem/MenuItem.tsx
  src/components/Drawer/Navigation/Navigation.style.ts
  src/components/Label/Label.style.ts
  src/components/storyUtils/DrawerShowcase/MenuItems.ts
Due: prettier --write, eslint

test(snapshots): updates snapshots
  src/components/DatePicker/OverlayComponent/__snapshots__/OverlayComponent.test.tsx.snap
  src/components/DatePicker/OverlayComponent/components/MonthWrapper/__snapshots__/MonthWrapper.test.tsx.snap
  src/components/DatePicker/__snapshots__/DatePicker.stories.storyshot
  src/components/Drawer/__snapshots__/Drawer.stories.storyshot
  src/components/Select/__snapshots__/Select.stories.storyshot
  src/components/TextField/__snapshots__/TextField.stories.storyshot
Due: none

Notes added by 'git notes add'
  cfd48aea0bfc5dbbd8360ed7c22303b9d696a16b
Due: none

test(snapshots): updates snapshots
  src/components/DatePicker/OverlayComponent/__snapshots__/OverlayComponent.test.tsx.snap
  src/components/DatePicker/OverlayComponent/components/MonthWrapper/__snapshots__/MonthWrapper.test.tsx.snap
  src/components/DatePicker/__snapshots__/DatePicker.stories.storyshot
Due: none

refactor: removes obsolete code
  src/components/Drawer/Navigation/MenuItem/MenuItem.tsx
  src/components/Drawer/__snapshots__/Drawer.stories.storyshot
Due: prettier --write, eslint

Notes added by 'git notes add'
  864ebd68c89ed4c62be8462d790ec3f3fb8e83fb
Due: none

refactor: changes mock value
  src/components/Drawer/__snapshots__/Drawer.stories.storyshot
  src/components/storyUtils/DrawerShowcase/MenuItems.ts
Due: prettier --write, eslint

fix: updates ts-jest dev dependency
  package.json
  yarn.lock
Due: prettier --write

fix(barchart): maxBarSize added
  src/components/Chart/BarChart/BarChart.tsx
  src/components/Chart/__snapshots__/Chart.stories.storyshot
  src/components/storyUtils/BarChartShowCase/BarChartShowCase.tsx
  yarn.lock
Due: prettier --write, eslint

chore: change app.json to hobby
  app.json
Due: prettier --write

Notes added by 'git notes add'
  fcc342d67cdf3b8b822c3a6a4b008bdeab080a68
Due: none

chore: add hobby for heroku formation
  app.json
Due: prettier --write

fix(barchart): change barChartStowCase
  src/components/Chart/__snapshots__/Chart.stories.storyshot
  src/components/storyUtils/BarChartShowCase/BarChartShowCase.tsx
Due: prettier --write, eslint

test: updates snapshot
  src/components/Select/__snapshots__/Select.stories.storyshot
Due: none

fix(drawer): add no wrap for text
  src/components/Drawer/Navigation/Navigation.style.ts
  src/components/Drawer/__snapshots__/Drawer.stories.storyshot
Due: prettier --write, eslint

Notes added by 'git notes add'
  b7/d599fd5e91b2327afcc21d4b5d6c66641de72e
Due: none

Notes added by 'git notes add'
  6e/0b7c0486800a0f4656ab0210ab7e8b14125eb6
Due: none

feat(select): add isLoading prop [DS-90]
  src/components/Loader/Loader.style.tsx
  src/components/Loader/__snapshots__/Loader.stories.storyshot
  src/components/Select/Select.test.tsx
  src/components/Select/Select.tsx
  src/components/Select/__snapshots__/Select.stories.storyshot
  src/components/storyUtils/SelectShowcase/SelectShowcase.tsx
Due: prettier --write, eslint

feat(iconbutton): swatches and icon button playground
  src/components/IconButton/IconButton.stories.mdx
  src/components/IconButton/IconButton.tsx
  src/components/IconButton/__snapshots__/IconButton.stories.storyshot
  src/components/Pagination/__snapshots__/Pagination.stories.storyshot
Due: prettier --write, eslint

Notes added by 'git notes add'
  70/fdd9a5c264f3197d77e2add4517ecf5e065976
Due: none

Notes added by 'git notes add'
  b1/73154d05e598861696a3e20242875a6facaf1d
Due: none

Notes added by 'git notes add'
  81/5e124b42587d92306911345b7ea6e380605699
Due: none

feat(button): add transparent state of button
  src/components/Button/Button.stories.mdx
  src/components/Button/Button.style.ts
  src/components/Button/Button.tsx
  src/components/Button/__snapshots__/Button.stories.storyshot
  src/components/IconButton/IconButton.stories.mdx
  src/components/IconButton/IconButton.style.ts
  src/components/IconButton/IconButton.tsx
Due: prettier --write, eslint

feat(modal): update close button with transparent
  src/components/Chart/BarChart/components/CustomTooltipContent/CustomTooltipContent.tsx
  src/components/Modal/Modal.tsx
  src/components/Modal/ModalContent/ModalContent.style.ts
Due: prettier --write, eslint

feat(pagination): update buttons with transparent
  src/components/Pagination/Pagination.tsx
  src/components/Pagination/__snapshots__/Pagination.stories.storyshot
Due: prettier --write, eslint

feat(asset-matching): adds base folder structure for asset matching component
  src/components/AssetMatching/AssetMatching.stories.mdx
  src/components/AssetMatching/AssetMatching.style.ts
  src/components/AssetMatching/Assetmatching.test.tsx
  src/components/AssetMatching/Assetmatching.tsx
  src/components/AssetMatching/__snapshots__/AssetMatching.stories.storyshot
  src/components/AssetMatching/index.ts
  src/theme/functions.ts
Due: prettier --write, eslint

build(husky): updates husky dep
  package.json
  yarn.lock
Due: prettier --write

feat(search): search initial
  src/components/Chart/BarChart/components/CustomTooltipContent/CustomTooltipContent.tsx
  src/components/TopAppBar/TopAppBar.style.ts
  src/components/TopAppBar/TopAppBar.tsx
  src/components/TopAppBar/components/Search/Search.style.ts
  src/components/TopAppBar/components/Search/Search.tsx
  src/components/TopAppBar/components/Search/index.ts
Due: prettier --write, eslint

feat(topnav search): add disabled state and minor fixes
  src/components/TopAppBar/TopAppBar.stories.mdx
  src/components/TopAppBar/TopAppBar.tsx
  src/components/TopAppBar/TopAppBar.types.ts
  src/components/TopAppBar/components/Search/Search.style.ts
  src/components/TopAppBar/components/Search/Search.tsx
  src/components/storyUtils/TopAppBarShowcase.tsx
Due: prettier --write, eslint

feat(topnav search): rename prope
  src/components/TopAppBar/TopAppBar.stories.mdx
Due: none

feat(top nav): update stories
  src/components/TopAppBar/TopAppBar.stories.mdx
  src/components/TopAppBar/TopAppBar.types.ts
  src/components/storyUtils/TopAppBarShowcase.tsx
Due: prettier --write, eslint

feat(top nav): update stories
  src/components/TopAppBar/__snapshots__/TopAppBar.stories.storyshot
Due: none

feat(top nav): update tests
  src/components/TopAppBar/TopAppBar.test.tsx
  src/components/TopAppBar/__snapshots__/TopAppBar.test.tsx.snap
  src/components/storyUtils/TopAppBarShowcase.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  98/5136baf8db2d5bc21d44d1b907bd8468071e5c
Due: none

feat(top nav): remove unnecessary code
  src/components/TopAppBar/components/Search/Search.style.ts
  src/components/TopAppBar/components/Search/Search.tsx
Due: prettier --write, eslint

feat(asset-matching): adds section's header and creates the layout for upcoming components
  src/components/AssetMatching/AssetMatching.stories.mdx
  src/components/AssetMatching/AssetMatching.style.ts
  src/components/AssetMatching/Assetmatching.tsx
  src/components/AssetMatching/components/SectionHeader/SectionHeader.style.ts
  src/components/AssetMatching/components/SectionHeader/SectionHeader.tsx
  src/components/AssetMatching/components/SectionHeader/index.ts
  src/components/AssetMatching/components/Toolbox/Toolbox.style.ts
  src/components/AssetMatching/components/Toolbox/Toolbox.tsx
  src/components/AssetMatching/components/index.ts
  src/hooks/useCheck.ts
  src/theme/functions.ts
Due: prettier --write, eslint

feat(asset-matching): adds toolbox for primary and secondary buttons
  src/components/AssetMatching/components/Toolbox/index.ts
Due: prettier --write, eslint

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,scss,md}
  eslint: any of: *.{ts,tsx,js,jsx}
