Repository Orfium/orfium-ictinus: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,json,scss,md}": [
    "prettier --write",
    "git add"
  ],
  "*.{ts,tsx,js,jsx}": [
    "eslint"
  ]
}

extend support of select option value for both string and number
  src/components/Select/Select.tsx
Due: prettier --write, eslint

fix pagination types and coloring
  src/components/Pagination/Pagination.tsx
Due: prettier --write, eslint

Table Row Align Cell prop
  src/components/Table/Table.tsx
  src/components/Table/components/RenderRowOrNestedRow/RenderRowOrNestedRow.tsx
Due: prettier --write, eslint

reset table ids when data is changed
  src/components/Table/Table.tsx
Due: prettier --write, eslint

Test With Value on select
  src/components/Select/Select.tsx
Due: prettier --write, eslint

Fix on pagination force change
  src/hooks/usePagination.ts
Due: prettier --write, eslint

Fix on pagination force change vol3
  src/hooks/usePagination.ts
Due: prettier --write, eslint

Fix on pagination force change vol4
  src/hooks/usePagination.ts
Due: prettier --write, eslint

add percentage width options
  src/components/Table/Table.stories.mdx
  src/components/Table/Table.tsx
  src/components/Table/TableRowContext.ts
  src/components/Table/components/RenderRowOrNestedRow/RenderRowOrNestedRow.tsx
Due: prettier --write, eslint

Initial commit
  LICENSE
  README.md
Due: prettier --write

feat: added create-react-app
  .github/workflows/ci.yml
  .gitignore
  .releaserc.json
  CHANGELOG
  README.md
  README.old.md
  package-lock.json
  package.json
  public/favicon.ico
  public/index.html
  public/logo192.png
  public/logo512.png
  public/manifest.json
  public/robots.txt
  src/App.css
  src/App.js
  src/App.test.js
  src/index.css
  src/index.js
  src/logo.svg
  src/serviceWorker.js
  src/setupTests.js
Due: prettier --write, eslint

fix: fixed npm ci command issue and removed old changelog
  README.old.md
  package-lock.json
  package.json
Due: prettier --write

fix: added missing dependencies
  package-lock.json
  package.json
Due: prettier --write

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
Due: prettier --write

fix: added npm publish config to releaserc
  .releaserc.json
Due: prettier --write

chore(release): 1.0.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix: fixed publish issues
  .releaserc.json
  package.json
Due: prettier --write

chore(release): 1.0.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

feat: added auto deployment to github pages
  .github/workflows/ci.yml
  package-lock.json
  package.json
Due: prettier --write

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix: added missing steps for deployment
  .github/workflows/ci.yml
Due: none

chore(release): 1.1.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix: removed artifact step
  .github/workflows/ci.yml
Due: none

chore(release): 1.1.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix: removed deploy step and merged it build step
  .github/workflows/ci.yml
Due: none

chore(release): 1.1.3 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore: changing config in ci
  .github/workflows/ci.yml
Due: none

chore: ci linting
  .github/workflows/ci.yml
Due: none

chore: linting
  .github/workflows/ci.yml
Due: none

feat: added github actions deployment
  .github/workflows/ci.yml
Due: none

chore(release): 1.2.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Deploying to master from @ f3db3a7c13831b54f2192be25b986a02d91da967 🚀
  asset-manifest.json
  favicon.ico
  index.html
  logo192.png
  logo512.png
  manifest.json
  precache-manifest.158cecc18e2f0e6cdc4d50ec763271c5.js
  robots.txt
  service-worker.js
  static/css/main.5f361e03.chunk.css
  static/css/main.5f361e03.chunk.css.map
  static/js/2.6b805406.chunk.js
  static/js/2.6b805406.chunk.js.LICENSE.txt
  static/js/2.6b805406.chunk.js.map
  static/js/main.514e3c92.chunk.js
  static/js/main.514e3c92.chunk.js.map
  static/js/runtime-main.8b132b75.js
  static/js/runtime-main.8b132b75.js.map
  static/media/logo.5d5d9eef.svg
Due: prettier --write, eslint

fix: removed build files
  .github/workflows/ci.yml
  CHANGELOG
  asset-manifest.json
  favicon.ico
  index.html
  logo192.png
  logo512.png
  manifest.json
  precache-manifest.158cecc18e2f0e6cdc4d50ec763271c5.js
  robots.txt
  service-worker.js
  static/css/main.5f361e03.chunk.css
  static/css/main.5f361e03.chunk.css.map
  static/js/2.6b805406.chunk.js
  static/js/2.6b805406.chunk.js.LICENSE.txt
  static/js/2.6b805406.chunk.js.map
  static/js/main.514e3c92.chunk.js
  static/js/main.514e3c92.chunk.js.map
  static/js/runtime-main.8b132b75.js
  static/js/runtime-main.8b132b75.js.map
  static/media/logo.5d5d9eef.svg
Due: prettier --write, eslint

chore(release): 1.2.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore: changed readme and added hello world
  README.md
  src/App.js
Due: prettier --write, eslint

fix: deploymeny with github pages
  .github/workflows/ci.yml
  package.json
Due: prettier --write

chore(release): 1.2.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix: ignore CI if a commit contains skip ci
  .github/workflows/ci.yml
Due: none

chore(release): 1.2.3 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write
