Repository Orfium/orfium-ictinus: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

fix: update class syntax in Navigation story snapshots
  .huskyrc
  pnpm-lock.yaml
  src/__storyshots__/Original Components/Navigation-NavigationStory.snap
  src/__storyshots__/Original Components/Navigation-NavigationWithCustomComponent.snap
  src/components/Controls/CheckBox/CheckBox.test.tsx
  src/components/Controls/Radio/Radio.test.tsx
  src/components/Controls/Switch/Switch.style.ts
  src/components/Controls/Switch/Switch.test.tsx
Due: prettier --write, eslint

chore: update Node.js version requirement and adjust GitHub workflows
  .github/workflows/deploy-frontend.yml
  .github/workflows/main.yml
  package.json
Due: prettier --write

fix: remove unused chromatic addon
  .storybook/main.ts
Due: prettier --write, eslint

chore: add remark-gfm plugin for Markdown support in Storybook
  .storybook/main.ts
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint

fix: docs inline canvas height
  .storybook/preview-head.html
  .storybook/preview.tsx
Due: prettier --write, eslint

chore: test height 100%
  .storybook/preview.tsx
Due: prettier --write, eslint

chore: test height 100%
  .storybook/preview-head.html
  .storybook/preview.tsx
Due: prettier --write, eslint

fix: add overflow
  .storybook/preview-head.html
Due: none

chore: add min height
  .storybook/preview.tsx
Due: prettier --write, eslint

chore: test height
  .storybook/preview-head.html
  .storybook/preview.tsx
Due: prettier --write, eslint

Create angry-meals-drive.md
  .changeset/angry-meals-drive.md
Due: prettier --write

chore: upgrade vitest to version 3.2.4
  package.json
  pnpm-lock.yaml
Due: prettier --write

Create stale-toys-check.md
  .changeset/stale-toys-check.md
Due: prettier --write

fix: docs inline canvas height (#886)
  .changeset/angry-meals-drive.md
  .storybook/preview-head.html
  .storybook/preview.tsx
Due: prettier --write, eslint

chore: upgrade vitest to version 3.2.4 (#887)
  .changeset/stale-toys-check.md
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: add missing details icon
  src/__storyshots__/Updated Components/Icon-Collection.snap
  src/components/Icon/Icon.types.ts
  src/components/Icon/assets/generic/details.svg
  src/components/Icon/assets/iconSelector.ts
  src/components/Icon/constants.ts
Due: prettier --write, eslint

fix: update snapshots
  src/__storyshots__/Original Components/TableV4-RegularTableWithSortingAndTooltips.snap
  src/__storyshots__/Original Components/TableV4-TableWithExpandableRowsAndSortDir.snap
  src/__storyshots__/Updated Components/Tooltip-InteractiveTooltip.snap
  src/__storyshots__/Updated Components/Tooltip-Playground.snap
  src/__storyshots__/Updated Components/Tooltip-TextTooltip.snap
  src/__storyshots__/Updated Components/Tooltip-TooltipPlacement.snap
Due: none

Change commit type from feat to chore
  .changeset/wild-suits-serve.md
Due: prettier --write

feat: add missing details icon (#890)
  .changeset/wild-suits-serve.md
  src/__storyshots__/Original Components/TableV4-RegularTableWithSortingAndTooltips.snap
  src/__storyshots__/Original Components/TableV4-TableWithExpandableRowsAndSortDir.snap
  src/__storyshots__/Updated Components/Icon-Collection.snap
  src/__storyshots__/Updated Components/Tooltip-InteractiveTooltip.snap
  src/__storyshots__/Updated Components/Tooltip-Playground.snap
  src/__storyshots__/Updated Components/Tooltip-TextTooltip.snap
  src/__storyshots__/Updated Components/Tooltip-TooltipPlacement.snap
  src/components/Icon/Icon.types.ts
  src/components/Icon/assets/generic/details.svg
  src/components/Icon/assets/iconSelector.ts
  src/components/Icon/constants.ts
Due: prettier --write, eslint

fix: explicit generated css filename
  .changeset/yellow-swans-report.md
  package.json
  vite.config.ts
Due: prettier --write, eslint

fix: explicit generated css filename (#892)
  .changeset/yellow-swans-report.md
  package.json
  vite.config.ts
Due: prettier --write, eslint

feat: ignore dist from pacakges
  packages/ictinus/node_modules/@vitejs/plugin-react/LICENSE
  packages/ictinus/node_modules/@vitejs/plugin-react/README.md
  packages/ictinus/node_modules/@vitejs/plugin-react/dist/index.cjs
  packages/ictinus/node_modules/@vitejs/plugin-react/dist/index.d.cts
  packages/ictinus/node_modules/@vitejs/plugin-react/dist/index.d.mts
  packages/ictinus/node_modules/@vitejs/plugin-react/dist/index.d.ts
  packages/ictinus/node_modules/@vitejs/plugin-react/dist/index.mjs
  packages/ictinus/node_modules/@vitejs/plugin-react/dist/refresh-runtime.js
  packages/ictinus/node_modules/@vitejs/plugin-react/package.json
  packages/ictinus/node_modules/eslint-plugin-react-hooks/LICENSE
  packages/ictinus/node_modules/eslint-plugin-react-hooks/README.md
  packages/ictinus/node_modules/eslint-plugin-react-hooks/cjs/eslint-plugin-react-hooks.development.js
  packages/ictinus/node_modules/eslint-plugin-react-hooks/cjs/eslint-plugin-react-hooks.production.min.js
  packages/ictinus/node_modules/eslint-plugin-react-hooks/index.js
  packages/ictinus/node_modules/eslint-plugin-react-hooks/package.json
Due: prettier --write, eslint

feat: update Storybook dependencies and testing configuration
  apps/storybook/package.json
  apps/storybook/src/test-setup.ts
  apps/storybook/vite.config.ts
  packages/ictinus/package.json
  packages/ictinus/vite.codemods.config.ts
  packages/ictinus/vite.config.ts
  pnpm-lock.yaml
  vitest.config.mts
Due: prettier --write, eslint

feat: update Storybook and package configurations
  .github/workflows/deploy-frontend.yml
  .husky/pre-commit
  apps/storybook/.storybook/main.ts
  apps/storybook/package.json
  apps/storybook/src/stories/Table/components/TBody/TBody.mdx
  apps/storybook/src/stories/Table/components/TD/TD.mdx
  apps/storybook/src/stories/Table/components/TH/TH.mdx
  apps/storybook/src/stories/Table/components/THead/THead.mdx
  apps/storybook/src/stories/Table/components/TR/TR.mdx
  apps/storybook/src/stories/Table/components/TTitle/TTitle.mdx
  apps/storybook/src/stories/Table/hooks/useTable.mdx
  apps/storybook/src/stories/Toast/Toast.mdx
  apps/storybook/src/stories/storyUtils/ThemeWrapper/ThemeWrapper.tsx
  apps/storybook/src/storybook/Showcases/BorderWidthShowcase/BorderWidthShowcase.tsx
  apps/storybook/src/storybook/Showcases/BoxShadowShowcase/BoxShadowShowcase.tsx
  apps/storybook/src/storybook/Showcases/MinHeightShowcase/MinHeightShowcase.tsx
  apps/storybook/src/storybook/Showcases/OpacityShowcase/OpacityShowcase.tsx
  apps/storybook/src/storybook/Showcases/RadiusShowcase/RadiusShowcase.tsx
  apps/storybook/src/storybook/Showcases/SizingShowcase/SizingShowcase.tsx
  apps/storybook/src/storybook/Showcases/SpacingSizingShowcase/SpacingSizingShowcase.tsx
  apps/storybook/src/storybook/Showcases/StateShowcase/StateShowcase.tsx
  apps/storybook/src/storybook/Showcases/TextColorShowcase/TextColorShowcase.tsx
  apps/storybook/src/storybook/Showcases/TokenColorsShowcase/TokenColorsShowcase.tsx
  apps/storybook/src/storybook/Showcases/TypographyTokensShowcase/TypographyTokensShowcase.tsx
  apps/storybook/vite.config.ts
  package.json
  packages/ictinus/package.json
  packages/ictinus/src/components/Breadcrumb/Breadcrumb.types.ts
  packages/ictinus/src/components/Table/Table.tsx
  packages/ictinus/src/components/TextArea/TextArea.tsx
  packages/ictinus/src/index.ts
  packages/ictinus/src/theme/palette.config.ts
  packages/ictinus/tsconfig.json
  packages/ictinus/vite.config.ts
  pnpm-lock.yaml
Due: prettier --write, eslint

feat: enhance project setup with Turbo and new scripts
  package.json
  packages/ictinus/package.json
  packages/ictinus/src/components/Navigation/Navigation.test.tsx
  packages/ictinus/src/components/TextField/TextField.test.tsx
  packages/ictinus/src/components/TextField/index.ts
  packages/ictinus/src/components/TopAppBar/TopAppBar.test.tsx
  packages/ictinus/src/index.ts
  packages/ictinus/src/test/utils.tsx
  packages/ictinus/src/utils/common.ts
  packages/ictinus/src/vite-env.d.ts
  pnpm-lock.yaml
  turbo.json
Due: prettier --write, eslint

refactor: update Storybook package configuration
  apps/storybook/package.json
Due: prettier --write

feat: enhance documentation and update dependencies
  .github/workflows/chromatic.yml
  .github/workflows/deploy-frontend.yml
  .github/workflows/sonar.yml
  package.json
  packages/ictinus/package.json
  packages/ictinus/src/components/Table/Table.tsx
  pnpm-lock.yaml
  typedoc.json
Due: prettier --write, eslint

fix: explicit generated css filename based on 9a6ce84
  .husky/pre-commit
  apps/storybook/.storybook/preview.tsx
  packages/ictinus/package.json
Due: prettier --write, eslint

chore: update ESLint configuration and enhance pre-commit checks
  apps/storybook/package.json
  apps/storybook/src/stories/ExpandCollapse/ExpandCollapse.stories.tsx
  apps/storybook/src/stories/Menu/Menu.stories.tsx
  apps/storybook/src/stories/Search/Search.stories.tsx
  apps/storybook/src/stories/Slider/Slider.stories.tsx
  apps/storybook/src/stories/Table/constants.tsx
  apps/storybook/src/stories/TableV4/TableV4.stories.tsx
  apps/storybook/src/stories/storyUtils/CardShowcase/CardShowcase.style.tsx
  apps/storybook/src/stories/storyUtils/EdgeCasesSelectShowcase/EdgeCasesSelectShowcase.tsx
  apps/storybook/src/stories/storyUtils/SelectShowcase/MultiSelectShowcase.tsx
  apps/storybook/src/stories/storyUtils/SelectShowcase/SelectShowcase.tsx
  apps/storybook/src/stories/storyUtils/TopAppBarShowcase.tsx
  apps/storybook/src/storybook/Preview/Preview.tsx
  apps/storybook/src/storybook/Showcases/TokenColorsShowcase/utils.ts
  apps/storybook/src/storybook/Typography/Typography.style.ts
  apps/storybook/src/storybook/UsageGuidelines/UsageGuidelines.tsx
  packages/ictinus/.eslintrc.json
  packages/ictinus/package.json
  packages/ictinus/src/components/Box/Box.test.ts
  packages/ictinus/src/components/Broadcast/tests/Broadcast.test.tsx
  packages/ictinus/src/components/Controls/CheckBox/CheckBox.test.tsx
  packages/ictinus/src/components/Controls/Radio/Radio.test.tsx
  packages/ictinus/src/components/DatePicker/DatePicker.test.tsx
  packages/ictinus/src/components/Filter/Filter.test.tsx
  packages/ictinus/src/components/InlineAlert/tests/InlineAlert.test.tsx
  packages/ictinus/src/components/Modal/Modal.test.tsx
  packages/ictinus/src/components/Notification/Notification.test.tsx
  packages/ictinus/src/components/NumberField/NumberField.test.tsx
  packages/ictinus/src/components/Select/Select.test.tsx
  packages/ictinus/src/components/TableV4/TableV4.tsx
  packages/ictinus/src/components/TextField/TextField.test.tsx
  packages/ictinus/src/components/Toast/Toast.test.tsx
  packages/ictinus/src/components/TopAppBar/TopAppBar.test.tsx
  packages/ictinus/src/components/TruncatedContent/TruncatedContent.test.tsx
  packages/ictinus/src/components/utils/tests/Slots.test.tsx
  packages/ictinus/src/hooks/__tests__/useSearchQueryParams.test.ts
  packages/ictinus/src/test/utils.tsx
  packages/ictinus/src/theme/states/tests/states.test.ts
  packages/ictinus/src/utils/common.ts
Due: prettier --write, eslint

feat: update dependencies and improve Storybook configuration
  .gitignore
  apps/storybook/.storybook/preview.tsx
  apps/storybook/package.json
  apps/storybook/src/storybook/Link/Link.tsx
  apps/storybook/src/storybook/Typography/Typography.tsx
  apps/storybook/src/test-setup.ts
  package.json
  packages/ictinus/package.json
  packages/ictinus/src/components/Avatar/Avatar.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint

refactor: improve Storybook test setup and update snapshots
  apps/storybook/src/__storyshots__/Updated Components/Tooltip-TooltipPlacement.snap
  apps/storybook/src/__storyshots__/Vanilla/Box-Default.snap
  apps/storybook/src/__storyshots__/Vanilla/ThemeProvider-Default.snap
  apps/storybook/src/stories/Icon/Icon.stories.tsx
  apps/storybook/src/stories/storyUtils/IconographyShowcase/IconographyShowcase.tsx
  apps/storybook/src/storybook.test.tsx
  apps/storybook/src/test-setup.ts
  apps/storybook/src/vanilla/Box/Box.stories.tsx
  apps/storybook/src/vanilla/ThemeProvider/ThemeProvider.stories.tsx
  packages/ictinus/package.json
Due: prettier --write, eslint

feat: add Drawer component documentation and stories
  apps/storybook/src/stories/Drawer/Drawer.mdx
  apps/storybook/src/stories/Drawer/Drawer.stories.tsx
Due: prettier --write, eslint

chore: update version to 5.39.3 in package.json
  packages/ictinus/package.json
Due: prettier --write

chore: update GitHub workflows to use 'main' branch instead of 'master'
  .github/workflows/chromatic.yml
  .github/workflows/main.yml
  .github/workflows/release.yml
  .github/workflows/sonar.yml
Due: none

chore: update GitHub workflows to use 'master' branch instead of 'main'
  .github/workflows/chromatic.yml
  .github/workflows/main.yml
  .github/workflows/release.yml
  .github/workflows/sonar.yml
Due: none

chore: remove scripts from package.json to streamline configuration
  package.json
Due: prettier --write

chore: clean up package.json by removing unused fields and dependencies
  package.json
Due: prettier --write

chore: update dependencies and improve test configurations
  packages/ictinus/package.json
  packages/ictinus/src/components/Controls/CheckBox/__snapshots__/CheckBox.test.tsx.snap
  packages/ictinus/src/components/Controls/Radio/__snapshots__/Radio.test.tsx.snap
  packages/ictinus/src/components/Controls/Switch/__snapshots__/Switch.test.tsx.snap
  pnpm-lock.yaml
  turbo.json
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,scss,md}
  eslint: any of: *.{ts,tsx,js,jsx}
