Repository Orfium/orfium-ictinus: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,json,scss,md}": [
    "prettier --write",
    "git add"
  ],
  "*.{ts,tsx,js,jsx}": [
    "eslint"
  ]
}

Notes added by 'git notes add'
  1d/4df16d701aab25186c4a54528ea8a61eedd05f
Due: none

feat: add Switch component
  package.json
  src/components/Switch/Switch.stories.mdx
  src/components/Switch/Switch.style.tsx
  src/components/Switch/Switch.test.tsx
  src/components/Switch/Switch.tsx
  src/components/Switch/__snapshots__/Switch.stories.storyshot
  src/components/Switch/index.ts
  src/components/storyUtils/SwitchShowcase/SwitchShowcase.tsx
  src/components/storyUtils/SwitchShowcase/index.ts
  src/index.tsx
  yarn.lock
Due: prettier --write, eslint

Update pr.yml
  .github/workflows/pr.yml
Due: none

style: fix onhover color issue
  src/components/Switch/Switch.style.tsx
Due: prettier --write, eslint

test: add more tests
  src/components/Switch/Switch.test.tsx
  src/components/Switch/Switch.tsx
Due: prettier --write, eslint

style: update styles and add storybook knob
  src/components/Switch/Switch.stories.mdx
  src/components/Switch/Switch.style.tsx
  src/components/Switch/Switch.tsx
  src/components/Switch/__snapshots__/Switch.stories.storyshot
  src/components/storyUtils/SwitchShowcase/SwitchShowcase.tsx
Due: prettier --write, eslint

style: update styles and stories based on dqa
  src/components/Switch/Switch.stories.mdx
  src/components/Switch/Switch.style.tsx
  src/components/Switch/Switch.tsx
  src/components/Switch/__snapshots__/Switch.stories.storyshot
  src/components/storyUtils/SwitchShowcase/SwitchShowcase.tsx
Due: prettier --write, eslint

Update implementation of Chip to not be a button when read-only
  src/components/Chip/Chip.test.tsx
  src/components/Chip/Chip.tsx
  src/components/Chip/__snapshots__/Chip.stories.storyshot
Due: prettier --write, eslint

Update implementation of NotificationsContainer.tsx to be able to be placed within other elements
  src/components/Notification/Notification.stories.mdx
  src/components/Notification/NotificationsContainer/NotificationsContainer.style.tsx
  src/components/Notification/NotificationsContainer/NotificationsContainer.tsx
  src/components/Notification/__snapshots__/Notification.stories.storyshot
  src/components/storyUtils/NotificationShowcase/NotificationShowcase.tsx
  src/components/storyUtils/NotificationShowcase/index.ts
Due: prettier --write, eslint

Remove console.logs
  src/components/Notification/NotificationsContainer/NotificationsContainer.tsx
  src/components/storyUtils/NotificationShowcase/NotificationShowcase.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  df/cb0f94d6d25fee93250d5cd371d84fc05fc050
Due: none

style: apply style fixes for dqa
  src/components/Switch/Switch.style.tsx
  src/components/Switch/Switch.tsx
  src/components/Switch/__snapshots__/Switch.stories.storyshot
Due: prettier --write, eslint

Notes added by 'git notes add'
  ad/214c725b22fbb30df0a460f01acd1027ebea5b
Due: none

fix: build issue
  src/components/TextArea/TextArea.tsx
Due: prettier --write, eslint

chore: use reusable workflow from github actions
  .github/workflows/combine-prs.yml
Due: none

fix: imports
  src/components/TextArea/TextArea.tsx
Due: prettier --write, eslint

feat: integrate button base to sx prop
  src/components/ButtonBase/ButtonBase.style.ts
  src/components/ButtonBase/ButtonBase.tsx
  src/components/IconButton/IconButton.style.ts
  src/components/IconButton/IconButton.tsx
  src/utils/types.ts
Due: prettier --write, eslint

fix: type issues
  src/components/Button/Button.style.ts
  src/components/IconButton/IconButton.style.ts
Due: prettier --write, eslint

feat: select add onClear prop
  src/components/Select/Select.tsx
Due: prettier --write, eslint

style: apply style fixes for dqa
  src/components/Switch/Switch.style.tsx
  src/components/Switch/__snapshots__/Switch.stories.storyshot
Due: prettier --write, eslint

Notes added by 'git notes add'
  1d/a856b9fbd8e417bf15883251e95c0cbecc5460
Due: none

Notes added by 'git notes add'
  e2/2ab6cbd5d79043d9e9d927d26e806f89cca5e2
Due: none

fix: fix textfield testid prop
  src/components/Select/__snapshots__/Select.stories.storyshot
  src/components/TextField/TextField.tsx
Due: prettier --write, eslint

fix: fix textfield testid prop
  src/components/TextField/TextField.tsx
Due: prettier --write, eslint

feat: add storybook-addon-designs as dev dep
  package.json
  yarn.lock
Due: prettier --write

feat: add storybook-addon-designs to storybook config
  .storybook/main.ts
Due: prettier --write, eslint

feat: add figma base url
  src/utils/common.ts
Due: prettier --write, eslint

feat: add figma files half way there
  src/components/Avatar/Avatar.stories.mdx
  src/components/Breadcrumb/Breadcrumb.stories.mdx
  src/components/Button/Button.stories.mdx
  src/components/Card/Card.stories.mdx
  src/components/CheckBox/CheckBox.stories.mdx
  src/components/Chip/Chip.stories.mdx
  src/components/DatePicker/DatePicker.stories.mdx
  src/components/Drawer/Drawer.stories.mdx
  src/components/Filter/Filter.stories.mdx
  src/components/Icon/Icon.stories.mdx
  src/components/IconButton/IconButton.stories.mdx
Due: none

feat: add figma files almost there
  src/components/List/List.stories.mdx
  src/components/Loader/Loader.stories.mdx
  src/components/Menu/Menu.stories.mdx
  src/components/Modal/Modal.stories.mdx
  src/components/Pagination/Pagination.stories.mdx
  src/components/Radio/Radio.stories.mdx
  src/components/SearchField/SearchField.stories.mdx
  src/components/Select/Select.stories.mdx
  src/components/Table/Table.stories.mdx
  src/components/TextArea/TextArea.stories.mdx
Due: none

feat: add figma files final
  src/components/TextArea/TextArea.stories.mdx
  src/components/TextField/TextField.stories.mdx
  src/components/Tooltip/Tooltip.stories.mdx
  src/components/TopAppBar/TopAppBar.stories.mdx
Due: none

Notes added by 'git notes add'
  7e/c7939f377cf35ddd9cb042d112451564ec1473
Due: none

Notes added by 'git notes add'
  23/25eb300c98beed29f9dc564eae493a709a5236
Due: none

fix: removes testid prop from tippy to fix warning
  src/components/Table/__snapshots__/Table.stories.storyshot
  src/components/Table/components/ExtendedColumnItem/ExtendedColumnItem.tsx
  src/components/Tooltip/Tooltip.tsx
  src/components/storyUtils/TooltipShowcase/TooltipShowcase.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  9c/0cd4e1384183c80631b50728df2a897bb9b039
Due: none

feat: pr comments
  src/components/TextArea/TextArea.stories.mdx
  src/components/TopAppBar/TopAppBar.stories.mdx
Due: none

Notes added by 'git notes add'
  e3/2f4f24535bf8f7cb800a128200fcb72de70084
Due: none
