Repository Orfium/orfium-ictinus: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

Move stuff to new configuration
  .storybook/addons.js
  .storybook/main.js
  .storybook/preview.js
  .storybook/webpack.config.js
  src/components/Button/Button.stories.tsx
  src/components/ThemeProvider/ThemeProvider.stories.tsx
  src/components/Welcome/welcome.stories.tsx
Due: prettier --write, eslint

Upgrade packages
  package.json
  yarn.lock
Due: prettier --write

Add test packages, update tsconfig, main.js ad remove unused file
  .storybook/main.js
  .storybook/webpack.config.js
  package.json
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint

Simplify how loaders are declared
  .storybook/main.js
Due: prettier --write, eslint

Move dev deps to devDependencies
  package.json
Due: prettier --write

Remove awesome-typescript-loader package
  package.json
  yarn.lock
Due: prettier --write

fixing the build
  yarn.lock
Due: none

Remove babel-preset-react-app package
  package.json
  yarn.lock
Due: prettier --write

first draft of the typography config
  src/components/Button/Button.tsx
  src/theme/typography.ts
Due: prettier --write, eslint

fix weights and add global font
  package.json
  src/components/ThemeProvider/ThemeProvider.tsx
  src/theme/typography.ts
  yarn.lock
Due: prettier --write, eslint

import only needed font - WIP
  src/components/ThemeProvider/ThemeProvider.tsx
Due: prettier --write, eslint

Progress
  yarn.lock
Due: none

Progress
  .babelrc
  .storybook/preview.js
  globals.d.ts
  package.json
  src/components/Button/Button.tsx
  src/components/ThemeProvider/ThemeProvider.stories.tsx
  src/components/ThemeProvider/ThemeProvider.tsx
  src/theme/index.ts
  src/theme/palette.ts
  src/theme/typography.ts
  src/theme/utils.ts
Due: prettier --write, eslint

Add yarn lock back
  yarn.lock
Due: none

Update project setup
  .babelrc.json
  .browserlistrc
  .eslintrc
  .eslintrc.json
  .gitignore
  .prettierrc.json
  .storybook/main.js
  .storybook/preview.js
  package.json
  src/components/Button/Button.stories.tsx
  src/components/ThemeProvider/ThemeProvider.stories.tsx
  src/components/ThemeProvider/ThemeProvider.tsx
  src/index.tsx
  src/theme/index.ts
  src/theme/typography.ts
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint

Update main key to direct to the correct path
  package.json
Due: prettier --write

Rename index.tsx files to just index.ts
  src/components/Button/index.ts
  src/components/ThemeProvider/index.ts
Due: prettier --write, eslint

Rename command to build:storybook
  package.json
Due: prettier --write

Remove webpack dep since we are not actually using it explicitly
  package.json
  yarn.lock
Due: prettier --write

Fix issue with yarn start command
  package.json
  tsconfig.json
Due: prettier --write

introduce mdx structure for stories and split guid and design system stories
  .huskyrc
  .storybook/main.js
  .storybook/preview.js
  guides/COLORS.stories.mdx
  guides/ENVIROMENT.stories.mdx
  guides/ICONOGRAPHY.stories.mdx
  guides/INTRODUCTION.stories.mdx
  guides/TYPOGRAPHY.stories.mdx
  guides/USAGE.stories.mdx
  package.json
  src/components/Button/Button.stories.mdx
  src/components/Button/Button.stories.tsx
  src/components/ThemeProvider/ThemeProvider.stories.mdx
  src/components/ThemeProvider/ThemeProvider.stories.tsx
  src/components/Welcome/COLORS.md
  src/components/Welcome/ENVIROMENT.md
  src/components/Welcome/ICONOGRAPHY.md
  src/components/Welcome/INTRODUCTION.md
  src/components/Welcome/TYPOGRAPHY.md
  src/components/Welcome/welcome.stories.tsx
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint

invert husky
  .huskyrc
  package.json
  yarn.lock
Due: prettier --write

update file structure with pretty
  .storybook/main.js
Due: prettier --write, eslint

I cotribute
  .storybook/main.js
  .storybook/preview.js
  package.json
  yarn.lock
Due: prettier --write, eslint

fix building ts files with js
  tsconfig.json
Due: prettier --write

update config
  src/theme/typography.ts
Due: prettier --write, eslint

normalize css, basic button and accepted font size config
  package.json
  src/components/Button/Button.stories.mdx
  src/components/Button/Button.style.ts
  src/components/Button/Button.tsx
  src/components/ThemeProvider/ThemeProvider.tsx
  src/theme/palette.ts
  src/theme/typography.ts
  src/utils/themeFunctions.ts
  yarn.lock
Due: prettier --write, eslint

general component for stacking components with spacing, button stories for sizing
  src/components/Button/Button.stories.mdx
  src/components/Button/Button.style.ts
  src/components/Stack/Stack.tsx
  src/components/Stack/index.ts
  src/components/ThemeProvider/ThemeProvider.tsx
Due: prettier --write, eslint

default margin on canvas
  .storybook/preview.js
Due: prettier --write, eslint

fix configuration of ts on props to explicit show the type
  .storybook/main.js
Due: prettier --write, eslint

apply different sizes and colors
  src/components/Button/Button.stories.mdx
  src/components/Button/Button.style.ts
  src/theme/palette.ts
  src/utils/themeFunctions.ts
Due: prettier --write, eslint

comments for picking height function and strict spacing numbers on type
  src/components/Button/Button.style.ts
  src/theme/spacing.ts
Due: prettier --write, eslint

gray border from configuration for button
  src/components/Button/Button.style.ts
Due: prettier --write, eslint

introduce useTheme hook for typing, introduce button cases
  src/components/Button/Button.stories.mdx
  src/components/Button/Button.style.ts
  src/components/Button/Button.tsx
  src/hooks/useTheme.ts
  src/utils/common.ts
Due: prettier --write, eslint

fix icon button
  src/components/Button/Button.stories.mdx
  src/components/Button/Button.style.ts
  src/components/Button/Button.tsx
Due: prettier --write, eslint

WIP theming toggle
  .storybook/preview.js
  src/components/Button/Button.style.ts
  src/components/ThemeProvider/ThemeProvider.tsx
  src/hooks/useThemeSwitch.tsx
  src/theme/index.ts
  src/utils/themeFunctions.ts
Due: prettier --write, eslint

new theming for dark and light and correct toggle for each story
  .storybook/preview.js
  src/components/ThemeProvider/ThemeProvider.tsx
  src/hooks/useThemeSwitch.tsx
  src/theme/index.ts
  src/theme/palette.ts
Due: prettier --write, eslint

start with light theme on
  src/hooks/useThemeSwitch.tsx
Due: prettier --write, eslint

fix all sizes with rem
  src/components/Button/Button.style.ts
  src/theme/spacing.ts
Due: prettier --write, eslint

fix all icon buttons
  src/components/Button/Button.stories.mdx
  src/components/Button/Button.style.ts
  src/components/Button/Button.tsx
Due: prettier --write, eslint

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,scss,md}
  eslint: any of: *.{ts,tsx,js,jsx}
