Repository Orfium/orfium-ictinus: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

Notes added by 'git notes add'
  f3/8c2a952efa3ac913b5e9c974d25c94e05fd9e0
Due: none

feat(tooltip): change of tooltip to tippy with all testing etc
  __mocks__/@tippyjs/react.tsx
  jest.config.js
  package.json
  src/components/Table/__snapshots__/Table.stories.storyshot
  src/components/Tooltip/Tooltip.style.ts
  src/components/Tooltip/Tooltip.tsx
  src/components/Tooltip/__snapshots__/Tooltip.stories.storyshot
  src/storybook.test.ts
Due: prettier --write, eslint

feat(tooltip): add forwardref for all main components and remove wrapper for children
  package.json
  src/components/Avatar/Avatar.tsx
  src/components/Button/Button.tsx
  src/components/ButtonBase/ButtonBase.tsx
  src/components/CheckBox/CheckBox.tsx
  src/components/Chip/Chip.tsx
  src/components/Icon/Icon.tsx
  src/components/IconButton/IconButton.tsx
  src/components/Table/__snapshots__/Table.stories.storyshot
  src/components/Tooltip/Tooltip.stories.mdx
  src/components/Tooltip/Tooltip.style.ts
  src/components/Tooltip/Tooltip.tsx
  src/components/Tooltip/__snapshots__/Tooltip.stories.storyshot
  src/utils/common.ts
  yarn.lock
Due: prettier --write, eslint

chore: revert package.json version
  package.json
Due: prettier --write

chore: remove unused comment from ButtonBase
  src/components/Button/Button.tsx
Due: prettier --write, eslint

chore: remove react-tooltip
  package.json
  yarn.lock
Due: prettier --write

fix: fixes button type and on click handler
  src/components/Button/Button.style.ts
  src/components/Button/Button.tsx
  src/components/ButtonBase/ButtonBase.style.ts
  src/components/ButtonBase/ButtonBase.tsx
  src/components/storyUtils/AsyncButtonShowcase/AsyncButtonShowcase.tsx
  src/hooks/useLoading.ts
Due: prettier --write, eslint

test: updates snapshots
  src/components/Button/__snapshots__/Button.stories.storyshot
  src/components/IconButton/__snapshots__/IconButton.stories.storyshot
Due: none

refactor: changes after review
  src/components/Button/Button.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  e8/dd1f749005581b683c8f97742845edabf3db5a
Due: none

fix: modal close button color issue
  src/components/Modal/Modal.tsx
Due: prettier --write, eslint

fix: select dropdown disabled locked issue
  src/components/Select/Select.tsx
  src/components/Select/__snapshots__/Select.stories.storyshot
Due: prettier --write, eslint

Notes added by 'git notes add'
  f8/63cfcdbacb716182290fb5971b11f3d365e9f2
Due: none

fix: add locked version of select in story
  src/components/Select/Select.stories.mdx
  src/components/Select/__snapshots__/Select.stories.storyshot
Due: none

Notes added by 'git notes add'
  13/9c46fa3f186739883f0775824061bd65edd37b
Due: none

chore: minor fix on button types for props after merging
  src/components/ButtonBase/ButtonBase.tsx
  src/utils/common.ts
Due: prettier --write, eslint

feat(button): block prop added
  package.json
  src/components/Breadcrumb/__snapshots__/Breadcrumb.stories.storyshot
  src/components/Button/Button.stories.mdx
  src/components/Button/Button.style.ts
  src/components/Button/__snapshots__/Button.stories.storyshot
  src/components/ButtonBase/ButtonBase.style.ts
  src/components/ButtonBase/ButtonBase.tsx
  src/components/DatePicker/OverlayComponent/__snapshots__/OverlayComponent.test.tsx.snap
  src/components/DatePicker/OverlayComponent/components/MonthWrapper/__snapshots__/MonthWrapper.test.tsx.snap
  src/components/DatePicker/__snapshots__/DatePicker.stories.storyshot
  src/components/IconButton/__snapshots__/IconButton.stories.storyshot
  src/components/Menu/__snapshots__/Menu.stories.storyshot
  src/components/Modal/__snapshots__/Modal.stories.storyshot
  src/components/Notification/__snapshots__/Notification.stories.storyshot
  src/components/Pagination/__snapshots__/Pagination.stories.storyshot
  src/components/Table/__snapshots__/Table.stories.storyshot
  src/components/ThemeProvider/__snapshots__/ThemeProvider.stories.storyshot
  src/components/TopAppBar/__snapshots__/TopAppBar.stories.storyshot
  src/components/TopAppBar/__snapshots__/TopAppBar.test.tsx.snap
Due: prettier --write, eslint

Notes added by 'git notes add'
  44/38287ba17f84f38ae852f073f7ea0293084a96
Due: none

style(select): update select colors based on the design QA
  src/components/DatePicker/__snapshots__/DatePicker.stories.storyshot
  src/components/List/ListItem/ListItem.style.ts
  src/components/List/ListItem/ListItem.tsx
  src/components/List/NormalList/NormalList.tsx
  src/components/List/VirtualizedList/VirtualizedList.tsx
  src/components/List/__snapshots__/List.stories.storyshot
  src/components/Select/__snapshots__/Select.stories.storyshot
  src/components/TextArea/__snapshots__/TextArea.stories.storyshot
  src/components/TextField/__snapshots__/TextField.stories.storyshot
  src/components/TextInputBase/TextInputBase.style.ts
  src/components/TextInputBase/TextInputBase.tsx
Due: prettier --write, eslint

style(radio): update select colors based on the design QA
  src/components/Radio/Radio.style.ts
  src/components/Radio/__snapshots__/Radio.stories.storyshot
  src/components/Radio/__snapshots__/Radio.test.tsx.snap
  src/components/RadioGroup/__snapshots__/RadioGroup.stories.storyshot
Due: prettier --write, eslint

style(button): update padding of large button
  src/components/ButtonBase/ButtonBase.style.ts
Due: prettier --write, eslint

style(tooltip): update tooltip default background based on design QA
  src/theme/overrides.ts
Due: prettier --write, eslint

style(drawer): fix paddings and color of drawer per design QA
  src/components/Drawer/Navigation/MenuItem/MenuItem.tsx
  src/components/Drawer/Navigation/Navigation.style.ts
Due: prettier --write, eslint

Notes added by 'git notes add'
  1b/2307854a55de17876f3d9c7a48a8d6b45662b8
Due: none

feat: table with expandable rows action width
  src/components/Table/Table.stories.mdx
  src/components/Table/Table.tsx
  src/components/Table/TableRowContext.ts
  src/components/Table/__snapshots__/Table.stories.storyshot
  src/components/Table/components/RenderRowOrNestedRow/RenderRowOrNestedRow.tsx
  src/components/Table/components/RenderRowOrNestedRow/components/ExpandedButtonCell/ExpandedButtonCell.tsx
  src/components/Table/components/TableRowWrapper/TableRowWrapper.tsx
Due: prettier --write, eslint

style(topAppBar): update dark mode colors and avatar sizes for the specific case
  src/components/Avatar/Avatar.style.ts
  src/components/Avatar/Avatar.tsx
  src/components/DatePicker/Month/__snapshots__/Month.test.tsx.snap
  src/components/DatePicker/OverlayComponent/__snapshots__/OverlayComponent.test.tsx.snap
  src/components/DatePicker/OverlayComponent/components/MonthWrapper/__snapshots__/MonthWrapper.test.tsx.snap
  src/components/List/ListItem/ListItem.tsx
  src/components/List/VirtualizedList/VirtualizedList.tsx
  src/components/Menu/Menu.tsx
  src/components/Menu/__snapshots__/Menu.stories.storyshot
  src/components/TopAppBar/TopAppBar.style.ts
  src/components/TopAppBar/__snapshots__/TopAppBar.stories.storyshot
  src/components/TopAppBar/__snapshots__/TopAppBar.test.tsx.snap
  src/components/TopAppBar/components/Search/Search.style.ts
  src/components/TopAppBar/components/Search/Search.tsx
  src/components/TopAppBar/components/UserMenu/UserMenu.tsx
  src/theme/palette.ts
Due: prettier --write, eslint

style(notification): update all actions with button new type link, apply new inline notif style per QA
  src/components/Notification/Notification.style.ts
  src/components/Notification/NotificationVisual/NotificationVisual.tsx
  src/components/Notification/Snackbar/Snackbar.tsx
  src/components/Notification/__snapshots__/Notification.stories.storyshot
  src/components/Notification/subcomponents/CompactNotification/CompactNotification.style.ts
  src/components/Notification/subcomponents/CompactNotification/CompactNotification.tsx
  src/theme/palette.config.ts
  src/theme/palette.ts
Due: prettier --write, eslint

style(filter): fix swatches coloring issue after color update
  src/components/Filter/Filter.stories.mdx
  src/components/Filter/Filter.style.ts
  src/components/Filter/Filter.tsx
  src/components/Filter/__snapshots__/Filter.stories.storyshot
  src/components/Filter/utils.ts
Due: prettier --write, eslint

style(elevation): update elevation with new per QA
  src/components/Card/__snapshots__/Card.stories.storyshot
  src/components/DatePicker/__snapshots__/DatePicker.stories.storyshot
  src/components/Filter/__snapshots__/Filter.stories.storyshot
  src/components/Notification/__snapshots__/Notification.stories.storyshot
  src/components/Select/__snapshots__/Select.stories.storyshot
  src/components/TextArea/__snapshots__/TextArea.stories.storyshot
  src/components/TextField/__snapshots__/TextField.stories.storyshot
  src/components/Toast/__snapshots__/Toast.stories.storyshot
  src/components/TopAppBar/__snapshots__/TopAppBar.stories.storyshot
  src/components/TopAppBar/__snapshots__/TopAppBar.test.tsx.snap
  src/components/storyUtils/CardShowcase/CardShowcase.tsx
  src/theme/elevation.ts
Due: prettier --write, eslint

Notes added by 'git notes add'
  0d/c2fb079068e7bfc402050b967156a35737a926
Due: none

style(AssetMatch): update styling of asset match based on QA
  src/components/AssetMatching/AssetMatching.style.ts
  src/components/AssetMatching/components/ActionsToolbox/ActionsToolbox.style.ts
  src/components/AssetMatching/components/ActionsToolbox/ActionsToolbox.tsx
  src/components/AssetMatching/components/ActionsToolbox/PrimaryActions.tsx
  src/components/AssetMatching/components/ActionsToolbox/SecondaryActions.tsx
  src/components/AssetMatching/components/Asset/Asset.style.ts
  src/components/AssetMatching/components/Categories/Categories.style.ts
  src/components/AssetMatching/components/CheckBoxContainer/CheckBoxContainer.style.ts
  src/components/AssetMatching/components/SectionHeader/SectionHeader.style.ts
  src/components/AssetMatching/components/SectionHeader/SectionHeader.tsx
  src/components/AssetMatching/components/utils.tsx
  src/components/Avatar/Avatar.style.ts
  src/components/ButtonBase/ButtonBase.style.ts
  src/components/CheckBox/CheckBox.style.ts
  src/components/CheckBox/__snapshots__/CheckBox.stories.storyshot
  src/components/Menu/__snapshots__/Menu.stories.storyshot
  src/components/Pagination/__snapshots__/Pagination.stories.storyshot
  src/components/Table/__snapshots__/Table.stories.storyshot
  src/components/TopAppBar/__snapshots__/TopAppBar.stories.storyshot
  src/components/TopAppBar/__snapshots__/TopAppBar.test.tsx.snap
  src/components/storyUtils/AssetMatchingShowcase/BulkActionsShowcase.tsx
Due: prettier --write, eslint

feat(colors): add new pale palette and add support to get color function for it
  src/components/storyUtils/PaletteShowcase/PaletteShowcase.style.tsx
  src/components/storyUtils/PaletteShowcase/PaletteShowcase.tsx
  src/theme/index.ts
  src/theme/palette.config.ts
  src/theme/palette.ts
  src/theme/utils.ts
Due: prettier --write, eslint

style(calendar): update all color mapping to new colors from new palette
  src/components/DatePicker/Day/Day.style.ts
  src/components/DatePicker/Day/Day.tsx
  src/components/DatePicker/Day/__snapshots__/Day.test.tsx.snap
  src/components/DatePicker/Month/Month.style.ts
  src/components/DatePicker/Month/__snapshots__/Month.test.tsx.snap
  src/components/DatePicker/OverlayComponent/OverlayComponent.style.ts
  src/components/DatePicker/OverlayComponent/__snapshots__/OverlayComponent.test.tsx.snap
  src/components/DatePicker/OverlayComponent/components/MonthWrapper/MonthWrapper.style.ts
  src/components/DatePicker/OverlayComponent/components/MonthWrapper/MonthWrapper.tsx
  src/components/DatePicker/OverlayComponent/components/MonthWrapper/__snapshots__/MonthWrapper.test.tsx.snap
  src/components/DatePicker/__snapshots__/DatePicker.stories.storyshot
Due: prettier --write, eslint

style(table): update border color, hover and select based on QA
  src/components/Table/Table.style.ts
  src/components/Table/__snapshots__/Table.stories.storyshot
  src/components/Table/components/RenderRowOrNestedRow/RenderRowOrNestedRow.style.ts
  src/components/Table/components/TableCell/TableCell.tsx
  src/components/Table/components/TableRow/TableRow.tsx
Due: prettier --write, eslint

fix(button): change button to React.FC
  src/components/Button/Button.style.ts
  src/components/Button/Button.tsx
Due: prettier --write, eslint

fix(typescript): fixed typescript errors for button
  src/components/Button/Button.tsx
Due: prettier --write, eslint

fix: fix button typescript errors
  src/components/Button/Button.style.ts
  src/components/Button/Button.tsx
  src/utils/common.ts
Due: prettier --write, eslint

fix(types): fix warning from correcting the importing of types
  src/index.tsx
Due: prettier --write, eslint

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,scss,md}
  eslint: any of: *.{ts,tsx,js,jsx}
