Repository Orfium/orfium-ictinus: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,json,scss,md}": [
    "prettier --write",
    "git add"
  ],
  "*.{ts,tsx,js,jsx}": [
    "eslint"
  ]
}

feat: Tag controls
  src/components/Tag/Tag.stories.tsx
  src/storybook/Showcases/TagShowcase/TagShowcase.tsx
Due: prettier --write, eslint

feat: Tooltip controls
  src/components/Tooltip/Tooltip.stories.tsx
Due: prettier --write, eslint

feat: disable Typography controls
  src/components/Typography/Typography.stories.tsx
Due: prettier --write, eslint

feat: original components controls
  src/components/Card/Card.stories.tsx
  src/components/Chart/Chart.stories.tsx
  src/components/ExpandCollapse/ExpandCollapse.stories.tsx
  src/components/Modal/Modal.stories.tsx
  src/components/Navigation/Navigation.stories.tsx
  src/components/Notification/Notification.stories.tsx
  src/components/Pagination/Pagination.stories.tsx
  src/components/Slider/Slider.stories.tsx
  src/components/Table/Table.stories.tsx
  src/components/ThemeProvider/ThemeProvider.stories.tsx
  src/components/TopAppBar/TopAppBar.stories.tsx
  src/components/TruncatedContent/TruncatedContent.stories.tsx
  src/components/storyUtils/NotificationShowcase/NotificationShowcase.tsx
  src/hooks/useSearchQueryParams.mdx
  src/hooks/useSearchQueryParams.stories.tsx
Due: prettier --write, eslint

feat: default values and minor fixes
  src/components/Button/Button.stories.tsx
  src/components/Controls/CheckBox/CheckBox.stories.tsx
  src/components/Controls/Radio/Radio.stories.tsx
  src/components/Controls/Switch/Switch.stories.tsx
  src/components/Drawer/Drawer.stories.tsx
  src/components/Filter/Filter.stories.tsx
  src/components/IconButton/IconButton.stories.tsx
  src/components/Link/Link.stories.tsx
  src/components/List/stories/List.mdx
  src/components/ProgressIndicator/ProgressIndicator.stories.tsx
  src/components/Tag/Tag.stories.tsx
  src/components/TextField/TextField.stories.tsx
  src/components/Tooltip/Tooltip.stories.tsx
Due: prettier --write, eslint

feat: remove knobs
  .storybook/main.ts
  package.json
  patches/@storybook+addon-knobs+7.0.2.patch
  src/utils/stories.ts
  yarn.lock
Due: prettier --write, eslint

feat: more default values
  src/components/Chart/Chart.stories.tsx
  src/components/DatePicker/DatePicker.stories.tsx
  src/components/Link/Link.stories.tsx
  src/components/Pagination/Pagination.stories.tsx
  src/components/Select/Select.stories.tsx
Due: prettier --write, eslint

feat: snaps
  src/__storyshots__/Updated Components/Buttons/IconButton-Playground.snap
  src/__storyshots__/Updated Components/Fields/DatePicker-DatePickerAndDateRangePickerStatuses.snap
  src/__storyshots__/Updated Components/Fields/DatePicker-DatePickerWithFilter.snap
  src/__storyshots__/Updated Components/Fields/DatePicker-Playground.snap
  src/__storyshots__/Updated Components/Fields/NumberField-NumberFieldStatuses.snap
  src/__storyshots__/Updated Components/Fields/NumberField-Playground.snap
  src/__storyshots__/Updated Components/Fields/Select-MultiSelect.snap
  src/__storyshots__/Updated Components/Fields/Select-Playground.snap
  src/__storyshots__/Updated Components/Fields/Select-SelectStatuses.snap
  src/__storyshots__/Updated Components/Fields/Select-SelectWithUncontrolledState.snap
  src/__storyshots__/Updated Components/Fields/TextArea-Playground.snap
  src/__storyshots__/Updated Components/Fields/TextArea-TextAreaStatuses.snap
  src/__storyshots__/Updated Components/Fields/TextField-Playground.snap
  src/__storyshots__/Updated Components/Fields/TextField-TextFieldStatuses.snap
  src/__storyshots__/Updated Components/Fields/TextField-TextFieldWithMaskOption.snap
  src/__storyshots__/Updated Components/Filter-FilterWithDatePicker.snap
  src/__storyshots__/Updated Components/Tooltip-Playground.snap
Due: none

feat: change iconButton name to iconName
  src/components/ButtonBase/ButtonBase.tsx
  src/components/DatePicker/OverlayComponent/components/MonthWrapper/MonthWrapper.tsx
  src/components/DropdownButton/DropdownButton.tsx
  src/components/IconButton/IconButton.stories.tsx
  src/components/IconButton/IconButton.tsx
  src/components/Menu/Menu.stories.tsx
  src/components/Modal/Modal.tsx
  src/components/Pagination/Pagination.tsx
  src/components/Table/components/RenderRowOrNestedRow/components/ExpandedButtonCell/ExpandedButtonCell.tsx
Due: prettier --write, eslint

fix: select new option label error
  src/components/Select/Select.tsx
Due: prettier --write, eslint

fix: wrong label color in specific states of fields
  src/components/MultiTextFieldBase/MultiTextFieldBase.tsx
  src/components/NumberField/NumberField.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  73/a4a94f9a840c39a67cd876382145261d5419f0
Due: none

Notes added by 'git notes add'
  0c/0fd3dbfabe18e0a581792bc0e1a3ffc87651ca
Due: none

Notes added by 'git notes add'
  50/4709619857b81a3fa38eb9668f5d5e123932fa
Due: none

feat: dqa
  src/__storyshots__/Updated Components/Progress Indicator-Playground.snap
  src/components/Controls/CheckBox/CheckBox.stories.tsx
  src/components/Controls/Radio/Radio.stories.tsx
  src/components/Controls/Switch/Switch.stories.tsx
  src/components/DatePicker/DatePicker.stories.tsx
  src/components/ProgressIndicator/ProgressIndicator.stories.tsx
Due: prettier --write, eslint

Update src/components/Select/Select.tsx
  src/components/Select/Select.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  f4/af4c3aedf22af7699f6f916a593fbaa3e9379b
Due: none

Notes added by 'git notes add'
  bc/d0a83d2887217a07cd010d4f924da0155aac86
Due: none

feat: add tanstack package
  package.json
  yarn.lock
Due: prettier --write

feat: change table v4 props name
  src/components/TableV4/TableV4.tsx
Due: prettier --write, eslint

feat: Table component
  src/components/Table/Table.mdx
  src/components/Table/Table.stories.tsx
  src/components/Table/Table.style.ts
  src/components/Table/Table.tsx
  src/components/Table/constants.tsx
  src/components/Table/index.ts
  src/components/Table/types.ts
Due: prettier --write, eslint

feat: Table subcomponents
  src/components/Table/components/TBody/TBody.mdx
  src/components/Table/components/TBody/TBody.stories.tsx
  src/components/Table/components/TBody/TBody.tsx
  src/components/Table/components/TBody/index.ts
  src/components/Table/components/TD/TD.mdx
  src/components/Table/components/TD/TD.stories.tsx
  src/components/Table/components/TD/TD.style.ts
  src/components/Table/components/TD/TD.tsx
  src/components/Table/components/TD/index.ts
  src/components/Table/components/TH/TH.mdx
  src/components/Table/components/TH/TH.stories.tsx
  src/components/Table/components/TH/TH.style.ts
  src/components/Table/components/TH/TH.tsx
  src/components/Table/components/TH/index.ts
  src/components/Table/components/THead/THead.mdx
  src/components/Table/components/THead/THead.stories.tsx
  src/components/Table/components/THead/THead.tsx
  src/components/Table/components/THead/index.ts
  src/components/Table/components/TR/TR.mdx
  src/components/Table/components/TR/TR.stories.tsx
  src/components/Table/components/TR/TR.tsx
  src/components/Table/components/TR/index.ts
  src/components/Table/components/TTitle/TTitle.mdx
  src/components/Table/components/TTitle/TTitle.stories.tsx
  src/components/Table/components/TTitle/TTitle.style.ts
  src/components/Table/components/TTitle/TTitle.tsx
  src/components/Table/components/TTitle/index.ts
  src/components/Table/components/index.ts
  src/components/Table/utils/TableStoryComponents.tsx
Due: prettier --write, eslint

feat: useTable hook
  src/components/Table/hooks/index.ts
  src/components/Table/hooks/useTable.mdx
  src/components/Table/hooks/useTable.stories.tsx
  src/components/Table/hooks/useTable.tsx
Due: prettier --write, eslint

feat: export components and hooks
  src/index.ts
Due: prettier --write, eslint

feat: snaps
  src/__storyshots__/Updated Components/Table-SimpleTable.snap
  src/__storyshots__/Updated Components/Table/Table-SimpleTable.snap
  src/__storyshots__/Updated Components/Table/Table-TableSizes.snap
Due: none

feat: groups and chooser implementation
  src/components/Table/Table.style.ts
  src/components/Table/Table.tsx
  src/components/Table/components/TD/TD.style.ts
  src/components/Table/components/TTitle/TTitle.style.ts
  src/components/Table/components/TTitle/TTitle.tsx
  src/components/Table/components/TTitle/components/ColumnChooser/ColumnChooser.style.ts
  src/components/Table/components/TTitle/components/ColumnChooser/ColumnChooser.tsx
  src/components/Table/components/TTitle/components/ColumnChooser/index.ts
  src/components/Table/components/TTitle/components/utils.ts
  src/components/Table/hooks/useTable.tsx
  src/components/Table/types.ts
Due: prettier --write, eslint

feat: docs
  src/components/Table/Table.mdx
  src/components/Table/Table.stories.tsx
  src/components/Table/constants.tsx
  src/components/Table/utils/TableStoryComponents.tsx
Due: prettier --write, eslint

feat: snaps
  src/__storyshots__/Updated Components/Table/Table-ColumnChooser.snap
  src/__storyshots__/Updated Components/Table/Table-ColumnGroups.snap
Due: none

feat: add col width functionality
  src/__storyshots__/Updated Components/Table/Table-ColumnAndRowSizing.snap
  src/__storyshots__/Updated Components/Table/Table-ColumnSizing.snap
  src/components/Table/Table.mdx
  src/components/Table/Table.stories.tsx
  src/components/Table/Table.style.ts
  src/components/Table/Table.tsx
  src/components/Table/components/TH/TH.style.ts
  src/components/Table/components/TH/TH.tsx
  src/components/Table/hooks/useTable.tsx
  src/components/Table/types.ts
Due: prettier --write, eslint

feat: get latest tokens from json
  src/theme/dimension/variables/borderRadius.ts
  src/theme/dimension/variables/borderWidth.ts
  src/theme/dimension/variables/minHeight.ts
  src/theme/dimension/variables/opacity.ts
  src/theme/dimension/variables/sizing.ts
  src/theme/dimension/variables/spacing.ts
  src/theme/dimension/variables/state.ts
  src/theme/globals/constants/borderRadius.ts
  src/theme/globals/constants/sizing.ts
  src/theme/tokens/components/variables/avatar.ts
  src/theme/tokens/components/variables/breadcrumb.ts
  src/theme/tokens/components/variables/button.ts
  src/theme/tokens/components/variables/controls.ts
  src/theme/tokens/components/variables/datePicker.ts
  src/theme/tokens/components/variables/drawer.ts
  src/theme/tokens/components/variables/field.ts
  src/theme/tokens/components/variables/filter.ts
  src/theme/tokens/components/variables/link.ts
  src/theme/tokens/components/variables/listItem.ts
  src/theme/tokens/components/variables/menu.ts
  src/theme/tokens/components/variables/progressIndicator.ts
  src/theme/tokens/components/variables/search.ts
  src/theme/tokens/components/variables/tag.ts
  src/theme/tokens/components/variables/tooltip.ts
  src/theme/tokens/semantic/variables/colors.ts
  src/theme/tokens/semantic/variables/icon.ts
  src/theme/tokens/semantic/variables/state.ts
Due: prettier --write, eslint

feat: update tokens config and utils
  src/theme/dimension/borderRadius.ts
  src/theme/dimension/borderWidth.ts
  src/theme/dimension/index.ts
  src/theme/dimension/minHeight.ts
  src/theme/dimension/opacity.ts
  src/theme/dimension/sizing.ts
  src/theme/dimension/spacing.ts
  src/theme/dimension/state.ts
  src/theme/index.ts
  src/theme/tokens/semantic/icon.ts
  src/theme/tokens/semantic/index.ts
  src/theme/tokens/utils/parsers.ts
  src/theme/types.ts
  src/theme/utils.ts
Due: prettier --write, eslint

feat: update Avatar
  src/components/Avatar/Avatar.style.ts
  src/components/Avatar/constants.ts
Due: prettier --write, eslint

feat: update Breadcrumb
  src/components/Breadcrumb/BackToItem/BackToItem.style.ts
  src/components/Breadcrumb/Breadcrumb.style.ts
  src/components/Breadcrumb/Breadcrumb.tokens.ts
  src/components/Breadcrumb/BreadcrumbItem/BreadcrumbItem.style.ts
  src/components/Breadcrumb/BreadcrumbItem/BreadcrumbItem.tsx
Due: prettier --write, eslint

feat: update Button
  src/components/Button/Button.tsx
  src/components/Button/ButtonLoader/ButtonLoader.style.ts
  src/components/ButtonBase/ButtonBase.style.ts
  src/components/ButtonBase/constants.ts
Due: prettier --write, eslint

feat: update Controls
  src/components/Controls/CheckBox/CheckBox.style.ts
  src/components/Controls/CheckBox/CheckBox.tsx
  src/components/Controls/ControlLabel/ControlLabel.style.ts
  src/components/Controls/Radio/Radio.style.ts
  src/components/Controls/Switch/Switch.style.ts
Due: prettier --write, eslint

feat: update DatePicker
  src/components/DatePicker/DatePickInput/DatePickInput.tsx
  src/components/DatePicker/DatePicker.style.ts
  src/components/DatePicker/Day/Day.style.ts
  src/components/DatePicker/Month/Month.style.ts
  src/components/DatePicker/OverlayComponent/OverlayComponent.style.ts
  src/components/DatePicker/OverlayComponent/components/MonthWrapper/MonthWrapper.style.ts
Due: prettier --write, eslint

feat: update Drawer
  src/components/Drawer/Drawer.style.ts
  src/components/Drawer/Drawer.tokens.ts
Due: prettier --write, eslint

feat: update DropdownButton
  src/components/DropdownButton/DropdownButton.style.ts
Due: prettier --write, eslint

feat: update Filter
  src/components/Filter/components/FilterButton/FilterButton.style.ts
  src/components/Filter/components/FilterButton/FilterButton.tsx
  src/components/Filter/components/FilterMenu/FilterMenu.style.ts
  src/components/Filter/components/FilterMenu/components/FilterSearchField/FilterSearchField.tsx
  src/components/Filter/components/FilterMenu/components/Options/Options.style.ts
Due: prettier --write, eslint
