Repository Orfium/orfium-ictinus: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

[TextField] Addition of outlined and elevated styles
  src/components/TextField/TextField.stories.mdx
  src/components/TextField/TextField.style.ts
  src/components/TextField/TextField.tsx
  src/components/TextField/__snapshots__/TextField.stories.storyshot
  src/components/storyUtils/TextFieldShowcase/TextFieldShowcase.tsx
  yarn.lock
Due: prettier --write, eslint

[TextField] Fix label and placeholder colors
  src/components/TextField/TextField.style.ts
  src/components/TextField/__snapshots__/TextField.stories.storyshot
Due: prettier --write, eslint

[TextField] Fix filled background color
  src/components/TextField/TextField.style.ts
  src/components/TextField/__snapshots__/TextField.stories.storyshot
Due: prettier --write, eslint

feat: new semantic release procedure
  .commitlintrc.json
  .github/workflows/ci.yml
  .github/workflows/npm-publish.yml
  .huskyrc
  .releaserc
  CONTRIBUTING.md
  package.json
  yarn.lock
Due: prettier --write

docs: add pull request template
  .github/workflows/pull_request_template.md
Due: prettier --write

[TextField] Review changes
  src/components/TextField/TextField.style.ts
  src/components/TextField/TextField.tsx
  src/theme/palette.ts
Due: prettier --write, eslint

Feat. Change the way special grays are created. Update snapshots
  src/components/Breadcrumb/__snapshots__/Breadcrumb.stories.storyshot
  src/components/Button/__snapshots__/Button.stories.storyshot
  src/components/CheckBox/__snapshots__/CheckBox.stories.storyshot
  src/components/Icon/__snapshots__/Icon.stories.storyshot
  src/components/IconButton/__snapshots__/IconButton.stories.storyshot
  src/components/Menu/__snapshots__/Menu.stories.storyshot
  src/components/Pagination/__snapshots__/Pagination.stories.storyshot
  src/components/Select/__snapshots__/Select.stories.storyshot
  src/components/Table/__snapshots__/Table.stories.storyshot
  src/components/TextField/__snapshots__/TextField.stories.storyshot
  src/theme/palette.ts
  src/theme/utils.ts
Due: prettier --write, eslint

Minor code cleanup
  src/theme/utils.ts
Due: prettier --write, eslint

fix: fixing the semantic releaserc and adding some of the missing modules
  .releaserc
  package.json
  yarn.lock
Due: prettier --write

fix: remove default semantic plugins and add yarn install before release
  .github/workflows/ci.yml
  package.json
  yarn.lock
Due: prettier --write

install ci deps in another step
  .github/workflows/ci.yml
Due: none

fix: node version on github action
  .github/workflows/ci.yml
Due: none

feat: add new workflow for pr
  .github/pull_request_template.md
  .github/workflows/pr.yml
Due: prettier --write

fix: add fetch-depth: 0 to ci, pr
  .github/workflows/ci.yml
  .github/workflows/pr.yml
Due: none

fix: replace ci borales with yarn
  .github/workflows/ci.yml
  .github/workflows/pr.yml
Due: none

Update read me
  guides/COLORS.stories.mdx
Due: none

Notes added by 'git notes add'
  d303088097ee34f63692426ff9cffa2635ea9d12
Due: none

feat: adding style type selections to datepicker
  src/components/DatePicker/DatePickInput/DatePickInput.tsx
  src/components/DatePicker/DatePicker.stories.mdx
  src/components/DatePicker/DatePicker.tsx
Due: prettier --write, eslint

fix: add knobs to daypicker as well
  src/components/DatePicker/DatePicker.stories.mdx
Due: none

fix: remove useTheme from components that was imported only for css functions
  src/components/Breadcrumb/Breadcrumb.tsx
  src/components/Breadcrumb/BreadcrumbCollapsed/BreadcrumbCollapsed.tsx
  src/components/Breadcrumb/BreadcrumbItem/BreadcrumbItem.tsx
  src/components/Breadcrumb/Separator/Separator.tsx
  src/components/Breadcrumb/__snapshots__/Breadcrumb.stories.storyshot
  src/components/Button/Button.tsx
  src/components/Button/__snapshots__/Button.stories.storyshot
  src/components/CheckBox/CheckBox.style.ts
  src/components/CheckBox/CheckBox.tsx
  src/components/CheckBox/__snapshots__/CheckBox.stories.storyshot
  src/components/DatePicker/DatePicker.style.ts
  src/components/DatePicker/DatePicker.tsx
  src/components/DatePicker/OverlayComponent/OverlayComponent.tsx
  src/components/Icon/Icon.tsx
  src/components/Icon/__snapshots__/Icon.stories.storyshot
  src/components/IconButton/__snapshots__/IconButton.stories.storyshot
  src/components/Label/Label.style.ts
  src/components/Label/Label.tsx
  src/components/Menu/__snapshots__/Menu.stories.storyshot
  src/components/Pagination/__snapshots__/Pagination.stories.storyshot
  src/components/Radio/Radio.style.ts
  src/components/Select/Select.tsx
  src/components/Select/__snapshots__/Select.stories.storyshot
  src/components/Table/Table.style.ts
  src/components/Table/Table.tsx
  src/components/TextField/TextField.style.ts
  src/components/TextField/TextField.tsx
  src/components/TextField/__snapshots__/TextField.stories.storyshot
  src/components/storyUtils/Stack/Stack.tsx
  src/theme/functions.ts
Due: prettier --write, eslint

Notes added by 'git notes add'
  c178011b6238ecfa2d38f63f86ad345ecceaf27e
Due: none

fix(label): fix label color to not be overwritten by textField
  src/components/DatePicker/DatePicker.style.ts
  src/components/TextField/TextField.style.ts
  src/components/TextField/__snapshots__/TextField.stories.storyshot
Due: prettier --write, eslint

fix(table): remove the width with rem that causing size issues
  src/components/Table/__snapshots__/Table.stories.storyshot
  src/components/Table/components/RenderRowOrNestedRow/RenderRowOrNestedRow.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  5bce4a0d38668ce9c3bd7d94dc5651a9f60661a2
Due: none

Notes added by 'git notes add'
  4564fe26fbf2e9ea6a818ab3e0fd31fb80c9c0c0
Due: none

fix: remove unused jsx pragma
  src/components/DatePicker/DatePickInput/DatePickInput.tsx
Due: prettier --write, eslint

fix: remove unused jsx pragma
  src/components/storyUtils/BreadcrumbShowcase/BreadcrumbShowcase.tsx
  src/components/storyUtils/MenuShowcase/MenuShowcase.tsx
  src/components/storyUtils/PresentComponent/PresentComponent.tsx
Due: prettier --write, eslint

feat(palette): update pallete config and types. One way of making the colors. Update snapshots
  src/components/Breadcrumb/__snapshots__/Breadcrumb.stories.storyshot
  src/components/Button/__snapshots__/Button.stories.storyshot
  src/components/CheckBox/__snapshots__/CheckBox.stories.storyshot
  src/components/Icon/__snapshots__/Icon.stories.storyshot
  src/components/IconButton/__snapshots__/IconButton.stories.storyshot
  src/components/Menu/__snapshots__/Menu.stories.storyshot
  src/components/Pagination/__snapshots__/Pagination.stories.storyshot
  src/components/Select/__snapshots__/Select.stories.storyshot
  src/components/Table/__snapshots__/Table.stories.storyshot
  src/components/TextField/__snapshots__/TextField.stories.storyshot
  src/theme/palette.ts
  src/theme/utils.ts
Due: prettier --write, eslint

fix: revert changes on serializestyles
  src/components/CheckBox/CheckBox.style.ts
  src/components/DatePicker/DatePicker.style.ts
  src/components/Label/Label.style.ts
  src/components/Radio/Radio.style.ts
  src/components/Table/Table.style.ts
  src/components/TextField/TextField.style.ts
Due: prettier --write, eslint

feat(palette): update docs
  guides/COLORS.stories.mdx
Due: none

feat(palette): small change on black
  src/theme/palette.ts
Due: prettier --write, eslint

feat(palette): small change on palette config
  src/theme/palette.ts
Due: prettier --write, eslint

feat(palette): replace component colors with updated palette
  src/components/Menu/Menu.style.ts
  src/components/Menu/Menu.tsx
  src/components/Select/Select.tsx
  src/components/Table/__snapshots__/Table.stories.storyshot
  src/components/Table/components/TableCell/TableCell.tsx
Due: prettier --write, eslint

feat(palette): replace component colors with updated palette
  src/components/DatePicker/DatePicker.style.ts
Due: prettier --write, eslint

Notes added by 'git notes add'
  a5149f4c3bffd89158a95856997316a58de69807
Due: none

Notes added by 'git notes add'
  9a660a9bddcebd2bd7e1d2a368353edd8bd7daca
Due: none

fix: correct colors on form fields and menu
  src/components/DatePicker/DatePicker.style.ts
  src/components/Menu/Menu.style.ts
  src/components/Radio/Radio.style.ts
  src/components/Radio/Radio.tsx
  src/components/Radio/__snapshots__/Radio.stories.storyshot
  src/components/RadioGroup/__snapshots__/RadioGroup.stories.storyshot
  src/components/Select/Select.tsx
  src/components/Select/__snapshots__/Select.stories.storyshot
Due: prettier --write, eslint

fix: normalize colors for textfield shadows and select
  src/components/Select/Select.tsx
  src/components/TextField/TextField.style.ts
  src/components/TextField/__snapshots__/TextField.stories.storyshot
Due: prettier --write, eslint

fix: stories of icon
  src/components/Icon/Icon.stories.mdx
  src/components/storyUtils/PresentComponent/PresentComponent.tsx
Due: prettier --write, eslint

fix: primary color to be lightgray 100 to be similar with the old one
  src/components/Breadcrumb/__snapshots__/Breadcrumb.stories.storyshot
  src/components/Button/__snapshots__/Button.stories.storyshot
  src/components/Icon/__snapshots__/Icon.stories.storyshot
  src/components/IconButton/__snapshots__/IconButton.stories.storyshot
  src/components/Menu/__snapshots__/Menu.stories.storyshot
  src/utils/themeFunctions.ts
Due: prettier --write, eslint

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,scss,md}
  eslint: any of: *.{ts,tsx,js,jsx}
