Repository Orfium/orfium-ictinus: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

chore: change branch name v4.x
  .github/workflows/main.yml
Due: none

feat: adding v4 to environments for parallel deployment
  .github/workflows/main.yml
  .releaserc
  environments/v4.env
Due: none

Notes added by 'git notes add'
  92/eabaf2004d6c2dbde3768f00f121f185cda014
Due: none

fix(Typography): exporting typography component and differentiate globals
  src/index.ts
Due: prettier --write, eslint

docs: shaping up all props and styles of old and new
  package.json
  src/components/Breadcrumb/Breadcrumb.mdx
  src/components/Card/Card.mdx
  src/components/Chart/Chart.mdx
  src/components/Controls/Radio/Radio.mdx
  src/components/Controls/Switch/Switch.tsx
  src/components/DatePicker/DatePicker.mdx
  src/components/ExpandCollapse/ExpandCollapse.mdx
  src/components/Filter/Filter.mdx
  src/components/Modal/Modal.mdx
  src/components/Navigation/Navigation.mdx
  src/components/Notification/Notification.mdx
  src/components/Pagination/Pagination.mdx
  src/components/Select/Select.mdx
  src/components/Select/types.ts
  src/components/Slider/Slider.mdx
  src/components/Table/Table.mdx
  src/components/ThemeProvider/ThemeProvider.mdx
  src/components/ThemeProvider/ThemeProvider.stories.tsx
  src/components/Toast/Toast.mdx
  src/components/Toast/Toast.stories.tsx
  src/components/TopAppBar/TopAppBar.mdx
  src/components/storyUtils/componentsForTypes.tsx
  src/storybook/SectionHeader/SectionHeader.tsx
  src/storybook/Typography/Typography.style.ts
  src/utils/common.ts
  yarn.lock
Due: prettier --write, eslint

feat: get latest tokens
  src/theme/globals/constants/boxShadow.ts
  src/theme/globals/constants/colors.ts
  src/theme/tokens/components/variables/avatar.ts
  src/theme/tokens/components/variables/avatarText.ts
  src/theme/tokens/components/variables/button.ts
  src/theme/tokens/components/variables/controls.ts
  src/theme/tokens/components/variables/date.ts
  src/theme/tokens/components/variables/datePicker.ts
  src/theme/tokens/components/variables/drawer.ts
  src/theme/tokens/components/variables/field.ts
  src/theme/tokens/components/variables/filter.ts
  src/theme/tokens/components/variables/link.ts
  src/theme/tokens/components/variables/listItem.ts
  src/theme/tokens/components/variables/menu.ts
  src/theme/tokens/components/variables/progressIndicator.ts
  src/theme/tokens/components/variables/search.ts
  src/theme/tokens/components/variables/tag.ts
  src/theme/tokens/components/variables/textButton.ts
  src/theme/tokens/components/variables/tooltip.ts
  src/theme/tokens/semantic/variables/colors.ts
  src/theme/tokens/semantic/variables/palette.ts
  src/theme/tokens/semantic/variables/state.ts
Due: prettier --write, eslint

feat: delete obsolete files
  docs/tokens/BACKDROP_COLORS.mdx
  docs/tokens/BACKGROUND_COLORS.mdx
  docs/tokens/BORDER_COLORS.mdx
  src/theme/tokens/semantic/palette.ts
Due: prettier --write, eslint

Notes added by 'git notes add'
  e5/b5b549bbc6c5a9201c83078b2443acfb0c8362
Due: none

feat: update tokens usages and styles
  src/components/Avatar/Avatar.style.ts
  src/components/Avatar/Avatar.tokens.ts
  src/components/Button/Button.tokens.ts
  src/components/ButtonBase/ButtonBase.style.ts
  src/components/Controls/Radio/Radio.style.ts
  src/components/DatePicker/DatePicker.style.ts
  src/components/DatePicker/DatePicker.tokens.ts
  src/components/DatePicker/Day/Day.style.ts
  src/components/DatePicker/Month/Month.style.ts
  src/components/DatePicker/OverlayComponent/OverlayComponent.style.ts
  src/components/DatePicker/OverlayComponent/components/MonthWrapper/MonthWrapper.style.ts
  src/components/Filter/components/FilterMenu/FilterMenu.style.ts
  src/components/Filter/components/FilterMenu/components/FilterSearchField/FilterSearchField.tsx
  src/components/Link/Link.tsx
  src/components/Search/Search.style.ts
  src/components/Tag/Tag.style.ts
Due: prettier --write, eslint

feat: remove obsolete button types
  src/components/Button/Button.mdx
  src/components/Button/Button.stories.tsx
  src/components/Button/Button.types.ts
  src/components/Tooltip/Tooltip.stories.tsx
  src/components/storyUtils/ButtonShowcases/LoadingButtonShowcase.tsx
  src/components/storyUtils/TooltipShowcase/TooltipShowcase.tsx
Due: prettier --write, eslint

feat: update colors documentation
  docs/tokens/PALETTE.mdx
  src/storybook/Showcases/TokenColorsShowcase/TokenColorsShowcase.style.ts
  src/storybook/Showcases/TokenColorsShowcase/TokenColorsShowcase.tsx
  src/storybook/Showcases/TokenColorsShowcase/utils.ts
Due: prettier --write, eslint

feat: update scrollbar styles
  src/components/ThemeProvider/ThemeProvider.style.ts
Due: prettier --write, eslint

feat: update sem tokens types
  src/theme/tokens/semantic/index.ts
  src/theme/types.ts
Due: prettier --write, eslint

docs: update documentation based on jen revision and add more examples
  .storybook/preview-head.html
  docs/WELCOME.mdx
  src/__storyshots__/Updated Components/Avatar/Avatar-AvatarWithColor.snap
  src/components/Avatar/Avatar.mdx
  src/components/Avatar/Avatar.stories.tsx
  src/components/Navigation/Directory/MenuItem/MenuItem.tsx
  src/components/Search/Search.mdx
  src/components/Search/Search.types.ts
  src/components/storyUtils/MenuShowcase/MenuShowcase.tsx
  src/components/storyUtils/MenuShowcase/index.ts
  src/components/storyUtils/componentsForTypes.tsx
  src/storybook/SubsectionHeader/SubsectionHeader.tsx
  tsconfig.json
Due: prettier --write, eslint

feat(NDS-908): change select guidelines
  src/components/Select/Select.mdx
Due: none

fix(NDS-910): tip styles
  src/storybook/Tip/Tip.style.ts
Due: prettier --write, eslint

feat(NDS-927): new tag colors
  src/__storyshots__/Updated Components/Tag-ReadOnlyTag.snap
  src/__storyshots__/Updated Components/Tag-ReadOnlyTagWithIcon.snap
  src/__storyshots__/Updated Components/Tag-TagSizes.snap
  src/components/Tag/Tag.mdx
  src/components/Tag/Tag.stories.tsx
  src/components/Tag/Tag.types.ts
  src/components/Tag/hooks/useGetTagUtils.tsx
  src/theme/tokens/components/variables/tag.ts
Due: prettier --write, eslint

docs(search): fix search params
  src/components/Search/Search.types.ts
  src/theme/types.ts
Due: prettier --write, eslint

feat(codemods): adding codemods and script to run, also fix exportations
  .npmignore
  bin/migrate.mjs
  codemods/avatarCodemod.ts
  codemods/buttonCodemod.ts
  codemods/checkboxCodemod.ts
  codemods/chipCodemode.ts
  codemods/drawerCodemod.ts
  codemods/filterCodemod.ts
  codemods/globalsCodemod.ts
  codemods/iconButtonCodemod.ts
  codemods/iconCodemod.ts
  codemods/loaderCodemod.ts
  codemods/menuCodemod.ts
  codemods/notificationsCodemod.ts
  codemods/paginationCodemod.ts
  codemods/radioCodemod.ts
  codemods/radioGroupCodemod.ts
  codemods/searchCodemod.ts
  codemods/selectCodemod.ts
  codemods/switchCodemod.ts
  codemods/tableCodemod.ts
  codemods/textareaCodemod.ts
  codemods/textfieldCodemod.ts
  codemods/tooltipCodemod.ts
  codemods/unchangedIconsCodemod.ts
  package.json
  src/components/Controls/Controls.tokens.ts
  src/components/Navigation/Directory/MenuItem/MenuItem.tsx
  src/components/storyUtils/MenuShowcase/MenuShowcase.tsx
  src/components/storyUtils/MenuShowcase/index.ts
  src/index.ts
  tsconfig.codemods.json
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint

Notes added by 'git notes add'
  42/2010e39928b0ff6776f45c1a7d8d3d7cbabaef
Due: none

chore: avatar with color name
  src/components/Avatar/Avatar.stories.tsx
Due: prettier --write, eslint

docs: update documentation based on jen revision and add more examples
  .storybook/preview-head.html
  docs/WELCOME.mdx
  src/__storyshots__/Updated Components/Avatar/Avatar-AvatarWithColor.snap
  src/components/Avatar/Avatar.mdx
  src/components/Avatar/Avatar.stories.tsx
  src/components/Search/Search.mdx
  src/components/Search/Search.types.ts
  src/components/storyUtils/componentsForTypes.tsx
  src/storybook/SubsectionHeader/SubsectionHeader.tsx
Due: prettier --write, eslint

feat: snaps
  src/__storyshots__/Updated Components/Avatar/Avatar-AvatarWithColor.snap
Due: none

feat: add missing section headers
  docs/GETTING_STARTED.mdx
  docs/guides/BREAKPOINTS.mdx
  docs/guides/COLORS.mdx
  docs/guides/DEVELOPMENT.mdx
  docs/guides/GLOBAL_STATES.mdx
  docs/system/THEME.mdx
  docs/system/UTILS.mdx
  src/components/TruncatedContent/TruncatedContent.mdx
Due: none

feat(NDS-941): design tokens page
  .storybook/preview-head.html
  .storybook/preview.tsx
  docs/tokens/TOKENS.mdx
  src/storybook/Note/Note.style.ts
  src/storybook/Note/Note.tsx
  src/storybook/Note/index.ts
  src/storybook/index.ts
Due: prettier --write, eslint

feat(NDS-902): layout page
  docs/system/LAYOUT.mdx
  src/storybook/Showcases/LayoutShowcase/LayoutShowcase.style.ts
  src/storybook/Showcases/LayoutShowcase/LayoutShowcase.tsx
  src/storybook/Showcases/LayoutShowcase/index.ts
Due: prettier --write, eslint

feat: upgrade react-router to v6
  package.json
  src/__storyshots__/Original Components/Navigation-NavigationStory.snap
  src/__storyshots__/Original Components/Navigation-NavigationWithCustomComponent.snap
  src/components/Breadcrumb/Breadcrumb.stories.tsx
  src/components/Navigation/Directory/MenuItem/MenuItem.tsx
  src/components/Navigation/types.ts
  src/components/storyUtils/BreadcrumbShowcase/BreadcrumbShowcase.tsx
  src/components/storyUtils/NavigationShowcase/NavigationShowcase.tsx
  src/hooks/storyUtils/DemoUseSearchQueryParams.tsx
  yarn.lock
Due: prettier --write, eslint

feat(NDS-905): typography docs
  docs/tokens/TEXT_COLOR.mdx
  docs/tokens/TYPOGRAPHY.mdx
  src/storybook/Showcases/TextColorShowcase/TextColorShowcase.style.ts
  src/storybook/Showcases/TypographyTokensShowcase/TypographyTokensShowcase.style.ts
  src/storybook/Showcases/TypographyTokensShowcase/TypographyTokensShowcase.tsx
Due: prettier --write, eslint

feat: update tokens and Link component
  src/components/Breadcrumb/BackToItem/BackToItem.style.ts
  src/components/Breadcrumb/BackToItem/BackToItem.tsx
  src/theme/tokens/components/variables/controls.ts
  src/theme/tokens/semantic/variables/colors.ts
Due: prettier --write, eslint

docs: update readme.md
  README.md
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,scss,md}
  eslint: any of: *.{ts,tsx,js,jsx}
