Repository Orfium/orfium-ictinus: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

chore: update test
  src/components/storyUtils/PaletteShowcase/__snapshots__/PaletteShowcase.test.tsx.snap
Due: none

feat: remove prefix
  src/components/DatePicker/DatePickInput/DatePickInput.tsx
  src/components/SearchField/SearchField.tsx
  src/components/Select/Select.stories.mdx
  src/components/TextField/TextField.stories.mdx
  src/components/TextField/TextField.style.ts
  src/components/TextField/TextField.tsx
  src/components/TextInputBase/TextInputBase.style.ts
  src/components/TextInputBase/TextInputBase.tsx
Due: prettier --write, eslint

feat: make textfield controlled
  src/components/MultiTextFieldBase/MultiTextFieldBase.style.ts
  src/components/TextField/TextField.stories.mdx
  src/components/TextField/TextField.tsx
  src/components/TextField/hooks/useMultiTextFieldUtils.ts
  src/components/TextInputBase/TextInputBase.tsx
  src/components/TextInputBase/config.ts
  src/components/storyUtils/ColorUtility/ColorUtility.tsx
  src/components/storyUtils/ColorUtility/useColors.ts
  src/components/storyUtils/TextFieldShowcase/TextFieldShowcase.tsx
  src/utils/size-utils.ts
Due: prettier --write, eslint

feat: multitextfield ui changes
  src/components/Filter/Filter.style.ts
  src/components/Filter/components/MultiFilter/MultiFilter.style.ts
  src/components/MultiTextFieldBase/MultiTextFieldBase.style.ts
  src/components/SearchField/SearchField.tsx
  src/components/TextInputBase/TextInputBase.style.ts
  src/components/TextInputBase/config.ts
  src/utils/size-utils.ts
Due: prettier --write, eslint

feat: tests and storyshots
  src/components/SearchField/__snapshots__/SearchField.stories.storyshot
  src/components/TextField/TextField.test.tsx
  src/components/TextField/__snapshots__/TextField.stories.storyshot
  src/components/storyUtils/PaletteShowcase/__snapshots__/PaletteShowcase.test.tsx.snap
  src/components/storyUtils/TextFieldShowcase/TextFieldShowcase.tsx
Due: prettier --write, eslint

feat: fix hover colors
  src/theme/states/hover.ts
  src/theme/states/pressed.ts
Due: prettier --write, eslint

feat: snapshots
  src/components/Button/__snapshots__/Button.stories.storyshot
  src/components/DatePicker/OverlayComponent/__snapshots__/OverlayComponent.test.tsx.snap
  src/components/DatePicker/__snapshots__/DatePicker.stories.storyshot
  src/components/IconButton/__snapshots__/IconButton.stories.storyshot
  src/components/Menu/__snapshots__/Menu.stories.storyshot
  src/components/Overlay/__snapshots__/Overlay.stories.storyshot
  src/components/Pagination/__snapshots__/Pagination.stories.storyshot
  src/components/Table/__snapshots__/Table.stories.storyshot
Due: none

Notes added by 'git notes add'
  b5/878bdda7b885909062b7787ad8e0782a402a05
Due: none

chore: change to double asterisk
  .github/workflows/main.yml
Due: none

feat: change label and placeholder logic
  src/components/DatePicker/DatePickInput/DatePickInput.tsx
  src/components/Filter/components/SingleFilter/components/SearchInput/SearchInput.tsx
  src/components/MultiTextFieldBase/MultiTextFieldBase.tsx
  src/components/MultiTextFieldBase/hooks.tsx
  src/components/SearchField/__snapshots__/SearchField.stories.storyshot
  src/components/Select/__snapshots__/Select.stories.storyshot
  src/components/Slider/Slider.tsx
  src/components/TextArea/__snapshots__/TextArea.stories.storyshot
  src/components/TextField/TextField.stories.mdx
  src/components/TextField/TextField.test.tsx
  src/components/TextField/TextField.tsx
  src/components/TextField/__snapshots__/TextField.stories.storyshot
  src/components/TextInputBase/TextInputBase.style.ts
  src/components/TextInputBase/TextInputBase.tsx
  src/components/TopAppBar/__snapshots__/TopAppBar.stories.storyshot
  src/components/storyUtils/ColorUtility/ColorUtility.tsx
  src/components/storyUtils/PaletteShowcase/__snapshots__/PaletteShowcase.test.tsx.snap
  src/components/storyUtils/TextFieldShowcase/TextFieldShowcase.tsx
  src/components/storyUtils/TopAppBarShowcase.tsx
Due: prettier --write, eslint

fix: tests
  src/components/Filter/components/MultiFilter/MultiFilter.tsx
  src/components/Select/components/SelectMenu/SelectMenu.style.tsx
Due: prettier --write, eslint

chore(avatar):add chromatic threshold
  src/components/Avatar/Avatar.stories.mdx
Due: none

fix: tooltip border radius
  src/components/Table/__snapshots__/Table.stories.storyshot
  src/components/Tooltip/Tooltip.stories.mdx
  src/components/Tooltip/Tooltip.style.ts
  src/components/Tooltip/Tooltip.tsx
  src/components/storyUtils/TooltipShowcase/TooltipShowcase.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  4b/120229009e5135f394dc801ae96ed0ad4ca5a9
Due: none

feat: pr comments
  src/components/Avatar/Avatar.stories.mdx
  src/components/Chip/Chip.tsx
  src/components/Chip/__snapshots__/Chip.stories.storyshot
  src/components/MultiTextFieldBase/MultiTextFieldBase.tsx
  src/components/Select/__snapshots__/Select.stories.storyshot
  src/components/TextField/TextField.stories.mdx
  src/components/TextField/TextField.test.tsx
  src/components/TextField/TextField.tsx
  src/components/TextField/__snapshots__/TextField.stories.storyshot
  src/components/TextInputBase/TextInputBase.tsx
  src/components/Tooltip/__snapshots__/Tooltip.stories.storyshot
  src/components/TopAppBar/__snapshots__/TopAppBar.stories.storyshot
  src/components/storyUtils/PaletteShowcase/__snapshots__/PaletteShowcase.test.tsx.snap
  src/components/storyUtils/TextFieldShowcase/TextFieldShowcase.tsx
Due: prettier --write, eslint

fix: filter search default value v4
  src/components/Filter/Filter.tsx
  src/components/Filter/components/MultiFilter/MultiFilter.tsx
  src/components/Filter/components/Options/Options.tsx
Due: prettier --write, eslint

fix: filter search default value v5
  src/components/Filter/Filter.tsx
  src/components/Filter/components/MultiFilter/MultiFilter.tsx
  src/components/Filter/components/Options/Options.tsx
Due: prettier --write, eslint

feat: add aria hidden and fix padding
  src/components/DatePicker/__snapshots__/DatePicker.stories.storyshot
  src/components/Select/__snapshots__/Select.stories.storyshot
  src/components/TextField/TextField.tsx
  src/components/TextField/__snapshots__/TextField.stories.storyshot
  src/components/TextInputBase/TextInputBase.style.ts
  src/components/Tooltip/__snapshots__/Tooltip.stories.storyshot
  src/components/TopAppBar/__snapshots__/TopAppBar.stories.storyshot
  src/components/storyUtils/PaletteShowcase/__snapshots__/PaletteShowcase.test.tsx.snap
Due: prettier --write, eslint

Notes added by 'git notes add'
  41/d9a910a57a0b656b3028362e70d12942ab57bb
Due: none

Notes added by 'git notes add'
  8e/18fe871058028902766649dd42b77fca71a40a
Due: none

fix: id generation in tests
  src/components/Breadcrumb/Breadcrumb.tsx
  src/components/Chip/Chip.tsx
  src/components/Chip/__snapshots__/Chip.stories.storyshot
  src/components/List/ListItemGroup/ListItemGroup.tsx
  src/components/List/NormalList/NormalList.tsx
  src/components/MultiTextFieldBase/MultiTextFieldBase.tsx
  src/components/Select/__snapshots__/Select.stories.storyshot
  src/components/Select/components/MultiselectTextField/MultiselectTextField.tsx
  src/components/TextField/TextField.tsx
  src/components/TextField/__snapshots__/TextField.stories.storyshot
  src/components/Tooltip/__snapshots__/Tooltip.stories.storyshot
  src/components/storyUtils/PaletteShowcase/__snapshots__/PaletteShowcase.test.tsx.snap
  src/utils/helpers.ts
Due: prettier --write, eslint

feat: new textarea
  src/components/TextArea/TextArea.style.ts
  src/components/TextArea/TextArea.tsx
  src/components/TextInputBase/config.ts
  src/theme/tokens/components/variables/field.ts
Due: prettier --write, eslint

feat: storybook documentation
  src/components/TextArea/TextArea.stories.mdx
  src/components/storyUtils/TextAreaShowcase/TextAreaShowcase.tsx
Due: prettier --write, eslint

feat: snapshots
  src/components/TextArea/__snapshots__/TextArea.stories.storyshot
Due: none

fix: textarea cols and rows
  src/components/TextArea/TextArea.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  ec/ca4d7ed4569d71ba98dad163768d2582a37030
Due: none

feat: add mask prop to textfield
  package.json
  src/components/TextField/TextField.tsx
  yarn.lock
Due: prettier --write, eslint

feat: add showcase
  src/components/TextField/TextField.stories.mdx
  src/components/storyUtils/MaskedTextFieldShowCase/MaskedTextFieldShowCase.tsx
Due: prettier --write, eslint

feat: add tests
  src/components/TextField/TextField.test.tsx
Due: prettier --write, eslint

feat: pr comments
  src/components/TextArea/TextArea.stories.mdx
  src/components/TextArea/TextArea.tsx
  src/components/TextArea/__snapshots__/TextArea.stories.storyshot
  src/components/storyUtils/TextAreaShowcase/TextAreaShowcase.tsx
Due: prettier --write, eslint

fix: remove false import
  src/components/TextArea/TextArea.stories.mdx
Due: none

chore: update storybook deps and typescript
  package.json
  src/storybook.test.ts
  src/test/setup.ts
  src/utils/storyshots.ts
  yarn.lock
Due: prettier --write, eslint

fix(DemoUseSearchQueryParams): type on DemoUseSearchQueryParams.tsx
  src/hooks/storyUtils/DemoUseSearchQueryParams.tsx
Due: prettier --write, eslint

feat(ClickAwayListener): pass aria role and remove the default role, also passing handling blur callback
  src/components/CheckBox/__snapshots__/CheckBox.stories.storyshot
  src/components/DatePicker/__snapshots__/DatePicker.stories.storyshot
  src/components/DropdownButton/__snapshots__/DropdownButton.stories.storyshot
  src/components/Menu/__snapshots__/Menu.stories.storyshot
  src/components/Overlay/__snapshots__/Overlay.stories.storyshot
  src/components/SearchField/__snapshots__/SearchField.stories.storyshot
  src/components/Table/__snapshots__/Table.stories.storyshot
  src/components/TextField/__snapshots__/TextField.stories.storyshot
  src/components/TopAppBar/__snapshots__/TopAppBar.stories.storyshot
  src/components/TopAppBar/__snapshots__/TopAppBar.test.tsx.snap
  src/components/utils/ClickAwayListener/ClickAwayListener.tsx
Due: prettier --write, eslint

chore(list): make the list of showcase smaller
  src/components/List/List.stories.mdx
  src/components/List/__snapshots__/List.stories.storyshot
Due: none

feat: add react-aria-components
  package.json
  yarn.lock
Due: prettier --write

feat: introduce NumberField
  src/components/NumberField/NumberField.tsx
  src/components/NumberField/components/Stepper/Stepper.style.ts
  src/components/NumberField/components/Stepper/Stepper.tsx
  src/components/NumberField/components/Stepper/index.ts
  src/components/NumberField/index.ts
Due: prettier --write, eslint

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,scss,md}
  eslint: any of: *.{ts,tsx,js,jsx}
