Repository Orfium/orfium-ictinus: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

feat: add sparkles icon
  apps/storybook/src/icon/Icon.stories.tsx
  packages/ictinus/src/icon/Icon.tsx
  packages/ictinus/src/icons/SparklesIcon.tsx
  packages/ictinus/src/icons/index.ts
Due: prettier --write, eslint

snaps
  apps/storybook/src/__storyshots__/Vanilla/Icon-Iconography.snap
Due: none

feat: add sparkles icon (#1063)
  apps/storybook/src/__storyshots__/Vanilla/Icon-Iconography.snap
  apps/storybook/src/icon/Icon.stories.tsx
  packages/ictinus/src/icon/Icon.tsx
  packages/ictinus/src/icons/SparklesIcon.tsx
  packages/ictinus/src/icons/index.ts
Due: prettier --write, eslint

feat: ai badge
  apps/storybook/src/badge/Badge.stories.tsx
  packages/ictinus/src/badge/Badge.css.ts
Due: prettier --write, eslint

snaps
  apps/storybook/src/__storyshots__/Vanilla/Badge-Sizes.snap
  apps/storybook/src/__storyshots__/Vanilla/Badge-Variants.snap
  apps/storybook/src/__storyshots__/Vanilla/Badge-WithIcon.snap
Due: none

changeset
  .changeset/brown-bees-begin.md
Due: prettier --write

feat: ai filter
  .changeset/true-sites-kiss.md
  apps/storybook/src/__storyshots__/Updated Components/Fields/DatePicker-DatePickerWithFilter.snap
  apps/storybook/src/__storyshots__/Updated Components/Filter-AsyncFilter.snap
  apps/storybook/src/__storyshots__/Updated Components/Filter-CustomFilter.snap
  apps/storybook/src/__storyshots__/Updated Components/Filter-DisabledFilter.snap
  apps/storybook/src/__storyshots__/Updated Components/Filter-FilterWithDatePicker.snap
  apps/storybook/src/__storyshots__/Updated Components/Filter-MultiFilter.snap
  apps/storybook/src/__storyshots__/Updated Components/Filter-Playground.snap
  apps/storybook/src/__storyshots__/Updated Components/Filter-PresetFilter.snap
  apps/storybook/src/__storyshots__/Updated Components/Filter-SearchableFilter.snap
  apps/storybook/src/__storyshots__/Updated Components/Filter-SimpleFilter.snap
  apps/storybook/src/__storyshots__/Updated Components/Search-CustomSearch.snap
  apps/storybook/src/__storyshots__/Updated Components/Search-FilteredSearch.snap
  apps/storybook/src/__storyshots__/Updated Components/Search-Playground.snap
  apps/storybook/src/stories/Filter/Filter.stories.tsx
  packages/ictinus/src/components/Filter/Filter.tsx
  packages/ictinus/src/components/Filter/Filter.types.ts
  packages/ictinus/src/components/Filter/components/FilterButton/FilterButton.style.ts
  packages/ictinus/src/components/Filter/components/FilterButton/FilterButton.tsx
Due: prettier --write, eslint

feat: ai badge (#1066)
  .changeset/brown-bees-begin.md
  apps/storybook/src/__storyshots__/Vanilla/Badge-Sizes.snap
  apps/storybook/src/__storyshots__/Vanilla/Badge-Variants.snap
  apps/storybook/src/__storyshots__/Vanilla/Badge-WithIcon.snap
  apps/storybook/src/badge/Badge.stories.tsx
  packages/ictinus/src/badge/Badge.css.ts
Due: prettier --write, eslint

feat: ai filter (#1067)
  .changeset/true-sites-kiss.md
  apps/storybook/src/__storyshots__/Updated Components/Fields/DatePicker-DatePickerWithFilter.snap
  apps/storybook/src/__storyshots__/Updated Components/Filter-AsyncFilter.snap
  apps/storybook/src/__storyshots__/Updated Components/Filter-CustomFilter.snap
  apps/storybook/src/__storyshots__/Updated Components/Filter-DisabledFilter.snap
  apps/storybook/src/__storyshots__/Updated Components/Filter-FilterWithDatePicker.snap
  apps/storybook/src/__storyshots__/Updated Components/Filter-MultiFilter.snap
  apps/storybook/src/__storyshots__/Updated Components/Filter-Playground.snap
  apps/storybook/src/__storyshots__/Updated Components/Filter-PresetFilter.snap
  apps/storybook/src/__storyshots__/Updated Components/Filter-SearchableFilter.snap
  apps/storybook/src/__storyshots__/Updated Components/Filter-SimpleFilter.snap
  apps/storybook/src/__storyshots__/Updated Components/Search-CustomSearch.snap
  apps/storybook/src/__storyshots__/Updated Components/Search-FilteredSearch.snap
  apps/storybook/src/__storyshots__/Updated Components/Search-Playground.snap
  apps/storybook/src/stories/Filter/Filter.stories.tsx
  packages/ictinus/src/components/Filter/Filter.tsx
  packages/ictinus/src/components/Filter/Filter.types.ts
  packages/ictinus/src/components/Filter/components/FilterButton/FilterButton.style.ts
  packages/ictinus/src/components/Filter/components/FilterButton/FilterButton.tsx
Due: prettier --write, eslint

fix: release metadata
  packages/ictinus/package.json
  packages/tokens/README.md
  packages/tokens/package.json
Due: prettier --write

tokens precommit
  packages/tokens/package.json
Due: prettier --write

fix: release metadata (#1068)
  packages/ictinus/package.json
  packages/tokens/README.md
  packages/tokens/package.json
Due: prettier --write

chore(deps): update react aria
  apps/storybook/src/__storyshots__/Updated Components/List/List-GroupList.snap
  apps/storybook/src/__storyshots__/Updated Components/List/List-ListStory.snap
  apps/storybook/src/__storyshots__/Updated Components/List/List-VirtualizedList.snap
  apps/storybook/src/__storyshots__/Updated Components/List/ListItem-DisabledListItem.snap
  apps/storybook/src/__storyshots__/Updated Components/List/ListItem-ListItemCompilations.snap
  apps/storybook/src/__storyshots__/Updated Components/List/ListItemText-ListItemTextNormal.snap
  apps/storybook/src/__storyshots__/Updated Components/List/ListItemText-ListItemTextWithSecondaryText.snap
  apps/storybook/src/__storyshots__/Updated Components/List/ListSection-CompactListSection.snap
  apps/storybook/src/__storyshots__/Updated Components/List/ListSection-NormalListSection.snap
  apps/storybook/src/__storyshots__/Updated Components/Tabs/TabStepper-Playground.snap
  apps/storybook/src/__storyshots__/Updated Components/Tabs/TabStepper-TabStepperDisabled.snap
  apps/storybook/src/__storyshots__/Updated Components/Tabs/TabStepper-TabStepperOrientation.snap
  apps/storybook/src/__storyshots__/Updated Components/Tabs/TabStepper-TabStepperStatuses.snap
  apps/storybook/src/__storyshots__/Updated Components/Tabs/TabStepper-TabStepperTypes.snap
  apps/storybook/src/__storyshots__/Updated Components/Tabs/TabStepper-TabStepperWithContent.snap
  apps/storybook/src/__storyshots__/Updated Components/Tabs/Tabs-Playground.snap
  apps/storybook/src/__storyshots__/Updated Components/Tabs/Tabs-SimpleTabs.snap
  apps/storybook/src/__storyshots__/Updated Components/Tabs/Tabs-TabsOrientation.snap
  apps/storybook/src/__storyshots__/Updated Components/Tabs/Tabs-TabsWithContent.snap
  apps/storybook/src/__storyshots__/Updated Components/Tabs/Tabs-TabsWithCounter.snap
  apps/storybook/src/__storyshots__/Vanilla/DataTable-Default.snap
  apps/storybook/src/__storyshots__/Vanilla/DataTable-Loading.snap
  apps/storybook/src/__storyshots__/Vanilla/DataTable-Simple.snap
  apps/storybook/src/__storyshots__/Vanilla/TagGroup-MultipleSelection.snap
  apps/storybook/src/__storyshots__/Vanilla/TagGroup-Removable.snap
  apps/storybook/src/__storyshots__/Vanilla/TagGroup-SingleSelection.snap
  packages/ictinus/src/components/Controls/CheckBox/CheckBox.test.tsx
  packages/ictinus/src/components/Controls/Switch/Switch.test.tsx
  packages/ictinus/src/components/DatePicker/Month/hooks/useMonthKeyboardNavigation.ts
  packages/ictinus/src/components/TableV4/TableV4.test.tsx
  packages/ictinus/src/hooks/useKeyboardEvents.ts
  pnpm-lock.yaml
Due: prettier --write, eslint

refresh
  packages/ictinus/package.json
  pnpm-lock.yaml
Due: prettier --write

chore(deps): update react aria (#1060)
  apps/storybook/src/__storyshots__/Updated Components/List/List-GroupList.snap
  apps/storybook/src/__storyshots__/Updated Components/List/List-ListStory.snap
  apps/storybook/src/__storyshots__/Updated Components/List/List-VirtualizedList.snap
  apps/storybook/src/__storyshots__/Updated Components/List/ListItem-DisabledListItem.snap
  apps/storybook/src/__storyshots__/Updated Components/List/ListItem-ListItemCompilations.snap
  apps/storybook/src/__storyshots__/Updated Components/List/ListItemText-ListItemTextNormal.snap
  apps/storybook/src/__storyshots__/Updated Components/List/ListItemText-ListItemTextWithSecondaryText.snap
  apps/storybook/src/__storyshots__/Updated Components/List/ListSection-CompactListSection.snap
  apps/storybook/src/__storyshots__/Updated Components/List/ListSection-NormalListSection.snap
  apps/storybook/src/__storyshots__/Updated Components/Tabs/TabStepper-Playground.snap
  apps/storybook/src/__storyshots__/Updated Components/Tabs/TabStepper-TabStepperDisabled.snap
  apps/storybook/src/__storyshots__/Updated Components/Tabs/TabStepper-TabStepperOrientation.snap
  apps/storybook/src/__storyshots__/Updated Components/Tabs/TabStepper-TabStepperStatuses.snap
  apps/storybook/src/__storyshots__/Updated Components/Tabs/TabStepper-TabStepperTypes.snap
  apps/storybook/src/__storyshots__/Updated Components/Tabs/TabStepper-TabStepperWithContent.snap
  apps/storybook/src/__storyshots__/Updated Components/Tabs/Tabs-Playground.snap
  apps/storybook/src/__storyshots__/Updated Components/Tabs/Tabs-SimpleTabs.snap
  apps/storybook/src/__storyshots__/Updated Components/Tabs/Tabs-TabsOrientation.snap
  apps/storybook/src/__storyshots__/Updated Components/Tabs/Tabs-TabsWithContent.snap
  apps/storybook/src/__storyshots__/Updated Components/Tabs/Tabs-TabsWithCounter.snap
  apps/storybook/src/__storyshots__/Vanilla/DataTable-Default.snap
  apps/storybook/src/__storyshots__/Vanilla/DataTable-Loading.snap
  apps/storybook/src/__storyshots__/Vanilla/DataTable-Simple.snap
  apps/storybook/src/__storyshots__/Vanilla/TagGroup-MultipleSelection.snap
  apps/storybook/src/__storyshots__/Vanilla/TagGroup-Removable.snap
  apps/storybook/src/__storyshots__/Vanilla/TagGroup-SingleSelection.snap
  packages/ictinus/package.json
  packages/ictinus/src/components/Controls/CheckBox/CheckBox.test.tsx
  packages/ictinus/src/components/Controls/Switch/Switch.test.tsx
  packages/ictinus/src/components/DatePicker/Month/hooks/useMonthKeyboardNavigation.ts
  packages/ictinus/src/components/TableV4/TableV4.test.tsx
  packages/ictinus/src/hooks/useKeyboardEvents.ts
  pnpm-lock.yaml
Due: prettier --write, eslint

feat: vanilla filter
  apps/storybook/src/__storyshots__/Vanilla/Filter-CustomItem.snap
  apps/storybook/src/__storyshots__/Vanilla/Filter-MultiSelect.snap
  apps/storybook/src/__storyshots__/Vanilla/Filter-WithDefaultValue.snap
  apps/storybook/src/filter/Filter.stories.tsx
  packages/ictinus/src/filter/Filter.css.ts
  packages/ictinus/src/filter/Filter.tsx
  packages/ictinus/src/filter/Filter.utils.ts
  packages/ictinus/src/filter/FilterSearchField.tsx
  packages/ictinus/src/filter/index.ts
  packages/ictinus/src/vanilla/index.ts
Due: prettier --write, eslint

snaps
  apps/storybook/src/__storyshots__/Vanilla/Filter-CustomItem.snap
  apps/storybook/src/__storyshots__/Vanilla/Filter-MultiSelect.snap
  apps/storybook/src/__storyshots__/Vanilla/Filter-WithDefaultValue.snap
  apps/storybook/src/__storyshots__/Vanilla/TagGroup-Removable.snap
Due: none

resolve duplicate deps
  apps/storybook/package.json
  apps/storybook/src/__storyshots__/Original Components/Slider-RangeSliderDontTest.snap
  apps/storybook/src/__storyshots__/Updated Components/Fields/NumberField-DisabledNumberField.snap
  apps/storybook/src/__storyshots__/Updated Components/Fields/NumberField-NumberFieldSizes.snap
  apps/storybook/src/__storyshots__/Updated Components/Fields/NumberField-NumberFieldStatuses.snap
  apps/storybook/src/__storyshots__/Updated Components/Fields/NumberField-NumberFieldWithFormatOptions.snap
  apps/storybook/src/__storyshots__/Updated Components/Fields/NumberField-NumberFieldWithMinAndMaxValues.snap
  apps/storybook/src/__storyshots__/Updated Components/Fields/NumberField-NumberFieldWithPlaceholder.snap
  apps/storybook/src/__storyshots__/Updated Components/Fields/NumberField-NumberFieldWithStepper.snap
  apps/storybook/src/__storyshots__/Updated Components/Fields/NumberField-NumberFields.snap
  apps/storybook/src/__storyshots__/Updated Components/Fields/NumberField-Playground.snap
  apps/storybook/src/__storyshots__/Updated Components/Fields/TextArea-DisabledTextArea.snap
  apps/storybook/src/__storyshots__/Updated Components/Fields/TextArea-Playground.snap
  apps/storybook/src/__storyshots__/Updated Components/Fields/TextArea-TextAreaStatuses.snap
  apps/storybook/src/__storyshots__/Updated Components/Fields/TextArea-TextAreaWithCounter.snap
  apps/storybook/src/__storyshots__/Updated Components/Fields/TextArea-TextAreaWithPlaceholder.snap
  apps/storybook/src/__storyshots__/Updated Components/Fields/TextArea-TextAreaWithResizingOption.snap
  apps/storybook/src/__storyshots__/Updated Components/Tabs/TabStepper-TabStepperTypes.snap
  apps/storybook/vite.config.ts
  pnpm-lock.yaml
Due: prettier --write, eslint

resolve paths
  packages/ictinus/tsconfig.node.json
  packages/ictinus/vite.config.ts
Due: prettier --write, eslint

chore: update sonar settings
  sonar-project.properties
  vitest.config.mts
Due: none

update settings
  sonar-project.properties
Due: none

chore: changesets v3
  .changeset/config.json
  .github/workflows/release.yml
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: changesets v3 (#1079)
  .changeset/config.json
  .github/workflows/release.yml
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update sonar settings (#1078)
  sonar-project.properties
  vitest.config.mts
Due: none

feat: add ictinus mcp
  .cursor/mcp.json
  .cursor/rules/ictinus.mdc
  .gitignore
  packages/mcp-server/docs/Text.txt
  packages/mcp-server/docs/routes.txt
  packages/mcp-server/package.json
  packages/mcp-server/src/server.ts
  packages/mcp-server/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write, eslint

chore: update rules
  .cursor/rules/ictinus.mdc
Due: none

feat: ictinus mcp
  .changeset/few-onions-wait.md
  .cursor/mcp.json
  .cursor/rules/ictinus.mdc
  packages/ictinus/src/button/Button.css.ts
  packages/ictinus/src/button/Button.tsx
  packages/ictinus/src/vanilla/Dialog/Dialog.tsx
  packages/mcp-server/README.md
  packages/mcp-server/docs/Text.txt
  packages/mcp-server/docs/routes.txt
  packages/mcp-server/mcp.example.json
  packages/mcp-server/package.json
  packages/mcp-server/scripts/generate.mjs
  packages/mcp-server/scripts/lib/components.mjs
  packages/mcp-server/scripts/lib/guides.mjs
  packages/mcp-server/scripts/lib/icons.mjs
  packages/mcp-server/scripts/lib/parse.mjs
  packages/mcp-server/scripts/lib/patterns.mjs
  packages/mcp-server/scripts/lib/tokens.mjs
  packages/mcp-server/scripts/lib/vanilla-exports.mjs
  packages/mcp-server/src/data.json
  packages/mcp-server/src/index.ts
  packages/mcp-server/src/loaders.ts
  packages/mcp-server/src/paths.ts
  packages/mcp-server/src/search.ts
  packages/mcp-server/src/server.ts
  packages/mcp-server/src/types.ts
  packages/mcp-server/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write, eslint

update mcp settings
  .cursor/mcp.json
  packages/mcp-server/README.md
  packages/mcp-server/mcp.example.json
Due: prettier --write

update mcp
  .cursor/mcp.json
  .cursor/rules/ictinus.mdc
  .gitignore
  packages/mcp-server/README.md
  packages/mcp-server/package.json
  packages/mcp-server/scripts/lib/guides.mjs
  packages/mcp-server/src/data.json
  packages/mcp-server/src/paths.ts
  packages/mcp-server/src/search.ts
  packages/mcp-server/src/server.ts
Due: prettier --write, eslint

feat: vanilla textfield base
  apps/storybook/src/vanilla/TextField/TextField.stories.tsx
  packages/ictinus/src/vanilla/TextField/TextField.css.ts
  packages/ictinus/src/vanilla/TextField/TextField.tsx
  packages/ictinus/src/vanilla/TextField/index.ts
  packages/ictinus/src/vanilla/index.ts
Due: prettier --write, eslint

feat: vanilla textfield floating label base
  apps/storybook/src/vanilla/TextField/TextField.stories.tsx
  packages/ictinus/src/vanilla/TextField/TextField.css.ts
  packages/ictinus/src/vanilla/TextField/TextField.tsx
Due: prettier --write, eslint

feat: vanilla textfield fix styling issues
  apps/storybook/src/vanilla/TextField/TextField.stories.tsx
  packages/ictinus/src/vanilla/TextField/TextField.css.ts
Due: prettier --write, eslint

feat: vanilla textfield floating label style added
  apps/storybook/src/__storyshots__/Vanilla/TextField-Addons.snap
  apps/storybook/src/__storyshots__/Vanilla/TextField-Default.snap
  apps/storybook/src/__storyshots__/Vanilla/TextField-FloatingLabel.snap
  apps/storybook/src/__storyshots__/Vanilla/TextField-Sizes.snap
  packages/ictinus/src/vanilla/TextField/TextField.css.ts
Due: prettier --write, eslint

feat: ictinus mcp (#1081)
  .changeset/few-onions-wait.md
  .gitignore
  packages/ictinus/src/button/Button.css.ts
  packages/ictinus/src/button/Button.tsx
  packages/ictinus/src/vanilla/Dialog/Dialog.tsx
  packages/mcp-server/README.md
  packages/mcp-server/package.json
  packages/mcp-server/scripts/generate.mjs
  packages/mcp-server/scripts/lib/components.mjs
  packages/mcp-server/scripts/lib/guides.mjs
  packages/mcp-server/scripts/lib/icons.mjs
  packages/mcp-server/scripts/lib/parse.mjs
  packages/mcp-server/scripts/lib/patterns.mjs
  packages/mcp-server/scripts/lib/tokens.mjs
  packages/mcp-server/scripts/lib/vanilla-exports.mjs
  packages/mcp-server/src/data.json
  packages/mcp-server/src/index.ts
  packages/mcp-server/src/loaders.ts
  packages/mcp-server/src/paths.ts
  packages/mcp-server/src/search.ts
  packages/mcp-server/src/server.ts
  packages/mcp-server/src/types.ts
  packages/mcp-server/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write, eslint

feat(ictinus): add more languages
  packages/ictinus/src/sprinkles/global.css.ts
Due: prettier --write, eslint

chore: add changeset
  .changeset/bright-facts-cheat.md
  package.json
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,scss,md}
  eslint: any of: *.{ts,tsx,js,jsx}
