Repository Orfium/orfium-ictinus: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

feat: icons addition
  src/components/Icon/__snapshots__/Icon.stories.storyshot
  src/components/Icon/assets/earnings2.svg
  src/components/Icon/assets/iconSelector.ts
  src/components/Icon/assets/microphone.svg
  src/components/Icon/assets/myEarnings.svg
  src/components/Icon/assets/statements.svg
  src/components/Icon/assets/television.svg
  src/components/Icon/types.ts
Due: prettier --write, eslint

Notes added by 'git notes add'
  5f/401c7fdffae21d5593d03028b99b50f145cb3d
Due: none

Notes added by 'git notes add'
  81/6ca94e1c57713e9b61c0440996669cf819442a
Due: none

fix: fix columnHasNumberArr evaluation function
  src/components/Table/Table.tsx
  src/components/Table/components/RenderRowOrNestedRow/RenderRowOrNestedRow.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  dc/fd8de32f34860d105009e7099daf65930d110d
Due: none

fix(build): small fix after merge for jsx
  src/components/Filter/components/Options/Options.tsx
  src/components/Filter/components/SearchInput/SearchInput.tsx
  src/components/storyUtils/FilterShowcase/AsyncFilterShowcase.tsx
  src/components/storyUtils/TooltipShowcase/TooltipShowcase.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  bc/eb91056fbe4bd69ad430c923fcc5f4859845e7
Due: none

Notes added by 'git notes add'
  82/fa8d1e97e8cd14f1d3daefd5a64c4acaf2fc87
Due: none

fix(icon): test fix for icon after resolve conflict with master
  src/components/Icon/__snapshots__/Icon.stories.storyshot
Due: none

Notes added by 'git notes add'
  a4/d8a0d2f48b6957d350dbbdaff7cc14f2ed563a
Due: none

feat: changes step in color util
  src/components/storyUtils/ColorUtility/ColorBox.tsx
  src/components/storyUtils/ColorUtility/ColorUtility.tsx
  src/components/storyUtils/ColorUtility/RangeInput.tsx
  src/components/storyUtils/ColorUtility/useColors.ts
  src/components/storyUtils/PaletteShowcase/PaletteShowcase.tsx
Due: prettier --write, eslint

fix(build): fix build on npm prepare
  package.json
Due: prettier --write

Notes added by 'git notes add'
  10/15cde131c6f7fa16999d5bdd68aa547ad285e0
Due: none

feat(datepicker): add placeholder text option
  src/components/DatePicker/DatePickInput/DatePickInput.tsx
  src/components/DatePicker/DatePicker.stories.mdx
  src/components/DatePicker/DatePicker.tsx
  src/components/DatePicker/__snapshots__/DatePicker.stories.storyshot
Due: prettier --write, eslint

refactor: removes console log
  src/components/storyUtils/ColorUtility/useColors.ts
Due: prettier --write, eslint

fix: add fixes after comments
  src/components/DatePicker/DatePicker.stories.mdx
  src/components/DatePicker/DatePicker.tsx
  src/components/DatePicker/utils.ts
Due: prettier --write, eslint

Notes added by 'git notes add'
  5a/8fcc54d9a1f1d6148625cbe03ee7ac2de6b2c1
Due: none

fix(datepicker): change default value for placeholder check
  src/components/DatePicker/DatePicker.stories.mdx
  src/components/DatePicker/DatePicker.tsx
  src/components/DatePicker/utils.ts
Due: prettier --write, eslint

Notes added by 'git notes add'
  f6/e804772a52266b526857ffae7f81dee137cb61
Due: none

fix(navigation): color to serve correct opacity on active item
  src/components/Drawer/Navigation/Navigation.style.ts
Due: prettier --write, eslint

fix(button): add missing font-weight from base
  src/components/Breadcrumb/__snapshots__/Breadcrumb.stories.storyshot
  src/components/ButtonBase/ButtonBase.style.ts
  src/components/DatePicker/OverlayComponent/__snapshots__/OverlayComponent.test.tsx.snap
  src/components/DatePicker/OverlayComponent/components/MonthWrapper/__snapshots__/MonthWrapper.test.tsx.snap
  src/components/DatePicker/__snapshots__/DatePicker.stories.storyshot
  src/components/IconButton/__snapshots__/IconButton.stories.storyshot
  src/components/Menu/__snapshots__/Menu.stories.storyshot
  src/components/Modal/__snapshots__/Modal.stories.storyshot
  src/components/Notification/__snapshots__/Notification.stories.storyshot
  src/components/Pagination/__snapshots__/Pagination.stories.storyshot
  src/components/Table/__snapshots__/Table.stories.storyshot
  src/components/ThemeProvider/__snapshots__/ThemeProvider.stories.storyshot
  src/components/TopAppBar/__snapshots__/TopAppBar.stories.storyshot
  src/components/TopAppBar/__snapshots__/TopAppBar.test.tsx.snap
Due: prettier --write, eslint

Notes added by 'git notes add'
  30/c1261a70ca6c721eb3d8f1aa4474ee5564840f
Due: none

chore: add royality shares icon
  src/components/Icon/assets/iconSelector.ts
  src/components/Icon/assets/royaltyShares.svg
  src/components/Icon/types.ts
Due: prettier --write, eslint

chore: update tests
  src/components/Icon/__snapshots__/Icon.stories.storyshot
Due: none

fix: remove icon sizes and fill
  src/components/Icon/assets/royaltyShares.svg
Due: none

Notes added by 'git notes add'
  05/fbc54ddf71e965e18ee752bd339ff4f2d788e8
Due: none

Notes added by 'git notes add'
  1c/7e244b0e84fdd53cc4b6420e79ff00dab1d650
Due: none

feat(list): add new package for virtualized list and simplify styles
  package.json
  src/components/List/List.tsx
  src/components/List/ListItem/ListItem.style.ts
  src/components/List/NormalList/NormalList.style.ts
  src/components/List/VirtualizedList/VirtualizedList.style.ts
  src/components/List/VirtualizedList/VirtualizedList.tsx
  src/components/List/__snapshots__/List.stories.storyshot
  src/components/Select/components/SelectMenu/SelectMenu.style.tsx
  src/components/Select/components/SelectMenu/SelectMenu.tsx
  yarn.lock
Due: prettier --write, eslint

feat(table): spacing on last item only if it's not expandable or function type
  src/components/Table/__snapshots__/Table.stories.storyshot
  src/components/Table/components/RenderRowOrNestedRow/RenderRowOrNestedRow.style.ts
  src/components/Table/components/RenderRowOrNestedRow/RenderRowOrNestedRow.tsx
  src/components/Table/components/RenderRowOrNestedRow/components/ExpandedButtonCell/ExpandedButtonCell.tsx
Due: prettier --write, eslint

feat: List component and Menu, Breadcrumbs and Filter
  src/components/Filter/Filter.test.tsx
  src/components/Filter/Filter.tsx
  src/components/Filter/components/Options/Options.style.ts
  src/components/Filter/components/Options/Options.tsx
  src/components/Filter/types.ts
  src/components/Filter/utils.ts
  src/components/List/List.tsx
  src/components/List/ListItem/ListItem.style.ts
  src/components/List/ListItem/ListItem.tsx
  src/components/List/NormalList/NormalList.tsx
  src/components/List/VirtualizedList/VirtualizedList.tsx
  src/components/List/types.ts
  src/components/List/utils.ts
  src/components/Menu/Menu.tsx
Due: prettier --write, eslint

fix: table header and expandable rows misalignment
  src/components/Table/Table.stories.mdx
  src/components/Table/Table.tsx
  src/components/Table/__snapshots__/Table.stories.storyshot
  src/components/Table/components/RenderRowOrNestedRow/RenderRowOrNestedRow.tsx
Due: prettier --write, eslint

fix: pr comments
  src/components/Table/Table.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  7d/79f41bf6aead4870092feb4b2a467fae091fa5
Due: none

Notes added by 'git notes add'
  12/504e8451a1ca8afa5be43da6462dea76dee3da
Due: none

fix(table): header width when expandable
  src/components/Table/Table.style.ts
  src/components/Table/Table.tsx
  src/components/Table/__snapshots__/Table.stories.storyshot
Due: prettier --write, eslint

fix: remove unnecessary dependencies
  package.json
  yarn.lock
Due: prettier --write

fix(table): if onCheck exists , don't add padding to first th item.
  src/components/Table/Table.style.ts
  src/components/Table/Table.tsx
Due: prettier --write, eslint

test(table): if onCheck exists , don't add padding to first th item snaps update
  src/components/Table/__snapshots__/Table.stories.storyshot
Due: none

feat(filters): add new added type on filters
  src/components/Filter/Filter.stories.mdx
  src/components/Filter/Filter.style.ts
  src/components/Filter/Filter.tsx
  src/components/Filter/__snapshots__/Filter.stories.storyshot
  src/components/Filter/types.ts
  src/components/Filter/utils.ts
  src/components/storyUtils/FilterShowcase/FilterShowcase.tsx
Due: prettier --write, eslint

feat(filter): fix shadow of new type and change box-shadow types to match new filter
  src/components/Card/__snapshots__/Card.stories.storyshot
  src/components/DatePicker/__snapshots__/DatePicker.stories.storyshot
  src/components/Filter/Filter.style.ts
  src/components/Filter/Filter.tsx
  src/components/Filter/__snapshots__/Filter.stories.storyshot
  src/components/Filter/utils.ts
  src/components/Notification/__snapshots__/Notification.stories.storyshot
  src/components/Select/__snapshots__/Select.stories.storyshot
  src/components/TextArea/__snapshots__/TextArea.stories.storyshot
  src/components/TextField/__snapshots__/TextField.stories.storyshot
  src/components/Toast/__snapshots__/Toast.stories.storyshot
  src/components/TopAppBar/__snapshots__/TopAppBar.stories.storyshot
  src/components/TopAppBar/__snapshots__/TopAppBar.test.tsx.snap
  src/theme/elevation.ts
Due: prettier --write, eslint

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,scss,md}
  eslint: any of: *.{ts,tsx,js,jsx}
