Repository Orfium/orfium-ictinus: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,json,scss,md}": [
    "prettier --write",
    "git add"
  ],
  "*.{ts,tsx,js,jsx}": [
    "eslint"
  ]
}

chore: update chromatic action
  .github/workflows/sonar.yml
  apps/storybook/.storybook/preview-head.html
  vitest.config.mts
Due: none

fix: navigator ssr (#922)
  .changeset/proud-rings-scream.md
  .github/workflows/chromatic.yml
  .github/workflows/sonar.yml
  apps/playground/package.json
  apps/storybook/.storybook/preview-head.html
  examples/with-tokens-react/package.json
  examples/with-vue/package.json
  packages/ictinus/src/utils/date.ts
  packages/ictinus/src/vanilla-extract/global.css.ts
  vitest.config.mts
Due: prettier --write, eslint

feat: react aria menu
  apps/storybook/src/__storyshots__/Updated Components/Tooltip-TooltipPlacement.snap
  apps/storybook/src/__storyshots__/Vanilla/Box-Default.snap
  apps/storybook/src/__storyshots__/Vanilla/Menu-Default.snap
  apps/storybook/src/__storyshots__/Vanilla/Table-Default.snap
  apps/storybook/src/__storyshots__/Vanilla/Table-Simple.snap
  apps/storybook/src/__storyshots__/Vanilla/Text-Default.snap
  apps/storybook/src/__storyshots__/Vanilla/ThemeProvider-Default.snap
  apps/storybook/src/__storyshots__/Vanilla/Tooltip-Auto.snap
  apps/storybook/src/__storyshots__/Vanilla/Tooltip-Default.snap
  apps/storybook/src/__storyshots__/Vanilla/Tooltip-Delay.snap
  apps/storybook/src/__storyshots__/Vanilla/Tooltip-Inverse.snap
  apps/storybook/src/__storyshots__/Vanilla/Tooltip-MaxWidth.snap
  apps/storybook/src/__storyshots__/Vanilla/Tooltip-Placement.snap
  apps/storybook/src/vanilla/Menu/Menu.stories.tsx
  packages/ictinus/src/sprinkles/properties.css.ts
  packages/ictinus/src/vanilla/Dialog/Dialog.tsx
  packages/ictinus/src/vanilla/Dialog/index.ts
  packages/ictinus/src/vanilla/Dropdown/Dropdown.tsx
  packages/ictinus/src/vanilla/Dropdown/index.ts
  packages/ictinus/src/vanilla/Menu/Menu.css.ts
  packages/ictinus/src/vanilla/Menu/Menu.tsx
  packages/ictinus/src/vanilla/Menu/index.ts
  packages/ictinus/src/vanilla/Popover/Popover.css.ts
  packages/ictinus/src/vanilla/Popover/Popover.tsx
  packages/ictinus/src/vanilla/Popover/index.ts
  packages/ictinus/src/vanilla/index.ts
Due: prettier --write, eslint

chore: add changeset
  .changeset/young-bobcats-stick.md
Due: prettier --write

feat: react aria menu (#925)
  .changeset/young-bobcats-stick.md
  apps/storybook/src/__storyshots__/Updated Components/Tooltip-TooltipPlacement.snap
  apps/storybook/src/__storyshots__/Vanilla/Box-Default.snap
  apps/storybook/src/__storyshots__/Vanilla/Menu-Default.snap
  apps/storybook/src/__storyshots__/Vanilla/Table-Default.snap
  apps/storybook/src/__storyshots__/Vanilla/Table-Simple.snap
  apps/storybook/src/__storyshots__/Vanilla/Text-Default.snap
  apps/storybook/src/__storyshots__/Vanilla/ThemeProvider-Default.snap
  apps/storybook/src/__storyshots__/Vanilla/Tooltip-Auto.snap
  apps/storybook/src/__storyshots__/Vanilla/Tooltip-Default.snap
  apps/storybook/src/__storyshots__/Vanilla/Tooltip-Delay.snap
  apps/storybook/src/__storyshots__/Vanilla/Tooltip-Inverse.snap
  apps/storybook/src/__storyshots__/Vanilla/Tooltip-MaxWidth.snap
  apps/storybook/src/__storyshots__/Vanilla/Tooltip-Placement.snap
  apps/storybook/src/vanilla/Menu/Menu.stories.tsx
  packages/ictinus/src/sprinkles/properties.css.ts
  packages/ictinus/src/vanilla/Dialog/Dialog.tsx
  packages/ictinus/src/vanilla/Dialog/index.ts
  packages/ictinus/src/vanilla/Dropdown/Dropdown.tsx
  packages/ictinus/src/vanilla/Dropdown/index.ts
  packages/ictinus/src/vanilla/Menu/Menu.css.ts
  packages/ictinus/src/vanilla/Menu/Menu.tsx
  packages/ictinus/src/vanilla/Menu/index.ts
  packages/ictinus/src/vanilla/Popover/Popover.css.ts
  packages/ictinus/src/vanilla/Popover/Popover.tsx
  packages/ictinus/src/vanilla/Popover/index.ts
  packages/ictinus/src/vanilla/index.ts
Due: prettier --write, eslint

feat(table): make rows count string or number
  apps/storybook/src/stories/Table/types.ts
  packages/ictinus/src/components/Table/components/TTitle/TTitle.tsx
  packages/ictinus/src/components/Table/types.ts
Due: prettier --write, eslint

chore: add changeset
  .changeset/chilled-rings-carry.md
Due: prettier --write

feat(table): remove types file
  apps/storybook/src/stories/Table/constants.tsx
  apps/storybook/src/stories/Table/types.ts
Due: prettier --write, eslint

[CDP-538] feat(table): make rows count string or number (#927)
  .changeset/chilled-rings-carry.md
  apps/storybook/src/stories/Table/constants.tsx
  apps/storybook/src/stories/Table/types.ts
  packages/ictinus/src/components/Table/components/TTitle/TTitle.tsx
  packages/ictinus/src/components/Table/types.ts
Due: prettier --write, eslint

feat: add ictinus mcp
  .cursor/mcp.json
  .cursor/rules/ictinus.mdc
  .gitignore
  packages/mcp-server/docs/Text.txt
  packages/mcp-server/docs/routes.txt
  packages/mcp-server/package.json
  packages/mcp-server/src/server.ts
  packages/mcp-server/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write, eslint

feat: add rows count label
  .changeset/dirty-carrots-enter.md
  apps/storybook/src/__storyshots__/Updated Components/Table/Table/Rows and Cells-RowSelection.snap
  apps/storybook/src/stories/Table/docs/RowsAndCells/RowsAndCells.stories.tsx
  apps/storybook/src/stories/Table/docs/Showcase/Showcase.stories.tsx
  packages/ictinus/src/components/Table/components/TTitle/TTitle.tsx
  packages/ictinus/src/components/Table/types.ts
Due: prettier --write, eslint

feat: add rows count label (#929)
  .changeset/dirty-carrots-enter.md
  apps/storybook/src/__storyshots__/Updated Components/Table/Table/Rows and Cells-RowSelection.snap
  apps/storybook/src/stories/Table/docs/RowsAndCells/RowsAndCells.stories.tsx
  apps/storybook/src/stories/Table/docs/Showcase/Showcase.stories.tsx
  packages/ictinus/src/components/Table/components/TTitle/TTitle.tsx
  packages/ictinus/src/components/Table/types.ts
Due: prettier --write, eslint

feat: add warning hint to text field
  .changeset/late-tips-press.md
  apps/storybook/src/stories/TextField/TextField.stories.tsx
  packages/ictinus/src/components/TextInputBase/TextInputBase.style.ts
  packages/ictinus/src/components/TextInputBase/TextInputBase.tsx
Due: prettier --write, eslint

chore: update stories
  apps/storybook/src/__storyshots__/Updated Components/Fields/DatePicker-DatePickerAndDateRangePickerStatuses.snap
  apps/storybook/src/__storyshots__/Updated Components/Fields/NumberField-NumberFieldStatuses.snap
  apps/storybook/src/__storyshots__/Updated Components/Fields/Select-SelectStatuses.snap
  apps/storybook/src/__storyshots__/Updated Components/Fields/TextArea-TextAreaStatuses.snap
  apps/storybook/src/__storyshots__/Updated Components/Fields/TextField-TextFieldStatuses.snap
  apps/storybook/src/stories/DatePicker/DatePicker.stories.tsx
  apps/storybook/src/stories/NumberField/NumberField.stories.tsx
  apps/storybook/src/stories/Select/Select.stories.tsx
  apps/storybook/src/stories/TextArea/TextArea.stories.tsx
  apps/storybook/src/stories/TextField/TextField.stories.tsx
Due: prettier --write, eslint

feat: add warning hint to text field (#933)
  .changeset/late-tips-press.md
  apps/storybook/src/__storyshots__/Updated Components/Fields/DatePicker-DatePickerAndDateRangePickerStatuses.snap
  apps/storybook/src/__storyshots__/Updated Components/Fields/NumberField-NumberFieldStatuses.snap
  apps/storybook/src/__storyshots__/Updated Components/Fields/Select-SelectStatuses.snap
  apps/storybook/src/__storyshots__/Updated Components/Fields/TextArea-TextAreaStatuses.snap
  apps/storybook/src/__storyshots__/Updated Components/Fields/TextField-TextFieldStatuses.snap
  apps/storybook/src/stories/DatePicker/DatePicker.stories.tsx
  apps/storybook/src/stories/NumberField/NumberField.stories.tsx
  apps/storybook/src/stories/Select/Select.stories.tsx
  apps/storybook/src/stories/TextArea/TextArea.stories.tsx
  apps/storybook/src/stories/TextField/TextField.stories.tsx
  packages/ictinus/src/components/TextInputBase/TextInputBase.style.ts
  packages/ictinus/src/components/TextInputBase/TextInputBase.tsx
Due: prettier --write, eslint

feat: remove component tokens
  packages/ictinus/src/components/Button/Button.tokens.ts
  packages/ictinus/src/components/ButtonBase/ButtonBase.style.ts
  packages/ictinus/src/components/Controls/Controls.tokens.ts
  packages/ictinus/src/components/Controls/Switch/Switch.style.ts
  packages/ictinus/src/components/DatePicker/DatePickInput/DatePickInput.style.ts
  packages/ictinus/src/components/DatePicker/DatePickInput/DatePickInput.tsx
  packages/ictinus/src/components/DatePicker/DatePicker.tokens.ts
  packages/ictinus/src/components/DatePicker/Day/Day.style.ts
  packages/ictinus/src/components/DatePicker/Month/Month.style.ts
  packages/ictinus/src/components/DatePicker/OverlayComponent/OverlayComponent.style.ts
  packages/ictinus/src/components/Filter/Filter.tokens.ts
  packages/ictinus/src/components/Filter/components/FilterButton/FilterButton.style.ts
  packages/ictinus/src/components/Filter/components/FilterMenu/components/Options/Options.style.ts
  packages/ictinus/src/components/Link/Link.style.ts
  packages/ictinus/src/components/Link/Link.tokens.ts
  packages/ictinus/src/components/List/List.tokens.ts
  packages/ictinus/src/components/MultiTextFieldBase/MultiTextFieldBase.style.ts
  packages/ictinus/src/components/MultiTextFieldBase/MultiTextFieldBase.tsx
  packages/ictinus/src/components/NumberField/components/Stepper/Stepper.style.ts
  packages/ictinus/src/components/ProgressIndicator/ProgressIndicator.tokens.ts
  packages/ictinus/src/components/ProgressIndicator/components/ProgressBar/ProgressBar.style.ts
  packages/ictinus/src/components/Search/Search.style.ts
  packages/ictinus/src/components/Search/Search.tokens.ts
  packages/ictinus/src/components/Search/Search.tsx
  packages/ictinus/src/components/Select/Select.style.ts
  packages/ictinus/src/components/Tag/Tag.style.ts
  packages/ictinus/src/components/Tag/Tag.tokens.ts
  packages/ictinus/src/components/TextArea/TextArea.style.ts
  packages/ictinus/src/components/TextArea/TextArea.tsx
  packages/ictinus/src/components/TextInputBase/TextInputBase.style.ts
  packages/ictinus/src/components/TextInputBase/TextInputBase.tokens.ts
Due: prettier --write, eslint

feat: storybook snaps
  apps/storybook/src/__storyshots__/Updated Components/Fields/DatePicker-DatePickerAndDateRangePickerStatuses.snap
  apps/storybook/src/__storyshots__/Updated Components/Fields/NumberField-NumberFieldStatuses.snap
  apps/storybook/src/__storyshots__/Updated Components/Fields/Select-SelectStatuses.snap
  apps/storybook/src/__storyshots__/Updated Components/Fields/TextArea-TextAreaStatuses.snap
  apps/storybook/src/__storyshots__/Updated Components/Fields/TextField-TextFieldStatuses.snap
Due: none

feat: vanilla icon
  apps/storybook/src/__storyshots__/Vanilla/Icon-Color.snap
  apps/storybook/src/__storyshots__/Vanilla/Icon-IconComponent.snap
  apps/storybook/src/__storyshots__/Vanilla/Icon-Iconography.snap
  apps/storybook/src/__storyshots__/Vanilla/Icon-Size.snap
  apps/storybook/src/icon/Icon.mdx
  apps/storybook/src/icon/Icon.stories.tsx
  packages/ictinus/src/icon/Icon.tsx
  packages/ictinus/src/icon/index.ts
  packages/ictinus/src/icons/AccountIcon.tsx
  packages/ictinus/src/icons/UserIcon.tsx
  packages/ictinus/src/icons/index.ts
  packages/ictinus/src/vanilla/index.ts
Due: prettier --write, eslint

feat: dark mode
  apps/storybook/.storybook/preview.tsx
Due: prettier --write, eslint

feat: add vanilla toggled icons
  apps/storybook/src/__storyshots__/Vanilla/Icon-Iconography.snap
  packages/ictinus/src/icon/Icon.tsx
  packages/ictinus/src/icons/AudioIcon.tsx
  packages/ictinus/src/icons/AudioOffIcon.tsx
  packages/ictinus/src/icons/BookmarkIcon.tsx
  packages/ictinus/src/icons/BookmarkOffIcon.tsx
  packages/ictinus/src/icons/EyeIcon.tsx
  packages/ictinus/src/icons/EyeOffIcon.tsx
  packages/ictinus/src/icons/FavoriteIcon.tsx
  packages/ictinus/src/icons/FavoriteOffIcon.tsx
  packages/ictinus/src/icons/FlagIcon.tsx
  packages/ictinus/src/icons/FlagOffIcon.tsx
  packages/ictinus/src/icons/FreezeIcon.tsx
  packages/ictinus/src/icons/ImageIcon.tsx
  packages/ictinus/src/icons/ImageOffIcon.tsx
  packages/ictinus/src/icons/LinkIcon.tsx
  packages/ictinus/src/icons/LockIcon.tsx
  packages/ictinus/src/icons/PairIcon.tsx
  packages/ictinus/src/icons/UnfreezeIcon.tsx
  packages/ictinus/src/icons/UnlinkIcon.tsx
  packages/ictinus/src/icons/UnlockIcon.tsx
  packages/ictinus/src/icons/UnpairIcon.tsx
  packages/ictinus/src/icons/VideoIcon.tsx
  packages/ictinus/src/icons/VideoOffIcon.tsx
  packages/ictinus/src/icons/index.ts
Due: prettier --write, eslint

feat: add vanilla audio controls icons
  apps/storybook/src/__storyshots__/Vanilla/Icon-Iconography.snap
  packages/ictinus/src/icon/Icon.tsx
  packages/ictinus/src/icons/ForwardIcon.tsx
  packages/ictinus/src/icons/NextIcon.tsx
  packages/ictinus/src/icons/PauseIcon.tsx
  packages/ictinus/src/icons/PlayIcon.tsx
  packages/ictinus/src/icons/PreviousIcon.tsx
  packages/ictinus/src/icons/ResumeIcon.tsx
  packages/ictinus/src/icons/RewindIcon.tsx
  packages/ictinus/src/icons/StopIcon.tsx
  packages/ictinus/src/icons/index.ts
Due: prettier --write, eslint

feat: add vanilla music business icons
  apps/storybook/src/__storyshots__/Vanilla/Icon-Iconography.snap
  packages/ictinus/src/icon/Icon.tsx
  packages/ictinus/src/icons/AlbumIcon.tsx
  packages/ictinus/src/icons/ArtistIcon.tsx
  packages/ictinus/src/icons/AssetIcon.tsx
  packages/ictinus/src/icons/BroadcastIcon.tsx
  packages/ictinus/src/icons/CatalogIcon.tsx
  packages/ictinus/src/icons/ChannelIcon.tsx
  packages/ictinus/src/icons/CinemaIcon.tsx
  packages/ictinus/src/icons/ClaimIcon.tsx
  packages/ictinus/src/icons/CompositionIcon.tsx
  packages/ictinus/src/icons/ConcertIcon.tsx
  packages/ictinus/src/icons/ConflictIcon.tsx
  packages/ictinus/src/icons/CueSheetIcon.tsx
  packages/ictinus/src/icons/DigitalIcon.tsx
  packages/ictinus/src/icons/DistributionIcon.tsx
  packages/ictinus/src/icons/LicenseIcon.tsx
  packages/ictinus/src/icons/PlaycountIcon.tsx
  packages/ictinus/src/icons/PublicPerformanceIcon.tsx
  packages/ictinus/src/icons/PublisherIcon.tsx
  packages/ictinus/src/icons/RadioIcon.tsx
  packages/ictinus/src/icons/RecordLabelIcon.tsx
  packages/ictinus/src/icons/RecordingIcon.tsx
  packages/ictinus/src/icons/TelevisionIcon.tsx
  packages/ictinus/src/icons/UsageIcon.tsx
  packages/ictinus/src/icons/WorkIcon.tsx
  packages/ictinus/src/icons/WriterIcon.tsx
  packages/ictinus/src/icons/YouTubeIcon.tsx
  packages/ictinus/src/icons/index.ts
Due: prettier --write, eslint

feat: add changeset
  .changeset/early-rice-allow.md
Due: prettier --write

chore: remove typedoc
  .eslintignore
  .github/workflows/main.yml
  .gitignore
  README.md
  package.json
  pnpm-lock.yaml
  server/docs-server.d.ts
  server/docs-server.js
  sonar-project.properties
  typedoc.base.json
  typedoc.json
  vitest.config.mts
Due: prettier --write, eslint

chore: cleanup readme
  README.md
Due: prettier --write

chore: remove typedoc (#938)
  .eslintignore
  .github/workflows/main.yml
  .gitignore
  README.md
  package.json
  pnpm-lock.yaml
  server/docs-server.d.ts
  server/docs-server.js
  sonar-project.properties
  typedoc.base.json
  typedoc.json
  vitest.config.mts
Due: prettier --write, eslint

feat: update storybook
  .github/workflows/release.yml
  .npmrc
  .nvmrc
  CHANGELOG.md
  README.md
  apps/storybook/.storybook/main.ts
  apps/storybook/.storybook/preview.tsx
  apps/storybook/package.json
  apps/storybook/src/__storyshots__/Original Components/TableV4-RegularTableWithSortingAndTooltips.snap
  apps/storybook/src/__storyshots__/Original Components/TableV4-TableWithExpandableRowsAndSortDir.snap
  apps/storybook/src/__storyshots__/Updated Components/Tooltip-InteractiveTooltip.snap
  apps/storybook/src/__storyshots__/Updated Components/Tooltip-Playground.snap
  apps/storybook/src/__storyshots__/Updated Components/Tooltip-TextTooltip.snap
  apps/storybook/src/__storyshots__/Updated Components/Tooltip-TooltipPlacement.snap
  apps/storybook/src/stories/DatePicker/play-utils.ts
  apps/storybook/src/stories/DatePicker/utils.ts
  apps/storybook/src/stories/Drawer/Drawer.stories.tsx
  apps/storybook/src/stories/Filter/Filter.stories.tsx
  apps/storybook/src/stories/Menu/Menu.stories.tsx
  apps/storybook/src/stories/Modal/Modal.stories.tsx
  apps/storybook/src/stories/Select/Select.stories.tsx
  apps/storybook/src/stories/Toast/Toast.stories.tsx
  apps/storybook/src/stories/Tooltip/utils.ts
  package.json
  packages/ictinus/package.json
  packages/ictinus/src/components/Box/Box.utilities.ts
  packages/ictinus/src/components/Search/Search.style.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write, eslint

fix: missing deps
  apps/storybook/package.json
  apps/storybook/src/__storyshots__/Original Components/TableV4-RegularTableWithSortingAndTooltips.snap
  apps/storybook/src/__storyshots__/Original Components/TableV4-TableWithExpandableRowsAndSortDir.snap
  apps/storybook/src/__storyshots__/Updated Components/Tooltip-InteractiveTooltip.snap
  apps/storybook/src/__storyshots__/Updated Components/Tooltip-Playground.snap
  apps/storybook/src/__storyshots__/Updated Components/Tooltip-TextTooltip.snap
  apps/storybook/src/__storyshots__/Updated Components/Tooltip-TooltipPlacement.snap
  apps/storybook/src/storybook.test.tsx
  package.json
  packages/tokens/src/theme/tests/const.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write, eslint

fix: missing deps
  apps/storybook/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: coverage dep
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: dark mode amends
  packages/ictinus/src/components/Box/Box.utilities.ts
  packages/ictinus/src/components/Button/Button.tsx
  packages/ictinus/src/components/ButtonBase/ButtonBase.style.ts
  packages/ictinus/src/components/ButtonBase/constants.ts
  packages/ictinus/src/components/DropdownButton/DropdownButton.style.ts
  packages/ictinus/src/components/IconButton/IconButton.tsx
  packages/ictinus/src/components/MultiTextFieldBase/MultiTextFieldBase.tsx
  packages/ictinus/src/components/Notification/Notification.style.ts
  packages/ictinus/src/components/Notification/Snackbar/Snackbar.style.ts
  packages/ictinus/src/components/Notification/Snackbar/Snackbar.tsx
  packages/ictinus/src/components/Notification/subcomponents/CompactNotification/CompactNotification.tsx
  packages/ictinus/src/components/Search/Search.tsx
  packages/ictinus/src/components/TabStepper/components/TabStep/TabStep.tsx
  packages/ictinus/src/components/Tag/Tag.style.ts
  packages/ictinus/src/components/Tag/constants.ts
  packages/ictinus/src/components/Tag/hooks/useGetTagUtils.tsx
  packages/ictinus/src/components/ToastV4/ToastV4.style.ts
  packages/ictinus/src/components/ToastV4/ToastV4.tsx
  packages/ictinus/src/components/Typography/Typography.style.ts
Due: prettier --write, eslint

fix: storybook startup
  .nvmrc
  apps/storybook/.storybook/main.ts
  apps/storybook/vite.config.ts
Due: prettier --write, eslint
