Repository Orfium/orfium-ictinus: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,json,scss,md}": [
    "prettier --write",
    "git add"
  ],
  "*.{ts,tsx,js,jsx}": [
    "eslint"
  ]
}

Fix tsc errors
  src/components/ThemeProvider/ThemeProvider.tsx
  tsconfig.json
Due: prettier --write, eslint

Remove tests from build process
  package.json
  tsconfig.json
Due: prettier --write

Add styled components to dev deps
  package.json
  yarn.lock
Due: prettier --write

0.5.14
  package.json
Due: prettier --write

Update @storybook/addon-knobs
  .storybook/main.js
  yarn.lock
Due: prettier --write, eslint

Review changes
  src/components/TextField/__snapshots__/TextField.stories.storyshot
  src/components/storyUtils/TextFieldShowcase/TextFieldShowcase.tsx
Due: prettier --write, eslint

Remove all config
  .storybook/main.js
Due: prettier --write, eslint

Resolve long standing issue with SVG loading
  .babelrc.json
  package.json
  yarn.lock
Due: prettier --write

Add fill color to fat arrows
  src/components/Icon/assets/fat-arrow-left.svg
  src/components/Icon/assets/fat-arrow-right.svg
Due: none

Fix svg imports
  src/components/Icon/assets/iconSelector.ts
Due: prettier --write, eslint

remove unused packages
  package.json
Due: prettier --write

0.5.15
  package.json
Due: prettier --write

Add script to copy svg assets after build
  package.json
  scripts/copy-assets.js
  tsconfig.json
Due: prettier --write, eslint

0.5.16
  package.json
Due: prettier --write

Remove console.log
  scripts/copy-assets.js
Due: prettier --write, eslint

0.5.17
  package.json
Due: prettier --write

0.5.18
  package.json
Due: prettier --write

Fix svg import paths
  .babelrc.json
  .storybook/main.js
Due: prettier --write, eslint

0.5.19
  package.json
Due: prettier --write

small fix on main.js
  .storybook/main.js
Due: prettier --write, eslint

0.5.20
  package.json
Due: prettier --write

[TextField] Fix width to fit the parent container
  src/components/TextField/TextField.style.ts
Due: prettier --write, eslint

fix icons - another try
  .storybook/main.js
  package.json
  src/components/Icon/assets/iconSelector.ts
  yarn.lock
Due: prettier --write, eslint

0.5.21
  package.json
Due: prettier --write

Review changes
  src/components/TextField/TextField.style.ts
Due: prettier --write, eslint

Completely resolves import issues
  babelrc.build.json
  package.json
  yarn.lock
Due: prettier --write

0.5.22
  package.json
Due: prettier --write

fix global styles
  .storybook/preview.js
  package.json
  src/components/ThemeProvider/ThemeProvider.tsx
Due: prettier --write, eslint

0.5.4-alpha.0
  package.json
Due: prettier --write

introduce custom label to datepicker
  src/components/DatePicker/DatePickInput/DatePickInput.tsx
  src/components/DatePicker/DatePicker.stories.mdx
  src/components/DatePicker/DatePicker.tsx
Due: prettier --write, eslint

0.5.24
  package.json
Due: prettier --write

Fix color selector for background,fill and color. Update Snapshots
  src/components/Breadcrumb/__snapshots__/Breadcrumb.stories.storyshot
  src/components/Button/__snapshots__/Button.stories.storyshot
  src/components/IconButton/__snapshots__/IconButton.stories.storyshot
  src/components/Menu/__snapshots__/Menu.stories.storyshot
  src/components/Pagination/__snapshots__/Pagination.stories.storyshot
  src/utils/themeFunctions.ts
Due: prettier --write, eslint

0.5.24-alpha.0
  package.json
Due: prettier --write

add spacing to expandable button on row
  src/components/Table/__snapshots__/Table.stories.storyshot
  src/components/Table/components/RenderRowOrNestedRow/RenderRowOrNestedRow.tsx
  yarn.lock
Due: prettier --write, eslint

0.5.24-alpha.1
  package.json
Due: prettier --write

Expose components
  src/index.tsx
Due: prettier --write, eslint

Remove label from index
  src/index.tsx
Due: prettier --write, eslint

[TextField] Updates of filled style
  src/components/TextField/TextField.style.ts
Due: prettier --write, eslint
