Repository Orfium/orfium-ictinus: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,json,scss,md}": [
    "prettier --write",
    "git add"
  ],
  "*.{ts,tsx,js,jsx}": [
    "eslint"
  ]
}

feat: whap with Box, remove unused styles
  apps/storybook/src/vanilla/Tags/Tags.stories.tsx
  packages/ictinus/src/icon/Icon.tsx
  packages/ictinus/src/vanilla/Tag/Tag.css.ts
  packages/ictinus/src/vanilla/Tag/Tag.tsx
Due: prettier --write, eslint

feat: vanilla tag implemented
  apps/storybook/src/__storyshots__/Vanilla/Tag-ReadOnlyCodeTags.snap
  apps/storybook/src/__storyshots__/Vanilla/Tag-ReadOnlyTags.snap
  apps/storybook/src/__storyshots__/Vanilla/Tag-ReadOnlyTagsWithIcons.snap
  apps/storybook/src/__storyshots__/Vanilla/Tag-RemovableTags.snap
  apps/storybook/src/__storyshots__/Vanilla/Tag-SelectableTagsMultiple.snap
  apps/storybook/src/__storyshots__/Vanilla/Tag-SelectableTagsSingle.snap
  apps/storybook/src/__storyshots__/Vanilla/Tag-SizesAndColors.snap
  apps/storybook/src/vanilla/Tags/Tags.stories.tsx
  packages/ictinus/src/vanilla/Tag/Tag.css.ts
  packages/ictinus/src/vanilla/Tag/Tag.tsx
Due: prettier --write, eslint

feat: badge styles
  apps/storybook/src/__storyshots__/Vanilla/Badge-ReadOnlyBadges.snap
  apps/storybook/src/__storyshots__/Vanilla/Badge-Sizes.snap
  apps/storybook/src/__storyshots__/Vanilla/Badge-WithIcons.snap
  apps/storybook/src/__storyshots__/Vanilla/Tag-RemovableTags.snap
  apps/storybook/src/__storyshots__/Vanilla/Tag-SizesAndColors.snap
  apps/storybook/src/badge/Badge.stories.tsx
  apps/storybook/src/vanilla/Badge/Badge.stories.tsx
  packages/ictinus/src/badge/Badge.css.ts
  packages/ictinus/src/badge/Badge.test.tsx
  packages/ictinus/src/badge/Badge.tsx
  packages/ictinus/src/badge/index.ts
  packages/ictinus/src/vanilla/Badge/Badge.css.ts
  packages/ictinus/src/vanilla/Badge/Badge.test.tsx
  packages/ictinus/src/vanilla/Badge/Badge.tsx
  packages/ictinus/src/vanilla/index.ts
Due: prettier --write, eslint

feat: tag group
  .changeset/free-areas-rule.md
  apps/storybook/CHANGELOG.md
  apps/storybook/package.json
  apps/storybook/src/__storyshots__/Vanilla/Badge-Variants.snap
  apps/storybook/src/__storyshots__/Vanilla/Badge-WithIcon.snap
  apps/storybook/src/__storyshots__/Vanilla/TagGroup-MultipleSelection.snap
  apps/storybook/src/__storyshots__/Vanilla/TagGroup-Removable.snap
  apps/storybook/src/__storyshots__/Vanilla/TagGroup-SingleSelection.snap
  apps/storybook/src/badge/Badge.stories.tsx
  apps/storybook/src/tag-group/TagGroup.stories.tsx
  apps/storybook/src/vanilla/Tags/Tags.stories.tsx
  packages/ictinus/src/tag-group/TagGroup.css.ts
  packages/ictinus/src/tag-group/TagGroup.test.tsx
  packages/ictinus/src/tag-group/TagGroup.tsx
  packages/ictinus/src/tag-group/index.ts
  packages/ictinus/src/vanilla/Tag/Tag.css.ts
  packages/ictinus/src/vanilla/Tag/Tag.test.tsx
  packages/ictinus/src/vanilla/Tag/Tag.tsx
  packages/ictinus/src/vanilla/Tag/index.ts
  packages/ictinus/src/vanilla/index.ts
  pnpm-lock.yaml
Due: prettier --write, eslint

feat: vanilla tag (#984)
  .changeset/free-areas-rule.md
  apps/storybook/CHANGELOG.md
  apps/storybook/package.json
  apps/storybook/src/__storyshots__/Vanilla/Badge-ReadOnlyBadges.snap
  apps/storybook/src/__storyshots__/Vanilla/Badge-Sizes.snap
  apps/storybook/src/__storyshots__/Vanilla/Badge-Variants.snap
  apps/storybook/src/__storyshots__/Vanilla/Badge-WithIcon.snap
  apps/storybook/src/__storyshots__/Vanilla/Badge-WithIcons.snap
  apps/storybook/src/__storyshots__/Vanilla/Tag-ReadOnlyCodeTags.snap
  apps/storybook/src/__storyshots__/Vanilla/Tag-ReadOnlyTags.snap
  apps/storybook/src/__storyshots__/Vanilla/Tag-ReadOnlyTagsWithIcons.snap
  apps/storybook/src/__storyshots__/Vanilla/Tag-RemovableTags.snap
  apps/storybook/src/__storyshots__/Vanilla/Tag-SelectableTagsMultiple.snap
  apps/storybook/src/__storyshots__/Vanilla/Tag-SelectableTagsSingle.snap
  apps/storybook/src/__storyshots__/Vanilla/Tag-SizesAndColors.snap
  apps/storybook/src/__storyshots__/Vanilla/TagGroup-MultipleSelection.snap
  apps/storybook/src/__storyshots__/Vanilla/TagGroup-Removable.snap
  apps/storybook/src/__storyshots__/Vanilla/TagGroup-SingleSelection.snap
  apps/storybook/src/badge/Badge.stories.tsx
  apps/storybook/src/tag-group/TagGroup.stories.tsx
  packages/ictinus/src/badge/Badge.css.ts
  packages/ictinus/src/badge/Badge.test.tsx
  packages/ictinus/src/badge/Badge.tsx
  packages/ictinus/src/badge/index.ts
  packages/ictinus/src/components/utils/useDOMRef.ts
  packages/ictinus/src/icon/Icon.tsx
  packages/ictinus/src/tag-group/TagGroup.css.ts
  packages/ictinus/src/tag-group/TagGroup.test.tsx
  packages/ictinus/src/tag-group/TagGroup.tsx
  packages/ictinus/src/tag-group/index.ts
  packages/ictinus/src/vanilla/index.ts
  pnpm-lock.yaml
Due: prettier --write, eslint

chore: common deps catalog
  apps/playground/package.json
  apps/storybook/package.json
  apps/storybook/tsconfig.node.json
  apps/storybook/vite.config.ts
  apps/storybook/vitest.setup.ts
  package.json
  packages/ictinus/package.json
  packages/ictinus/src/actions/ActionsContent.css.ts
  packages/ictinus/src/components/Chart/Wrapper.tsx
  packages/ictinus/src/components/DatePicker/DatePicker.test.tsx
  packages/ictinus/src/components/Filter/Filter.test.tsx
  packages/ictinus/src/components/Select/Select.test.tsx
  packages/ictinus/src/data-table/DataTableBody.tsx
  packages/ictinus/src/test/setup.ts
  packages/ictinus/src/utils/helpers.ts
  packages/ictinus/vite.config.ts
  packages/tokens/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write, eslint

chore: dependabot
  .github/dependabot.yml
  .github/workflows/combine-prs.yml
  apps/storybook/vitest.setup.ts
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint

chore: common deps catalog (#995)
  .github/dependabot.yml
  .github/workflows/combine-prs.yml
  apps/playground/package.json
  apps/storybook/package.json
  apps/storybook/tsconfig.node.json
  apps/storybook/vite.config.ts
  apps/storybook/vitest.setup.ts
  package.json
  packages/ictinus/package.json
  packages/ictinus/src/actions/ActionsContent.css.ts
  packages/ictinus/src/components/Chart/Wrapper.tsx
  packages/ictinus/src/components/DatePicker/DatePicker.test.tsx
  packages/ictinus/src/components/Filter/Filter.test.tsx
  packages/ictinus/src/components/Select/Select.test.tsx
  packages/ictinus/src/data-table/DataTableBody.tsx
  packages/ictinus/src/test/setup.ts
  packages/ictinus/src/utils/helpers.ts
  packages/ictinus/vite.config.ts
  packages/tokens/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write, eslint

Add Apache License 2.0 to the project
  LICENSE
Due: none

chore: update readme
  README.md
  packages/ictinus/README.md
Due: prettier --write

fix: badge css import
  .changeset/every-geckos-start.md
  apps/playground/src/App.tsx
  apps/storybook/src/__storyshots__/Vanilla/Badge-Sizes.snap
  apps/storybook/src/__storyshots__/Vanilla/Badge-Variants.snap
  apps/storybook/src/__storyshots__/Vanilla/Badge-WithIcon.snap
  packages/ictinus/src/badge/Badge.css.ts
Due: prettier --write, eslint

fix: badge css import (#1011)
  .changeset/every-geckos-start.md
  apps/playground/src/App.tsx
  apps/storybook/src/__storyshots__/Vanilla/Badge-Sizes.snap
  apps/storybook/src/__storyshots__/Vanilla/Badge-Variants.snap
  apps/storybook/src/__storyshots__/Vanilla/Badge-WithIcon.snap
  packages/ictinus/src/badge/Badge.css.ts
Due: prettier --write, eslint

chore: await user event
  packages/ictinus/src/components/Controls/Radio/Radio.test.tsx
Due: prettier --write, eslint

Add Apache License 2.0 to the project (#1010)
  LICENSE
  README.md
  packages/ictinus/README.md
Due: prettier --write

chore: update minimatch transitive
  apps/storybook/package.json
  packages/ictinus/package.json
  packages/tokens/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

chore(security): update minimatch transitive (#1014)
  apps/storybook/package.json
  packages/ictinus/package.json
  packages/tokens/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

chore(deps): update react router and lodash-es
  apps/storybook/package.json
  packages/ictinus/package.json
  packages/tokens/package.json
  pnpm-lock.yaml
Due: prettier --write

chore(deps): update react router and lodash-es (#1021)
  apps/storybook/package.json
  packages/ictinus/package.json
  packages/tokens/package.json
  pnpm-lock.yaml
Due: prettier --write

chore(deps): update lockfile
  pnpm-lock.yaml
Due: none

chore(deps): update cloudformation config
  .github/workflows/deploy-frontend.yml
Due: none

chore(deps): update lockfile (#1022)
  .github/workflows/deploy-frontend.yml
  pnpm-lock.yaml
Due: none

chore: dedupe
  pnpm-lock.yaml
Due: none

fix: forward text props correctly
  .changeset/cyan-insects-shave.md
  apps/storybook/src/__storyshots__/Vanilla/Badge-Sizes.snap
  apps/storybook/src/__storyshots__/Vanilla/Badge-Variants.snap
  apps/storybook/src/__storyshots__/Vanilla/Badge-WithIcon.snap
  apps/storybook/src/__storyshots__/Vanilla/Button-Disabled.snap
  apps/storybook/src/__storyshots__/Vanilla/Button-Pending.snap
  apps/storybook/src/__storyshots__/Vanilla/Button-Sizes.snap
  apps/storybook/src/__storyshots__/Vanilla/Button-Variants.snap
  apps/storybook/src/__storyshots__/Vanilla/Button-WithIcon.snap
  apps/storybook/src/__storyshots__/Vanilla/DataTable-Default.snap
  apps/storybook/src/__storyshots__/Vanilla/DataTable-Loading.snap
  apps/storybook/src/__storyshots__/Vanilla/DataTable-Simple.snap
  packages/ictinus/src/vanilla/Text/Text.tsx
Due: prettier --write, eslint

fix: forward text props correctly (#1023)
  .changeset/cyan-insects-shave.md
  apps/storybook/src/__storyshots__/Vanilla/Badge-Sizes.snap
  apps/storybook/src/__storyshots__/Vanilla/Badge-Variants.snap
  apps/storybook/src/__storyshots__/Vanilla/Badge-WithIcon.snap
  apps/storybook/src/__storyshots__/Vanilla/Button-Disabled.snap
  apps/storybook/src/__storyshots__/Vanilla/Button-Pending.snap
  apps/storybook/src/__storyshots__/Vanilla/Button-Sizes.snap
  apps/storybook/src/__storyshots__/Vanilla/Button-Variants.snap
  apps/storybook/src/__storyshots__/Vanilla/Button-WithIcon.snap
  apps/storybook/src/__storyshots__/Vanilla/DataTable-Default.snap
  apps/storybook/src/__storyshots__/Vanilla/DataTable-Loading.snap
  apps/storybook/src/__storyshots__/Vanilla/DataTable-Simple.snap
  packages/ictinus/src/vanilla/Text/Text.tsx
Due: prettier --write, eslint

fix: data table scroll indicator on element resize
  .changeset/vast-symbols-retire.md
  packages/ictinus/src/data-table/DataTableBody.tsx
  packages/ictinus/src/data-table/DataTableCounter.tsx
Due: prettier --write, eslint

fix: data table scroll indicator on element resize (#1025)
  .changeset/vast-symbols-retire.md
  packages/ictinus/src/data-table/DataTableBody.tsx
  packages/ictinus/src/data-table/DataTableCounter.tsx
Due: prettier --write, eslint

chore(sec): update vitest browser
  apps/storybook/package.json
  pnpm-lock.yaml
Due: prettier --write

chore(security): update vitest browser (#1042)
  apps/storybook/package.json
  pnpm-lock.yaml
Due: prettier --write

update lockfile
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore: add gradient tokens
  .changeset/brown-insects-fold.md
  packages/ictinus/src/sprinkles/properties.css.ts
  packages/tokens/src/tokens/color.ts
Due: prettier --write, eslint
