Repository Orfium/orfium-ictinus: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

feat: snaps
  src/components/DatePicker/Day/__snapshots__/Day.test.tsx.snap
  src/components/DatePicker/Month/__snapshots__/Month.test.tsx.snap
  src/components/DatePicker/OverlayComponent/__snapshots__/OverlayComponent.test.tsx.snap
  src/components/DatePicker/OverlayComponent/components/MonthWrapper/__snapshots__/MonthWrapper.test.tsx.snap
  src/components/DatePicker/__snapshots__/DatePicker.stories.storyshot
Due: none

chore: fix package json version
  package.json
Due: prettier --write

chore: updated tests and fix imports
  __mocks__/@tippyjs/react.tsx
  src/components/Avatar/__snapshots__/Avatar.stories.storyshot
  src/components/Button/__snapshots__/Button.stories.storyshot
  src/components/Chart/BarChart/BarChart.tsx
  src/components/CheckBox/__snapshots__/CheckBox.stories.storyshot
  src/components/Chip/__snapshots__/Chip.stories.storyshot
  src/components/DatePicker/__snapshots__/DatePicker.stories.storyshot
  src/components/Menu/__snapshots__/Menu.stories.storyshot
  src/components/Toast/__snapshots__/Toast.stories.storyshot
  src/components/storyUtils/PaletteShowcase/__snapshots__/PaletteShowcase.test.tsx.snap
  src/components/storyUtils/PresentComponent/PresentComponent.tsx
  src/components/storyUtils/Stack/Stack.tsx
Due: prettier --write, eslint

fix: deployment node to LTS
  .github/workflows/main.yml
  environments/common.env
Due: none

Notes added by 'git notes add'
  7d/c99781d9234e46e8f347a7b671581abb3d5d5a
Due: none

feat: add documentation
  src/components/DatePicker/Month/Month.tsx
Due: prettier --write, eslint

feat: pr comments
  src/components/DatePicker/Month/Month.tsx
  src/components/DatePicker/Month/hooks/useMonthKeyboardNavigation.ts
  src/components/DatePicker/OverlayComponent/__snapshots__/OverlayComponent.test.tsx.snap
  src/components/DatePicker/OverlayComponent/components/MonthWrapper/MonthWrapper.tsx
  src/components/DatePicker/OverlayComponent/components/MonthWrapper/__snapshots__/MonthWrapper.test.tsx.snap
Due: prettier --write, eslint

feat: tests
  src/components/DatePicker/DatePicker.test.tsx
  src/components/DatePicker/Month/hooks/useMonthKeyboardNavigation.ts
Due: prettier --write, eslint

Notes added by 'git notes add'
  02/26e3cf51aedd1765429703f1c0e16ddb7375fe
Due: none

feat: work in progress
  src/components/DatePicker/DatePicker.test.tsx
  src/components/DatePicker/Month/Month.tsx
  src/components/DatePicker/Month/hooks/__tests__/useMonthKeyboardNavigation.test.tsx
  src/hooks/useKeyboardEvents.ts
Due: prettier --write, eslint

fix: tests
  src/components/DatePicker/DatePicker.test.tsx
  src/components/DatePicker/Day/Day.tsx
  src/components/DatePicker/Month/__snapshots__/Month.test.tsx.snap
  src/components/DatePicker/Month/hooks/__tests__/useMonthKeyboardNavigation.test.tsx
  src/components/DatePicker/OverlayComponent/__snapshots__/OverlayComponent.test.tsx.snap
  src/components/DatePicker/OverlayComponent/components/MonthWrapper/__snapshots__/MonthWrapper.test.tsx.snap
  src/hooks/useKeyboardEvents.ts
Due: prettier --write, eslint

feat: increase coverage
  src/components/DatePicker/DatePicker.test.tsx
  src/components/DatePicker/OverlayComponent/OverlayComponent.tsx
  src/components/DatePicker/OverlayComponent/__snapshots__/OverlayComponent.test.tsx.snap
  src/components/DatePicker/OverlayComponent/components/MonthWrapper/MonthWrapper.tsx
  src/components/DatePicker/OverlayComponent/components/MonthWrapper/__snapshots__/MonthWrapper.test.tsx.snap
  src/components/DatePicker/utils.ts
  src/hooks/useKeyboardEvents.ts
Due: prettier --write, eslint

feat: remove unreached code
  src/components/DatePicker/OverlayComponent/components/MonthWrapper/MonthWrapper.tsx
  src/components/DatePicker/utils.ts
Due: prettier --write, eslint

fix: Escape DatePicker
  src/components/DatePicker/DatePicker.tsx
  src/components/DatePicker/Day/Day.tsx
  src/components/DatePicker/Month/hooks/useMonthKeyboardNavigation.ts
  src/components/DatePicker/OverlayComponent/components/MonthWrapper/MonthWrapper.tsx
  src/components/DatePicker/__snapshots__/DatePicker.stories.storyshot
  src/components/Select/Select.tsx
  src/hooks/useKeyboardEvents.ts
Due: prettier --write, eslint

fix: select backspace does not change value
  src/components/Select/Select.tsx
  src/components/Select/hooks/useMultiselectUtils.ts
Due: prettier --write, eslint

Notes added by 'git notes add'
  c5/ab01fa52b7635884fcb6be75a238e5b0b65f35
Due: none

fix: handle backspace for Select
  src/components/Select/Select.tsx
  src/components/Select/__snapshots__/Select.stories.storyshot
  src/components/Select/types.ts
Due: prettier --write, eslint

fix: async select showcase
  src/components/storyUtils/SelectShowcase/SelectShowcase.tsx
Due: prettier --write, eslint

feat: add comment
  src/components/Select/Select.tsx
Due: prettier --write, eslint

refactor: textfield showcases and storybook
  src/components/TextField/TextField.stories.mdx
  src/components/TextField/TextField.test.tsx
  src/components/storyUtils/MaskedTextFieldShowCase/MaskedTextFieldShowCase.tsx
  src/components/storyUtils/TextFieldShowcases/MultiTextFieldShowcase.tsx
  src/components/storyUtils/TextFieldShowcases/TextFieldShowCase.tsx
  src/components/storyUtils/TextFieldShowcases/index.ts
Due: prettier --write, eslint

fix: isDisabled should override status
  src/components/NumberField/__snapshots__/NumberField.stories.storyshot
  src/components/Select/__snapshots__/Select.stories.storyshot
  src/components/TextArea/__snapshots__/TextArea.stories.storyshot
  src/components/TextField/TextField.tsx
  src/components/TextField/__snapshots__/TextField.stories.storyshot
  src/components/TextInputBase/TextInputBase.style.ts
  src/components/TextInputBase/TextInputBase.tsx
Due: prettier --write, eslint

feat: update typography tokens and Typography component
  src/components/ThemeProvider/ThemeProvider.style.ts
  src/components/Typography/Typography.config.styles.ts
  src/components/Typography/Typography.style.ts
  src/components/Typography/Typography.tsx
  src/storybook/Showcases/TypographyTokensShowcase/TypographyTokensShowcase.tsx
  src/theme/tokens/semantic/typography.ts
  src/theme/tokens/semantic/variables/typography.ts
Due: prettier --write, eslint

feat: update typography stories
  src/components/Typography/Typography.stories.mdx
Due: none

feat: update typography tokens parsing
  src/components/Typography/utils.ts
  src/theme/tokens/utils/components.ts
  src/theme/tokens/utils/parsers.ts
Due: prettier --write, eslint

feat: update existing component typographies
  src/components/Avatar/Avatar.style.ts
  src/components/Avatar/Avatar.tokens.ts
  src/components/Button/Button.tokens.ts
  src/components/ButtonBase/ButtonBase.style.ts
Due: prettier --write, eslint

feat: snapshots
  src/components/Avatar/__snapshots__/Avatar.stories.storyshot
  src/components/Avatar/__snapshots__/AvatarStack.stories.storyshot
  src/components/Chip/__snapshots__/Chip.stories.storyshot
  src/components/Menu/__snapshots__/Menu.stories.storyshot
  src/components/TopAppBar/__snapshots__/TopAppBar.stories.storyshot
  src/components/TopAppBar/__snapshots__/TopAppBar.test.tsx.snap
  src/components/Typography/__snapshots__/Typography.stories.storyshot
Due: none

feat: link component
  src/components/Link/Link.style.ts
  src/components/Link/Link.tokens.ts
  src/components/Link/Link.tsx
  src/components/Link/Link.types.ts
  src/components/Link/index.ts
  src/theme/tokens/components/variables/link.ts
Due: prettier --write, eslint

feat: link stories
  src/components/Link/Link.stories.mdx
Due: none

feat: export link
  src/index.ts
Due: prettier --write, eslint

feat: update sem color tokens
  src/theme/tokens/semantic/variables/colors.ts
Due: prettier --write, eslint

feat: update colors and color parsers
  src/theme/globals/constants/colors.ts
  src/theme/tokens/components/variables/button.ts
  src/theme/tokens/utils/parsers.ts
Due: prettier --write, eslint

feat: stories
  src/components/Box/__snapshots__/Box.stories.storyshot
  src/components/Link/__snapshots__/Link.stories.storyshot
  src/components/TextField/__snapshots__/TextField.stories.storyshot
  src/components/Typography/__snapshots__/Typography.stories.storyshot
Due: none

fix: tests
  src/components/Box/Box.test.ts
Due: prettier --write, eslint

feat: rename standalone to block
  src/components/Link/Link.stories.mdx
  src/components/Link/Link.tsx
  src/components/Link/Link.types.ts
  src/theme/tokens/components/variables/link.ts
Due: prettier --write, eslint

fix: update recharts
  package.json
  src/components/Chart/BarChart/BarChart.tsx
  src/components/Chart/BarChart/components/CustomLabel/CustomLabel.tsx
  src/components/Chart/BarChart/components/CustomTooltipContent/CustomTooltipContent.tsx
  src/components/Chart/DonutChart/components/CustomLabel/CustomLabel.tsx
  src/components/Chart/LineChart/components/CustomTooltip/CustomTooltip.tsx
  src/components/Chart/Wrapper.tsx
  src/components/Chart/__snapshots__/Chart.stories.storyshot
  yarn.lock
Due: prettier --write, eslint

feat: pr comments and small fixes
  src/components/Avatar/Avatar.style.ts
  src/components/Avatar/Avatar.tokens.ts
  src/components/Button/Button.tokens.ts
  src/components/ButtonBase/ButtonBase.style.ts
  src/components/Typography/utils.ts
  src/theme/tokens/semantic/typography.ts
Due: prettier --write, eslint

feat: pr comments
  src/components/Link/Link.stories.mdx
  src/components/Link/Link.style.ts
  src/components/Link/Link.tsx
  src/components/Link/Link.types.ts
  src/components/Link/__snapshots__/Link.stories.storyshot
Due: prettier --write, eslint

feat: add new icons and update snapshot
  src/components/Icon/__snapshots__/Icon.stories.storyshot
  src/components/Icon/assets/bookmark.svg
  src/components/Icon/assets/iconSelector.ts
  src/components/Icon/assets/tag.svg
  src/components/Icon/assets/triangle-warning.svg
  src/components/Icon/assets/undo.svg
  src/components/Icon/types.ts
Due: prettier --write, eslint

feat: update snapshots after typography changes from merge
  src/components/List/stories/__snapshots__/ListItem.stories.storyshot
  src/components/List/stories/__snapshots__/ListSection.stories.storyshot
  src/components/NumberField/__snapshots__/NumberField.stories.storyshot
  src/components/Select/__snapshots__/Select.stories.storyshot
  src/components/TextArea/__snapshots__/TextArea.stories.storyshot
  src/components/TextField/__snapshots__/TextField.stories.storyshot
Due: none

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,scss,md}
  eslint: any of: *.{ts,tsx,js,jsx}
