Repository Orfium/orfium-ictinus: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,json,scss,md}": [
    "prettier --write",
    "git add"
  ],
  "*.{ts,tsx,js,jsx}": [
    "eslint"
  ]
}

Fix development
  package.json
  src/components/Breadcrumb/Breadcrumb.stories.mdx
  yarn.lock
Due: prettier --write

0.5.7
  package.json
Due: prettier --write

0.5.8
  package.json
Due: prettier --write

Remove storyUtils dir from the build process
  package.json
  tsconfig.json
Due: prettier --write

0.5.9
  package.json
Due: prettier --write

Actually remove storyUtils dir from the build process
  package.json
  tsconfig.json
Due: prettier --write

0.5.10
  package.json
Due: prettier --write

add common types and functions to the export part of the lib for global usage
  src/index.tsx
  src/theme/palette.ts
Due: prettier --write, eslint

0.5.11
  package.json
Due: prettier --write

small readme fix
  README.md
Due: prettier --write

[feature/snapshot-testing]: updates yarn.lock
  yarn.lock
Due: none

fix: datepicker with value and disabledDates from outside
  src/components/DatePicker/DatePicker.stories.mdx
  src/components/DatePicker/DatePicker.style.ts
  src/components/DatePicker/DatePicker.tsx
Due: prettier --write, eslint

minor fix on datepicker
  src/components/DatePicker/DatePicker.style.ts
Due: prettier --write, eslint

add disableDates to knobs to show the options
  src/components/DatePicker/DatePicker.stories.mdx
Due: none

0.5.12
  package.json
Due: prettier --write

[feature/snapshot-testing]: fixes tests for Icon and ExpandCollapse components
  src/components/Icon/Icon.stories.mdx
  src/components/Icon/types.ts
  src/storybook.test.ts
Due: prettier --write, eslint

[feature/snapshot-testing]: updates storyshots and adds new storyshot for ExpandCollapse component
  src/components/Breadcrumb/__snapshots__/Breadcrumb.stories.storyshot
  src/components/ExpandCollapse/__snapshots__/ExpandCollapse.stories.storyshot
  src/components/Icon/__snapshots__/Icon.stories.storyshot
  src/components/IconButton/__snapshots__/IconButton.stories.storyshot
  src/components/Menu/__snapshots__/Menu.stories.storyshot
  src/components/Pagination/__snapshots__/Pagination.stories.storyshot
  src/components/Table/__snapshots__/Table.stories.storyshot
  src/components/TextField/__snapshots__/TextField.stories.storyshot
Due: none

[feature/snapshot-testing]: fixes sidebar menu links
  guides/COLORS.stories.mdx
  guides/ENVIROMENT.stories.mdx
  guides/ICONOGRAPHY.stories.mdx
  guides/INTRODUCTION.stories.mdx
  guides/TYPOGRAPHY.stories.mdx
  guides/USAGE.stories.mdx
  src/components/Breadcrumb/Breadcrumb.stories.mdx
  src/components/Button/Button.stories.mdx
  src/components/CheckBox/CheckBox.stories.mdx
  src/components/DatePicker/DatePicker.stories.mdx
  src/components/ExpandCollapse/ExpandCollapse.stories.mdx
  src/components/Icon/Icon.stories.mdx
  src/components/IconButton/IconButton.stories.mdx
  src/components/Menu/Menu.stories.mdx
  src/components/Pagination/Pagination.stories.mdx
  src/components/Radio/Radio.stories.mdx
  src/components/RadioGroup/RadioGroup.stories.mdx
  src/components/Select/Select.stories.mdx
  src/components/Table/Table.stories.mdx
  src/components/TextField/TextField.stories.mdx
  src/components/ThemeProvider/ThemeProvider.stories.mdx
Due: none

[feature/snapshot-testing]: fixes common ts errors
  src/components/Button/Button.style.ts
  src/components/DatePicker/DatePicker.tsx
  src/components/IconButton/IconButton.style.ts
  src/components/Menu/Menu.style.ts
Due: prettier --write, eslint

[feature/snapshot-testing]: updates yarn.lock fixes viewport issue and fixes global styles issue
  .storybook/main.js
  .storybook/preview.js
  package.json
  src/components/ThemeProvider/ThemeProvider.tsx
  yarn.lock
Due: prettier --write, eslint

[feature/snapshot-testing]: updates storyshots with the new changes
  src/components/Breadcrumb/__snapshots__/Breadcrumb.stories.storyshot
  src/components/Button/__snapshots__/Button.stories.storyshot
  src/components/CheckBox/__snapshots__/CheckBox.stories.storyshot
  src/components/ExpandCollapse/__snapshots__/ExpandCollapse.stories.storyshot
  src/components/Icon/__snapshots__/Icon.stories.storyshot
  src/components/IconButton/__snapshots__/IconButton.stories.storyshot
  src/components/Menu/__snapshots__/Menu.stories.storyshot
  src/components/Pagination/__snapshots__/Pagination.stories.storyshot
  src/components/Radio/__snapshots__/Radio.stories.storyshot
  src/components/RadioGroup/__snapshots__/RadioGroup.stories.storyshot
  src/components/Select/__snapshots__/Select.stories.storyshot
  src/components/Table/__snapshots__/Table.stories.storyshot
  src/components/TextField/__snapshots__/TextField.stories.storyshot
  src/components/ThemeProvider/__snapshots__/ThemeProvider.stories.storyshot
Due: none

[feature/snapshot-testing]: refactors FlexDirectionProperty
  src/components/Button/Button.style.ts
  src/components/IconButton/IconButton.style.ts
  src/utils/common.ts
Due: prettier --write, eslint

Add CMS Tools icons
  src/components/Icon/Icon.stories.mdx
  src/components/Icon/assets/actions.svg
  src/components/Icon/assets/asset-matching.svg
  src/components/Icon/assets/auto.svg
  src/components/Icon/assets/catalog-overview.svg
  src/components/Icon/assets/catalog.svg
  src/components/Icon/assets/cms-process.svg
  src/components/Icon/assets/composition.svg
  src/components/Icon/assets/conflicts.svg
  src/components/Icon/assets/delivery.svg
  src/components/Icon/assets/details.svg
  src/components/Icon/assets/iconSelector.ts
  src/components/Icon/assets/manual.svg
  src/components/Icon/assets/others.svg
  src/components/Icon/assets/ownership-validation.svg
  src/components/Icon/assets/policies.svg
  src/components/Icon/assets/process-management.svg
  src/components/Icon/assets/reference-file.svg
  src/components/Icon/assets/result.svg
  src/components/Icon/assets/sight.svg
  src/components/Icon/types.ts
Due: prettier --write, eslint

Update existing icons
  src/components/Icon/Icon.stories.mdx
  src/components/Icon/assets/iconSelector.ts
  src/components/Icon/types.ts
  src/components/storyUtils/Stack/Stack.tsx
Due: prettier --write, eslint

fix: datepicker on change combined with value was not working properly
  src/components/DatePicker/DatePicker.tsx
Due: prettier --write, eslint

Fix palette schema.
  src/theme/utils.ts
Due: prettier --write, eslint

Basic documentation on palette
  guides/COLORS.stories.mdx
Due: none

Simplify theme utils function.
  src/theme/utils.ts
Due: prettier --write, eslint

minor chnage on percentage
  src/theme/utils.ts
Due: prettier --write, eslint

small type fix
  src/components/DatePicker/DatePicker.tsx
Due: prettier --write, eslint

0.5.13
  package.json
Due: prettier --write

test added for shades.
  .huskyrc
  package.json
  src/theme/tests/const.js
  src/theme/tests/utils.test.js
  yarn.lock
Due: prettier --write, eslint

[feature/snapshot-testing]: Updated storyshots for icon
  src/components/Icon/__snapshots__/Icon.stories.storyshot
Due: none

Remove link to abstract
  guides/COLORS.stories.mdx
Due: none

stricter types on palette creation functions
  src/theme/palette.ts
  src/theme/utils.ts
Due: prettier --write, eslint

[TextField] Add success/error indicators
  src/components/TextField/TextField.stories.mdx
  src/components/TextField/TextField.style.ts
  src/components/TextField/TextField.tsx
  src/components/storyUtils/TextFieldShowcase/TextFieldShowcase.tsx
  src/components/storyUtils/TextFieldShowcase/index.ts
  src/utils/themeFunctions.ts
Due: prettier --write, eslint

[TextField] Add error message component
  src/components/TextField/TextField.stories.mdx
  src/components/TextField/TextField.style.ts
  src/components/TextField/TextField.tsx
  src/components/storyUtils/TextFieldShowcase/TextFieldShowcase.tsx
Due: prettier --write, eslint

[TextField] Update label color on error
  src/components/Label/Label.style.ts
  src/components/Label/Label.tsx
  src/components/TextField/TextField.tsx
Due: prettier --write, eslint
