Repository Orfium/orfium-ictinus: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,json,scss,md}": [
    "prettier --write",
    "git add"
  ],
  "*.{ts,tsx,js,jsx}": [
    "eslint"
  ]
}

feat: remove old radio button and components
  src/components/Radio/Radio.stories.mdx
  src/components/Radio/Radio.style.ts
  src/components/Radio/Radio.test.tsx
  src/components/Radio/Radio.tsx
  src/components/Radio/__snapshots__/Radio.stories.storyshot
  src/components/Radio/__snapshots__/Radio.test.tsx.snap
  src/components/Radio/index.ts
  src/components/RadioGroup/RadioGroup.stories.mdx
  src/components/RadioGroup/RadioGroup.tsx
  src/components/RadioGroup/RadioGroupContext.ts
  src/components/RadioGroup/__snapshots__/RadioGroup.stories.storyshot
  src/components/RadioGroup/index.ts
  src/components/RadioGroup/useRadioGroup.ts
  src/components/storyUtils/RadioButtonsShowcase/RadioButtonsShowcase.tsx
  src/components/storyUtils/RadioButtonsShowcase/index.ts
Due: prettier --write, eslint

feat: controls tokens
  src/components/Controls/Controls.tokens.ts
  src/components/Link/Link.tokens.ts
  src/theme/tokens/components/variables/controls.ts
Due: prettier --write, eslint

feat: control label
  src/components/Controls/ControlLabel/ControlLabel.style.ts
  src/components/Controls/ControlLabel/ControlLabel.tsx
  src/components/Controls/ControlLabel/index.ts
  src/components/Controls/Controls.types.ts
Due: prettier --write, eslint

feat: radio and radiogroup implementation
  package.json
  src/components/Controls/Radio/Radio.stories.mdx
  src/components/Controls/Radio/Radio.style.ts
  src/components/Controls/Radio/Radio.test.tsx
  src/components/Controls/Radio/Radio.tsx
  src/components/Controls/Radio/__snapshots__/Radio.stories.storyshot
  src/components/Controls/Radio/__snapshots__/Radio.test.tsx.snap
  src/components/Controls/Radio/components/RadioGroup/RadioGroup.tsx
  src/components/Controls/Radio/components/RadioGroup/RadioGroupContext.ts
  src/components/Controls/Radio/components/RadioGroup/index.ts
  src/components/Controls/Radio/index.ts
  src/components/Controls/index.ts
  yarn.lock
Due: prettier --write, eslint

feat: update radio usages
  src/components/List/stories/ListItem.stories.mdx
  src/components/List/stories/ListItemAction.stories.mdx
  src/components/List/stories/__snapshots__/ListItem.stories.storyshot
Due: none

feat: export radio and radio group
  src/index.ts
Due: prettier --write, eslint

fix: focus
  src/components/Controls/Radio/Radio.style.ts
  src/components/Controls/Radio/Radio.tsx
  src/components/Controls/Radio/__snapshots__/Radio.stories.storyshot
  src/components/Controls/Radio/components/RadioGroup/RadioGroup.tsx
  src/components/List/stories/ListItem.stories.mdx
  src/components/List/stories/__snapshots__/ListItem.stories.storyshot
Due: prettier --write, eslint

fix: types
  src/components/Controls/Radio/Radio.test.tsx
  src/components/Controls/Radio/Radio.tsx
Due: prettier --write, eslint

chore: adding patch for storybook/knobs and fix tests
  package.json
  patches/@storybook+addon-knobs+7.0.2.patch
  src/__storyshots__/Design System/Table-RegularTableWithSortingAndTooltips.snap
  src/__storyshots__/Design System/Table-TableWithExpandableRowsAndSortDir.snap
  src/hooks/useSearchQueryParams.stories.tsx
  src/types.d.ts
  yarn.lock
Due: prettier --write, eslint

feat: remove old checkbox
  src/components/CheckBox/CheckBox.stories.mdx
  src/components/CheckBox/CheckBox.style.ts
  src/components/CheckBox/CheckBox.tsx
  src/components/CheckBox/__snapshots__/CheckBox.stories.storyshot
  src/components/CheckBox/index.ts
  src/components/CheckBox/tests/Checkbox.test.tsx
Due: prettier --write, eslint

feat: checkbox implementation
  src/components/Controls/CheckBox/CheckBox.style.ts
  src/components/Controls/CheckBox/CheckBox.tsx
  src/components/Controls/CheckBox/index.ts
  src/components/Controls/Controls.types.ts
  src/components/Controls/index.ts
Due: prettier --write, eslint

feat: update usages
  src/components/List/stories/ListItem.stories.mdx
  src/components/List/stories/ListItemAction.stories.mdx
  src/components/Table/Table.test.tsx
  src/components/Table/Table.tsx
  src/components/Table/components/RenderRowOrNestedRow/RenderRowOrNestedRow.tsx
Due: prettier --write, eslint

feat: typos
  src/components/Controls/Radio/Radio.stories.mdx
  src/components/Controls/Radio/Radio.tsx
Due: prettier --write, eslint

feat: tests
  src/components/Controls/CheckBox/CheckBox.test.tsx
Due: prettier --write, eslint

feat: stories
  src/components/Controls/CheckBox/CheckBox.stories.mdx
Due: none

feat: export
  src/index.ts
Due: prettier --write, eslint

feat: snapshots
  src/components/Controls/CheckBox/__snapshots__/CheckBox.stories.storyshot
  src/components/Controls/CheckBox/__snapshots__/CheckBox.test.tsx.snap
  src/components/Controls/Radio/__snapshots__/Radio.stories.storyshot
  src/components/List/stories/__snapshots__/ListItem.stories.storyshot
  src/components/Table/__snapshots__/Table.stories.storyshot
Due: none

Notes added by 'git notes add'
  df/8d5d21579d33c9e7d7c368450758da68e09013
Due: none

Notes added by 'git notes add'
  36/e825c182c8762b2a6c2850ccace41657dc85cf
Due: none

fix: revert build:lib on package.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  85/e6baa34645b9e0d44b071ad174f2ed30beeba2
Due: none

fix: new vite build
  .babelrc.json
  .storybook/main.ts
  package.json
  rollup.config.js
  src/__storyshots__/Design System/Filter-AddedFilter.snap
  src/__storyshots__/Design System/Filter-PresetFilter.snap
  src/types.d.ts
  tsconfig.json
  vite.config.ts
  yarn.lock
Due: prettier --write, eslint

chore: tests
  src/__storyshots__/Design System/Filter-AddedFilter.snap
  src/__storyshots__/Design System/Filter-PresetFilter.snap
Due: none

feat: update field tokens
  src/theme/tokens/components/variables/field.ts
Due: prettier --write, eslint

feat: icon component implementation
  src/components/Icon/Icon.stories.mdx
  src/components/Icon/Icon.style.ts
  src/components/Icon/Icon.tsx
  src/components/Icon/assets/iconSelector.ts
  src/components/Icon/constants.ts
  src/components/Icon/types.ts
  src/components/storyUtils/IconographyShowcase/IconographyShowcase.tsx
  src/components/storyUtils/IconographyShowcase/index.ts
  src/components/storyUtils/PresentComponent/PresentComponent.tsx
Due: prettier --write, eslint

feat: snapshots
  src/components/Avatar/__snapshots__/Avatar.stories.storyshot
  src/components/Avatar/__snapshots__/AvatarStack.stories.storyshot
  src/components/Breadcrumb/__snapshots__/Breadcrumb.stories.storyshot
  src/components/CheckBox/__snapshots__/CheckBox.stories.storyshot
  src/components/Chip/__snapshots__/Chip.stories.storyshot
  src/components/DatePicker/OverlayComponent/__snapshots__/OverlayComponent.test.tsx.snap
  src/components/DatePicker/OverlayComponent/components/MonthWrapper/__snapshots__/MonthWrapper.test.tsx.snap
  src/components/DatePicker/__snapshots__/DatePicker.stories.storyshot
  src/components/Drawer/__snapshots__/Drawer.stories.storyshot
  src/components/DropdownButton/__snapshots__/DropdownButton.stories.storyshot
  src/components/Filter/__snapshots__/Filter.stories.storyshot
  src/components/IconButton/__snapshots__/IconButton.stories.storyshot
  src/components/Link/__snapshots__/Link.stories.storyshot
  src/components/List/stories/__snapshots__/ListItem.stories.storyshot
  src/components/Menu/__snapshots__/Menu.stories.storyshot
  src/components/Modal/__snapshots__/Modal.stories.storyshot
  src/components/Notification/__snapshots__/Notification.stories.storyshot
  src/components/NumberField/__snapshots__/NumberField.stories.storyshot
  src/components/Overlay/__snapshots__/Overlay.stories.storyshot
  src/components/Pagination/__snapshots__/Pagination.stories.storyshot
  src/components/SearchField/__snapshots__/SearchField.stories.storyshot
  src/components/Select/__snapshots__/Select.stories.storyshot
  src/components/Table/__snapshots__/Table.stories.storyshot
  src/components/Tag/__snapshots__/Tag.stories.storyshot
  src/components/TextArea/__snapshots__/TextArea.stories.storyshot
  src/components/TextField/__snapshots__/TextField.stories.storyshot
  src/components/ThemeProvider/__snapshots__/ThemeProvider.stories.storyshot
  src/components/Toast/__snapshots__/Toast.stories.storyshot
  src/components/Tooltip/__snapshots__/Tooltip.stories.storyshot
  src/components/TopAppBar/__snapshots__/TopAppBar.stories.storyshot
  src/components/TopAppBar/__snapshots__/TopAppBar.test.tsx.snap
  src/components/storyUtils/PaletteShowcase/__snapshots__/PaletteShowcase.test.tsx.snap
Due: none

fix: tests
  scripts/copy-assets.js
Due: prettier --write, eslint

fix: tests 2
  scripts/copy-assets.js
Due: prettier --write, eslint

fix: move globals file
  src/components/Select/components/MultiselectTextField/MultiselectTextField.style.ts
  src/components/Select/types.ts
  src/components/storyUtils/IconographyShowcase/IconographyShowcase.tsx
  src/globals.d.ts
Due: prettier --write, eslint

feat: snapshots
  src/components/Icon/__snapshots__/Icon.stories.storyshot
Due: none

feat: sonar
  src/components/storyUtils/IconographyShowcase/IconographyShowcase.tsx
  src/hooks/useFieldUtils.tsx
Due: prettier --write, eslint

feat: refactor useBreakpoints
  package.json
  src/hooks/useBreakpoints.tsx
  yarn.lock
Due: prettier --write, eslint

feat: update tests and snapshots
  src/components/Drawer/Drawer.test.tsx
  src/components/TopAppBar/TopAppBar.test.tsx
  src/components/TopAppBar/__snapshots__/TopAppBar.test.tsx.snap
  src/hooks/useBreakpoints.test.ts
Due: prettier --write, eslint

chore: fix styling issues with latest
  .storybook/preview-head.html
  .storybook/preview.tsx
  docs/WELCOME.mdx
  package.json
  scripts/copy-assets.js
  src/components/Avatar/Avatar.mdx
  src/components/Avatar/Avatar.stories.tsx
  src/components/Breadcrumb/Breadcrumb.mdx
  src/components/Button/Button.mdx
  src/components/DatePicker/DatePicker.mdx
  src/components/DatePicker/DatePicker.stories.tsx
  src/components/DatePicker/constants.ts
  src/components/Link/Link.tsx
  src/components/List/stories/List.stories.tsx
  src/components/List/stories/ListItemAction.mdx
  src/components/List/stories/ListItemAction.stories.tsx
  src/components/List/stories/ListItemText.mdx
  src/components/List/stories/ListSection.mdx
  src/components/ProgressIndicator/ProgressIndicator.mdx
  src/components/ProgressIndicator/ProgressIndicator.stories.mdx
  src/components/ProgressIndicator/ProgressIndicator.stories.tsx
  src/components/Tooltip/Tooltip.mdx
  src/components/Tooltip/Tooltip.stories.tsx
  src/storybook/Link/Link.style.ts
  src/storybook/Link/Link.tsx
  src/storybook/Link/index.ts
  src/storybook/SectionHeader/SectionHeader.style.ts
  src/storybook/Typography/Typography.style.ts
Due: prettier --write, eslint

feat: adding event clickawaylistener
  src/components/utils/ClickAwayListener/ClickAwayListener.tsx
Due: prettier --write, eslint
