Repository Orfium/orfium-ictinus: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

feat: exports
  src/components/Drawer/Drawer.mdx
  src/components/Drawer/index.ts
  src/index.ts
Due: prettier --write, eslint

feat: snaps
  src/__storyshots__/Updated Components/Drawer-Background.snap
  src/__storyshots__/Updated Components/Drawer-FixedContent.snap
  src/__storyshots__/Updated Components/Drawer-MoreExamples.snap
  src/__storyshots__/Updated Components/Drawer-Placement.snap
  src/__storyshots__/Updated Components/Drawer-Playground.snap
  src/__storyshots__/Updated Components/Drawer-Sizes.snap
Due: none

feat: introduce new components
  src/__storyshots__/Updated Components/Drawer-Background.snap
  src/__storyshots__/Updated Components/Drawer-FixedContent.snap
  src/__storyshots__/Updated Components/Drawer-MoreExamples.snap
  src/__storyshots__/Updated Components/Drawer-Placement.snap
  src/__storyshots__/Updated Components/Drawer-Playground.snap
  src/__storyshots__/Updated Components/Drawer-Sizes.snap
  src/components/Drawer/Drawer.mdx
  src/components/Drawer/Drawer.stories.tsx
  src/components/Drawer/Drawer.style.ts
  src/components/Drawer/Drawer.test.tsx
  src/components/Drawer/Drawer.tsx
  src/components/Drawer/Drawer.types.ts
  src/components/Drawer/DrawerContext.tsx
  src/components/Drawer/components/DrawerContent.tsx
  src/components/Drawer/components/DrawerFooter.tsx
  src/components/Drawer/components/DrawerHeader.tsx
  src/components/Drawer/components/index.ts
  src/components/Drawer/index.ts
  src/theme/tokens/components/variables/drawer.ts
Due: prettier --write, eslint

feat: portal
  src/__storyshots__/Updated Components/Drawer-Background.snap
  src/__storyshots__/Updated Components/Drawer-FixedContent.snap
  src/__storyshots__/Updated Components/Drawer-MoreExamples.snap
  src/__storyshots__/Updated Components/Drawer-Placement.snap
  src/__storyshots__/Updated Components/Drawer-Playground.snap
  src/__storyshots__/Updated Components/Drawer-Sizes.snap
  src/components/Drawer/Drawer.tsx
  src/components/Drawer/Drawer.types.ts
Due: prettier --write, eslint

feat: sonarqube exceptions
  sonar-project.properties
Due: none

feat: remove types
  src/components/Drawer/Drawer.types.ts
Due: prettier --write, eslint

fix: sonar coverage
  sonar-project.properties
Due: none

feat: add documentation for subcomponents
  src/__storyshots__/Updated Components/Drawer/Drawer-Background.snap
  src/__storyshots__/Updated Components/Drawer/Drawer-FixedContent.snap
  src/__storyshots__/Updated Components/Drawer/Drawer-MoreExamples.snap
  src/__storyshots__/Updated Components/Drawer/Drawer-Placement.snap
  src/__storyshots__/Updated Components/Drawer/Drawer-Playground.snap
  src/__storyshots__/Updated Components/Drawer/Drawer-Sizes.snap
  src/components/Drawer/Drawer.mdx
  src/components/Drawer/Drawer.stories.tsx
  src/components/Drawer/components/DrawerContent/DrawerContent.mdx
  src/components/Drawer/components/DrawerContent/DrawerContent.stories.tsx
  src/components/Drawer/components/DrawerContent/DrawerContent.tsx
  src/components/Drawer/components/DrawerContent/index.ts
  src/components/Drawer/components/DrawerFooter/DrawerFooter.mdx
  src/components/Drawer/components/DrawerFooter/DrawerFooter.stories.tsx
  src/components/Drawer/components/DrawerFooter/DrawerFooter.tsx
  src/components/Drawer/components/DrawerFooter/index.ts
  src/components/Drawer/components/DrawerHeader/DrawerHeader.mdx
  src/components/Drawer/components/DrawerHeader/DrawerHeader.stories.tsx
  src/components/Drawer/components/DrawerHeader/DrawerHeader.tsx
  src/components/Drawer/components/DrawerHeader/index.ts
Due: prettier --write, eslint

feat: add styles for scrolling
  src/components/Drawer/Drawer.stories.tsx
  src/components/Drawer/Drawer.style.ts
  src/components/Drawer/Drawer.tsx
  src/components/Drawer/DrawerContext.tsx
  src/components/Drawer/components/DrawerContent/DrawerContent.tsx
  src/components/Drawer/components/DrawerContent/hooks/useDrawerContentObserver.ts
  src/components/Drawer/components/DrawerFooter/DrawerFooter.tsx
  src/components/Drawer/components/DrawerHeader/DrawerHeader.tsx
  src/test/setup.ts
Due: prettier --write, eslint

feat(banner): add alternative cta / button
  src/components/Notification/Banner/Banner.tsx
  src/components/Notification/Notification.stories.mdx
  src/components/Notification/subcomponents/CompactNotification/CompactNotification.style.ts
  src/components/Notification/subcomponents/CompactNotification/CompactNotification.tsx
Due: prettier --write, eslint

style: minor CSS fixes
  src/components/Notification/subcomponents/CompactNotification/CompactNotification.style.ts
  src/components/Notification/subcomponents/CompactNotification/CompactNotification.tsx
Due: prettier --write, eslint

feat: tests and stories
  src/components/Drawer/Drawer.stories.tsx
  src/components/Drawer/Drawer.test.tsx
Due: prettier --write, eslint

feat: partial dqa comments
  src/components/Drawer/Drawer.stories.tsx
  src/components/Drawer/Drawer.tsx
  src/components/Drawer/Drawer.types.ts
Due: prettier --write, eslint

fix(chromatic): turbosnap fail on build
  .storybook/main.ts
  package.json
  yarn.lock
Due: prettier --write, eslint

fix: storybook body height
  src/components/Drawer/Drawer.stories.tsx
Due: prettier --write, eslint

fix: chromatic attempt 2
  .storybook/preview-head.html
  src/components/Drawer/Drawer.stories.tsx
Due: prettier --write, eslint

fix: revert styles
  .storybook/preview-head.html
Due: none

chore: add semantic-release for CI
  package.json
  yarn.lock
Due: prettier --write

Notes added by 'git notes add'
  0a/d7b9208e6cce45fdd2d4dc1eb09ff930edf21e
Due: none

feat: remove css normalizer
  package.json
  src/components/ThemeProvider/ThemeProvider.style.ts
  yarn.lock
Due: prettier --write, eslint

Notes added by 'git notes add'
  0b/40645214164ce652b42138b1741aa98b6eb27b
Due: none

feat: normalize basic elements
  src/components/ThemeProvider/ThemeProvider.style.ts
Due: prettier --write, eslint

Revert "feat: remove css normalizer"
  package.json
  src/components/ThemeProvider/ThemeProvider.style.ts
  yarn.lock
Due: prettier --write, eslint

Notes added by 'git notes add'
  57/04bbdce6c68c26b56834e0e3703537484c0bf2
Due: none

feat: delete files
  src/__storyshots__/Original Components/Chip-InteractiveChips.snap
  src/__storyshots__/Original Components/Chip-ReadOnlyChips.snap
  src/components/Chip/Chip.mdx
  src/components/Chip/Chip.stories.tsx
  src/components/Chip/Chip.style.ts
  src/components/Chip/Chip.test.tsx
  src/components/Chip/Chip.tsx
  src/components/Chip/Chip.types.ts
  src/components/Chip/components/Badge/Badge.style.ts
  src/components/Chip/components/Badge/Badge.tsx
  src/components/Chip/components/Badge/index.ts
  src/components/Chip/index.ts
  src/components/Chip/utils.tsx
  src/components/storyUtils/ChipShowcase/ChipShowcase.tsx
  src/components/storyUtils/ChipShowcase/index.ts
Due: prettier --write, eslint

feat: update usages
  docs/guides/GLOBAL_STATES.mdx
  src/components/Button/Button.tsx
  src/components/Filter/Filter.test.tsx
  src/components/MultiTextFieldBase/MultiTextFieldBase.style.ts
  src/components/MultiTextFieldBase/MultiTextFieldBase.tsx
  src/components/Select/Select.mdx
  src/components/Select/Select.test.tsx
  src/components/TextField/TextField.mdx
  src/components/TextField/TextField.test.tsx
  src/components/TextField/TextField.tsx
  src/components/utils/PositionInScreen/hooks.ts
  src/index.ts
Due: prettier --write, eslint

feat: snaps
  src/__storyshots__/Updated Components/Fields/Select-MultiSelect.snap
Due: none

fix(Typography): exporting typography component and differentiate globals
  src/index.ts
Due: prettier --write, eslint

docs(LabelConfig): adding label config type on props
  src/components/Controls/CheckBox/CheckBox.mdx
  src/components/Controls/Switch/Switch.mdx
  src/components/TextField/TextField.stories.tsx
  src/components/storyUtils/LabelConfigStoryComponents.tsx
  src/components/storyUtils/PresentComponent/PresentComponent.tsx
Due: prettier --write, eslint

feat(codemods): adding codemods and script to run, also fix exportations
  .npmignore
  bin/migrate.mjs
  codemods/avatarCodemod.ts
  codemods/buttonCodemod.ts
  codemods/checkboxCodemod.ts
  codemods/chipCodemode.ts
  codemods/drawerCodemod.ts
  codemods/filterCodemod.ts
  codemods/globalsCodemod.ts
  codemods/iconButtonCodemod.ts
  codemods/iconCodemod.ts
  codemods/loaderCodemod.ts
  codemods/menuCodemod.ts
  codemods/notificationsCodemod.ts
  codemods/paginationCodemod.ts
  codemods/radioCodemod.ts
  codemods/radioGroupCodemod.ts
  codemods/searchCodemod.ts
  codemods/selectCodemod.ts
  codemods/switchCodemod.ts
  codemods/tableCodemod.ts
  codemods/textareaCodemod.ts
  codemods/textfieldCodemod.ts
  codemods/tooltipCodemod.ts
  codemods/unchangedIconsCodemod.ts
  package.json
  src/components/Controls/Controls.tokens.ts
  src/components/Navigation/Directory/MenuItem/MenuItem.tsx
  src/components/storyUtils/MenuShowcase/MenuShowcase.tsx
  src/components/storyUtils/MenuShowcase/index.ts
  src/index.ts
  tsconfig.codemods.json
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint

feat: adding v4 to environments for parallel deployment
  .github/workflows/main.yml
  .releaserc
  environments/v4.env
Due: none

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,scss,md}
  eslint: any of: *.{ts,tsx,js,jsx}
