Repository Orfium/orfium-ictinus: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

feat: sticky header implementation
  src/components/Table/Table.style.ts
  src/components/Table/Table.tsx
  src/components/Table/components/TBody/TBody.style.ts
  src/components/Table/components/TBody/TBody.tsx
  src/components/Table/components/TD/TD.style.ts
  src/components/Table/components/TD/TD.tsx
  src/components/Table/components/TH/TH.style.ts
  src/components/Table/components/TH/TH.tsx
  src/components/Table/components/THead/THead.style.ts
  src/components/Table/components/THead/THead.tsx
  src/components/Table/components/TR/TR.style.ts
  src/components/Table/components/TR/TR.tsx
  src/components/Table/hooks/useTable.tsx
  src/components/Table/types.ts
Due: prettier --write, eslint

feat: documentation
  src/components/Table/Table.mdx
  src/components/Table/Table.stories.tsx
  src/components/Table/constants.tsx
Due: prettier --write, eslint

feat: apply new sorting ui
  src/__storyshots__/Updated Components/Table/Table-ColumnAndRowSizing.snap
  src/__storyshots__/Updated Components/Table/Table-ColumnChooser.snap
  src/__storyshots__/Updated Components/Table/Table-Sorting.snap
  src/components/Table/Table.stories.tsx
  src/components/Table/Table.tsx
  src/components/Table/components/TH/TH.style.ts
  src/components/Table/components/TH/TH.tsx
  src/components/Table/components/TH/components/THOptions/THOptions.tsx
  src/components/Table/components/THead/THead.style.ts
  src/components/Table/components/THead/THead.tsx
Due: prettier --write, eslint

fix: data-column value that was missed in previous patch
  src/components/Table/__snapshots__/Table.stories.storyshot
  src/components/Table/components/RenderRowOrNestedRow/components/ContentCell/ContentCell.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  d1/8591475d73544c2757a47483f10586c94b403d
Due: none

fix: multi filter initial value not displayed
  src/components/Filter/Filter.tsx
  src/components/Filter/utils.ts
Due: prettier --write, eslint

feat: more documentation
  src/components/Table/Table.mdx
Due: none

feat: enhance keyboard navigation
  src/__storyshots__/Updated Components/Table/Table-ColumnAndRowSizing.snap
  src/__storyshots__/Updated Components/Table/Table-ColumnChooser.snap
  src/__storyshots__/Updated Components/Table/Table-Sorting.snap
  src/components/Table/components/TH/TH.style.ts
  src/components/Table/components/TH/components/THOptions/THOptions.tsx
  src/components/Table/components/TTitle/components/ColumnChooser/ColumnChooser.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  78/8c3c3a93251a45eae190ab2fbec4320b25e397
Due: none

feat: implementation
  src/components/Table/Table.tsx
  src/components/Table/components/TD/TD.style.ts
  src/components/Table/components/TD/TD.tsx
  src/components/Table/components/TH/TH.style.ts
  src/components/Table/components/TH/TH.tsx
  src/components/Table/components/TTitle/TTitle.style.ts
  src/components/Table/components/TTitle/TTitle.tsx
  src/components/Table/components/TTitle/components/ColumnChooser/ColumnChooser.tsx
  src/components/Table/hooks/useTable.tsx
  src/components/Table/types.ts
Due: prettier --write, eslint

feat: documentation
  .storybook/preview.tsx
  src/components/Table/Table.mdx
  src/components/Table/Table.stories.tsx
  src/components/Table/utils/TableStoryComponents.tsx
Due: prettier --write, eslint

feat: snaps
  src/__storyshots__/Updated Components/Table/Table-ColumnChooser.snap
  src/__storyshots__/Updated Components/Table/Table-RowSelection.snap
  src/__storyshots__/Updated Components/Table/Table-Sorting.snap
Due: none

feat: css changes
  src/__storyshots__/Updated Components/Table/Table-Sorting.snap
  src/components/Table/components/TH/TH.style.ts
  src/components/Table/components/TH/TH.tsx
Due: prettier --write, eslint

feat: add more styles
  src/__storyshots__/Updated Components/Table/Table-RowSelection.snap
  src/components/Table/Table.tsx
  src/components/Table/components/TR/TR.style.ts
  src/components/Table/components/TR/TR.tsx
Due: prettier --write, eslint

fix(codemods): small re-ordering for not false override
  codemods/buttonCodemod.ts
  codemods/iconButtonCodemod.ts
Due: prettier --write, eslint

fix: exports for MenuItemDivider and Box
  src/components/Menu/index.ts
  src/index.ts
Due: prettier --write, eslint

fix(TextInputBase): TextInputBase flex at 1 to get full width
  src/components/TopAppBar/TopAppBar.test.tsx
  src/components/TopAppBar/__snapshots__/TopAppBar.test.tsx.snap
  src/components/storyUtils/PaletteShowcase/__snapshots__/PaletteShowcase.test.tsx.snap
Due: prettier --write, eslint

fix(rollup): remove rollup and fix ts and vite for building
  globals.d.ts
  rollup.config.js
  tsconfig.json
  vite.config.ts
Due: prettier --write, eslint

fix(breakpoints): fix breakpoints based on old v4 PR https://github.com/Orfium/orfium-ictinus/pull/712
  package.json
  src/components/Navigation/Navigation.test.tsx
  src/hooks/useBreakpoints.test.ts
  src/hooks/useBreakpoints.tsx
  yarn.lock
Due: prettier --write, eslint

fix(breakpoints): fix breakpoints based on old v4 PR https://github.com/Orfium/orfium-ictinus/pull/712
  package.json
  src/hooks/useBreakpoints.test.ts
  src/hooks/useBreakpoints.tsx
Due: prettier --write, eslint

chore: revert package version
  package.json
Due: prettier --write

fix: detect data changes
  src/__storyshots__/Updated Components/Table/Table-Sorting.snap
  src/components/Table/Table.stories.tsx
  src/components/Table/constants.tsx
  src/components/Table/hooks/useTable.tsx
  src/components/Table/types.ts
Due: prettier --write, eslint

feat: row details
  src/components/Table/Table.tsx
  src/components/Table/components/TD/TD.style.ts
  src/components/Table/components/TD/TD.tsx
  src/components/Table/components/TH/TH.style.ts
  src/components/Table/components/TH/TH.tsx
  src/components/Table/components/TR/TR.style.ts
  src/components/Table/components/TR/TR.tsx
  src/components/Table/hooks/useTable.tsx
  src/components/Table/types.ts
Due: prettier --write, eslint

feat: docs
  src/components/Table/Table.mdx
  src/components/Table/Table.stories.tsx
  src/components/Table/constants.tsx
Due: prettier --write, eslint

feat: snaps
  src/__storyshots__/Updated Components/Table/Table-RowDetails.snap
Due: none

chore(search): update story for custom width
  src/__storyshots__/Updated Components/Search-SimpleSearch.snap
  src/components/Search/Search.stories.tsx
Due: prettier --write, eslint

chore: fix navigation.mdx import
  src/components/Navigation/Navigation.mdx
Due: none

Notes added by 'git notes add'
  3f/cf71dee96758d31724c470a7e2a9985ff56ba9
Due: none

fix(codemods): exportation of vite build for codemods
  .eslintignore
  .gitignore
  package.json
  tsconfig.node.json
  vite.codemods.config.ts
Due: prettier --write, eslint

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,scss,md}
  eslint: any of: *.{ts,tsx,js,jsx}
