Repository Orfium/orfium-ictinus: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

chore: add security settings to pnpm workspace configuration
  pnpm-workspace.yaml
Due: none

chore: add security settings to pnpm workspace configuration (#904)
  pnpm-workspace.yaml
Due: none

chore: update packageManager version in package.json to pnpm@10.16.1
  package.json
Due: prettier --write

chore: add changeset
  .changeset/odd-regions-turn.md
Due: prettier --write

fix: release packages
  .changeset/odd-regions-turn.md
Due: prettier --write

fix: release packages (#908)
  .changeset/odd-regions-turn.md
Due: prettier --write

fix: serialize sem versioning
  apps/storybook/src/__storyshots__/Updated Components/Tooltip-TooltipPlacement.snap
  apps/storybook/src/__storyshots__/Vanilla/Box-Default.snap
  apps/storybook/src/__storyshots__/Vanilla/ThemeProvider-Default.snap
  apps/storybook/src/storybook.test.tsx
Due: prettier --write, eslint

fix: serialize sem versioning (#909)
  apps/storybook/src/__storyshots__/Updated Components/Tooltip-TooltipPlacement.snap
  apps/storybook/src/__storyshots__/Vanilla/Box-Default.snap
  apps/storybook/src/__storyshots__/Vanilla/ThemeProvider-Default.snap
  apps/storybook/src/storybook.test.tsx
Due: prettier --write, eslint

feat: vanilla table & text
  apps/storybook/src/__storyshots__/Updated Components/Tooltip-TooltipPlacement.snap
  apps/storybook/src/__storyshots__/Vanilla/Box-Default.snap
  apps/storybook/src/__storyshots__/Vanilla/Table-Default.snap
  apps/storybook/src/__storyshots__/Vanilla/ThemeProvider-Default.snap
  apps/storybook/src/vanilla/Table/Table.stories.tsx
  packages/ictinus/src/sprinkles/properties.css.ts
  packages/ictinus/src/utils/ExtendProps.ts
  packages/ictinus/src/vanilla/Box/Box.tsx
  packages/ictinus/src/vanilla/Box/index.ts
  packages/ictinus/src/vanilla/Table/Table.css.ts
  packages/ictinus/src/vanilla/Table/Table.tsx
  packages/ictinus/src/vanilla/Table/TableBody.css.ts
  packages/ictinus/src/vanilla/Table/TableBody.tsx
  packages/ictinus/src/vanilla/Table/TableCell.css.ts
  packages/ictinus/src/vanilla/Table/TableCell.tsx
  packages/ictinus/src/vanilla/Table/TableFooter.css.ts
  packages/ictinus/src/vanilla/Table/TableFooter.tsx
  packages/ictinus/src/vanilla/Table/TableHeader.css.ts
  packages/ictinus/src/vanilla/Table/TableHeader.tsx
  packages/ictinus/src/vanilla/Table/TableHeaderCell.css.ts
  packages/ictinus/src/vanilla/Table/TableHeaderCell.tsx
  packages/ictinus/src/vanilla/Table/TableRow.css.ts
  packages/ictinus/src/vanilla/Table/TableRow.tsx
  packages/ictinus/src/vanilla/Table/index.ts
  packages/ictinus/src/vanilla/Text/Text.css.ts
  packages/ictinus/src/vanilla/Text/Text.tsx
  packages/ictinus/src/vanilla/Text/index.ts
  packages/ictinus/src/vanilla/index.ts
Due: prettier --write, eslint

feat: sprinkles merge
  apps/storybook/src/__storyshots__/Vanilla/Box-Default.snap
  apps/storybook/src/__storyshots__/Vanilla/Table-Default.snap
  apps/storybook/src/__storyshots__/Vanilla/ThemeProvider-Default.snap
  apps/storybook/src/vanilla/Table/Table.stories.tsx
  packages/ictinus/src/sprinkles/createSprinklesMerge.ts
  packages/ictinus/src/sprinkles/properties.css.ts
  packages/ictinus/src/sprinkles/sprinklesMerge.ts
  packages/ictinus/src/utils/ExtendProps.ts
  packages/ictinus/src/utils/cn.ts
  packages/ictinus/src/vanilla-extract/global.css.ts
  packages/ictinus/src/vanilla/Box/Box.tsx
  packages/ictinus/src/vanilla/Table/Table.css.ts
  packages/ictinus/src/vanilla/Table/Table.tsx
  packages/ictinus/src/vanilla/Table/TableBody.tsx
  packages/ictinus/src/vanilla/Table/TableCell.css.ts
  packages/ictinus/src/vanilla/Table/TableCell.tsx
  packages/ictinus/src/vanilla/Table/TableFooter.css.ts
  packages/ictinus/src/vanilla/Table/TableFooter.tsx
  packages/ictinus/src/vanilla/Table/TableHeader.css.ts
  packages/ictinus/src/vanilla/Table/TableHeader.tsx
  packages/ictinus/src/vanilla/Table/TableHeaderCell.css.ts
  packages/ictinus/src/vanilla/Table/TableHeaderCell.tsx
  packages/ictinus/src/vanilla/Table/TableRow.css.ts
  packages/ictinus/src/vanilla/Table/TableRow.tsx
  packages/ictinus/src/vanilla/Text/Text.tsx
  packages/ictinus/src/vanilla/index.ts
Due: prettier --write, eslint

chore: force light theme
  .changeset/clean-geese-stay.md
  apps/storybook/.storybook/preview-body.html
  apps/storybook/.storybook/preview.tsx
  apps/storybook/src/__storyshots__/Vanilla/Table-Default.snap
  apps/storybook/src/vanilla/Table/Table.stories.tsx
Due: prettier --write, eslint

feat: vanilla table & text (#907)
  .changeset/clean-geese-stay.md
  apps/storybook/.storybook/preview-body.html
  apps/storybook/.storybook/preview.tsx
  apps/storybook/src/__storyshots__/Updated Components/Tooltip-TooltipPlacement.snap
  apps/storybook/src/__storyshots__/Vanilla/Box-Default.snap
  apps/storybook/src/__storyshots__/Vanilla/Table-Default.snap
  apps/storybook/src/__storyshots__/Vanilla/ThemeProvider-Default.snap
  apps/storybook/src/vanilla/Table/Table.stories.tsx
  packages/ictinus/src/sprinkles/createSprinklesMerge.ts
  packages/ictinus/src/sprinkles/properties.css.ts
  packages/ictinus/src/sprinkles/sprinklesMerge.ts
  packages/ictinus/src/utils/ExtendProps.ts
  packages/ictinus/src/utils/cn.ts
  packages/ictinus/src/vanilla-extract/global.css.ts
  packages/ictinus/src/vanilla/Box/Box.tsx
  packages/ictinus/src/vanilla/Box/index.ts
  packages/ictinus/src/vanilla/Table/Table.css.ts
  packages/ictinus/src/vanilla/Table/Table.tsx
  packages/ictinus/src/vanilla/Table/TableBody.css.ts
  packages/ictinus/src/vanilla/Table/TableBody.tsx
  packages/ictinus/src/vanilla/Table/TableCell.css.ts
  packages/ictinus/src/vanilla/Table/TableCell.tsx
  packages/ictinus/src/vanilla/Table/TableFooter.css.ts
  packages/ictinus/src/vanilla/Table/TableFooter.tsx
  packages/ictinus/src/vanilla/Table/TableHeader.css.ts
  packages/ictinus/src/vanilla/Table/TableHeader.tsx
  packages/ictinus/src/vanilla/Table/TableHeaderCell.css.ts
  packages/ictinus/src/vanilla/Table/TableHeaderCell.tsx
  packages/ictinus/src/vanilla/Table/TableRow.css.ts
  packages/ictinus/src/vanilla/Table/TableRow.tsx
  packages/ictinus/src/vanilla/Table/index.ts
  packages/ictinus/src/vanilla/Text/Text.css.ts
  packages/ictinus/src/vanilla/Text/Text.tsx
  packages/ictinus/src/vanilla/Text/index.ts
  packages/ictinus/src/vanilla/index.ts
Due: prettier --write, eslint

fix: vanilla runtime deps
  packages/ictinus/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: add changeset
  .changeset/brave-papers-press.md
Due: prettier --write

chore: dedupe
  pnpm-lock.yaml
Due: none

fix: vanilla runtime deps (#911)
  .changeset/brave-papers-press.md
  packages/ictinus/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: text
  .changeset/three-worms-stop.md
  apps/storybook/src/__storyshots__/Updated Components/Tooltip-TooltipPlacement.snap
  apps/storybook/src/__storyshots__/Vanilla/Box-Default.snap
  apps/storybook/src/__storyshots__/Vanilla/Table-Default.snap
  apps/storybook/src/__storyshots__/Vanilla/Text-Default.snap
  apps/storybook/src/__storyshots__/Vanilla/ThemeProvider-Default.snap
  apps/storybook/src/vanilla/Text/Text.stories.tsx
  packages/ictinus/src/components/ThemeProvider/ThemeProvider.style.ts
  packages/ictinus/src/sprinkles/properties.css.ts
  packages/ictinus/src/vanilla/Text/Text.tsx
Due: prettier --write, eslint

fix: text (#913)
  .changeset/three-worms-stop.md
  apps/storybook/src/__storyshots__/Updated Components/Tooltip-TooltipPlacement.snap
  apps/storybook/src/__storyshots__/Vanilla/Box-Default.snap
  apps/storybook/src/__storyshots__/Vanilla/Table-Default.snap
  apps/storybook/src/__storyshots__/Vanilla/Text-Default.snap
  apps/storybook/src/__storyshots__/Vanilla/ThemeProvider-Default.snap
  apps/storybook/src/vanilla/Text/Text.stories.tsx
  packages/ictinus/src/components/ThemeProvider/ThemeProvider.style.ts
  packages/ictinus/src/sprinkles/properties.css.ts
  packages/ictinus/src/vanilla/Text/Text.tsx
Due: prettier --write, eslint

fix: table nested header borders
  .changeset/seven-lights-cheat.md
  apps/storybook/src/__storyshots__/Vanilla/Table-Default.snap
  apps/storybook/src/__storyshots__/Vanilla/Table-Simple.snap
  apps/storybook/src/vanilla/Table/Table.stories.tsx
  packages/ictinus/src/vanilla/Table/TableHeader.tsx
  packages/ictinus/src/vanilla/Table/TableHeaderCell.css.ts
Due: prettier --write, eslint

chore: update snaps
  apps/storybook/src/__storyshots__/Vanilla/Table-Default.snap
  apps/storybook/src/__storyshots__/Vanilla/Table-Simple.snap
Due: none

fix: table nested header borders (#914)
  .changeset/seven-lights-cheat.md
  apps/storybook/src/__storyshots__/Vanilla/Table-Default.snap
  apps/storybook/src/__storyshots__/Vanilla/Table-Simple.snap
  apps/storybook/src/vanilla/Table/Table.stories.tsx
  packages/ictinus/src/vanilla/Table/TableHeader.tsx
  packages/ictinus/src/vanilla/Table/TableHeaderCell.css.ts
Due: prettier --write, eslint

feat: vanilla tooltip
  .changeset/tender-tools-repeat.md
  apps/storybook/src/__storyshots__/Vanilla/Tooltip-Auto.snap
  apps/storybook/src/__storyshots__/Vanilla/Tooltip-Controlled.snap
  apps/storybook/src/__storyshots__/Vanilla/Tooltip-Default.snap
  apps/storybook/src/__storyshots__/Vanilla/Tooltip-Delay.snap
  apps/storybook/src/__storyshots__/Vanilla/Tooltip-Inverse.snap
  apps/storybook/src/__storyshots__/Vanilla/Tooltip-Placement.snap
  apps/storybook/src/vanilla/Tooltip/Tooltip.stories.tsx
  packages/ictinus/package.json
  packages/ictinus/src/vanilla/Tooltip/Tooltip.css.ts
  packages/ictinus/src/vanilla/Tooltip/Tooltip.tsx
  packages/ictinus/src/vanilla/Tooltip/index.ts
  packages/ictinus/src/vanilla/index.ts
  pnpm-lock.yaml
Due: prettier --write, eslint

feat: vanilla tooltip (#916)
  .changeset/tender-tools-repeat.md
  apps/storybook/src/__storyshots__/Vanilla/Tooltip-Auto.snap
  apps/storybook/src/__storyshots__/Vanilla/Tooltip-Controlled.snap
  apps/storybook/src/__storyshots__/Vanilla/Tooltip-Default.snap
  apps/storybook/src/__storyshots__/Vanilla/Tooltip-Delay.snap
  apps/storybook/src/__storyshots__/Vanilla/Tooltip-Inverse.snap
  apps/storybook/src/__storyshots__/Vanilla/Tooltip-Placement.snap
  apps/storybook/src/vanilla/Tooltip/Tooltip.stories.tsx
  packages/ictinus/package.json
  packages/ictinus/src/vanilla/Tooltip/Tooltip.css.ts
  packages/ictinus/src/vanilla/Tooltip/Tooltip.tsx
  packages/ictinus/src/vanilla/Tooltip/index.ts
  packages/ictinus/src/vanilla/index.ts
  pnpm-lock.yaml
Due: prettier --write, eslint

feat: extend box in tooltip content
  apps/storybook/src/__storyshots__/Vanilla/Tooltip-MaxWidth.snap
  apps/storybook/src/vanilla/Tooltip/Tooltip.stories.tsx
  packages/ictinus/src/vanilla/Tooltip/Tooltip.tsx
Due: prettier --write, eslint

chore: add changesets
  .changeset/nine-plums-hear.md
Due: prettier --write

fix: extend box in tooltip content (#918)
  .changeset/nine-plums-hear.md
  apps/storybook/src/__storyshots__/Vanilla/Tooltip-MaxWidth.snap
  apps/storybook/src/vanilla/Tooltip/Tooltip.stories.tsx
  packages/ictinus/src/vanilla/Tooltip/Tooltip.tsx
Due: prettier --write, eslint

chore: fix workflows
  .github/workflows/chromatic.yml
  .github/workflows/deploy-frontend.yml
Due: none

chore: fix changest private packages
  .changeset/config.json
  apps/storybook/package.json
  apps/storybook/src/__storyshots__/Updated Components/Tooltip-TooltipPlacement.snap
  apps/storybook/src/__storyshots__/Vanilla/Box-Default.snap
  apps/storybook/src/__storyshots__/Vanilla/Table-Default.snap
  apps/storybook/src/__storyshots__/Vanilla/Table-Simple.snap
  apps/storybook/src/__storyshots__/Vanilla/Text-Default.snap
  apps/storybook/src/__storyshots__/Vanilla/ThemeProvider-Default.snap
  apps/storybook/src/__storyshots__/Vanilla/Tooltip-Auto.snap
  apps/storybook/src/__storyshots__/Vanilla/Tooltip-Controlled.snap
  apps/storybook/src/__storyshots__/Vanilla/Tooltip-Default.snap
  apps/storybook/src/__storyshots__/Vanilla/Tooltip-Delay.snap
  apps/storybook/src/__storyshots__/Vanilla/Tooltip-Inverse.snap
  apps/storybook/src/__storyshots__/Vanilla/Tooltip-Placement.snap
Due: prettier --write

chore: update snap
  apps/storybook/src/__storyshots__/Vanilla/Tooltip-MaxWidth.snap
Due: none

fix: storybook
  .github/workflows/chromatic.yml
  .github/workflows/deploy-frontend.yml
  apps/storybook/package.json
  apps/storybook/src/__storyshots__/Updated Components/Tooltip-TooltipPlacement.snap
  apps/storybook/src/__storyshots__/Vanilla/Box-Default.snap
  apps/storybook/src/__storyshots__/Vanilla/Table-Default.snap
  apps/storybook/src/__storyshots__/Vanilla/Table-Simple.snap
  apps/storybook/src/__storyshots__/Vanilla/Text-Default.snap
  apps/storybook/src/__storyshots__/Vanilla/ThemeProvider-Default.snap
  apps/storybook/src/__storyshots__/Vanilla/Tooltip-Auto.snap
  apps/storybook/src/__storyshots__/Vanilla/Tooltip-Controlled.snap
  apps/storybook/src/__storyshots__/Vanilla/Tooltip-Default.snap
  apps/storybook/src/__storyshots__/Vanilla/Tooltip-Delay.snap
  apps/storybook/src/__storyshots__/Vanilla/Tooltip-Inverse.snap
  apps/storybook/src/__storyshots__/Vanilla/Tooltip-MaxWidth.snap
  apps/storybook/src/__storyshots__/Vanilla/Tooltip-Placement.snap
Due: prettier --write

fix: navigator ssr
  .changeset/proud-rings-scream.md
  packages/ictinus/src/utils/date.ts
Due: prettier --write, eslint

fix: global focus style
  packages/ictinus/src/vanilla-extract/global.css.ts
Due: prettier --write, eslint

chore: update chromatic action
  .github/workflows/chromatic.yml
  apps/playground/package.json
  examples/with-tokens-react/package.json
  examples/with-vue/package.json
Due: prettier --write

chore: update chromatic action
  .github/workflows/chromatic.yml
Due: none

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,scss,md}
  eslint: any of: *.{ts,tsx,js,jsx}
