Repository Orfium/orfium-ictinus: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

feat(palette) colorPick function with scope and small updates with mainTypes
  src/theme/index.ts
  src/theme/palette.ts
Due: prettier --write, eslint

fix(palette): move outside of theme and add type variation on getColor function
  src/components/Icon/Icon.tsx
  src/theme/index.ts
Due: prettier --write, eslint

feat(palette): add the new getColor function to the theme to allow dark mode and fix typing
  src/components/Icon/Icon.tsx
  src/theme/index.ts
  src/theme/palette.ts
Due: prettier --write, eslint

refactor(palette) all direct usage to palette config to pass throught the getColor function
  src/components/Breadcrumb/Breadcrumb.style.ts
  src/components/Breadcrumb/BreadcrumbCollapsed/BreadcrumbCollapsed.style.ts
  src/components/Breadcrumb/BreadcrumbItem/BreadcrumbItem.style.ts
  src/components/Breadcrumb/Separator/Separator.style.ts
  src/components/Button/Button.style.ts
  src/components/CheckBox/CheckBox.style.ts
  src/components/DatePicker/DatePicker.style.ts
  src/components/IconButton/IconButton.style.ts
  src/components/Label/Label.style.ts
  src/components/Menu/Menu.style.ts
  src/components/Radio/Radio.style.ts
  src/components/Select/Select.tsx
  src/components/Table/Table.tsx
  src/components/Table/components/RenderRowOrNestedRow/RenderRowOrNestedRow.tsx
  src/components/Table/components/RenderRowOrNestedRow/components/ContentCell/ContentCell.tsx
  src/components/Table/components/RenderRowOrNestedRow/components/ExpandedButtonCell/ExpandedButtonCell.tsx
  src/components/Table/components/TableCell/TableCell.tsx
  src/components/Table/components/TableRow/TableRow.tsx
  src/components/TextField/TextField.style.ts
  src/utils/themeFunctions.ts
Due: prettier --write, eslint

fix(test) change test scripts
  .huskyrc
  package.json
Due: prettier --write

refactor: removed unnecessary files and modified a comment
  src/components/Notification/Notification.style.ts
  src/components/Notification/__snapshots__/Notification.stories.storyshot
  src/components/Notification/subcomponents/CompactNotification/CompactNotification.style.ts
Due: prettier --write, eslint

Notes added by 'git notes add'
  ade1eb320e3b8c8e2b4753e8f29618061b3f927d
Due: none

fix(palette) update colors with utils for future usage
  src/components/Breadcrumb/Breadcrumb.style.ts
  src/components/Breadcrumb/BreadcrumbCollapsed/BreadcrumbCollapsed.style.ts
  src/components/Breadcrumb/BreadcrumbItem/BreadcrumbItem.style.ts
  src/components/Breadcrumb/Separator/Separator.style.ts
  src/components/Button/Button.style.ts
  src/components/CheckBox/CheckBox.style.ts
  src/components/DatePicker/DatePicker.style.ts
  src/components/IconButton/IconButton.style.ts
  src/components/Label/Label.style.ts
  src/components/Menu/Menu.style.ts
  src/components/Radio/Radio.style.ts
  src/components/Select/Select.tsx
  src/components/Table/Table.tsx
  src/components/Table/components/RenderRowOrNestedRow/RenderRowOrNestedRow.tsx
  src/components/Table/components/RenderRowOrNestedRow/components/ContentCell/ContentCell.tsx
  src/components/Table/components/RenderRowOrNestedRow/components/ExpandedButtonCell/ExpandedButtonCell.tsx
  src/components/Table/components/TableCell/TableCell.tsx
  src/components/Table/components/TableRow/TableRow.tsx
  src/components/TextField/TextField.style.ts
  src/theme/index.ts
  src/utils/themeFunctions.ts
Due: prettier --write, eslint

feat: introducing BannersContainer
  src/components/Notification/Notification.stories.mdx
  src/components/Notification/Notification.tsx
  src/components/Notification/__snapshots__/Notification.stories.storyshot
  src/components/Notification/subcomponents/BannersContainer/BannersContainer.style.tsx
  src/components/Notification/subcomponents/BannersContainer/BannersContainer.tsx
  src/components/Notification/subcomponents/BannersContainer/index.ts
  src/components/Notification/subcomponents/CompactNotification/CompactNotification.style.ts
  src/components/Notification/subcomponents/CompactNotification/CompactNotification.tsx
Due: prettier --write, eslint

refactor: banners initialization optimization
  src/components/Notification/Notification.stories.mdx
  src/components/Notification/Notification.tsx
  src/components/Notification/__snapshots__/Notification.stories.storyshot
  src/components/Notification/subcomponents/BannersContainer/BannersContainer.style.tsx
Due: prettier --write, eslint

fix: various pr changes
  src/components/Notification/Notification.stories.mdx
  src/components/Notification/Notification.tsx
  src/components/Notification/subcomponents/CompactNotification/CompactNotification.style.ts
  src/components/Notification/subcomponents/CompactNotification/CompactNotification.tsx
Due: prettier --write, eslint

fix(notification): small type fix for type to icon convert
  src/components/Notification/subcomponents/CompactNotification/CompactNotification.tsx
Due: prettier --write, eslint

feat(notification): added tests
  src/components/Notification/Notification.test.tsx
  src/components/Notification/Notification.tsx
  src/components/Notification/__snapshots__/Notification.stories.storyshot
  src/components/Notification/subcomponents/CompactNotification/CompactNotification.tsx
Due: prettier --write, eslint

feat(notification): added some banner tests
  src/components/Notification/Notification.stories.mdx
  src/components/Notification/Notification.test.tsx
  src/components/Notification/Notification.tsx
  src/components/Notification/__snapshots__/Notification.stories.storyshot
  src/components/Notification/subcomponents/CompactNotification/CompactNotification.style.ts
  src/components/Notification/subcomponents/CompactNotification/CompactNotification.tsx
Due: prettier --write, eslint

feat(notification): introducing first implementation of toast
  src/components/Notification/Notification.stories.mdx
  src/components/Notification/Notification.tsx
  src/components/Notification/__snapshots__/Notification.stories.storyshot
  src/components/Notification/subcomponents/CompactNotification/CompactNotification.style.ts
  src/components/Notification/subcomponents/CompactNotification/CompactNotification.tsx
  src/components/Notification/subcomponents/Toast/Toast.style.ts
  src/components/Notification/subcomponents/Toast/Toast.tsx
  src/components/Notification/subcomponents/Toast/index.tsx
Due: prettier --write, eslint

feat(getColor): tests and fix for typescript
  src/theme/index.ts
  src/theme/tests/utils.test.js
  src/theme/tests/utils.test.ts
Due: prettier --write, eslint

fix(utils): add tests for new functions and update current results
  src/components/Breadcrumb/__snapshots__/Breadcrumb.stories.storyshot
  src/components/Button/Button.style.ts
  src/components/Icon/__snapshots__/Icon.stories.storyshot
  src/components/Menu/__snapshots__/Menu.stories.storyshot
  src/components/Pagination/__snapshots__/Pagination.stories.storyshot
  src/components/Table/__snapshots__/Table.stories.storyshot
  src/components/TextField/__snapshots__/TextField.stories.storyshot
  src/theme/index.ts
Due: prettier --write, eslint

fix(utils): fix tests color shades
  src/theme/tests/utils.test.ts
Due: prettier --write, eslint

fix(pr-yml): fix tests on yml
  .github/workflows/pr.yml
Due: none

feat(banner): removed unnessecary wrapper
  src/components/Notification/Notification.stories.mdx
  src/components/Notification/__snapshots__/Notification.stories.storyshot
  src/components/Notification/subcomponents/BannersContainer/BannersContainer.style.tsx
  src/components/Notification/subcomponents/BannersContainer/BannersContainer.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  4c4788f5de691503a1e8d4a47a36161941081f8f
Due: none

feat(banner): minor fix
  src/components/Notification/Notification.tsx
Due: prettier --write, eslint

feature: basic line-chart component with random colors and props done
  package.json
  src/components/LineChart/LineChart.stories.mdx
  src/components/LineChart/LineChart.tsx
  src/components/LineChart/__snapshots__/LineChart.stories.storyshot
  src/components/LineChart/index.ts
  yarn.lock
Due: prettier --write, eslint

style(notification): update all the palette usage with the new function
  src/components/Notification/subcomponents/CompactNotification/CompactNotification.style.ts
Due: prettier --write, eslint

improvement(tests): converts test.js to test.tsx for consistency
  src/components/CheckBox/tests/Checkbox.test.tsx
Due: prettier --write, eslint

chore(theme): update tests for getColorFromType to secure the usage
  src/components/Icon/Icon.stories.mdx
  src/components/Icon/__snapshots__/Icon.stories.storyshot
  src/components/Menu/__snapshots__/Menu.stories.storyshot
  src/utils/tests/themeFunctions.test.ts
  src/utils/themeFunctions.ts
Due: prettier --write, eslint

improvement(tests): removes deprecated test file
  src/components/CheckBox/__tests__/Checkbox.test.js
Due: prettier --write, eslint

improvement(tests): removes moduleNameMapper for css modules in jest and fixes import issue of the component
  jest.config.js
  src/components/CheckBox/tests/Checkbox.test.tsx
Due: prettier --write, eslint

feature: optimizations on LineChart component
  src/components/LineChart/LineChart.stories.mdx
  src/components/LineChart/LineChart.tsx
Due: prettier --write, eslint

refactor: bannersComponent renamed and position prop changed plus exports added
  src/components/Notification/Notification.stories.mdx
  src/components/Notification/Notification.test.tsx
  src/components/Notification/__snapshots__/Notification.stories.storyshot
  src/components/Notification/subcomponents/BannersContainer/BannersContainer.tsx
  src/components/Notification/subcomponents/BannersContainer/index.ts
  src/components/Notification/subcomponents/NotificationsContainer/NotificationsContainer.style.tsx
  src/components/Notification/subcomponents/NotificationsContainer/NotificationsContainer.tsx
  src/components/Notification/subcomponents/NotificationsContainer/index.ts
  src/index.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  b4bdb1a652a866bf3882a8ffc0b86f02ff4863cf
Due: none

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: prettier --write

refactor: optimization of position styling
  src/components/Notification/__snapshots__/Notification.stories.storyshot
  src/components/Notification/subcomponents/NotificationsContainer/NotificationsContainer.style.tsx
  src/components/Notification/subcomponents/NotificationsContainer/NotificationsContainer.tsx
Due: prettier --write, eslint

test: merged master and run some tests
  src/components/Notification/__snapshots__/Notification.stories.storyshot
Due: none

refactor(radio-button): refactor according the new designs and add filled property
  src/components/Radio/Radio.stories.mdx
  src/components/Radio/Radio.style.ts
  src/components/Radio/Radio.tsx
  src/components/Radio/__snapshots__/Radio.stories.storyshot
  src/components/RadioGroup/__snapshots__/RadioGroup.stories.storyshot
  src/components/storyUtils/RadioButtonsShowcase/RadioButtonsShowcase.tsx
Due: prettier --write, eslint

chore(topappbar): introduces the new top application bar components and their styles
  src/components/TopAppBar/TopAppBar.stories.mdx
  src/components/TopAppBar/TopAppBar.style.ts
  src/components/TopAppBar/TopAppBar.tsx
  src/components/TopAppBar/TopAppBar.types.ts
  src/components/TopAppBar/components/Logo.style.ts
  src/components/TopAppBar/components/Logo.wrapper.tsx
  src/components/TopAppBar/components/SidebarMenuIcon.style.ts
  src/components/TopAppBar/components/SidebarMenuIcon.tsx
  src/components/TopAppBar/components/index.ts
  src/components/TopAppBar/index.ts
  src/index.tsx
Due: prettier --write, eslint

improvement(topappbar): adjusts margins and paddings based on the provided designs
  src/components/TopAppBar/components/Logo.style.ts
  src/components/TopAppBar/components/SidebarMenuIcon.style.ts
  src/components/TopAppBar/components/SidebarMenuIcon.tsx
Due: prettier --write, eslint

chore(storyshot): introduces new storyshot for topappbar component
  src/components/TopAppBar/__snapshots__/TopAppBar.stories.storyshot
Due: none

improvement(storyshot): updates storyshot
  src/components/TopAppBar/__snapshots__/TopAppBar.stories.storyshot
Due: none

Update issue templates
  .github/ISSUE_TEMPLATE/feature-ticket.md
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,scss,md}
  eslint: any of: *.{ts,tsx,js,jsx}
