Repository Orfium/orfium-ictinus: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,json,scss,md}": [
    "prettier --write",
    "git add"
  ],
  "*.{ts,tsx,js,jsx}": [
    "eslint"
  ]
}

feat: add more icons
  src/components/Icon/__snapshots__/Icon.stories.storyshot
  src/components/Icon/assets/audioOff.svg
  src/components/Icon/assets/audioOn.svg
  src/components/Icon/assets/iconSelector.ts
  src/components/Icon/assets/imageFillOff.svg
  src/components/Icon/assets/imageFillOn.svg
  src/components/Icon/assets/imageOutlinedOff.svg
  src/components/Icon/assets/imageOutlinedOn.svg
  src/components/Icon/assets/videoFillOff.svg
  src/components/Icon/assets/videoFillOn.svg
  src/components/Icon/assets/videoOutlineOff.svg
  src/components/Icon/assets/videoOutlineOn.svg
  src/components/Icon/types.ts
Due: prettier --write, eslint

fix: deps update
  .storybook/main.ts
  package.json
  src/storybook.test.ts
  src/utils/helpers.ts
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint

feat: Tooltip tokens
  src/components/Tooltip/Tooltip.tokens.ts
  src/theme/tokens/components/variables/tooltip.ts
Due: prettier --write, eslint

feat: Tooltip component and styles
  src/components/Tooltip/Tooltip.style.ts
  src/components/Tooltip/Tooltip.tsx
  src/components/Tooltip/Tooltip.types.ts
Due: prettier --write, eslint

feat: stories and showcases
  src/components/Tooltip/Tooltip.stories.mdx
  src/components/storyUtils/TooltipShowcase/TooltipShowcase.style.ts
  src/components/storyUtils/TooltipShowcase/TooltipShowcase.tsx
Due: prettier --write, eslint

feat: update token constants
  src/theme/globals/constants/colors.ts
  src/theme/tokens/components/variables/avatar.ts
  src/theme/tokens/components/variables/button.ts
  src/theme/tokens/semantic/variables/colors.ts
Due: prettier --write, eslint

feat: update type declarations
  src/components/Avatar/Avatar.tokens.ts
  src/components/Button/Button.tokens.ts
  src/theme/tokens/utils/components.ts
Due: prettier --write, eslint

feat: update color parser
  src/theme/tokens/utils/parsers.ts
Due: prettier --write, eslint

feat: update typography component
  src/components/Typography/Typography.stories.mdx
  src/components/Typography/Typography.style.ts
Due: prettier --write, eslint

feat: update color showcase
  src/storybook/Showcases/TokenColorsShowcase/TokenColorsShowcase.tsx
Due: prettier --write, eslint

feat: update box stories
  src/components/Box/Box.stories.mdx
Due: none

feat: storyshots
  src/components/Avatar/__snapshots__/Avatar.stories.storyshot
  src/components/Avatar/__snapshots__/AvatarStack.stories.storyshot
  src/components/Box/__snapshots__/Box.stories.storyshot
  src/components/TextField/__snapshots__/TextField.stories.storyshot
  src/components/Typography/__snapshots__/Typography.stories.storyshot
Due: none

fix: tests
  src/components/Avatar/Avatar.style.ts
  src/components/Box/Box.test.ts
Due: prettier --write, eslint

Notes added by 'git notes add'
  64/53366b649a37b7ecfd6885915e93b9077bdd3d
Due: none

feat: update yarn lock
  yarn.lock
Due: none

Notes added by 'git notes add'
  94/876185068cf4dc43f502e806290833abf45923
Due: none

fix: tokens and props
  src/components/Tooltip/Tooltip.tsx
  src/components/storyUtils/TooltipShowcase/TooltipShowcase.tsx
  src/theme/tokens/components/variables/tooltip.ts
Due: prettier --write, eslint

feat: tokens type
  src/components/Tooltip/Tooltip.tokens.ts
Due: prettier --write, eslint

feat: storyshots
  src/components/Table/__snapshots__/Table.stories.storyshot
  src/components/Tooltip/__snapshots__/Tooltip.stories.storyshot
Due: none

Notes added by 'git notes add'
  3e/159e32f01c597af38eb7a695af14e7393c3f31
Due: none

fix: tests
  src/components/Table/types.ts
  src/components/TruncatedContent/TruncatedContent.tsx
Due: prettier --write, eslint

fix: update all affected dependencies
  package.json
  yarn.lock
Due: prettier --write

Notes added by 'git notes add'
  70/7efa4815680d32c0df8808e55293f75bf98e96
Due: none

feat: export types
  src/components/Tooltip/index.ts
Due: prettier --write, eslint

fix: remove heroku scripts
  server/heroku-start.js
Due: prettier --write, eslint

feat: change apply dates to apply
  src/components/DatePicker/OverlayComponent/OverlayComponent.test.tsx
  src/components/DatePicker/OverlayComponent/OverlayComponent.tsx
  src/components/DatePicker/constants.ts
Due: prettier --write, eslint

feat: update tokens
  src/theme/tokens/components/variables/field.ts
  src/theme/tokens/semantic/variables/state.ts
  src/theme/tokens/utils/parsers.ts
Due: prettier --write, eslint

feat: update style files
  src/components/DatePicker/DatePickInput/DatePickInput.style.ts
  src/components/Label/Label.style.ts
  src/components/List/components/ListItemText/ListItemText.style.ts
  src/components/MultiTextFieldBase/MultiTextFieldBase.style.ts
  src/components/NumberField/components/Stepper/Stepper.style.ts
  src/components/Select/Select.style.ts
  src/components/TextArea/TextArea.style.ts
  src/components/TextInputBase/TextInputBase.style.ts
  src/components/storyUtils/EdgeCasesSelectShowcase/EdgeCasesSelectShowcase.style.ts
  src/components/storyUtils/SelectShowcase/MultiSelectShowcase.style.ts
Due: prettier --write, eslint

feat: update components
  src/components/DatePicker/DatePickInput/DatePickInput.tsx
  src/components/MultiTextFieldBase/MultiTextFieldBase.tsx
  src/components/NumberField/NumberField.tsx
  src/components/Select/Select.tsx
  src/components/Select/components/MultiselectTextField/MultiselectTextField.tsx
  src/components/TextArea/TextArea.tsx
  src/components/TextField/TextField.tsx
  src/components/TextInputBase/TextInputBase.tsx
Due: prettier --write, eslint

feat: remove config
  src/components/TextInputBase/config.ts
Due: prettier --write, eslint

feat: showcases and stories
  src/components/NumberField/NumberField.stories.mdx
  src/components/Select/Select.stories.mdx
  src/components/TextArea/TextArea.stories.mdx
  src/components/TextField/TextField.stories.mdx
  src/components/storyUtils/EdgeCasesSelectShowcase/EdgeCasesSelectShowcase.tsx
  src/components/storyUtils/SelectShowcase/MultiSelectShowcase.tsx
  src/components/storyUtils/SelectShowcase/SelectShowcase.tsx
  src/components/storyUtils/Stack/Stack.tsx
Due: prettier --write, eslint

feat: storyshots
  src/components/DatePicker/OverlayComponent/__snapshots__/OverlayComponent.test.tsx.snap
  src/components/DatePicker/__snapshots__/DatePicker.stories.storyshot
  src/components/List/stories/__snapshots__/List.stories.storyshot
  src/components/List/stories/__snapshots__/ListItem.stories.storyshot
  src/components/List/stories/__snapshots__/ListItemText.stories.storyshot
  src/components/List/stories/__snapshots__/ListSection.stories.storyshot
  src/components/NumberField/__snapshots__/NumberField.stories.storyshot
  src/components/SearchField/__snapshots__/SearchField.stories.storyshot
  src/components/Select/__snapshots__/Select.stories.storyshot
  src/components/TextArea/__snapshots__/TextArea.stories.storyshot
  src/components/TextField/__snapshots__/TextField.stories.storyshot
  src/components/TopAppBar/__snapshots__/TopAppBar.stories.storyshot
  src/components/storyUtils/PaletteShowcase/__snapshots__/PaletteShowcase.test.tsx.snap
Due: none

fix: numberfield stories
  src/components/NumberField/NumberField.stories.mdx
Due: none

feat: list dqa
  src/components/List/List.tokens.ts
  src/components/List/components/ListItemText/ListItemText.style.ts
  src/components/List/components/ListItemText/ListItemText.tsx
  src/components/List/stories/ListItem.stories.mdx
  src/components/List/stories/__snapshots__/ListItem.stories.storyshot
  src/components/List/stories/__snapshots__/ListItemText.stories.storyshot
Due: prettier --write, eslint

Notes added by 'git notes add'
  9f/200787d1d6576a3cb16e224116a51c13963792
Due: none

feat: pr comments
  src/components/Tooltip/Tooltip.stories.mdx
  src/components/Tooltip/__snapshots__/Tooltip.stories.storyshot
  src/components/Tooltip/utils.ts
Due: prettier --write, eslint

fix: all security deps from v4.5 to next
  package.json
  server/heroku-start.js
  src/storybook.test.ts
  src/utils/helpers.ts
  yarn.lock
Due: prettier --write, eslint

feat: tag and state tokens
  src/theme/tokens/components/variables/tag.ts
  src/theme/tokens/semantic/variables/state.ts
Due: prettier --write, eslint

fix: avatar typo
  src/components/Avatar/Avatar.types.ts
Due: prettier --write, eslint

fix: tag component
  src/components/Tag/Tag.style.ts
  src/components/Tag/Tag.tokens.ts
  src/components/Tag/Tag.tsx
  src/components/Tag/Tag.types.ts
  src/components/Tag/hooks/useGetTagUtils.tsx
  src/components/Tag/index.ts
Due: prettier --write, eslint
