Repository Orfium/orfium-ictinus: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

chore: code review fixes
  package.json
  packages/ictinus/src/sprinkles/global.css.ts
Due: prettier --write, eslint

chore: minor fixes
  .changeset/sharp-mangos-judge.md
  package.json
Due: prettier --write

chore: testing commit
  README.md
Due: prettier --write

chore: testing
  README.md
Due: prettier --write

feat(ictinus): add more languages
  .changeset/sharp-mangos-judge.md
  packages/ictinus/src/sprinkles/global.css.ts
Due: prettier --write, eslint

feat(ictinus): add more languages (#1088)
  .changeset/sharp-mangos-judge.md
  packages/ictinus/src/sprinkles/global.css.ts
Due: prettier --write, eslint

chore(deps): update storybook to v10.6.0
  apps/storybook/.storybook/main.ts
  apps/storybook/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint

chore(deps): update storybook to v10.6.0 (#1091)
  apps/storybook/.storybook/main.ts
  apps/storybook/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint

feat: textarea base
  apps/storybook/src/vanilla/TextArea/TextArea.stories.tsx
  packages/ictinus/src/vanilla/TextArea/TextArea.css.ts
  packages/ictinus/src/vanilla/TextArea/TextArea.tsx
  packages/ictinus/src/vanilla/TextArea/index.ts
  packages/ictinus/src/vanilla/TextField/TextField.css.ts
  packages/ictinus/src/vanilla/index.ts
Due: prettier --write, eslint

feat: update snapshots fix floating label
  apps/storybook/src/__storyshots__/Vanilla/TextArea-CharacterCounter.snap
  apps/storybook/src/__storyshots__/Vanilla/TextArea-Default.snap
  apps/storybook/src/__storyshots__/Vanilla/TextArea-FloatingLabel.snap
  apps/storybook/src/__storyshots__/Vanilla/TextArea-States.snap
  apps/storybook/src/__storyshots__/Vanilla/TextField-FloatingLabel.snap
  apps/storybook/src/vanilla/TextArea/TextArea.stories.tsx
  apps/storybook/src/vanilla/TextField/TextField.stories.tsx
  packages/ictinus/src/vanilla/TextArea/TextArea.css.ts
  packages/ictinus/src/vanilla/TextField/TextField.css.ts
  packages/ictinus/src/vanilla/TextField/TextField.tsx
Due: prettier --write, eslint

chore: autodedupe
  .github/dependabot.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

chore: autodedupe
  package.json
Due: prettier --write

chore: autodedupe (#1101)
  .github/dependabot.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

fix: forwardRef all textfield components
  packages/ictinus/src/vanilla/TextField/TextField.tsx
  packages/ictinus/src/vanilla/TextField/index.ts
Due: prettier --write, eslint

feat: react docgen
  .changeset/good-hornets-march.md
  .gitignore
  packages/ictinus/src/button/Button.tsx
  packages/ictinus/src/vanilla/Dialog/Dialog.tsx
  packages/mcp-server/README.md
  packages/mcp-server/package.json
  packages/mcp-server/plugins/generate.mjs
  packages/mcp-server/plugins/generators.mjs
  packages/mcp-server/plugins/parsers.mjs
  packages/mcp-server/scripts/lib/components.mjs
  packages/mcp-server/scripts/lib/guides.mjs
  packages/mcp-server/scripts/lib/icons.mjs
  packages/mcp-server/scripts/lib/parse.mjs
  packages/mcp-server/scripts/lib/patterns.mjs
  packages/mcp-server/scripts/lib/tokens.mjs
  packages/mcp-server/scripts/lib/vanilla-exports.mjs
  packages/mcp-server/src/data.json
  packages/mcp-server/src/server.ts
  packages/mcp-server/src/types.ts
  packages/shared/README.md
  packages/shared/package.json
  packages/shared/scripts/generateDocs.mjs
  packages/shared/src/getDocs.d.mts
  packages/shared/src/getDocs.mjs
  packages/shared/src/index.d.mts
  packages/shared/src/index.mjs
  pnpm-lock.yaml
Due: prettier --write, eslint

fix: resolve cr comments
  apps/storybook/src/__storyshots__/Vanilla/TextField-Addons.snap
  apps/storybook/src/__storyshots__/Vanilla/TextField-Default.snap
  apps/storybook/src/__storyshots__/Vanilla/TextField-FloatingLabel.snap
  apps/storybook/src/__storyshots__/Vanilla/TextField-Sizes.snap
  apps/storybook/src/vanilla/TextField/TextField.stories.tsx
  packages/ictinus/src/vanilla/TextField/TextField.css.ts
  packages/ictinus/src/vanilla/TextField/TextField.tsx
Due: prettier --write, eslint

fix: use non-empty text field placeholder
  packages/ictinus/src/vanilla/TextField/TextField.tsx
Due: prettier --write, eslint

fix: update vanilla textfield snapshot placeholders
  apps/storybook/src/__storyshots__/Vanilla/TextField-Addons.snap
Due: none

fix: placeholder init value
  apps/storybook/src/__storyshots__/Vanilla/TextField-Addons.snap
  packages/ictinus/src/vanilla/TextField/TextField.tsx
Due: prettier --write, eslint

fix: move text area to textfield folder
  apps/storybook/src/__storyshots__/Vanilla/TextArea-CharacterCounter.snap
  apps/storybook/src/__storyshots__/Vanilla/TextArea-Default.snap
  apps/storybook/src/__storyshots__/Vanilla/TextArea-FloatingLabel.snap
  apps/storybook/src/__storyshots__/Vanilla/TextArea-States.snap
  apps/storybook/src/__storyshots__/Vanilla/TextField-Addons.snap
  apps/storybook/src/__storyshots__/Vanilla/TextField-Default.snap
  apps/storybook/src/__storyshots__/Vanilla/TextField-FloatingLabel.snap
  apps/storybook/src/__storyshots__/Vanilla/TextField-Sizes.snap
  apps/storybook/src/vanilla/TextArea/TextArea.stories.tsx
  packages/ictinus/src/vanilla/TextArea/TextArea.css.ts
  packages/ictinus/src/vanilla/TextArea/TextArea.tsx
  packages/ictinus/src/vanilla/TextArea/index.ts
  packages/ictinus/src/vanilla/TextField/TextField.css.ts
  packages/ictinus/src/vanilla/TextField/TextField.tsx
  packages/ictinus/src/vanilla/index.ts
Due: prettier --write, eslint

fix: gitar comments
  apps/storybook/src/__storyshots__/Vanilla/TextArea-CharacterCounter.snap
  apps/storybook/src/__storyshots__/Vanilla/TextArea-Default.snap
  apps/storybook/src/__storyshots__/Vanilla/TextArea-FloatingLabel.snap
  apps/storybook/src/__storyshots__/Vanilla/TextArea-States.snap
  apps/storybook/src/__storyshots__/Vanilla/TextField-Addons.snap
  apps/storybook/src/__storyshots__/Vanilla/TextField-Default.snap
  apps/storybook/src/__storyshots__/Vanilla/TextField-FloatingLabel.snap
  apps/storybook/src/__storyshots__/Vanilla/TextField-Sizes.snap
  apps/storybook/src/vanilla/TextArea/TextArea.stories.tsx
  packages/ictinus/src/vanilla/TextField/TextField.css.ts
  packages/ictinus/src/vanilla/TextField/TextField.tsx
Due: prettier --write, eslint

chore: add changeset
  .changeset/lucky-singers-peel.md
Due: prettier --write

chore: add changeset
  .changeset/six-items-stand.md
Due: prettier --write

Change version type for '@orfium/ictinus'
  .changeset/lucky-singers-peel.md
Due: prettier --write

Change version from major to minor for ictinus
  .changeset/six-items-stand.md
Due: prettier --write

fix: tooltip flash on exit animation
  apps/storybook/src/vanilla/Tooltip/Tooltip.stories.tsx
  package.json
  packages/ictinus/package.json
  packages/ictinus/src/vanilla/Tooltip/Tooltip.css.ts
  pnpm-lock.yaml
Due: prettier --write, eslint

add changeset
  .changeset/sour-frogs-stay.md
Due: prettier --write

fix: tooltip flash on exit animation (#1110)
  .changeset/sour-frogs-stay.md
  apps/storybook/src/vanilla/Tooltip/Tooltip.stories.tsx
  package.json
  packages/ictinus/package.json
  packages/ictinus/src/vanilla/Tooltip/Tooltip.css.ts
  pnpm-lock.yaml
Due: prettier --write, eslint

feat: add vanilla textfield
  .changeset/lucky-singers-peel.md
  apps/storybook/src/__storyshots__/Vanilla/TextField-Addons.snap
  apps/storybook/src/__storyshots__/Vanilla/TextField-Default.snap
  apps/storybook/src/__storyshots__/Vanilla/TextField-FloatingLabel.snap
  apps/storybook/src/__storyshots__/Vanilla/TextField-Sizes.snap
  apps/storybook/src/vanilla/TextField/TextField.stories.tsx
  packages/ictinus/src/vanilla/TextField/TextField.css.ts
  packages/ictinus/src/vanilla/TextField/TextField.tsx
  packages/ictinus/src/vanilla/TextField/index.ts
  packages/ictinus/src/vanilla/index.ts
Due: prettier --write, eslint

feat: vanilla textfield base (#1084)
  .changeset/lucky-singers-peel.md
  apps/storybook/src/__storyshots__/Vanilla/TextField-Addons.snap
  apps/storybook/src/__storyshots__/Vanilla/TextField-Default.snap
  apps/storybook/src/__storyshots__/Vanilla/TextField-FloatingLabel.snap
  apps/storybook/src/__storyshots__/Vanilla/TextField-Sizes.snap
  apps/storybook/src/vanilla/TextField/TextField.stories.tsx
  packages/ictinus/src/vanilla/TextField/TextField.css.ts
  packages/ictinus/src/vanilla/TextField/TextField.tsx
  packages/ictinus/src/vanilla/TextField/index.ts
  packages/ictinus/src/vanilla/index.ts
Due: prettier --write, eslint

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,scss,md}
  eslint: any of: *.{ts,tsx,js,jsx}
