Repository Orfium/orfium-ictinus: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

fix: secondary text color
  src/components/Button/__snapshots__/Button.stories.storyshot
  src/utils/themeFunctions.ts
Due: prettier --write, eslint

fix: table colors on select
  src/components/Table/components/TableRow/TableRow.tsx
Due: prettier --write, eslint

fix: update checkbox color
  src/components/CheckBox/CheckBox.style.ts
  src/components/CheckBox/__snapshots__/CheckBox.stories.storyshot
  src/components/Table/__snapshots__/Table.stories.storyshot
Due: prettier --write, eslint

fix: label colors for default
  src/components/Label/Label.style.ts
  src/components/Select/__snapshots__/Select.stories.storyshot
  src/components/TextField/__snapshots__/TextField.stories.storyshot
Due: prettier --write, eslint

fix: checkbox color to be correct based on the old colors
  src/components/CheckBox/CheckBox.style.ts
  src/components/CheckBox/__snapshots__/CheckBox.stories.storyshot
  src/components/Table/__snapshots__/Table.stories.storyshot
Due: prettier --write, eslint

fix: radio button color
  src/components/Radio/Radio.style.ts
  src/components/Radio/__snapshots__/Radio.stories.storyshot
  src/components/RadioGroup/__snapshots__/RadioGroup.stories.storyshot
Due: prettier --write, eslint

fix: breadcrumb
  src/components/Breadcrumb/BreadcrumbItem/BreadcrumbItem.style.ts
  src/components/Breadcrumb/Separator/Separator.tsx
  src/components/Breadcrumb/__snapshots__/Breadcrumb.stories.storyshot
Due: prettier --write, eslint

Notes added by 'git notes add'
  7a6461b375ed8941e27dcc17ccc1528a4cd0ba15
Due: none

feat: new refresh icon
  package-lock.json
  package.json
  src/components/Icon/__snapshots__/Icon.stories.storyshot
  src/components/Icon/assets/iconSelector.ts
  src/components/Icon/assets/refresh.svg
  src/components/Icon/types.ts
Due: prettier --write, eslint

chore: sort icons alphabetically
  src/components/Icon/Icon.stories.mdx
  src/components/Icon/__snapshots__/Icon.stories.storyshot
Due: none

chore: revert react after npm link
  package.json
Due: prettier --write

chore: revert package.lock after npm link
  package-lock.json
Due: prettier --write

chore: hooks lint errors fix
  src/components/Table/Table.tsx
  src/hooks/usePagination.ts
Due: prettier --write, eslint

Notes added by 'git notes add'
  c504abdc6be5b7a5395572012d5557f7147c3aa5
Due: none

chore(eslint): add react:recommended for use of jsx to remove lint errors from jsx pragma (unused var)
  .eslintrc.json
Due: prettier --write

chore: fix react-hooks unused and miss used deps
  src/components/CheckBox/CheckBox.style.ts
  src/components/DatePicker/DatePicker.tsx
  src/components/Table/Table.style.ts
  src/components/Table/Table.tsx
  src/theme/utils.ts
Due: prettier --write, eslint

chore: update tests and breadcrumb hook for performance
  src/components/Breadcrumb/Breadcrumb.tsx
  src/components/CheckBox/__snapshots__/CheckBox.stories.storyshot
  src/components/Table/__snapshots__/Table.stories.storyshot
  src/components/Table/components/RenderRowOrNestedRow/RenderRowOrNestedRow.tsx
Due: prettier --write, eslint

chore: fixing all test warnings
  src/components/ExpandCollapse/ExpandCollapse.stories.mdx
  src/components/ExpandCollapse/__snapshots__/ExpandCollapse.stories.storyshot
  src/components/Icon/Icon.stories.mdx
  src/components/ThemeProvider/ThemeProvider.stories.mdx
  src/components/ThemeProvider/__snapshots__/ThemeProvider.stories.storyshot
Due: none

chore: update all imports in the documentation stories
  src/components/Breadcrumb/Breadcrumb.stories.mdx
  src/components/Button/Button.stories.mdx
  src/components/CheckBox/CheckBox.stories.mdx
  src/components/ExpandCollapse/ExpandCollapse.stories.mdx
  src/components/Icon/Icon.stories.mdx
  src/components/IconButton/IconButton.stories.mdx
  src/components/Menu/Menu.stories.mdx
  src/components/Pagination/Pagination.stories.mdx
  src/components/Radio/Radio.stories.mdx
  src/components/RadioGroup/RadioGroup.stories.mdx
  src/components/Select/Select.stories.mdx
  src/components/Table/Table.stories.mdx
  src/components/TextField/TextField.stories.mdx
  src/components/ThemeProvider/ThemeProvider.stories.mdx
Due: none

feat: new changelog page
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  ada5d0d306de0cb58285bb565ba231c2c31b3ba1
Due: none

fix(checkbox): fix checkbox component for hover and align components needs to be flex in order to align correctly to parent, also now hover is to pseudo :before to not break when flex is adjusting
  src/components/CheckBox/CheckBox.style.ts
  src/components/CheckBox/__snapshots__/CheckBox.stories.storyshot
Due: prettier --write, eslint

fix(table): adjust table cell widths and types correct the table cell width when the checkbox was showing also fix the cell type for checkbox from 'th' to 'td'
  src/components/Table/Table.tsx
  src/components/Table/__snapshots__/Table.stories.storyshot
  src/components/Table/components/RenderRowOrNestedRow/RenderRowOrNestedRow.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  8cb7bc526847e1a056f1978ca1ebc89e8c9d5140
Due: none

feat(datepicker): adds date format option for date pick input
  src/components/DatePicker/DatePickInput/DatePickInput.tsx
  src/components/DatePicker/DatePicker.stories.mdx
  src/components/DatePicker/DatePicker.tsx
Due: prettier --write, eslint

chore(cleanup): removes console log
  src/components/DatePicker/DatePickInput/DatePickInput.tsx
Due: prettier --write, eslint

fix(table): improve the overall performance of the table
  src/components/Table/Table.stories.mdx
  src/components/Table/Table.tsx
  src/components/Table/__snapshots__/Table.stories.storyshot
  src/components/Table/components/RenderRowOrNestedRow/RenderRowOrNestedRow.tsx
  src/components/Table/components/RenderRowOrNestedRow/components/ContentCell/ContentCell.tsx
  src/components/Table/components/RenderRowOrNestedRow/components/ContentCell/index.ts
  src/components/Table/components/RenderRowOrNestedRow/components/ExpandedButtonCell/ExpandedButtonCell.tsx
  src/components/Table/components/RenderRowOrNestedRow/components/ExpandedButtonCell/index.ts
  src/components/Table/components/TableCell/TableCell.tsx
  src/components/Table/components/TableRowWrapper/TableRowWrapper.tsx
  src/components/Table/components/TableRowWrapper/index.ts
Due: prettier --write, eslint

feat(checkbox): add test id property for testing
  src/components/CheckBox/CheckBox.tsx
Due: prettier --write, eslint

feat(tests): fix testing library with a render method to have the themeprovider, upgrade TS
  __mocks__/fileMock.ts
  __mocks__/fileMock.tsx
  jest.config.js
  package.json
  src/test/index.ts
  src/test/utils.tsx
  yarn.lock
Due: prettier --write, eslint

feat(table): adding tests and improve performance with onCheck fn provided
  src/components/Breadcrumb/__snapshots__/Breadcrumb.stories.storyshot
  src/components/CheckBox/__snapshots__/CheckBox.stories.storyshot
  src/components/Icon/__snapshots__/Icon.stories.storyshot
  src/components/IconButton/__snapshots__/IconButton.stories.storyshot
  src/components/Menu/__snapshots__/Menu.stories.storyshot
  src/components/Pagination/__snapshots__/Pagination.stories.storyshot
  src/components/Table/Table.stories.mdx
  src/components/Table/Table.test.tsx
  src/components/Table/Table.tsx
  src/components/Table/__snapshots__/Table.stories.storyshot
  src/components/Table/components/RenderRowOrNestedRow/RenderRowOrNestedRow.tsx
  src/components/Table/components/RenderRowOrNestedRow/components/ExpandedButtonCell/ExpandedButtonCell.tsx
Due: prettier --write, eslint

chore(table): remove comment code
  src/components/Table/Table.tsx
Due: prettier --write, eslint

chore(table): simplify the complexity of the calculation code for best performance
  src/components/Table/Table.tsx
Due: prettier --write, eslint

feature(localization): adds localized date option for date picker
  src/components/DatePicker/DatePickInput/DatePickInput.tsx
  src/components/DatePicker/DatePicker.tsx
  src/utils/helpers.ts
Due: prettier --write, eslint

Notes added by 'git notes add'
  d31c9b4013b6a33111fc39f1aa7eb2a8447ffa45
Due: none

improvement(locale): improves locale functionality and reverse logic of date format
  src/components/DatePicker/DatePickInput/DatePickInput.tsx
  src/components/DatePicker/DatePickInput/__tests__/DatePickInput.js
  src/components/DatePicker/DatePicker.stories.mdx
  src/components/DatePicker/DatePicker.tsx
  src/utils/helpers.ts
Due: prettier --write, eslint

improvement(locale): removes deprecated test file - adds type to props
  src/components/DatePicker/DatePickInput/DatePickInput.tsx
  src/components/DatePicker/DatePickInput/__tests__/DatePickInput.js
Due: prettier --write, eslint

refactor(datepickerinput): refactors iife
  src/components/DatePicker/DatePickInput/DatePickInput.tsx
Due: prettier --write, eslint

improvement(datepickerstory): improves date format options
  src/components/DatePicker/DatePickInput/DatePickInput.tsx
  src/components/DatePicker/DatePicker.stories.mdx
Due: prettier --write, eslint

refactor(localeformat): refactors locale format to a single ts file
  src/components/DatePicker/DatePickInput/DatePickInput.tsx
  src/components/ThemeProvider/ThemeProvider.tsx
  src/utils/initLocaleFormat.ts
Due: prettier --write, eslint

Notes added by 'git notes add'
  124872bcb3149c1bffc08e07f225d1b9c25f6486
Due: none

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,scss,md}
  eslint: any of: *.{ts,tsx,js,jsx}
