Repository Orfium/orfium-ictinus: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,json,scss,md}": [
    "prettier --write",
    "git add"
  ],
  "*.{ts,tsx,js,jsx}": [
    "eslint"
  ]
}

fix(codemods): exportation of vite build for codemods
  .eslintignore
  .gitignore
  package.json
  tsconfig.node.json
  vite.codemods.config.ts
Due: prettier --write, eslint

Notes added by 'git notes add'
  3b/41c0cf8dade88190896fb014d25fe13b8d797d
Due: none

feat: field suffix size based on field size
  src/components/NumberField/NumberField.tsx
  src/components/TextField/TextField.style.ts
  src/components/TextField/TextField.tsx
Due: prettier --write, eslint

feat: pagination implementation
  src/components/Table/Table.tsx
  src/components/Table/components/TPagination/TPagination.style.ts
  src/components/Table/components/TPagination/TPagination.tsx
  src/components/Table/components/TPagination/index.ts
  src/components/Table/components/TTitle/TTitle.tsx
  src/components/Table/components/index.ts
  src/components/Table/hooks/useTable.tsx
  src/components/Table/types.ts
Due: prettier --write, eslint

feat: docs
  src/components/Table/Table.mdx
  src/components/Table/Table.stories.tsx
  src/components/Table/constants.tsx
  src/components/Table/utils/TableStoryComponents.tsx
Due: prettier --write, eslint

feat: snaps
  src/__storyshots__/Original Components/Slider-RangeSliderDontTest.snap
  src/__storyshots__/Updated Components/Fields/Select-SelectSizes.snap
  src/__storyshots__/Updated Components/Table/Table-ColumnChooser.snap
  src/__storyshots__/Updated Components/Table/Table-Pagination.snap
  src/__storyshots__/Updated Components/Table/Table-RowDetails.snap
  src/__storyshots__/Updated Components/Table/Table-RowSelection.snap
  src/__storyshots__/Updated Components/Table/Table-Sorting.snap
  src/__storyshots__/Updated Components/Table/Table-StickyHeader.snap
Due: none

fix: update documentation and codemods
  bin/migrate.mjs
  codemods/buttonCodemod.ts
  codemods/chipCodemode.ts
  codemods/iconButtonCodemod.ts
  docs/GettingStarted/Migration/COMPONENT_CHANGES.mdx
  vite.codemods.config.ts
Due: prettier --write, eslint

feat: pr comments
  src/components/Table/Table.mdx
  src/components/Table/types.ts
  src/components/Table/utils/TableStoryComponents.tsx
Due: prettier --write, eslint

fix(breakpoints): fix breakpoints based on old v4 PR https://github.com/Orfium/orfium-ictinus/pull/712
  package.json
Due: prettier --write

fix: types
  src/components/Table/Table.mdx
  src/components/Table/Table.stories.tsx
  src/components/Table/constants.tsx
  src/components/Table/types.ts
  src/components/Table/utils/TableStoryComponents.tsx
Due: prettier --write, eslint

fix: itemsPerPage types
  src/components/Table/types.ts
Due: prettier --write, eslint

Notes added by 'git notes add'
  a8/7afc188394328c39a7749de6ba363590783dde
Due: none

feat: add tokens to table
  src/components/Table/Table.style.ts
  src/components/Table/components/TD/TD.style.ts
  src/components/Table/components/TH/TH.style.ts
  src/components/Table/components/TH/TH.tsx
  src/components/Table/components/TH/components/THOptions/THOptions.style.ts
  src/components/Table/components/TH/components/THOptions/components/SortingOption.tsx
  src/components/Table/components/THead/THead.style.ts
  src/components/Table/components/TPagination/TPagination.style.ts
  src/components/Table/components/TTitle/TTitle.style.ts
  src/components/Table/components/TTitle/TTitle.tsx
  src/components/Table/components/TTitle/components/ColumnChooser/ColumnChooser.style.ts
  src/components/Table/constants.tsx
  src/components/Table/hooks/useTable.tsx
  src/components/Table/types.ts
Due: prettier --write, eslint

feat: snaps
  src/__storyshots__/Updated Components/Table/Table-ColumnAndRowSizing.snap
  src/__storyshots__/Updated Components/Table/Table-ColumnChooser.snap
  src/__storyshots__/Updated Components/Table/Table-Pagination.snap
  src/__storyshots__/Updated Components/Table/Table-RowDetails.snap
  src/__storyshots__/Updated Components/Table/Table-RowSelection.snap
  src/__storyshots__/Updated Components/Table/Table-Sorting.snap
  src/__storyshots__/Updated Components/Table/Table-StickyHeader.snap
Due: none

Notes added by 'git notes add'
  4b/89b2150a4f8d58ce12de5e52e3967424e39230
Due: none

feat: content align and types
  src/components/Table/Table.tsx
  src/components/Table/components/TD/TD.style.ts
  src/components/Table/components/TD/TD.tsx
  src/components/Table/components/TH/TH.style.ts
  src/components/Table/components/TH/TH.tsx
  src/components/Table/components/TPagination/TPagination.tsx
  src/components/Table/constants.tsx
  src/components/Table/hooks/useTable.tsx
  src/components/Table/types.ts
Due: prettier --write, eslint

feat: documentation
  src/components/Table/Table.mdx
  src/components/Table/Table.stories.tsx
  src/components/Table/docs/Basics/Basics.mdx
  src/components/Table/docs/Basics/Basics.stories.tsx
  src/components/Table/docs/Columns/Columns.mdx
  src/components/Table/docs/Columns/Columns.stories.tsx
  src/components/Table/docs/Header/Header.mdx
  src/components/Table/docs/Header/Header.stories.tsx
  src/components/Table/docs/Pagination/Pagination.mdx
  src/components/Table/docs/Pagination/Pagination.stories.tsx
  src/components/Table/docs/RowsAndCells/RowsAndCells.mdx
  src/components/Table/docs/RowsAndCells/RowsAndCells.stories.tsx
  src/components/Table/docs/Showcase/Showcase.mdx
  src/components/Table/docs/Showcase/Showcase.stories.tsx
  src/storybook/Tip/Tip.style.ts
Due: prettier --write, eslint

feat: snaps
  src/__storyshots__/Updated Components/Table/Table/Basics-BasicExample.snap
  src/__storyshots__/Updated Components/Table/Table/Columns-ColumnChooser.snap
  src/__storyshots__/Updated Components/Table/Table/Columns-ColumnWidth.snap
  src/__storyshots__/Updated Components/Table/Table/Columns-Sorting.snap
  src/__storyshots__/Updated Components/Table/Table/Header-StickyHeader.snap
  src/__storyshots__/Updated Components/Table/Table/Pagination-Pagination.snap
  src/__storyshots__/Updated Components/Table/Table/Rows and Cells-CellContentAlignment.snap
  src/__storyshots__/Updated Components/Table/Table/Rows and Cells-RowDetails.snap
  src/__storyshots__/Updated Components/Table/Table/Rows and Cells-RowSelection.snap
  src/__storyshots__/Updated Components/Table/Table/Rows and Cells-RowSizes.snap
  src/__storyshots__/Updated Components/Table/Table/Showcase-Playground.snap
Due: none

feat: remove console log
  src/components/Table/docs/Showcase/Showcase.stories.tsx
Due: prettier --write, eslint

fix: links
  src/components/Table/docs/Basics/Basics.mdx
Due: none

feat: add test-ids
  src/components/Controls/CheckBox/CheckBox.tsx
  src/components/Controls/Switch/Switch.test.tsx
  src/components/Controls/Switch/Switch.tsx
  src/components/Table/Table.tsx
  src/components/Table/components/TD/TD.tsx
  src/components/Table/components/TH/TH.tsx
  src/components/Table/components/TH/components/THOptions/THOptions.tsx
  src/components/Table/components/TH/components/THOptions/components/SortingOption.tsx
  src/components/Table/components/TPagination/TPagination.tsx
  src/components/Table/components/TTitle/TTitle.tsx
  src/components/Table/components/TTitle/components/ColumnChooser/ColumnChooser.tsx
  src/components/Table/hooks/useTable.tsx
  src/components/Table/types.ts
  src/components/TableV4/TableV4.test.tsx
Due: prettier --write, eslint

feat: snaps
  src/__storyshots__/Original Components/TableV4-FinancialTable.snap
  src/__storyshots__/Original Components/TableV4-FixedHeaderTable.snap
  src/__storyshots__/Original Components/TableV4-TableWithExpandableRows.snap
  src/__storyshots__/Original Components/TableV4-TableWithExpandableRowsAndSortDir.snap
  src/__storyshots__/Original Components/TableV4-TableWithExpandableRowsExpandedOnPageLoad.snap
  src/__storyshots__/Updated Components/Controls/CheckBox-CheckBoxLabelHelptext.snap
  src/__storyshots__/Updated Components/Controls/CheckBox-CheckBoxLabelPlacement.snap
  src/__storyshots__/Updated Components/Controls/CheckBox-CheckBoxLabelSizes.snap
  src/__storyshots__/Updated Components/Controls/CheckBox-DisabledCheckBox.snap
  src/__storyshots__/Updated Components/Controls/CheckBox-IndeterminateCheckBox.snap
  src/__storyshots__/Updated Components/Controls/CheckBox-Playground.snap
  src/__storyshots__/Updated Components/Controls/CheckBox-SimpleCheckBox.snap
  src/__storyshots__/Updated Components/Controls/Switch-DisabledSwitch.snap
  src/__storyshots__/Updated Components/Controls/Switch-Playground.snap
  src/__storyshots__/Updated Components/Controls/Switch-SimpleSwitch.snap
  src/__storyshots__/Updated Components/Controls/Switch-SwitchLabelPlacement.snap
  src/__storyshots__/Updated Components/Controls/Switch-SwitchLabelSizes.snap
  src/__storyshots__/Updated Components/Controls/Switch-SwitchWithHelptext.snap
  src/__storyshots__/Updated Components/List/ListItem-DisabledListItem.snap
  src/__storyshots__/Updated Components/List/ListItem-ListItemCompilations.snap
  src/__storyshots__/Updated Components/Table/Table/Basics-BasicExample.snap
  src/__storyshots__/Updated Components/Table/Table/Columns-ColumnChooser.snap
  src/__storyshots__/Updated Components/Table/Table/Columns-ColumnWidth.snap
  src/__storyshots__/Updated Components/Table/Table/Columns-Sorting.snap
  src/__storyshots__/Updated Components/Table/Table/Header-StickyHeader.snap
  src/__storyshots__/Updated Components/Table/Table/Pagination-Pagination.snap
  src/__storyshots__/Updated Components/Table/Table/Rows and Cells-CellContentAlignment.snap
  src/__storyshots__/Updated Components/Table/Table/Rows and Cells-RowDetails.snap
  src/__storyshots__/Updated Components/Table/Table/Rows and Cells-RowSelection.snap
  src/__storyshots__/Updated Components/Table/Table/Rows and Cells-RowSizes.snap
  src/__storyshots__/Updated Components/Table/Table/Showcase-Playground.snap
  src/components/Controls/CheckBox/__snapshots__/CheckBox.test.tsx.snap
  src/components/Controls/Switch/__snapshots__/Switch.test.tsx.snap
Due: none

chore: table update lodash ref
  src/components/Table/Table.stories.tsx
  src/components/Table/hooks/useTable.tsx
  src/components/TableV4/TableV4.tsx
Due: prettier --write, eslint

chore: changes on dependencies and table
  package.json
  src/__storyshots__/Original Components/TableV4-RegularTableWithSortingAndTooltips.snap
  src/__storyshots__/Original Components/TableV4-TableWithExpandableRowsAndSortDir.snap
  src/__storyshots__/Updated Components/Tooltip-InteractiveTooltip.snap
  src/__storyshots__/Updated Components/Tooltip-Playground.snap
  src/__storyshots__/Updated Components/Tooltip-TextTooltip.snap
  src/__storyshots__/Updated Components/Tooltip-TooltipPlacement.snap
  src/test/setup.ts
  yarn.lock
Due: prettier --write, eslint

chore: revert package version
  package.json
Due: prettier --write

feat: adding basic HTML props use
  package.json
  src/components/Controls/CheckBox/CheckBox.test.tsx
  src/components/TextField/TextField.test.tsx
  src/test/testUtils.tsx
  yarn.lock
Due: prettier --write, eslint

feat: adding better documentation and typing to testHtmlAttributes function
  src/test/testUtils.tsx
Due: prettier --write, eslint

feat: testHtmlAttributes function returns result for further use
  src/test/testUtils.tsx
Due: prettier --write, eslint

feat: adding test function to controls
  src/components/Controls/CheckBox/CheckBox.test.tsx
  src/components/Controls/Radio/Radio.test.tsx
  src/components/Controls/Switch/Switch.test.tsx
  src/components/DatePicker/DatePicker.test.tsx
Due: prettier --write, eslint

feat(icon): adding new search filled and keyword icons
  src/__storyshots__/Updated Components/Icon-Collection.snap
  src/components/Icon/Icon.types.ts
  src/components/Icon/assets/generic/keyword.svg
  src/components/Icon/assets/generic/search filled.svg
  src/components/Icon/assets/iconSelector.ts
  src/components/Icon/constants.ts
Due: prettier --write, eslint

fix(svg): remove size properties
  src/components/Icon/assets/generic/keyword.svg
  src/components/Icon/assets/generic/search filled.svg
Due: none

fix: export numberfield
  src/index.ts
Due: prettier --write, eslint

feat(datepicker): placement addition for tooltip
  src/__storyshots__/Original Components/TableV4-RegularTableWithSortingAndTooltips.snap
  src/__storyshots__/Original Components/TableV4-TableWithExpandableRowsAndSortDir.snap
  src/__storyshots__/Updated Components/Tooltip-InteractiveTooltip.snap
  src/__storyshots__/Updated Components/Tooltip-Playground.snap
  src/__storyshots__/Updated Components/Tooltip-TextTooltip.snap
  src/__storyshots__/Updated Components/Tooltip-TooltipPlacement.snap
  src/components/DatePicker/DatePicker.tsx
  src/components/DatePicker/DatePicker.types.ts
  src/components/TableV4/TableV4.test.tsx
  src/components/Tooltip/Tooltip.tsx
  src/components/Tooltip/Tooltip.types.ts
  src/components/TruncatedContent/TruncatedContent.test.tsx
  src/components/TruncatedContent/TruncatedContent.tsx
  src/components/utils/PositionInScreen/PositionInScreen.tsx
  src/components/utils/PositionInScreen/hooks.ts
Due: prettier --write, eslint

chore: update icon collection snap
  src/__storyshots__/Updated Components/Icon-Collection.snap
Due: none

Notes added by 'git notes add'
  d6/c44b8b8e25be3ed0298e4e38a0df7e4732c73c
Due: none

chore: correct type exportation
  src/components/ThemeProvider/ThemeProvider.tsx
Due: prettier --write, eslint

style: table dqa
  src/components/Table/components/TH/TH.style.ts
  src/components/Table/components/THead/THead.style.ts
  src/components/Table/components/TPagination/TPagination.style.ts
  src/components/Table/components/TTitle/TTitle.tsx
  src/components/Table/docs/Showcase/Showcase.stories.tsx
  src/components/Table/hooks/useTable.tsx
  src/components/Tag/Tag.style.ts
  src/components/Tag/Tag.tsx
Due: prettier --write, eslint

feat: snaps
  src/__storyshots__/Updated Components/Fields/Select-MultiSelect.snap
  src/__storyshots__/Updated Components/Table/Table/Basics-BasicExample.snap
  src/__storyshots__/Updated Components/Table/Table/Columns-ColumnChooser.snap
  src/__storyshots__/Updated Components/Table/Table/Columns-ColumnWidth.snap
  src/__storyshots__/Updated Components/Table/Table/Columns-Sorting.snap
  src/__storyshots__/Updated Components/Table/Table/Header-StickyHeader.snap
  src/__storyshots__/Updated Components/Table/Table/Pagination-Pagination.snap
  src/__storyshots__/Updated Components/Table/Table/Rows and Cells-CellContentAlignment.snap
  src/__storyshots__/Updated Components/Table/Table/Rows and Cells-RowDetails.snap
  src/__storyshots__/Updated Components/Table/Table/Rows and Cells-RowSelection.snap
  src/__storyshots__/Updated Components/Table/Table/Rows and Cells-RowSizes.snap
  src/__storyshots__/Updated Components/Table/Table/Showcase-Playground.snap
  src/__storyshots__/Updated Components/Tag-ClearableTag.snap
  src/__storyshots__/Updated Components/Tag-Playground.snap
  src/__storyshots__/Updated Components/Tag-ReadOnlyTag.snap
  src/__storyshots__/Updated Components/Tag-ReadOnlyTagWithIcon.snap
  src/__storyshots__/Updated Components/Tag-SelectableTag.snap
  src/__storyshots__/Updated Components/Tag-TagSizes.snap
Due: none

fix: codeql to v3
  .github/workflows/codeql-analysis.yml
Due: none
