Repository Orfium/orfium-ictinus: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,json,scss,md}": [
    "prettier --write",
    "git add"
  ],
  "*.{ts,tsx,js,jsx}": [
    "eslint"
  ]
}

chore: update permission
  .github/workflows/teardown.yml
Due: none

chore: remove env delete
  .github/workflows/teardown.yml
Due: none

chore: test pat
  .github/workflows/teardown.yml
Due: none

chore: fix formatting
  .github/workflows/teardown.yml
Due: none

chore: cleanup
  .github/workflows/teardown.yml
Due: none

fix: teardown review app (#979)
  .github/workflows/teardown.yml
Due: none

feat: add identifier ids to data table
  .changeset/silver-moons-know.md
  apps/storybook/src/__storyshots__/Vanilla/DataTable-Default.snap
  apps/storybook/src/__storyshots__/Vanilla/DataTable-Loading.snap
  apps/storybook/src/__storyshots__/Vanilla/DataTable-Simple.snap
  packages/ictinus/src/data-table/DataTable.test.tsx
  packages/ictinus/src/data-table/DataTableBody.tsx
Due: prettier --write, eslint

feat: add identifier ids to data table (#980)
  .changeset/silver-moons-know.md
  apps/storybook/src/__storyshots__/Vanilla/DataTable-Default.snap
  apps/storybook/src/__storyshots__/Vanilla/DataTable-Loading.snap
  apps/storybook/src/__storyshots__/Vanilla/DataTable-Simple.snap
  packages/ictinus/src/data-table/DataTable.test.tsx
  packages/ictinus/src/data-table/DataTableBody.tsx
Due: prettier --write, eslint

fix: fail silently when deployment is not found
  .github/workflows/teardown.yml
Due: none

fix: fail silently when deployment is not found (#982)
  .github/workflows/teardown.yml
Due: none

feat: vanilla avatar and avatargroup
  apps/storybook/src/avatar/Avatar.stories.tsx
  apps/storybook/src/avatar/AvatarGroup.stories.tsx
  packages/ictinus/src/avatar/Avatar.css.ts
  packages/ictinus/src/avatar/Avatar.tsx
  packages/ictinus/src/avatar/AvatarGroup.css.ts
  packages/ictinus/src/avatar/AvatarGroup.tsx
  packages/ictinus/src/avatar/index.ts
  packages/ictinus/src/vanilla/index.ts
Due: prettier --write, eslint

feat: tests
  packages/ictinus/src/avatar/Avatar.test.tsx
  packages/ictinus/src/avatar/Avatar.tsx
Due: prettier --write, eslint

feat: snaps
  apps/storybook/src/__storyshots__/Vanilla/Avatar-BrokenImage.snap
  apps/storybook/src/__storyshots__/Vanilla/Avatar-Colors.snap
  apps/storybook/src/__storyshots__/Vanilla/Avatar-Fallback.snap
  apps/storybook/src/__storyshots__/Vanilla/Avatar-Mixed.snap
  apps/storybook/src/__storyshots__/Vanilla/Avatar-Sizes.snap
  apps/storybook/src/__storyshots__/Vanilla/Avatar-WithImage.snap
  apps/storybook/src/__storyshots__/Vanilla/Avatar-WithInitials.snap
  apps/storybook/src/__storyshots__/Vanilla/AvatarGroup-Basic.snap
  apps/storybook/src/__storyshots__/Vanilla/AvatarGroup-Mixed.snap
  apps/storybook/src/__storyshots__/Vanilla/AvatarGroup-Sizes.snap
  apps/storybook/src/__storyshots__/Vanilla/AvatarGroup-WithImages.snap
  apps/storybook/src/__storyshots__/Vanilla/AvatarGroup-WithOverflow.snap
Due: none

chore: add changeset
  .changeset/few-eels-trade.md
Due: prettier --write

feat: adjustments
  apps/storybook/src/avatar/Avatar.stories.tsx
  apps/storybook/src/avatar/AvatarGroup.stories.tsx
  packages/ictinus/src/avatar/Avatar.css.ts
  packages/ictinus/src/avatar/Avatar.test.tsx
  packages/ictinus/src/avatar/Avatar.tsx
  packages/ictinus/src/avatar/AvatarGroup.css.ts
  packages/ictinus/src/avatar/AvatarGroup.tsx
Due: prettier --write, eslint

chore: avatar group styles
  apps/storybook/src/__storyshots__/Vanilla/Avatar-BrokenImage.snap
  apps/storybook/src/__storyshots__/Vanilla/Avatar-Colors.snap
  apps/storybook/src/__storyshots__/Vanilla/Avatar-Fallback.snap
  apps/storybook/src/__storyshots__/Vanilla/Avatar-Mixed.snap
  apps/storybook/src/__storyshots__/Vanilla/Avatar-Sizes.snap
  apps/storybook/src/__storyshots__/Vanilla/Avatar-WithImage.snap
  apps/storybook/src/__storyshots__/Vanilla/Avatar-WithInitials.snap
  apps/storybook/src/__storyshots__/Vanilla/AvatarGroup-Basic.snap
  apps/storybook/src/__storyshots__/Vanilla/AvatarGroup-Mixed.snap
  apps/storybook/src/__storyshots__/Vanilla/AvatarGroup-Sizes.snap
  apps/storybook/src/__storyshots__/Vanilla/AvatarGroup-WithImages.snap
  apps/storybook/src/__storyshots__/Vanilla/AvatarGroup-WithOverflow.snap
  packages/ictinus/src/avatar/Avatar.css.ts
  packages/ictinus/src/avatar/AvatarGroup.css.ts
  packages/ictinus/src/avatar/AvatarGroup.tsx
Due: prettier --write, eslint

feat: vanilla tag in progress
  apps/storybook/src/vanilla/Tags/Tags.stories.tsx
  packages/ictinus/src/vanilla/Tag/Tag.css.ts
  packages/ictinus/src/vanilla/Tag/Tag.tsx
  packages/ictinus/src/vanilla/Tag/index.ts
  packages/ictinus/src/vanilla/index.ts
Due: prettier --write, eslint

feat: whap with Box, remove unused styles
  apps/storybook/src/vanilla/Tags/Tags.stories.tsx
  packages/ictinus/src/icon/Icon.tsx
  packages/ictinus/src/vanilla/Tag/Tag.css.ts
  packages/ictinus/src/vanilla/Tag/Tag.tsx
Due: prettier --write, eslint

feat: nav components
  apps/storybook/src/nav/Nav.stories.tsx
  packages/ictinus/src/nav/Nav.css.ts
  packages/ictinus/src/nav/Nav.tsx
  packages/ictinus/src/nav/index.ts
  packages/ictinus/src/vanilla/index.ts
Due: prettier --write, eslint

feat: vanilla tag implemented
  apps/storybook/src/__storyshots__/Vanilla/Tag-ReadOnlyCodeTags.snap
  apps/storybook/src/__storyshots__/Vanilla/Tag-ReadOnlyTags.snap
  apps/storybook/src/__storyshots__/Vanilla/Tag-ReadOnlyTagsWithIcons.snap
  apps/storybook/src/__storyshots__/Vanilla/Tag-RemovableTags.snap
  apps/storybook/src/__storyshots__/Vanilla/Tag-SelectableTagsMultiple.snap
  apps/storybook/src/__storyshots__/Vanilla/Tag-SelectableTagsSingle.snap
  apps/storybook/src/__storyshots__/Vanilla/Tag-SizesAndColors.snap
  apps/storybook/src/vanilla/Tags/Tags.stories.tsx
  packages/ictinus/src/vanilla/Tag/Tag.css.ts
  packages/ictinus/src/vanilla/Tag/Tag.tsx
Due: prettier --write, eslint

feat: vanilla avatar and avatargroup (#983)
  .changeset/few-eels-trade.md
  apps/storybook/src/__storyshots__/Vanilla/Avatar-BrokenImage.snap
  apps/storybook/src/__storyshots__/Vanilla/Avatar-Colors.snap
  apps/storybook/src/__storyshots__/Vanilla/Avatar-Fallback.snap
  apps/storybook/src/__storyshots__/Vanilla/Avatar-Mixed.snap
  apps/storybook/src/__storyshots__/Vanilla/Avatar-Sizes.snap
  apps/storybook/src/__storyshots__/Vanilla/Avatar-WithImage.snap
  apps/storybook/src/__storyshots__/Vanilla/Avatar-WithInitials.snap
  apps/storybook/src/__storyshots__/Vanilla/AvatarGroup-Basic.snap
  apps/storybook/src/__storyshots__/Vanilla/AvatarGroup-Mixed.snap
  apps/storybook/src/__storyshots__/Vanilla/AvatarGroup-Sizes.snap
  apps/storybook/src/__storyshots__/Vanilla/AvatarGroup-WithImages.snap
  apps/storybook/src/__storyshots__/Vanilla/AvatarGroup-WithOverflow.snap
  apps/storybook/src/avatar/Avatar.stories.tsx
  apps/storybook/src/avatar/AvatarGroup.stories.tsx
  packages/ictinus/src/avatar/Avatar.css.ts
  packages/ictinus/src/avatar/Avatar.test.tsx
  packages/ictinus/src/avatar/Avatar.tsx
  packages/ictinus/src/avatar/AvatarGroup.css.ts
  packages/ictinus/src/avatar/AvatarGroup.tsx
  packages/ictinus/src/avatar/index.ts
  packages/ictinus/src/vanilla/index.ts
Due: prettier --write, eslint

test: vanilla tag
  apps/storybook/src/__storyshots__/Vanilla/Tag-ReadOnlyCodeTags.snap
  apps/storybook/src/__storyshots__/Vanilla/Tag-ReadOnlyTags.snap
  apps/storybook/src/__storyshots__/Vanilla/Tag-ReadOnlyTagsWithIcons.snap
  apps/storybook/src/__storyshots__/Vanilla/Tag-RemovableTags.snap
  apps/storybook/src/__storyshots__/Vanilla/Tag-SelectableTagsMultiple.snap
  apps/storybook/src/__storyshots__/Vanilla/Tag-SelectableTagsSingle.snap
  apps/storybook/src/__storyshots__/Vanilla/Tag-SizesAndColors.snap
  apps/storybook/src/vanilla/Tags/Tags.stories.tsx
  packages/ictinus/src/components/utils/useDOMRef.ts
  packages/ictinus/src/vanilla/Tag/Tag.test.tsx
  packages/ictinus/src/vanilla/Tag/Tag.tsx
Due: prettier --write, eslint

feat: nav composition
  .changeset/full-banks-play.md
  apps/storybook/src/__storyshots__/Vanilla/Nav-Default.snap
  apps/storybook/src/nav/Nav.stories.tsx
  packages/ictinus/src/nav/Nav.css.ts
  packages/ictinus/src/nav/Nav.tsx
Due: prettier --write, eslint

feat: with react router
  apps/storybook/src/__storyshots__/Vanilla/Nav-Default.snap
  apps/storybook/src/nav/Nav.stories.tsx
  packages/ictinus/src/nav/Nav.test.tsx
  packages/ictinus/src/nav/Nav.tsx
Due: prettier --write, eslint

feat: nav (#986)
  .changeset/full-banks-play.md
  apps/storybook/src/__storyshots__/Vanilla/Nav-Default.snap
  apps/storybook/src/nav/Nav.stories.tsx
  packages/ictinus/src/nav/Nav.css.ts
  packages/ictinus/src/nav/Nav.test.tsx
  packages/ictinus/src/nav/Nav.tsx
  packages/ictinus/src/nav/index.ts
  packages/ictinus/src/vanilla/index.ts
Due: prettier --write, eslint

fix: sub nav link router support
  .changeset/weak-onions-clean.md
  apps/storybook/src/__storyshots__/Vanilla/Nav-Default.snap
  apps/storybook/src/nav/Nav.stories.tsx
  packages/ictinus/src/nav/Nav.css.ts
  packages/ictinus/src/nav/Nav.test.tsx
  packages/ictinus/src/nav/Nav.tsx
Due: prettier --write, eslint

fix: sub nav link router support (#987)
  .changeset/weak-onions-clean.md
  apps/storybook/src/__storyshots__/Vanilla/Nav-Default.snap
  apps/storybook/src/nav/Nav.stories.tsx
  packages/ictinus/src/nav/Nav.css.ts
  packages/ictinus/src/nav/Nav.test.tsx
  packages/ictinus/src/nav/Nav.tsx
Due: prettier --write, eslint

chore: deprecate avatar button
  .changeset/sad-lemons-serve.md
  packages/ictinus/src/components/Avatar/Avatar.tsx
  packages/ictinus/src/components/Avatar/AvatarStack/AvatarStack.tsx
  packages/ictinus/src/components/Button/Button.tsx
Due: prettier --write, eslint

chore: deprecate avatar button (#989)
  .changeset/sad-lemons-serve.md
  packages/ictinus/src/components/Avatar/Avatar.tsx
  packages/ictinus/src/components/Avatar/AvatarStack/AvatarStack.tsx
  packages/ictinus/src/components/Button/Button.tsx
Due: prettier --write, eslint

fix: actions injection vulnerability
  .github/workflows/deploy-frontend.yml
Due: none

fix: actions injection vulnerability
  .github/workflows/main.yml
Due: none

feat: table adjustments
  .changeset/whole-badgers-beg.md
  apps/storybook/src/__storyshots__/Vanilla/DataTable-Default.snap
  apps/storybook/src/__storyshots__/Vanilla/DataTable-Loading.snap
  apps/storybook/src/__storyshots__/Vanilla/DataTable-Simple.snap
  apps/storybook/src/__storyshots__/Vanilla/Table-Default.snap
  apps/storybook/src/data-table/DataTable.stories.tsx
  apps/storybook/src/data-table/FriendComparePopover.tsx
  apps/storybook/src/data-table/columns.tsx
  packages/ictinus/src/cover/Cover.css.ts
  packages/ictinus/src/cover/Cover.tsx
  packages/ictinus/src/cover/index.ts
  packages/ictinus/src/data-table/DataTable.tsx
  packages/ictinus/src/data-table/DataTableBody.tsx
  packages/ictinus/src/data-table/DataTableRow.tsx
  packages/ictinus/src/vanilla/Menu/Menu.css.ts
  packages/ictinus/src/vanilla/Popover/Popover.css.ts
  packages/ictinus/src/vanilla/Popover/Popover.tsx
  packages/ictinus/src/vanilla/Table/TableCell.css.ts
  packages/ictinus/src/vanilla/index.ts
Due: prettier --write, eslint

feat: table adjustments (#991)
  .changeset/whole-badgers-beg.md
  apps/storybook/src/__storyshots__/Vanilla/DataTable-Default.snap
  apps/storybook/src/__storyshots__/Vanilla/DataTable-Loading.snap
  apps/storybook/src/__storyshots__/Vanilla/DataTable-Simple.snap
  apps/storybook/src/__storyshots__/Vanilla/Table-Default.snap
  apps/storybook/src/data-table/DataTable.stories.tsx
  apps/storybook/src/data-table/FriendComparePopover.tsx
  apps/storybook/src/data-table/columns.tsx
  packages/ictinus/src/cover/Cover.css.ts
  packages/ictinus/src/cover/Cover.tsx
  packages/ictinus/src/cover/index.ts
  packages/ictinus/src/data-table/DataTable.tsx
  packages/ictinus/src/data-table/DataTableBody.tsx
  packages/ictinus/src/data-table/DataTableRow.tsx
  packages/ictinus/src/vanilla/Menu/Menu.css.ts
  packages/ictinus/src/vanilla/Popover/Popover.css.ts
  packages/ictinus/src/vanilla/Popover/Popover.tsx
  packages/ictinus/src/vanilla/Table/TableCell.css.ts
  packages/ictinus/src/vanilla/index.ts
Due: prettier --write, eslint

chore: fix version
  apps/storybook/package.json
Due: prettier --write

feat: vanilla badge
  apps/storybook/src/__storyshots__/Vanilla/Badge-ReadOnlyBadges.snap
  apps/storybook/src/__storyshots__/Vanilla/Badge-Sizes.snap
  apps/storybook/src/__storyshots__/Vanilla/Badge-WithIcons.snap
  apps/storybook/src/__storyshots__/Vanilla/Tag-ReadOnlyCodeTags.snap
  apps/storybook/src/__storyshots__/Vanilla/Tag-ReadOnlyTags.snap
  apps/storybook/src/__storyshots__/Vanilla/Tag-ReadOnlyTagsWithIcons.snap
  apps/storybook/src/__storyshots__/Vanilla/Tag-RemovableTags.snap
  apps/storybook/src/__storyshots__/Vanilla/Tag-SelectableTagsMultiple.snap
  apps/storybook/src/__storyshots__/Vanilla/Tag-SelectableTagsSingle.snap
  apps/storybook/src/__storyshots__/Vanilla/Tag-SizesAndColors.snap
  apps/storybook/src/vanilla/Badge/Badge.stories.tsx
  packages/ictinus/src/vanilla/Badge/Badge.css.ts
  packages/ictinus/src/vanilla/Badge/Badge.test.tsx
  packages/ictinus/src/vanilla/Badge/Badge.tsx
  packages/ictinus/src/vanilla/Badge/index.ts
  packages/ictinus/src/vanilla/Tag/Tag.css.ts
  packages/ictinus/src/vanilla/index.ts
Due: prettier --write, eslint
