Repository Orfium/orfium-ictinus: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,json,scss,md}": [
    "prettier --write",
    "git add"
  ],
  "*.{ts,tsx,js,jsx}": [
    "eslint"
  ]
}

feat: initialExpanded prop added
  src/components/Table/Table.tsx
  src/components/Table/components/RenderRowOrNestedRow/RenderRowOrNestedRow.tsx
  src/components/Table/components/TableRowWrapper/TableRowWrapper.tsx
Due: prettier --write, eslint

feat: initialExpanded story added
  src/components/Table/Table.stories.mdx
Due: none

feat: update snapshots
  src/components/Table/__snapshots__/Table.stories.storyshot
Due: none

feat: minor change to trigger chromatic review
  src/components/Drawer/Navigation/MenuItem/MenuItem.tsx
Due: prettier --write, eslint

feat: minor change to trigger chromatic review
  src/components/CheckBox/CheckBox.tsx
  src/components/CheckBox/__snapshots__/CheckBox.stories.storyshot
  src/components/Drawer/Navigation/MenuItem/MenuItem.tsx
  src/components/Table/__snapshots__/Table.stories.storyshot
Due: prettier --write, eslint

feat: change story title
  src/components/Table/Table.stories.mdx
  src/components/Table/__snapshots__/Table.stories.storyshot
Due: none

Notes added by 'git notes add'
  c1/2fc30e82a4ce3a1b92e35b6f0f53ffc02c1eca
Due: none

feat: fix eslint error
  .eslintrc.json
Due: prettier --write

feat(eslint): add rule and update eslint etc libs
  .eslintrc.json
  package.json
  yarn.lock
Due: prettier --write

feat(eslint): add rule and update eslint etc libs and test on modal
  package.json
  src/components/Modal/Modal.stories.mdx
  src/components/Modal/Modal.test.tsx
  src/components/Modal/Modal.tsx
  src/components/Modal/__snapshots__/Modal.stories.storyshot
  yarn.lock
Due: prettier --write, eslint

feat(Modal): remove closeOnEsc
  src/components/Modal/Modal.stories.mdx
  src/components/Modal/Modal.test.tsx
  src/components/Modal/Modal.tsx
Due: prettier --write, eslint

fix(eslint): package.json command
  package.json
Due: prettier --write

feat(PositionInScreen): change props
  src/components/storyUtils/ModalShowcase/ModalShowcase.tsx
  src/components/utils/PositionInScreen/PositionInScreen.style.tsx
  src/components/utils/PositionInScreen/PositionInScreen.tsx
Due: prettier --write, eslint

feat(eslint): restrict booleans to is prefix
  .eslintrc.json
Due: prettier --write

feat(Stack): internal use component change prop
  src/components/Avatar/Avatar.stories.mdx
  src/components/Button/Button.stories.mdx
  src/components/DatePicker/DatePicker.stories.mdx
  src/components/Filter/Filter.stories.mdx
  src/components/TextField/TextField.stories.mdx
  src/components/storyUtils/Stack/Stack.tsx
Due: prettier --write, eslint

feat(TruncatedContent): change bool prop
  src/components/Table/components/RenderRowOrNestedRow/components/ContentCell/ContentCell.tsx
  src/components/TruncatedContent/TruncatedContent.test.tsx
  src/components/TruncatedContent/TruncatedContent.tsx
Due: prettier --write, eslint

feat(Card): change bool prop
  src/components/Card/Card.style.ts
  src/components/Card/Card.tsx
  src/components/storyUtils/CardShowcase/CardShowcase.tsx
Due: prettier --write, eslint

feat(LineChart): change bool prop
  src/components/Chart/Chart.stories.mdx
  src/components/Chart/LineChart/LineChart.tsx
Due: prettier --write, eslint

feat(Tooltip): change bool prop
  src/components/Tooltip/Tooltip.tsx
  src/components/storyUtils/TooltipShowcase/TooltipShowcase.tsx
Due: prettier --write, eslint

feat(PositionInScreen): change props
  src/components/DatePicker/DatePicker.tsx
Due: prettier --write, eslint

feat(Toast): change props
  src/components/Toast/Toast.stories.mdx
  src/components/Toast/Toast.style.ts
  src/components/Toast/Toast.test.tsx
  src/components/Toast/Toast.tsx
Due: prettier --write, eslint

feat(Pagination): change props
  src/components/Pagination/Pagination.stories.mdx
  src/components/Pagination/Pagination.tsx
  src/components/Pagination/__snapshots__/Pagination.stories.storyshot
Due: prettier --write, eslint

feat(Notifications): fix test
  src/components/Notification/Notification.stories.mdx
  src/components/Notification/Notification.test.tsx
Due: prettier --write, eslint

feat(Day): change props
  src/components/DatePicker/Day/Day.style.ts
  src/components/DatePicker/Day/Day.test.tsx
  src/components/DatePicker/Day/Day.tsx
  src/components/DatePicker/Month/Month.tsx
Due: prettier --write, eslint

feat(Notifications): change props
  .eslintrc.json
  src/components/Notification/Banner/Banner.tsx
  src/components/Notification/InlineNotification/InlineNotification.tsx
  src/components/Notification/Notification.stories.mdx
  src/components/Notification/Notification.test.tsx
  src/components/Notification/subcomponents/CompactNotification/CompactNotification.tsx
Due: prettier --write, eslint

fix: update .eslintrc.json for new version of eslint-config-prettier
  .eslintrc.json
Due: prettier --write

fix: rename onFinalChange to onBlur
  src/components/Slider/Slider.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  34/bb9ad17506d302d889d89d1de13857639ebca7
Due: none

feat(Table): table and subcomponents boolean prop and test
  src/components/Table/Table.stories.mdx
  src/components/Table/Table.test.tsx
  src/components/Table/Table.tsx
  src/components/Table/TableRowContext.ts
  src/components/Table/components/RenderRowOrNestedRow/RenderRowOrNestedRow.style.ts
  src/components/Table/components/RenderRowOrNestedRow/RenderRowOrNestedRow.tsx
  src/components/Table/components/RenderRowOrNestedRow/components/ContentCell/ContentCell.tsx
  src/components/Table/components/RenderRowOrNestedRow/components/ExpandedButtonCell/ExpandedButtonCell.tsx
  src/components/Table/components/TableCell/TableCell.tsx
  src/components/Table/components/TableRow/TableRow.tsx
  src/components/Table/components/TableRowWrapper/TableRowWrapper.tsx
  src/components/TruncatedContent/TruncatedContent.stories.mdx
  src/theme/palette.ts
Due: prettier --write, eslint

feat: change error message to elsint rule
  .eslintrc.json
Due: prettier --write

Notes added by 'git notes add'
  86/dde5b33e1b95e4d03b69dd98dcb4d2544c3e99
Due: none

refactor: change tooltip word-break rule
  src/components/Tooltip/Tooltip.stories.mdx
  src/components/Tooltip/Tooltip.style.ts
Due: prettier --write, eslint

test: update snapshots
  src/components/Table/__snapshots__/Table.stories.storyshot
  src/components/TruncatedContent/__snapshots__/TruncatedContent.stories.storyshot
Due: none

feat: update releaserc
  .releaserc
  src/components/Tooltip/Tooltip.style.ts
Due: prettier --write, eslint

Notes added by 'git notes add'
  9d/0d1e9b360f4462e7085582b3106ffa36b77e26
Due: none

fix: remove shouldAlwaysShow prop
  src/components/Table/components/RenderRowOrNestedRow/components/ContentCell/ContentCell.tsx
  src/components/TruncatedContent/__snapshots__/TruncatedContent.stories.storyshot
Due: prettier --write, eslint

Notes added by 'git notes add'
  3a/2cafd83a9293b71d80fda7b01de433331540ad
Due: none

feat: refactor checkbox styles
  src/components/CheckBox/CheckBox.style.ts
  src/components/CheckBox/CheckBox.tsx
  src/components/CheckBox/__snapshots__/CheckBox.stories.storyshot
  src/components/Table/__snapshots__/Table.stories.storyshot
Due: prettier --write, eslint

fix: apply pr comment fixes
  src/components/CheckBox/CheckBox.style.ts
  src/components/CheckBox/__snapshots__/CheckBox.stories.storyshot
  src/components/Table/__snapshots__/Table.stories.storyshot
Due: prettier --write, eslint

feat: update checkmark icon
  src/components/Icon/assets/checkmark.svg
Due: none
