Repository Orfium/orfium-ictinus: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,json,scss,md}": [
    "prettier --write",
    "git add"
  ],
  "*.{ts,tsx,js,jsx}": [
    "eslint"
  ]
}

docs(topNavBar): update documentation of storybook
  src/components/TopAppBar/TopAppBar.stories.mdx
Due: none

feat: adds Slider component
  package.json
  src/components/Slider/Slider.stories.mdx
  src/components/Slider/Slider.style.tsx
  src/components/Slider/Slider.tsx
  src/components/Slider/components/SliderMark/SliderMark.style.tsx
  src/components/Slider/components/SliderMark/SliderMark.tsx
  src/components/Slider/components/SliderMark/index.ts
  src/components/Slider/components/SliderThumb/SliderThumb.style.tsx
  src/components/Slider/components/SliderThumb/SliderThumb.tsx
  src/components/Slider/components/SliderThumb/index.ts
  src/components/Slider/components/SliderTrack/SliderTrack.style.tsx
  src/components/Slider/components/SliderTrack/SliderTrack.tsx
  src/components/Slider/components/SliderTrack/index.ts
  src/components/Slider/index.ts
  src/components/storyUtils/SliderShowcase/SliderShowcase.tsx
  src/components/storyUtils/SliderShowcase/index.ts
  yarn.lock
Due: prettier --write, eslint

feat(list): add support for icons
  src/components/Filter/types.ts
  src/components/Icon/index.ts
  src/components/List/List.stories.mdx
  src/components/List/ListItem/ListItem.style.ts
  src/components/List/__snapshots__/List.stories.storyshot
  src/components/List/utils.tsx
  src/components/Select/Select.tsx
Due: prettier --write, eslint

chore: update top nav bar storyshot
  src/components/TopAppBar/__snapshots__/TopAppBar.stories.storyshot
Due: none

feat: add chromatic
  .github/workflows/pr.yml
  package.json
  yarn.lock
Due: prettier --write

Notes added by 'git notes add'
  0e/33d09f2f234aee1e51c675cd6d3bbd870814ab
Due: none

chore: update chromatic ci script
  .github/workflows/pr.yml
Due: none

chore: update chromatic ci project token
  .github/workflows/pr.yml
Due: none

feat(storybook): upgrade storybook and improve performance with webpack5
  .storybook/main.ts
  package.json
  yarn.lock
Due: prettier --write, eslint

chore: remove storybook config for emotion that is not used
  .storybook/main.ts
Due: prettier --write, eslint

Update combine-prs.yml
  .github/workflows/combine-prs.yml
Due: none

Create teardown-review-app.yml
  .github/workflows/teardown-review-app.yml
Due: none

Update teardown-review-app.yml
  .github/workflows/teardown-review-app.yml
Due: none

fix: fixes drawer styles between states
  src/components/Drawer/Navigation/MenuItem/MenuItem.tsx
  src/components/Drawer/Navigation/Navigation.style.ts
Due: prettier --write, eslint

Notes added by 'git notes add'
  fa/38750e08439e1814f109482f840e4b72b42bf6
Due: none

fix: further fixes drawer styles between states
  src/components/Drawer/Navigation/MenuItem/MenuItem.tsx
  src/components/Drawer/Navigation/Navigation.style.ts
Due: prettier --write, eslint

chore: fix failing storybook test
  package.json
  yarn.lock
Due: prettier --write

feat: deprecate min-width and add compatibility prop to enable/disable it
  src/components/TextField/TextField.stories.mdx
  src/components/TextField/TextField.tsx
  src/components/TextField/__snapshots__/TextField.stories.storyshot
  src/components/TextInputBase/TextInputBase.style.ts
  src/components/TextInputBase/TextInputBase.tsx
  src/utils/size-utils.ts
  src/utils/tests/size-utils.test.ts
Due: prettier --write, eslint

feat: add labels to increments
  src/components/Slider/Slider.tsx
  src/components/Slider/components/SliderMark/SliderMark.style.tsx
  src/components/Slider/components/SliderMark/SliderMark.tsx
  src/theme/typography.ts
Due: prettier --write, eslint

feat: add numerical fields in range slider without increments
  src/components/Slider/Slider.style.tsx
  src/components/Slider/Slider.tsx
  src/components/Slider/components/SliderTrack/SliderTrack.style.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  86/f791872ae74af9dec612fa5c108b4ba05b7c09
Due: none

Add reusable workflow for teardown
  .github/workflows/teardown-review-app.yml
Due: none

Delete app.json
  app.json
Due: prettier --write

test: update snapshots
  src/components/TextField/__snapshots__/TextField.stories.storyshot
Due: none

test: disable snapshot for Slider component
  src/components/Slider/Slider.stories.mdx
  src/storybook.test.ts
Due: prettier --write, eslint

style: minor styling fixes
  src/components/Slider/Slider.style.tsx
  src/components/Slider/components/SliderMark/SliderMark.style.tsx
  src/components/storyUtils/SliderShowcase/SliderShowcase.tsx
Due: prettier --write, eslint

chore: check sonar workflow running
  .github/workflows/sonar.yml
Due: none

style: apply dqa fixes
  src/components/Slider/Slider.style.tsx
  src/components/Slider/Slider.tsx
  src/components/Slider/components/SliderMark/SliderMark.style.tsx
  src/components/Slider/components/SliderThumb/SliderThumb.tsx
  src/components/Slider/components/SliderTrack/SliderTrack.style.tsx
Due: prettier --write, eslint

chore: add coverage on sonar yml
  .github/workflows/sonar.yml
  README.md
  package.json
Due: prettier --write

chore: test sonar config for coverage
  sonar-project.properties
Due: none

chore: remove unwanted sonar config for coverage
  sonar-project.properties
Due: none

fix: apply pr comment fixes and fix initialValue calculation
  src/components/Slider/Slider.tsx
  src/components/Slider/components/SliderThumb/SliderThumb.tsx
Due: prettier --write, eslint

Update sonar.yml
  .github/workflows/sonar.yml
Due: none

style: add full width based on parent style
  src/components/Slider/Slider.style.tsx
  src/components/Slider/components/SliderTrack/SliderTrack.style.tsx
  src/components/storyUtils/SliderShowcase/SliderShowcase.tsx
Due: prettier --write, eslint

style: add disabled state styles
  src/components/Slider/Slider.tsx
  src/components/Slider/components/SliderMark/SliderMark.style.tsx
  src/components/Slider/components/SliderMark/SliderMark.tsx
  src/components/Slider/components/SliderThumb/SliderThumb.style.tsx
  src/components/Slider/components/SliderTrack/SliderTrack.style.tsx
  src/components/Slider/components/SliderTrack/SliderTrack.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  f0/d8e35d68ef047dbe97b994806e5b129da98093
Due: none

fix: fix slider export and onchange method issue
  src/components/Slider/Slider.tsx
  src/index.tsx
Due: prettier --write, eslint

fix: fix slider export and onchange method issue
  src/components/Slider/Slider.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  f5/8173d32febf5a8431940009315afea89661259
Due: none
