Repository Orfium/orfium-ictinus: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

feat: Table component
  src/__storyshots__/Original Components/Table-FinancialTable.snap
  src/__storyshots__/Original Components/Table-FixedHeaderTable.snap
  src/__storyshots__/Original Components/Table-RegularTableWithSimpleRows.snap
  src/__storyshots__/Original Components/Table-RegularTableWithSortingAndTooltips.snap
  src/__storyshots__/Original Components/Table-TableWithExpandableRows.snap
  src/__storyshots__/Original Components/Table-TableWithExpandableRowsAndSortDir.snap
  src/__storyshots__/Original Components/Table-TableWithExpandableRowsExpandedOnPageLoad.snap
  src/__storyshots__/Original Components/Table-TableWithFilteredDataForPerformance.snap
  src/__storyshots__/Utilities/Truncated Text with Tooltip-RegularTableWithCellTooltips.snap
  src/components/Table/Table.style.ts
  src/components/Table/components/ExtendedColumnItem/ExtendedColumnItem.style.tsx
  src/components/Table/components/ExtendedColumnItem/ExtendedColumnItem.tsx
  src/components/Table/components/RenderRowOrNestedRow/components/ContentCell/ContentCell.style.ts
  src/components/Table/components/TableCell/TableCell.style.tsx
  src/components/Table/components/TableRow/TableRow.tsx
  src/components/Table/utils/utils.ts
Due: prettier --write, eslint

feat: temporary limit table styles
  .storybook/preview-head.html
Due: none

feat: leftovers
  src/__storyshots__/Original Components/Navigation-NavigationStory.snap
  src/__storyshots__/Original Components/Navigation-NavigationWithCustomComponent.snap
  src/__storyshots__/Updated Components/Fields/DatePicker-DatePickerAndDateRangePickerStatuses.snap
  src/__storyshots__/Updated Components/Fields/NumberField-NumberFieldStatuses.snap
  src/__storyshots__/Updated Components/Fields/Select-MultiSelect.snap
  src/__storyshots__/Updated Components/Fields/Select-SelectStatuses.snap
  src/__storyshots__/Updated Components/Fields/TextArea-TextAreaStatuses.snap
  src/__storyshots__/Updated Components/Fields/TextField-TextFieldStatuses.snap
  src/components/Button/utils.ts
  src/components/DatePicker/OverlayComponent/__snapshots__/OverlayComponent.test.tsx.snap
  src/components/DatePicker/OverlayComponent/components/MonthWrapper/MonthWrapper.style.ts
  src/components/DatePicker/OverlayComponent/components/MonthWrapper/__snapshots__/MonthWrapper.test.tsx.snap
  src/components/Label/Label.style.ts
  src/components/MultiTextFieldBase/hooks.tsx
  src/components/Select/components/SelectMenu/SelectMenu.style.tsx
  src/components/storyUtils/NavigationShowcase/NavigationShowcase.tsx
  src/components/storyUtils/PaletteShowcase/PaletteShowcase.style.tsx
  src/storybook/Showcases/SpacingSizingShowcase/SpacingSizingShowcase.tsx
  src/storybook/Showcases/TokenColorsShowcase/TokenColorsShowcase.style.ts
Due: prettier --write, eslint

feat: turn on release on v4.x
  .github/workflows/main.yml
Due: none

fix: loading buttons showcase
  src/__storyshots__/Updated Components/Buttons/Default (Text)-LoadingButton.snap
  src/components/storyUtils/ButtonShowcases/LoadingButtonShowcase.tsx
Due: prettier --write, eslint

feat: add specific semantic-release for node version
  package.json
  yarn.lock
Due: prettier --write

Notes added by 'git notes add'
  c3/fd03504f9af654a1c5c9796d60c7adf431c38b
Due: none

Notes added by 'git notes add'
  19/8f5fb14c66742fb5f588f4c1496409495153cd
Due: none

docs(table): adding all small types storybook missed
  src/components/Table/Table.mdx
  src/components/Table/Table.tsx
  src/components/Table/utils/TableStoryComponents.tsx
Due: prettier --write, eslint

feat: dqa
  src/__storyshots__/Original Components/Table-FinancialTable.snap
  src/__storyshots__/Original Components/Table-FixedHeaderTable.snap
  src/__storyshots__/Original Components/Table-RegularTableWithSimpleRows.snap
  src/__storyshots__/Original Components/Table-RegularTableWithSortingAndTooltips.snap
  src/__storyshots__/Original Components/Table-TableWithExpandableRows.snap
  src/__storyshots__/Original Components/Table-TableWithExpandableRowsAndSortDir.snap
  src/__storyshots__/Original Components/Table-TableWithExpandableRowsExpandedOnPageLoad.snap
  src/__storyshots__/Original Components/Table-TableWithFilteredDataForPerformance.snap
  src/__storyshots__/Updated Components/Tooltip-InteractiveTooltip.snap
  src/__storyshots__/Updated Components/Tooltip-Playground.snap
  src/__storyshots__/Utilities/Truncated Text with Tooltip-RegularTableWithCellTooltips.snap
  src/components/Menu/MenuItemDivider.tsx
  src/components/Table/components/ExtendedColumnItem/ExtendedColumnItem.style.tsx
  src/components/Table/components/ExtendedColumnItem/ExtendedColumnItem.tsx
  src/components/storyUtils/TooltipShowcase/components/TooltipContent/TooltipContent.style.ts
Due: prettier --write, eslint

Notes added by 'git notes add'
  bd/18cfa5a52434089fa126f5e252bb51f3327306
Due: none

chore: update documentation link in readme
  README.md
Due: prettier --write

chore: update documentation link
  README.md
Due: prettier --write

fix: storybook table styles
  .storybook/preview-head.html
  docs/Foundations/DesignTokens/Semantic/TYPOGRAPHY.mdx
  docs/Foundations/Layout/BREAKPOINTS.mdx
  docs/Foundations/THEME.mdx
  docs/Utilities/THEME_UTILITIES.mdx
  src/components/Select/Select.stories.tsx
Due: prettier --write, eslint

chore: update teardown.yml
  .github/workflows/teardown.yml
Due: none

Notes added by 'git notes add'
  d4/853c27d4ee27294104075f018f5ab8e6593808
Due: none

feat: get latest tokens
  src/theme/globals/boxShadow.ts
  src/theme/globals/index.ts
  src/theme/tokens/components/variables/avatar.ts
  src/theme/tokens/components/variables/breadcrumb.ts
  src/theme/tokens/components/variables/button.ts
  src/theme/tokens/components/variables/controls.ts
  src/theme/tokens/components/variables/datePicker.ts
  src/theme/tokens/components/variables/drawer.ts
  src/theme/tokens/components/variables/field.ts
  src/theme/tokens/components/variables/filter.ts
  src/theme/tokens/components/variables/link.ts
  src/theme/tokens/components/variables/listItem.ts
  src/theme/tokens/components/variables/menu.ts
  src/theme/tokens/components/variables/search.ts
  src/theme/tokens/components/variables/tag.ts
  src/theme/tokens/components/variables/tooltip.ts
  src/theme/tokens/semantic/boxShadow.ts
  src/theme/tokens/semantic/index.ts
  src/theme/tokens/semantic/variables/boxShadow.ts
  src/theme/tokens/semantic/variables/colors.ts
  src/theme/tokens/utils/parsers.ts
  src/theme/types.ts
Due: prettier --write, eslint

feat: update usages
  docs/Foundations/DesignTokens/Semantic/BOX_SHADOW.mdx
  docs/Foundations/DesignTokens/TOKENS_ABOUT.mdx
  docs/Foundations/THEME.mdx
  docs/Utilities/THEME_UTILITIES.mdx
  src/components/Drawer/Drawer.style.ts
  src/components/Navigation/Directory/Directory.style.ts
  src/components/Notification/Notification.style.ts
  src/components/Slider/components/SliderMark/SliderMark.style.tsx
  src/components/Slider/components/SliderMark/SliderMark.tsx
  src/components/Slider/components/SliderThumb/SliderThumb.style.tsx
  src/components/Slider/components/SliderTrack/SliderTrack.tsx
  src/components/Table/components/TableCell/TableCell.style.tsx
  src/components/Table/components/TableRow/TableRow.tsx
  src/components/ThemeProvider/ThemeProvider.style.ts
  src/components/Toast/Toast.style.ts
  src/components/storyUtils/PaletteShowcase/PaletteShowcase.tsx
  src/storybook/Showcases/BoxShadowShowcase/BoxShadowShowcase.tsx
  src/storybook/Showcases/LayoutShowcase/LayoutShowcase.style.ts
  src/storybook/Showcases/TextColorShowcase/TextColorShowcase.style.ts
  src/storybook/Showcases/TokenColorsShowcase/TokenColorsShowcase.style.ts
Due: prettier --write, eslint

feat: snapshots
  src/__storyshots__/Updated Components/Buttons/Default (Text)-ButtonTypes.snap
  src/__storyshots__/Updated Components/Buttons/Default (Text)-LoadingButton.snap
  src/__storyshots__/Updated Components/Tag-ReadOnlyTag.snap
  src/__storyshots__/Updated Components/Tag-ReadOnlyTagWithIcon.snap
  src/__storyshots__/Updated Components/Tag-TagSizes.snap
Due: none

feat: small fixes
  docs/Utilities/THEME_UTILITIES.mdx
  src/storybook/Showcases/BoxShadowShowcase/BoxShadowShowcase.tsx
  src/theme/tokens/semantic/boxShadow.ts
Due: prettier --write, eslint

feat: introduce controls
  .storybook/main.ts
  package.json
  yarn.lock
Due: prettier --write, eslint

feat: add controls to Link
  src/components/Link/Link.stories.tsx
Due: prettier --write, eslint

feat: regenerate yarn lock
  yarn.lock
Due: none

feat: add resolutions on package json
  package.json
  yarn.lock
Due: prettier --write

feat: snaps
  src/__storyshots__/Original Components/Chart-BarChart.snap
  src/__storyshots__/Original Components/Chart-LineChartStory.snap
Due: none

feat: only show controls in playground
  src/components/Link/Link.stories.tsx
Due: prettier --write, eslint

feat: Avatar and Box controls
  .storybook/preview.tsx
  src/components/Avatar/Avatar.mdx
  src/components/Avatar/Avatar.stories.tsx
  src/components/Avatar/AvatarStack.stories.tsx
  src/components/Box/Box.stories.tsx
Due: prettier --write, eslint

feat: Breadcrumb controls
  src/components/Breadcrumb/Breadcrumb.stories.tsx
  src/components/Link/Link.stories.tsx
Due: prettier --write, eslint

feat: Buttons controls
  src/components/Button/Button.stories.tsx
  src/components/DropdownButton/DropdownButton.stories.tsx
  src/components/IconButton/IconButton.stories.tsx
Due: prettier --write, eslint

feat: Controls controls
  src/components/Controls/CheckBox/CheckBox.stories.tsx
  src/components/Controls/Radio/Radio.stories.tsx
  src/components/Controls/Switch/Switch.stories.tsx
Due: prettier --write, eslint

feat: Drawer controls
  src/components/Drawer/Drawer.stories.tsx
Due: prettier --write, eslint

feat: Field controls
  src/components/DatePicker/DatePicker.stories.tsx
  src/components/NumberField/NumberField.stories.tsx
  src/components/Select/Select.stories.tsx
  src/components/TextArea/TextArea.stories.tsx
  src/components/TextField/TextField.stories.tsx
  src/components/storyUtils/TextFieldShowcases/TextFieldShowCase.tsx
Due: prettier --write, eslint

feat: Filter controls
  src/components/Filter/Filter.stories.tsx
Due: prettier --write, eslint

feat: Icon controls
  src/components/Icon/Icon.stories.tsx
Due: prettier --write, eslint

feat: disable List controls
  src/components/List/stories/List.stories.tsx
  src/components/List/stories/ListItem.stories.tsx
  src/components/List/stories/ListItemAction.stories.tsx
  src/components/List/stories/ListItemText.stories.tsx
  src/components/List/stories/ListSection.stories.tsx
Due: prettier --write, eslint

feat: disable Menu controls
  src/components/Menu/Menu.stories.tsx
Due: prettier --write, eslint

feat: ProgressIndicator controls
  src/components/ProgressIndicator/ProgressIndicator.stories.tsx
Due: prettier --write, eslint

feat: Search controls
  src/components/Search/Search.stories.tsx
Due: prettier --write, eslint

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,scss,md}
  eslint: any of: *.{ts,tsx,js,jsx}
