Repository Orfium/orfium-ictinus: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,json,scss,md}": [
    "prettier --write",
    "git add"
  ],
  "*.{ts,tsx,js,jsx}": [
    "eslint"
  ]
}

fix: stories
  src/components/Tag/Tag.stories.mdx
  src/components/Tag/__snapshots__/Tag.stories.storyshot
  src/storybook/Showcases/TagShowcase/TagShowcase.tsx
  src/storybook/Showcases/TagShowcase/index.ts
Due: prettier --write, eslint

feat: export component
  src/index.ts
Due: prettier --write, eslint

feat: add knob to icons
  src/components/Link/Link.stories.mdx
  src/utils/stories.ts
Due: prettier --write, eslint

feat: more dqa comments
  src/components/DatePicker/DatePickInput/DatePickInput.tsx
  src/components/DatePicker/DatePicker.stories.mdx
  src/components/DatePicker/__snapshots__/DatePicker.stories.storyshot
  src/components/Label/Label.style.ts
  src/components/NumberField/NumberField.stories.mdx
  src/components/NumberField/__snapshots__/NumberField.stories.storyshot
  src/components/SearchField/__snapshots__/SearchField.stories.storyshot
  src/components/Select/Select.stories.mdx
  src/components/Select/__snapshots__/Select.stories.storyshot
  src/components/TextArea/TextArea.stories.mdx
  src/components/TextArea/__snapshots__/TextArea.stories.storyshot
  src/components/TextField/TextField.stories.mdx
  src/components/TextField/__snapshots__/TextField.stories.storyshot
  src/components/TextInputBase/TextInputBase.style.ts
  src/components/TextInputBase/TextInputBase.tokens.ts
  src/components/TopAppBar/__snapshots__/TopAppBar.stories.storyshot
  src/components/storyUtils/PaletteShowcase/__snapshots__/PaletteShowcase.test.tsx.snap
  src/hooks/useFieldUtils.tsx
Due: prettier --write, eslint

feat: add showcase for interactive tooltip
  src/components/storyUtils/TooltipShowcase/TooltipShowcase.tsx
  src/components/storyUtils/TooltipShowcase/components/TooltipContent/TooltipContent.style.ts
  src/components/storyUtils/TooltipShowcase/components/TooltipContent/TooltipContent.tsx
  src/components/storyUtils/TooltipShowcase/components/TooltipContent/index.ts
  src/components/storyUtils/TooltipShowcase/components/assets/TooltipShowcaseIllustration.svg
Due: prettier --write, eslint

feat: enrich showcase
  src/components/storyUtils/TooltipShowcase/TooltipShowcase.tsx
  src/components/storyUtils/TooltipShowcase/components/TooltipContent/TooltipContent.tsx
Due: prettier --write, eslint

feat: storyshots
  src/components/Tooltip/__snapshots__/Tooltip.stories.storyshot
Due: none

fix: remove comments
  src/components/storyUtils/TooltipShowcase/components/TooltipContent/TooltipContent.style.ts
Due: prettier --write, eslint

fix: TextArea error and disabled
  src/components/TextArea/TextArea.tsx
Due: prettier --write, eslint

feat: tests
  src/components/Tag/Tag.test.tsx
Due: prettier --write, eslint

fix: textarea playground
  src/components/TextArea/TextArea.stories.mdx
  src/components/TextArea/__snapshots__/TextArea.stories.storyshot
Due: none

feat: some pr comments
  src/components/Tag/Tag.stories.mdx
  src/components/Tag/__snapshots__/Tag.stories.storyshot
  src/storybook/UsageGuidelines/UsageGuidelines.tsx
Due: prettier --write, eslint

feat: pr comments leftovers
  src/components/Tag/Tag.style.ts
  src/components/Tag/Tag.tsx
  src/components/Tag/__snapshots__/Tag.stories.storyshot
  src/components/Tag/hooks/useGetTagUtils.tsx
  src/storybook/Showcases/TagShowcase/TagShowcase.tsx
Due: prettier --write, eslint

feat: update stories
  src/components/Tag/Tag.stories.mdx
  src/components/Tag/__snapshots__/Tag.stories.storyshot
Due: none

feat: breadcrumb tokens
  src/components/Breadcrumb/Breadcrumb.tokens.ts
  src/theme/tokens/components/variables/breadcrumb.ts
Due: prettier --write, eslint

feat: breadcrumb implementation
  src/components/Breadcrumb/BackToItem/BackToItem.style.ts
  src/components/Breadcrumb/BackToItem/BackToItem.tsx
  src/components/Breadcrumb/BackToItem/index.ts
  src/components/Breadcrumb/Breadcrumb.style.ts
  src/components/Breadcrumb/Breadcrumb.tsx
  src/components/Breadcrumb/Breadcrumb.types.ts
  src/components/Breadcrumb/BreadcrumbItem/BreadcrumbItem.style.ts
  src/components/Breadcrumb/BreadcrumbItem/BreadcrumbItem.tsx
  src/components/Breadcrumb/BreadcrumbItem/index.ts
  src/components/Breadcrumb/Separator/Separator.style.ts
  src/components/Breadcrumb/Separator/Separator.tsx
  src/components/Breadcrumb/types.ts
Due: prettier --write, eslint

feat: stories and snapshots
  src/components/Breadcrumb/Breadcrumb.stories.mdx
  src/components/Breadcrumb/__snapshots__/Breadcrumb.stories.storyshot
  src/components/storyUtils/BreadcrumbShowcase/BreadcrumbShowcase.tsx
Due: prettier --write, eslint

chore: remove unwanted empty showcases after merge
  src/components/List/ListItemGroup/ListGroupTitle/ListGroupTitle.tsx
  src/components/storyUtils/DatePickerShowcase/DatePickerShowcase.tsx
  src/components/storyUtils/ListShowcase.tsx
  src/components/storyUtils/TextFieldShowcase/TextFieldShowcase.tsx
Due: prettier --write, eslint

fix: update latest react-testing-library for react 18
  package.json
  yarn.lock
Due: prettier --write

feat: remove Loader
  src/components/Loader/Loader.stories.mdx
  src/components/Loader/Loader.style.tsx
  src/components/Loader/Loader.tsx
  src/components/Loader/Loader.utils.tsx
  src/components/Loader/__snapshots__/Loader.stories.storyshot
  src/components/Loader/components/DotsLoader/DotsLoader.style.tsx
  src/components/Loader/components/DotsLoader/DotsLoader.tsx
  src/components/Loader/components/DotsLoader/index.ts
  src/components/Loader/components/IndeterminateLoader/IndeterminateLoader.style.tsx
  src/components/Loader/components/IndeterminateLoader/IndeterminateLoader.tsx
  src/components/Loader/components/IndeterminateLoader/index.ts
  src/components/Loader/components/Spinner/Spinner.style.tsx
  src/components/Loader/components/Spinner/Spinner.tsx
  src/components/Loader/components/Spinner/index.ts
  src/components/Loader/index.ts
Due: prettier --write, eslint

feat: progress indicator tokens
  src/theme/tokens/components/variables/progressIndicator.ts
Due: prettier --write, eslint

feat: progress indicator implementation
  src/components/ProgressIndicator/ProgressIndicator.styles.ts
  src/components/ProgressIndicator/ProgressIndicator.tokens.ts
  src/components/ProgressIndicator/ProgressIndicator.tsx
  src/components/ProgressIndicator/ProgressIndicator.types.ts
  src/components/ProgressIndicator/components/ProgressBar/ProgressBar.style.ts
  src/components/ProgressIndicator/components/ProgressBar/ProgressBar.tsx
  src/components/ProgressIndicator/components/ProgressBar/index.ts
  src/components/ProgressIndicator/components/ProgressCircle/ProgressCircle.style.ts
  src/components/ProgressIndicator/components/ProgressCircle/ProgressCircle.tsx
  src/components/ProgressIndicator/components/ProgressCircle/index.ts
  src/components/ProgressIndicator/index.ts
Due: prettier --write, eslint

feat: stories
  src/components/ProgressIndicator/ProgressIndicator.stories.mdx
Due: none

feat: export
  src/index.ts
Due: prettier --write, eslint

feat: update stories utils
  src/components/storyUtils/Stack/Stack.tsx
  src/storybook/UsageGuidelines/UsageGuidelines.tsx
Due: prettier --write, eslint

feat: update all instances
  src/components/Filter/components/SingleFilter/components/SearchInput/SearchInput.tsx
  src/components/MultiTextFieldBase/MultiTextFieldBase.style.ts
  src/components/MultiTextFieldBase/MultiTextFieldBase.tsx
  src/components/NumberField/NumberField.stories.mdx
  src/components/Select/Select.tsx
  src/components/Select/components/MultiselectTextField/MultiselectTextField.tsx
  src/components/TextField/TextField.stories.mdx
Due: prettier --write, eslint

fix: tests
  src/components/Filter/Filter.test.tsx
  src/components/Filter/components/SingleFilter/components/SearchInput/SearchInput.tsx
  src/components/MultiTextFieldBase/MultiTextFieldBase.tsx
  src/components/ProgressIndicator/__snapshots__/ProgressIndicator.stories.storyshot
  src/components/Select/Select.test.tsx
  src/components/Select/Select.tsx
  src/components/Select/components/MultiselectTextField/MultiselectTextField.tsx
Due: prettier --write, eslint

feat: compact buttons
  src/components/Button/Button.tokens.ts
  src/components/Button/Button.tsx
  src/components/ButtonBase/ButtonBase.style.ts
  src/components/ButtonBase/ButtonBase.tsx
  src/components/DropdownButton/DropdownButton.tsx
  src/components/IconButton/IconButton.tsx
  src/components/utils/DropdownOptions/index.tsx
  src/theme/tokens/components/variables/iconButton.ts
  src/utils/types.ts
Due: prettier --write, eslint

feat: storybook
  src/components/Button/Button.stories.mdx
  src/components/DropdownButton/DropdownButton.stories.mdx
  src/components/IconButton/IconButton.stories.mdx
  src/components/storyUtils/LoadingButtonShowcase/LoadingButtonShowcase.tsx
  src/utils/stories.ts
Due: prettier --write, eslint

feat: snapshots
  src/components/DatePicker/OverlayComponent/__snapshots__/OverlayComponent.test.tsx.snap
  src/components/DatePicker/OverlayComponent/components/MonthWrapper/__snapshots__/MonthWrapper.test.tsx.snap
  src/components/Drawer/__snapshots__/Drawer.stories.storyshot
  src/components/DropdownButton/__snapshots__/DropdownButton.stories.storyshot
  src/components/IconButton/__snapshots__/IconButton.stories.storyshot
  src/components/Menu/__snapshots__/Menu.stories.storyshot
  src/components/Modal/__snapshots__/Modal.stories.storyshot
  src/components/Notification/__snapshots__/Notification.stories.storyshot
  src/components/Overlay/__snapshots__/Overlay.stories.storyshot
  src/components/Pagination/__snapshots__/Pagination.stories.storyshot
  src/components/Table/__snapshots__/Table.stories.storyshot
  src/components/ThemeProvider/__snapshots__/ThemeProvider.stories.storyshot
  src/components/Tooltip/__snapshots__/Tooltip.stories.storyshot
  src/components/TopAppBar/__snapshots__/TopAppBar.stories.storyshot
  src/components/TopAppBar/__snapshots__/TopAppBar.test.tsx.snap
  src/components/storyUtils/PaletteShowcase/__snapshots__/PaletteShowcase.test.tsx.snap
Due: none

fix: update teardown
  .github/workflows/teardown.yml
Due: none

fix: teardown on next
  .github/workflows/teardown.yml
Due: none

fix: adding vitest config
  jest.config.js
Due: prettier --write, eslint

fix: adding vitest config
  jest.config.js
  package.json
  src/components/Select/Select.tsx
  src/components/TruncatedContent/TruncatedContent.test.tsx
  src/storybook.test.ts
  src/test/setup.ts
  vite.config.ts
  yarn.lock
Due: prettier --write, eslint

fix: random fixes
  src/components/ProgressIndicator/__snapshots__/ProgressIndicator.stories.storyshot
  src/components/ProgressIndicator/components/ProgressBar/ProgressBar.style.ts
  src/components/ProgressIndicator/components/ProgressCircle/ProgressCircle.tsx
  src/components/Select/components/MultiselectTextField/MultiselectTextField.tsx
Due: prettier --write, eslint

fix: remove file
  src/components/ProgressIndicator/ProgressIndicator.styles.ts
Due: prettier --write, eslint

chore: chromatic fix for interaction play
  package.json
  src/components/DatePicker/DatePicker.stories.mdx
  src/components/DatePicker/utils.ts
  src/components/Tooltip/utils.ts
  yarn.lock
Due: prettier --write, eslint
