Repository Orfium/orfium-ictinus: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,json,scss,md}": [
    "prettier --write",
    "git add"
  ],
  "*.{ts,tsx,js,jsx}": [
    "eslint"
  ]
}

minor fix on context usage - hook
  src/components/Table/components/RenderRowOrNestedRow/RenderRowOrNestedRow.tsx
Due: prettier --write, eslint

Small adjustments
  src/components/Radio/Radio.stories.mdx
  src/components/Radio/Radio.style.ts
  src/components/Radio/Radio.tsx
Due: prettier --write, eslint

fix typing of context
  src/components/Table/Table.tsx
  src/components/Table/TableRowContext.ts
  src/components/Table/components/RenderRowOrNestedRow/RenderRowOrNestedRow.tsx
Due: prettier --write, eslint

apply id to all cells
  src/components/Table/Table.stories.mdx
Due: none

remove console log from row
  src/components/Table/components/RenderRowOrNestedRow/RenderRowOrNestedRow.tsx
Due: prettier --write, eslint

change copy of selectingIds, fix onClick with return
  src/components/Table/Table.tsx
Due: prettier --write, eslint

[Checkbox] Change multi to intermediate, add transitions and fix description
  src/components/CheckBox/CheckBox.stories.mdx
  src/components/CheckBox/CheckBox.style.ts
  src/components/CheckBox/CheckBox.tsx
Due: prettier --write, eslint

Add rule of hooks eslint plugin
  .eslintrc.json
  package.json
  yarn.lock
Due: prettier --write

fix hook problem with component
  src/components/Table/Table.tsx
  src/components/Table/TableRowContext.ts
Due: prettier --write, eslint

remove return
  src/components/Table/Table.tsx
Due: prettier --write, eslint

TableBody rename to TableRowWrapper
  src/components/Table/Table.tsx
Due: prettier --write, eslint

Small update
  src/components/Radio/Radio.tsx
Due: prettier --write, eslint

expose useTheme to parent
  src/index.tsx
Due: prettier --write, eslint

Expose Icon
  src/index.tsx
Due: prettier --write, eslint

fix react dependencies
  package-lock.json
  package.json
  yarn.lock
Due: prettier --write

change build execution
  package.json
Due: prettier --write

move motion core to peer dependencies
  package.json
Due: prettier --write

fix motion/core peer dep to minimum version
  package.json
Due: prettier --write

add resolutions to react + dom
  package.json
Due: prettier --write

move emotion/core to resolutions
  package.json
Due: prettier --write

adding react-select types to resolutions
  package.json
Due: prettier --write

move all resolutions to peerDep
  package.json
Due: prettier --write

fix dependencies for build
  package.json
  yarn.lock
Due: prettier --write

fix ts include/exclude src path
  tsconfig.json
Due: prettier --write

skipLibCheck
  tsconfig.json
Due: prettier --write

add /** @jsx jsx */ for all style files
  src/components/Icon/Icon.style.ts
  src/components/Label/Label.style.ts
  src/components/Table/Table.style.ts
  src/components/TextField/TextField.style.ts
Due: prettier --write, eslint

fix table type
  src/components/Table/Table.tsx
Due: prettier --write, eslint

remove jsx from styles
  src/components/Icon/Icon.style.ts
  src/components/Label/Label.style.ts
  src/components/Table/Table.style.ts
  src/components/TextField/TextField.style.ts
Due: prettier --write, eslint

remove package lock after testing
  package-lock.json
Due: prettier --write

fix expanded property on table to add jsx element as well
  src/components/Table/Table.tsx
Due: prettier --write, eslint

onChange to input
  src/components/Table/Table.tsx
Due: prettier --write, eslint

onChange to input
  src/components/Table/components/RenderRowOrNestedRow/RenderRowOrNestedRow.tsx
Due: prettier --write, eslint

fix svg typing for ReactComponent
  globals.d.ts
  src/components/Icon/assets/iconSelector.ts
Due: prettier --write, eslint

adding url-loader and webpack rule to make svg work with the currrent implementation on storybook
  .storybook/main.js
  package.json
  yarn.lock
Due: prettier --write, eslint

small fix on webpack for svg
  .storybook/main.js
Due: prettier --write, eslint

inline the lib svgs
  .babelrc.json
  .storybook/main.js
  globals.d.ts
  package.json
  src/components/Icon/assets/iconSelector.ts
  yarn.lock
Due: prettier --write, eslint

fix table icon and hover state
  src/components/Table/components/RenderRowOrNestedRow/RenderRowOrNestedRow.tsx
Due: prettier --write, eslint

Return type to checkbox styles
  src/components/CheckBox/CheckBox.style.ts
Due: prettier --write, eslint

Return types where needed
  src/components/Label/Label.style.ts
  src/components/Table/Table.style.ts
  src/components/Table/TableRowContext.ts
  src/components/TextField/TextField.style.ts
  src/theme/functions.ts
Due: prettier --write, eslint

Add borders when needed. Change type of left area to JSX
  src/components/Table/Table.tsx
  src/components/Table/TableRowContext.ts
  src/components/Table/components/RenderRowOrNestedRow/RenderRowOrNestedRow.tsx
Due: prettier --write, eslint
